In [1]:
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [96]:
arquivos = glob.glob('G:\Iniciação Científica\Dados\IBGE\CNAE_2015\*.xls')
if arquivos == []:
    arquivos = glob.glob('F:\Iniciação Científica\Dados\IBGE\CNAE_2015\*.xls')
arquivos = sorted(arquivos)

In [97]:
len(arquivos)

14

In [163]:
arq1_1 = pd.ExcelFile(arquivos[0])
arq1_2 = pd.ExcelFile(arquivos[1])
arq2_1 = pd.ExcelFile(arquivos[2])
arq2_2 = pd.ExcelFile(arquivos[3])
arq2_3 = pd.ExcelFile(arquivos[4])
arq3 = pd.ExcelFile(arquivos[5])
arq4 = pd.ExcelFile(arquivos[6])
arq5 = pd.ExcelFile(arquivos[7])
arq6 = pd.ExcelFile(arquivos[8])
arq7 = pd.ExcelFile(arquivos[9])
arq8 = pd.ExcelFile(arquivos[10])
arq9 = pd.ExcelFile(arquivos[11])
arq10 = pd.ExcelFile(arquivos[12])
arq11 = pd.ExcelFile(arquivos[13])

In [164]:
df1_1b = pd.read_excel(arq1_1, 'Tabela 1.1b')
df1_2b = pd.read_excel(arq1_2, 'Tabela 1.2b')
df2_1a = pd.read_excel(arq2_1, 'Tabela 2.1a')
df2_1b = pd.read_excel(arq2_1, 'Tabela 2.1b')
df2_1c = pd.read_excel(arq2_1, 'Tabela 2.1c')
df2_2a = pd.read_excel(arq2_2, 'Tabela 2.2a')
df2_2b = pd.read_excel(arq2_2, 'Tabela 2.2b')
df2_3a = pd.read_excel(arq2_3, 'Tabela 2.3a')
df2_3b = pd.read_excel(arq2_3, 'Tabela 2.3b')
df3a = pd.read_excel(arq3, 'Tabela 3a')
df3b = pd.read_excel(arq3, 'Tabela 3b')
df4 = pd.read_excel(arq4)
df5a = pd.read_excel(arq5, 'Tabela 5a')
df5b = pd.read_excel(arq5, 'Tabela 5b')
df6a1 = pd.read_excel(arq6, 'Tabela 6a.1')
df6a2 = pd.read_excel(arq6, 'Tabela 6a.2')
df6b = pd.read_excel(arq6, 'Tabela 6b')
df6c = pd.read_excel(arq6, 'Tabela 6c')
df7a = pd.read_excel(arq7, 'Tabela 7a')
df7b = pd.read_excel(arq7, 'Tabela 7b')
df7c = pd.read_excel(arq7, 'Tabela 7c')
df7d = pd.read_excel(arq7, 'Tabela 7d')
df8a = pd.read_excel(arq8, 'Tabela 8a')
df8b = pd.read_excel(arq8, 'Tabela 8b')
df8c = pd.read_excel(arq8, 'Tabela 8c ')
df9 = pd.read_excel(arq9)
df10a = pd.read_excel(arq10, 'Tabela 10a')
df10b = pd.read_excel(arq10, 'Tabela 10b')
df10c = pd.read_excel(arq10, 'Tabela 10c')
df11 = pd.read_excel(arq11)

In [101]:
df = [df1_1b,df1_2b,df2_1a,df2_1b,df2_1c,df2_2a,df2_2b,df2_3a,df2_3b,df3a,df3b,df4,df5a,df5b,df6a1,df6a2,df6b,df6c,df7a,df7b,
      df7c,df7d,df8a,df8b,df8c,df9,df10a,df10b,df10c,df11]

In [102]:
titulos = []
for i in df:
    nome = i.columns[0] + i[i.columns[0]][0]
    titulos.append(nome)

### df1_1b

In [103]:
df1_1b

,"Tabela 1.1 - Variáveis selecionadas das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE 2.0,"Divisões, grupos\n e classes de atividades\n",Número de\nempresas ativas,Pessoal\nocupado\nem 31.12,"Salários, retiradas\ne outras\nremunerações 1 ...","Valor das incorporações, obras e/ou serviços\n..."
2,NaN,Total das empresas,131487,2439429,68577020,354358800
3,NaN,Empresas de 1 a 4 pessoas ocupadas,67059,181085,3122607,22634860
4,41,Construção de edifícios,23758,70074,1198513,13272448
5,42,Obras de infraestrutura,4625,12679,247383,1724482
6,43,Serviços especializados para construção,38676,98332,1676711,7637930
7,NaN,Empresas de 5 a 29 pessoas ocupadas,51331,552822,11155533,60637720
8,41,Construção de edifícios,21371,236532,4993335,36048990
9,41.1,Incorporação e empreendimentos imobiliários,1606,13439,301897,4830865
10,41.2,Construção de edifícios,19765,223093,4691438,31218125
11,42,Obras de infraestrutura,4619,51791,1111162,6014404
12,42.1,"Construção de rodovias, ferrovias, obras urban...",1506,17157,371009,2452127
13,42.2,"Obras de infraestrutura para energia elétrica,...",1139,14657,319045,1600490
14,42.9,Construção de outras obras de infraestrutura,1974,19977,421108,1961787
15,43,Serviços especializados para construção,25341,264499,5051036,18574326
16,43.1,Demolição e preparação do terreno,2707,27817,659340,2968660
17,43.2,"Instalações elétricas, hidráulicas e outras in...",8205,82466,1693810,5823529
18,43.3,Obras de acabamento,6855,66069,1159820,4078532
19,43.9,Outros serviços especializados para construções,7574,88147,1538066,5703605
20,NaN,Empresas com 30 ou mais pessoas ocupadas,13097,1705522,54298880,271086220
21,41,Construção de edifícios,6623,672476,18302128,116385100
22,41.1,Incorporação e empreendimentos imobiliários,294,14855,527591,8013037
23,41.10,Incorporação e empreendimentos imobiliários,294,14855,527591,8013037
24,41.2,Construção de edifícios,6329,657621,17774537,108372063
25,41.20,Construção de edifícios,6329,657621,17774537,108372063
26,42,Obras de infraestrutura,2576,644587,25025975,112229999
27,42.1,"Construção de rodovias, ferrovias, obras urban...",1034,265267,10041927,52388581
28,42.11,Construção de rodovias e ferrovias,675,181058,7145535,37052185
29,42.12,Construção de obras de arte especiais,61,38244,1609839,9758990
30,42.13,"Obras de urbanização - ruas, praças e calçadas",298,45965,1286553,5577406
31,42.2,"Obras de infraestrutura para energia elétrica,...",745,228227,8825541,34619860
32,42.21,Obras para geração e distribuição de energia e...,480,185751,7382769,26380508
33,42.22,"Construção de redes de abastecimento de água, ...",239,34837,1010278,5895409
34,42.23,"Construção de redes de transportes por dutos, ...",26,7639,432494,2343943
35,42.9,Construção de outras obras de infraestrutura,797,151093,6158507,25221558
36,42.91,"Obras portuárias, marítimas e fluviais",34,7553,360949,2623469
37,42.92,Montagem de instalações industriais e de estru...,262,75216,3574936,12097733
38,42.99,Obras de engenharia civil não especificadas an...,501,68324,2222622,10500356
39,43,Serviços especializados para construção,3898,388459,10970777,42471121
40,43.1,Demolição e preparação do terreno,499,47398,1510458,8343885
41,43.11,Demolição e preparação de canteiros de obras,49,5820,187232,1068480
42,43.12,Perfurações e sondagens,57,5702,185776,765184
43,43.13,Obras de terraplenagem,373,34316,1087063,6271375
44,43.19,Serviços de preparação do terreno não especifi...,20,1560,50387,238846
45,43.2,"Instalações elétricas, hidráulicas e outras in...",1227,152978,4495681,16103845
46,43.21,Instalações elétricas,677,82551,2207113,7538701
47,43.22,"Instalações hidráulicas, de sistemas de ventil...",382,41581,1107622,4197993
48,43.29,Obras de instalações em construções não especi...,168,28846,1180946,4367151
49,43.3,Obras de acabamento,815,60482,1259596,3820345
50,43.30,Obras de acabamento,815,60482,1259596,3820345
51,43.9,Outros serviços especializados para construção,1357,127601,3705042,14203046
52,43.91,Obras de fundações,225,20680,677961,2900093
53,43.99,Serviços especializados para construção não es...,1132,106921,3027081,11302953

In [104]:
linhas = [0,2]
for i in linhas:
    df1_1b = df1_1b.drop(i)
coluna = df1_1b.loc[1]
df1_1b.columns = coluna
df1_1b = df1_1b.drop(1)
#df1_1b.to_csv('df1_1b_limpa.csv')

### df1_2b

In [165]:
df1_2b

,"Tabela 1.2 - Variáveis selecionadas das empresas de construção, segundo as Grandes Regiões",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,e as Unidades da Federação da sede da empresa ...,NaN,NaN,NaN,NaN
1,Grandes Regiões \ne\nUnidades da Federação\nda...,Número de\nempresas ativas,Pessoal ocupado\nem 31.12,"Salários, retiradas e\noutras remunerações 1 0...","Valor das incorporações,\nobras e/ou serviços\..."
2,Total das empresas,NaN,NaN,NaN,NaN
3,Brasil,131487,2439429,68577016,354358797
4,Norte,4469,98453,2162076,12598976
5,Nordeste,17660,492141,10827832,55874467
6,Sudeste,63374,1294405,41408220,204892007
7,Sul,34761,378072,9721835,54456801
8,Centro-Oeste,11223,176358,4457053,26536546
9,Empresas de 1 a 4 pessoas ocupadas,NaN,NaN,NaN,NaN
10,Brasil,67059,181085,3122606,22634859
11,Norte,1804,7901,142781,1150518
12,Nordeste,7156,23485,361240,3235256
13,Sudeste,33251,87444,1527034,10376446
14,Sul,19011,42086,801412,5814951
15,Centro-Oeste,5837,20169,290139,2057688
16,Empresas com 5 ou mais pessoas ocupadas,NaN,NaN,NaN,NaN
17,Brasil,64428,2258344,65454410,331723938
18,Norte,2665,90552,2019295,11448458
19,Rondônia,385,6821,144588,938655
20,Acre,161,5956,126847,604072
21,Amazonas,573,20364,483439,2943229
22,Roraima,98,2768,53217,284513
23,Pará,958,40042,911638,5014256
24,Amapá,147,4109,74403,356114
25,Tocantins,343,10492,225163,1307619
26,Nordeste,10504,468656,10466592,52639211
27,Maranhão,653,35564,702738,3710092
28,Piauí,481,22867,489505,2307697
29,Ceará,1843,100807,2455162,12776934
30,Rio Grande do Norte,964,34561,630229,4023877
31,Paraíba,1228,34593,594099,3126578
32,Pernambuco,1558,77565,1799795,8541137
33,Alagoas,507,22143,380795,2031621
34,Sergipe,470,28537,524514,2875574
35,Bahia,2800,112019,2889755,13245701
36,Sudeste,30123,1206961,39881186,194515561
37,Minas Gerais,7654,291161,8781183,40101693
38,Espírito Santo,1552,40779,978165,5083752
39,Rio de Janeiro,4682,236874,8049333,38334844
40,São Paulo,16235,638147,22072505,110995272
41,Sul,15750,335986,8920423,48641850
42,Paraná,5510,129506,3718336,18992183
43,Santa Catarina,4424,90102,2364718,12925618
44,Rio Grande do Sul,5816,116378,2837369,16724049
45,Centro-Oeste,5386,156189,4166914,24478858
46,Mato Grosso do Sul,791,21503,471979,2433150
47,Mato Grosso,1237,29116,739965,5238320
48,Goiás,2010,62586,1711914,9571145
49,Distrito Federal,1348,42984,1243056,7236243

In [166]:
linhas = [0]
for i in linhas:
    df1_2b = df1_2b.drop(i)
coluna = df1_2b.loc[1]
df1_2b.columns = coluna
df1_2b = df1_2b.drop(1)
#df1_2b.to_csv('df1_2b_limpa.csv')

### df2_1a

In [167]:
df2_1a

,"Tabela 2.1 - Dados gerais das empresas de construção, segundo",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,"as divisões, os grupos e as classes de ativida...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos\ne\nclasses de atividades\n",Número\nde \nempresas ...,NaN,Pessoal\nocupado\nem\n31.12,NaN,Custos e despesas Total 1 000 R$,NaN,Custos e despesas Gastos de pessoal Total 1 00...,NaN,"Custos e despesas Gastos de pessoal Salários, ...",NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,131487,A,2439429,A,299205735,A,99690617,A,68577020,A
5,NaN,Empresas de 1 a 4 pessoas ocupadas,67059,A,181085,A,13050281,B,4011887,B,3122607,A
6,41,Construção de edifícios,23758,B,70074,B,7387768,B,1628934,B,1198513,B
7,42,Obras de infraestrutura,4625,B,12679,B,960042,E,305488,B,247383,B
8,43,Serviços especializados para construção,38676,A,98332,B,4702471,B,2077465,B,1676711,B
9,NaN,Empresas de 5 a 29 pessoas ocupadas,51331,A,552822,A,41050887,A,14895426,A,11155533,A
10,41,Construção de edifícios,21371,A,236532,A,24205532,B,6824637,B,4993335,B
11,41.1,Incorporação e empreendimentos imobiliários,1606,C,13439,C,3754587,D,423100,C,301897,C
12,41.2,Construção de edifícios,19765,A,223093,A,20450945,B,6401537,B,4691438,B
13,42,Obras de infraestrutura,4619,B,51791,B,4081827,B,1486850,B,1111162,B
14,42.1,"Construção de rodovias, ferrovias, obras urban...",1506,B,17157,B,1707337,C,500117,B,371009,B
15,42.2,"Obras de infraestrutura para energia elétrica,...",1139,B,14657,B,1070809,B,432625,B,319045,B
16,42.9,Construção de outras obras de infraestrutura,1974,B,19977,B,1303681,B,554108,B,421108,B
17,43,Serviços especializados para construção,25341,A,264499,A,12763528,A,6583939,A,5051036,A
18,43.1,Demolição e preparação do terreno,2707,B,27817,B,2292324,B,880789,B,659340,B
19,43.2,"Instalações elétricas, hidráulicas e outras in...",8205,A,82466,B,3981057,B,2230602,B,1693810,B
20,43.3,Obras de acabamento,6855,B,66069,B,2451145,B,1461580,B,1159820,B
21,43.9,Outros serviços especializados para construções,7574,B,88147,B,4039002,B,2010968,B,1538066,B
22,NaN,Empresas com 30 ou mais pessoas ocupadas,13097,A,1705522,A,245104567,A,80783304,A,54298880,A
23,41,Construção de edifícios,6623,A,672476,A,96615012,A,27289988,A,18302128,A
24,41.1,Incorporação e empreendimentos imobiliários,294,A,14855,A,6042735,A,807562,A,527591,A
25,41.10,Incorporação e empreendimentos imobiliários,294,A,14855,A,6042735,A,807562,A,527591,A
26,41.2,Construção de edifícios,6329,A,657621,A,90572277,A,26482426,A,17774537,A
27,41.20,Construção de edifícios,6329,A,657621,A,90572277,A,26482426,A,17774537,A
28,42,Obras de infraestrutura,2576,A,644587,A,113345655,A,37440245,A,25025975,A
29,42.1,"Construção de rodovias, ferrovias, obras urban...",1034,A,265267,A,51049310,A,14919728,A,10041927,A
30,42.11,Construção de rodovias e ferrovias,675,A,181058,A,36317572,A,10417569,A,7145535,A
31,42.12,Construção de obras de arte especiais,61,A,38244,A,9803950,A,2592188,A,1609839,A
32,42.13,"Obras de urbanização - ruas, praças e calçadas",298,A,45965,A,4927788,A,1909971,A,1286553,A
33,42.2,"Obras de infraestrutura para energia elétrica,...",745,A,228227,A,39061450,A,13222468,A,8825541,A
34,42.21,Obras para geração e distribuição de energia e...,480,A,185751,A,31614002,A,11043984,A,7382769,A
35,42.22,"Construção de redes de abastecimento de água, ...",239,A,34837,A,5482250,A,1502098,A,1010278,A
36,42.23,"Construção de redes de transportes por dutos, ...",26,A,7639,A,1965198,A,676386,A,432494,A
37,42.9,Construção de outras obras de infraestrutura,797,A,151093,A,23234895,A,9298049,A,6158507,A
38,42.91,"Obras portuárias, marítimas e fluviais",34,A,7553,A,2559058,A,565326,A,360949,A
39,42.92,Montagem de instalações industriais e de estru...,262,A,75216,A,11650760,A,5460197,A,3574936,A
40,42.99,Obras de engenharia civil não especificadas an...,501,A,68324,A,9025077,A,3272526,A,2222622,A
41,43,Serviços especializados para construção,3898,A,388459,A,35143900,A,16053071,A,10970777,A
42,43.1,Demolição e preparação do terreno,499,A,47398,A,6922824,A,2243615,A,1510458,A
43,43.11,Demolição e preparação de canteiros de obras,49,A,5820,A,756457,B,299873,A,187232,A
44,43.12,Perfurações e sondagens,57,A,5702,A,726483,B,303826,A,185776,A
45,43.13,Obras de terraplenagem,373,A,34316,A,5239747,A,1565307,A,1087063,A
46,43.19,Serviços de preparação do terreno não especifi...,20,B,1560,B,200137,B,74609,B,50387,B
47,43.2,"Instalações elétricas, hidráulicas e outras in...",1227,A,152978,A,13336465,A,6571288,A,4495681,A
48,43.21,Instalações elétricas,677,A,82551,A,6109723,A,3194267,A,2207113,A
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",382,A,41581,A,3304901,A,1633969,A,1107622,A
50,43.29,Obras de instalações em construções não especi...,168,A,28846,A,3921841,A,1743052,A,1180946,A
51,43.3,Obras de acabamento,815,A,60482,A,2974995,A,1755566,A,1259596,A
52,43.30,Obras de acabamento,815,A,60482,A,2974995,A,1755566,A,1259596,A
53,43.9,Outros serviços especializados para construção,1357,A,127601,A,11909616,A,5482602,A,3705042,A
54,43.91,Obras de fundações,225,A,20680,A,2367489,A,980014,A,677961,A
55,43.99,Serviços especializados para construção não es...,1132,A,106921,A,9542127,A,4502588,A,3027081,A

In [168]:
linhas = [0,2,3]
for i in linhas:
    df2_1a = df2_1a.drop(i)
coluna = df2_1a.loc[1]
df2_1a.columns = coluna
df2_1a = df2_1a.drop(1)
#df2_1a.to_csv('df2_1a_limpa.csv')

### df2_1b

In [110]:
df2_1b

,"Tabela 2.1 - Dados gerais das empresas de construção, segundo",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,"as divisões, os grupos e as classes de ativida...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos\ne\nclasses de atividades\n",Custos e despesas Custos das obras e/ou\nservi...,NaN,Custos e despesas Custos das obras e/ou\nservi...,NaN,Custos e despesas Custos de incorporações de i...,NaN,Custos e despesas Custos de incorporações de i...,NaN,Custos e despesas Outros\ncustos e\ndespesas 1...,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total das empresas,113565940,A,67120239,A,7638073,B,2253484,B,78311100,A
6,NaN,Empresas de 1 a 4 pessoas ocupadas,4820435,B,3183258,B,1403018,C,226887,C,2814941,C
7,41,Construção de edifícios,3022682,C,2056409,C,1382903,C,214750,C,1353251,B
8,42,Obras de infraestrutura,362630,E,197653,C,4592,E,2199,E,287331,E
9,43,Serviços especializados para construção,1435123,C,929196,B,15523,D,9938,D,1174359,C
10,NaN,Empresas de 5 a 29 pessoas ocupadas,15474581,B,11256985,B,2111019,C,452222,C,8569862,B
11,41,Construção de edifícios,10024597,B,7608447,B,2082972,C,444297,C,5273326,C
12,41.1,Incorporação e empreendimentos imobiliários,4654,E,1535,B,1918813,D,351937,D,1408020,E
13,41.2,Construção de edifícios,10019943,B,7606912,B,164159,D,92360,D,3865306,C
14,42,Obras de infraestrutura,1704341,B,1200883,B,691,A,201,B,889946,B
15,42.1,"Construção de rodovias, ferrovias, obras urban...",809432,C,541595,C,124,B,58,B,397664,C
16,42.2,"Obras de infraestrutura para energia elétrica,...",394280,B,293228,C,167,A,127,A,243738,C
17,42.9,Construção de outras obras de infraestrutura,500629,C,366060,C,400,B,16,E,248544,C
18,43,Serviços especializados para construção,3745643,B,2447655,B,27356,E,7724,D,2406590,B
19,43.1,Demolição e preparação do terreno,850929,B,251864,C,20119,E,919,D,540487,B
20,43.2,"Instalações elétricas, hidráulicas e outras in...",886749,B,685143,B,1809,E,1631,E,861896,B
21,43.3,Obras de acabamento,540820,C,377741,C,575,E,552,E,448171,D
22,43.9,Outros serviços especializados para construções,1467145,B,1132907,C,4853,E,4622,E,556036,B
23,NaN,Empresas com 30 ou mais pessoas ocupadas,93270924,A,52679996,A,4124036,A,1574375,A,66926297,A
24,41,Construção de edifícios,42710247,A,26325874,A,4070430,A,1540158,A,22544346,A
25,41.1,Incorporação e empreendimentos imobiliários,9592,B,3333,B,3595896,A,1280687,A,1629685,A
26,41.10,Incorporação e empreendimentos imobiliários,9592,B,3333,B,3595896,A,1280687,A,1629685,A
27,41.2,Construção de edifícios,42700655,A,26322541,A,474534,A,259471,A,20914661,A
28,41.20,Construção de edifícios,42700655,A,26322541,A,474534,A,259471,A,20914661,A
29,42,Obras de infraestrutura,39690214,A,20281507,A,30503,B,16080,A,36184689,A
30,42.1,"Construção de rodovias, ferrovias, obras urban...",20234638,A,10246772,A,15626,B,8140,B,15879317,A
31,42.11,Construção de rodovias e ferrovias,14493422,A,7403676,A,6187,C,2482,B,11400394,A
32,42.12,Construção de obras de arte especiais,3816236,A,1813968,A,3725,A,1352,Z,3391800,A
33,42.13,"Obras de urbanização - ruas, praças e calçadas",1924980,A,1029128,A,5714,B,4306,B,1087123,A
34,42.2,"Obras de infraestrutura para energia elétrica,...",11504404,A,6297745,A,10369,A,6002,A,14324208,A
35,42.21,Obras para geração e distribuição de energia e...,8317133,A,4539215,A,2312,A,2177,A,12250573,A
36,42.22,"Construção de redes de abastecimento de água, ...",2334945,A,1417393,A,8057,B,3825,A,1637149,A
37,42.23,"Construção de redes de transportes por dutos, ...",852326,A,341137,A,-,Z,-,Z,436486,A
38,42.9,Construção de outras obras de infraestrutura,7951172,A,3736990,A,4508,B,1938,C,5981164,A
39,42.91,"Obras portuárias, marítimas e fluviais",863721,A,238559,A,-,Z,-,Z,1130010,A
40,42.92,Montagem de instalações industriais e de estru...,3511645,A,1352951,A,1707,A,81,B,2677210,A
41,42.99,Obras de engenharia civil não especificadas an...,3575806,A,2145480,A,2801,C,1857,C,2173944,A
42,43,Serviços especializados para construção,10870463,A,6072615,A,23103,B,18137,B,8197262,A
43,43.1,Demolição e preparação do terreno,2674839,A,1243329,A,609,C,485,D,2003760,A
44,43.11,Demolição e preparação de canteiros de obras,218305,C,35400,B,4,D,1,D,238274,B
45,43.12,Perfurações e sondagens,173894,A,88717,A,1,D,1,D,248762,B
46,43.13,Obras de terraplenagem,2195069,A,1088891,A,604,C,483,D,1478767,A
47,43.19,Serviços de preparação do terreno não especifi...,87571,B,30321,C,-,Z,-,Z,37957,B
48,43.2,"Instalações elétricas, hidráulicas e outras in...",3771823,A,2132556,A,2440,C,1693,C,2990914,A
49,43.21,Instalações elétricas,1681031,A,978460,A,1529,C,804,B,1232896,A
50,43.22,"Instalações hidráulicas, de sistemas de ventil...",1078101,A,565864,A,894,D,872,D,591937,A
51,43.29,Obras de instalações em construções não especi...,1012691,A,588232,A,17,D,17,D,1166081,A
52,43.3,Obras de acabamento,833454,B,426182,A,1554,B,1533,B,384421,A
53,43.30,Obras de acabamento,833454,B,426182,A,1554,B,1533,B,384421,A
54,43.9,Outros serviços especializados para construção,3590347,A,2270548,A,18500,B,14426,C,2818167,A
55,43.91,Obras de fundações,659653,B,339649,B,5872,D,4998,D,721950,B
56,43.99,Serviços especializados para construção não es...,2930694,A,1930899,A,12628,B,9428,B,2096217,A

In [111]:
linhas = [0, 2, 3, 4]
for i in linhas:
    df2_1b = df2_1b.drop(i)
coluna = df2_1b.loc[1]
df2_1b.columns = coluna
df2_1b = df2_1b.drop(1)
#df2_1b.to_csv('df2_1b_limpa.csv')

### df2_1c

In [112]:
df2_1c

,"Tabela 2.1 - Dados gerais das empresas de construção, segundo",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,"as divisões, os grupos e as classes de ativida...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos\ne\nclasses de atividades\n",\nReceita\nbruta \ntotal 1 000 R$\n,NaN,Receita\nlíquida 1 000 R$,NaN,"\nValor das incorporações, obras\ne/ou serviço...",NaN,Consumo\nintermediário 1 000 R$,NaN,Valor bruto\nda\nprodução 1 000 R$,NaN,Valor\nadicionado\n(1) 1 000 R$,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Total das empresas,352677843,A,323971241,A,354358800,A,158817948,A,331430244,A,172612299,A
7,NaN,Empresas de 1 a 4 pessoas ocupadas,23318699,B,21689955,B,22634860,B,7658324,B,21321509,B,13663186,B
8,41,Construção de edifícios,13154333,B,12207638,B,13272448,B,4939492,B,12264792,B,7325300,B
9,42,Obras de infraestrutura,1779480,D,1656037,D,1724482,D,518407,E,1557382,C,1038976,B
10,43,Serviços especializados para construção,8384886,B,7826280,B,7637930,B,2200425,C,7499335,B,5298910,B
11,NaN,Empresas de 5 a 29 pessoas ocupadas,59760850,A,54970353,A,60637720,A,21560215,B,57019299,A,35459084,A
12,41,Construção de edifícios,34378917,B,31846201,B,36048990,B,13940948,B,33699029,B,19758081,B
13,41.1,Incorporação e empreendimentos imobiliários,5100329,D,4501264,D,4830865,D,1813227,C,4066706,C,2253479,D
14,41.2,Construção de edifícios,29278588,B,27344937,B,31218125,B,12127721,B,29632323,B,17504602,B
15,42,Obras de infraestrutura,6263128,B,5797264,B,6014404,B,2193402,B,5858806,B,3665403,B
16,42.1,"Construção de rodovias, ferrovias, obras urban...",2595898,C,2434655,C,2452127,B,1009683,C,2481563,C,1471879,B
17,42.2,"Obras de infraestrutura para energia elétrica,...",1712022,B,1551123,B,1600490,B,551186,B,1490175,B,938989,B
18,42.9,Construção de outras obras de infraestrutura,1955208,B,1811486,B,1961787,B,632533,C,1887068,B,1254535,B
19,43,Serviços especializados para construção,19118805,B,17326888,B,18574326,B,5425865,B,17461464,A,12035600,B
20,43.1,Demolição e preparação do terreno,3054911,B,2804971,B,2968660,B,1133098,B,2885318,B,1752221,B
21,43.2,"Instalações elétricas, hidráulicas e outras in...",5982291,B,5353054,B,5823529,B,1562059,B,5442736,B,3880678,B
22,43.3,Obras de acabamento,4085290,C,3708054,C,4078532,C,881831,C,3722169,C,2840337,C
23,43.9,Outros serviços especializados para construções,5996313,B,5460809,B,5703605,B,1848877,B,5411241,B,3562364,B
24,NaN,Empresas com 30 ou mais pessoas ocupadas,269598294,A,247310933,A,271086220,A,129599409,A,253089436,A,123490029,A
25,41,Construção de edifícios,113295044,A,104145978,A,116385100,A,56755853,A,107549160,A,50793308,A
26,41.1,Incorporação e empreendimentos imobiliários,8112642,A,7390038,A,8013037,A,4208659,A,7267228,A,3058570,A
27,41.10,Incorporação e empreendimentos imobiliários,8112642,A,7390038,A,8013037,A,4208659,A,7267228,A,3058570,A
28,41.2,Construção de edifícios,105182402,A,96755940,A,108372063,A,52547194,A,100281932,A,47734738,A
29,41.20,Construção de edifícios,105182402,A,96755940,A,108372063,A,52547194,A,100281932,A,47734738,A
30,42,Obras de infraestrutura,113587752,A,104560508,A,112229999,A,57125944,A,106058945,A,48933001,A
31,42.1,"Construção de rodovias, ferrovias, obras urban...",52385026,A,48247079,A,52388581,A,28618604,A,49322791,A,20704187,A
32,42.11,Construção de rodovias e ferrovias,36794987,A,33919460,A,37052185,A,20857163,A,34915162,A,14058000,A
33,42.12,Construção de obras de arte especiais,9968044,A,9249635,A,9758990,A,5296233,A,9200234,A,3904000,A
34,42.13,"Obras de urbanização - ruas, praças e calçadas",5621995,A,5077984,A,5577406,A,2465208,A,5207395,A,2742187,A
35,42.2,"Obras de infraestrutura para energia elétrica,...",36054472,A,33188739,A,34619860,A,16804039,A,33197692,A,16393653,A
36,42.21,Obras para geração e distribuição de energia e...,27530016,A,25269494,A,26380508,A,12561334,A,25359814,A,12798480,A
37,42.22,"Construção de redes de abastecimento de água, ...",6152005,A,5714249,A,5895409,A,3062033,A,5599859,A,2537826,A
38,42.23,"Construção de redes de transportes por dutos, ...",2372451,A,2204996,A,2343943,A,1180672,A,2238019,A,1057347,A
39,42.9,Construção de outras obras de infraestrutura,25148254,A,23124690,A,25221558,A,11703301,A,23538462,A,11835161,A
40,42.91,"Obras portuárias, marítimas e fluviais",2606145,A,2429246,A,2623469,A,1557747,A,2467194,A,909447,A
41,42.92,Montagem de instalações industriais e de estru...,11910187,A,10911790,A,12097733,A,5216102,A,11255756,A,6039654,A
42,42.99,Obras de engenharia civil não especificadas an...,10631922,A,9783654,A,10500356,A,4929452,A,9815512,A,4886060,A
43,43,Serviços especializados para construção,42715498,A,38604447,A,42471121,A,15717612,A,39481331,A,23763720,A
44,43.1,Demolição e preparação do terreno,8416078,A,7685091,A,8343885,A,3651961,A,7778297,A,4126336,A
45,43.11,Demolição e preparação de canteiros de obras,1117790,B,1001224,B,1068480,B,319143,B,931859,B,612716,A
46,43.12,Perfurações e sondagens,782709,A,702141,A,765184,A,303069,A,691056,A,387987,A
47,43.13,Obras de terraplenagem,6253657,A,5747086,A,6271375,A,2928076,A,5927644,A,2999567,A
48,43.19,Serviços de preparação do terreno não especifi...,261922,B,234640,B,238846,B,101673,B,227738,B,126066,B
49,43.2,"Instalações elétricas, hidráulicas e outras in...",16538802,A,14730950,A,16103845,A,5719760,A,14827988,A,9108229,A
50,43.21,Instalações elétricas,7712848,A,6929630,A,7538701,A,2595943,A,7001834,A,4405891,A
51,43.22,"Instalações hidráulicas, de sistemas de ventil...",4473377,A,3985558,A,4197993,A,1501300,A,3923383,A,2422083,A
52,43.29,Obras de instalações em construções não especi...,4352577,A,3815762,A,4367151,A,1622517,A,3902771,A,2280255,A
53,43.3,Obras de acabamento,3790996,A,3433625,A,3820345,A,1080286,B,3573545,A,2493258,A
54,43.30,Obras de acabamento,3790996,A,3433625,A,3820345,A,1080286,B,3573545,A,2493258,A
55,43.9,Outros serviços especializados para construção,13969622,A,12754781,A,14203046,A,5265605,A,13301501,A,8035897,A
56,43.91,Obras de fundações,2936482,A,2684366,A,2900093,A,1107003,A,2697864,A,1590862,A
57,43.99,Serviços especializados para construção não es...,11033140,A,10070415,A,11302953,A,4158602,A,10603637,A,6445035,A

In [113]:
linhas = [0,2,3,4,5]
for i in linhas:
    df2_1c = df2_1c.drop(i)
coluna = df2_1c.loc[1]
df2_1c.columns = coluna
df2_1c = df2_1c.drop(1)
#df2_1c.to_csv('df2_1c_limpa.csv')

### df2_2a

In [169]:
df2_2a

,"Tabela 2.2 - Dados gerais das empresas de construção com cinco ou mais pessoas ocupadas, segundo",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,"as divisões, os grupos de atividades e as faix...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda\nCNAE\n2.0,"Divisões, grupos de atividades\ne\nfaixas de p...",Número\nde\nempresas\nativas,Pessoal\nocupado\nem\n31.12,Custos e despesas Total 1 000 R$,Custos e despesas Gastos de pessoal Total 1 00...,"Custos e despesas Gastos de pessoal Salários,\...",Custos e despesas Custos das obras e/ou\nservi...,Custos e despesas Custos das obras e/ou\nservi...,Custos e despesas Custos de incorporações\nde ...,Custos e despesas Custos de incorporações\nde ...,Custos e despesas Outros\ncustos e\ndespesas 1...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total,64428,2258344,286155455,95678729,65454408,108745508,63936978,6235059,2026599,75496158
5,NaN,De 5 a 29,52655,544499,50654576,16218905,11978114,19614973,13942014,3527751,838793,11292948
6,NaN,De 30 a 49,4717,195318,19875124,6589437,4664817,8537960,5553908,638675,290557,4109052
7,NaN,De 50 a 99,3606,271888,30802992,10092732,6948161,12748058,7897202,1134115,531551,6828086
8,NaN,De 100 a 249,2300,359677,43978807,14251540,9664425,18325853,10911724,320520,200077,11080894
9,NaN,De 250 a 499,725,248997,32070410,10683308,7164154,12927108,7495609,454372,97018,8005620
10,NaN,Com 500 e mais,425,637965,108773546,37842807,25034737,36591556,18136521,159626,68603,34179558
11,41,Construção de edifícios,27994,909008,120820544,34114626,23295461,52734844,33934321,6153402,1984455,27817671
12,NaN,De 5 a 29,22174,232453,32169318,7687569,5516147,13451670,9846752,3496571,828310,7533508
13,NaN,De 30 a 49,2357,97529,11807610,3267382,2289055,5637371,3858807,625332,283499,2277524
14,NaN,De 50 a 99,1878,142353,17090186,5009098,3429569,7556564,5099457,1119450,523965,3405073
15,NaN,De 100 a 249,1119,175725,22365197,6308746,4252102,10089023,6488326,307246,189762,5660184
16,NaN,De 250 a 499,329,111999,13648040,4199746,2803855,6125897,3763282,445900,91031,2876496
17,NaN,Com 500 e mais,137,148949,23740193,7642085,5004733,9874319,4877697,158903,67888,6064886
18,41.1,Incorporação de empreendimentos\nimobiliários,1900,28294,9797323,1230662,829487,14246,4868,5514708,1632623,3037704
19,NaN,De 5 a 29,1741,14639,5781078,555042,369691,8140,2524,3251253,704754,1966643
20,NaN,De 30 a 49,72,2918,957301,119430,79847,1341,734,538625,226944,297904
21,NaN,De 50 a 99,53,3687,1619627,232676,153785,3452,562,1053180,477999,330318
22,NaN,De 100 a 249,26,3739,616527,141835,102404,1313,1048,249726,142153,223654
23,NaN,De 250 a 499,7,x,x,x,x,x,x,x,x,x
24,NaN,Com 500 e mais,1,x,x,x,x,x,x,x,x,x
25,41.2,Construção de edifícios,26094,880714,111023221,32883964,22465974,52720598,33929453,638694,351832,24779967
26,NaN,De 5 a 29,20433,217814,26388240,7132527,5146456,13443530,9844228,245318,123556,5566865
27,NaN,De 30 a 49,2285,94611,10850309,3147952,2209208,5636030,3858073,86707,56555,1979620
28,NaN,De 50 a 99,1825,138666,15470559,4776422,3275784,7553112,5098895,66270,45966,3074755
29,NaN,De 100 a 249,1093,171986,21748670,6166911,4149698,10087710,6487278,57520,47609,5436530
...,...,...,...,...,...,...,...,...,...,...,...,...
65,NaN,De 250 a 499,149,51669,4371096,2094582,1416621,1235276,659834,3501,3501,1037737
66,NaN,Com 500 e mais,90,101866,10634438,5162360,3402809,2908416,1649467,-,-,2563662
67,43.1,Demolição e preparação do terreno,3206,75215,9215148,3124404,2169797,3525769,1495192,20728,1404,2544247
68,NaN,De 5 a 29,2713,26847,2342707,867385,647381,915815,287164,20232,1021,539275
69,NaN,De 30 a 49,250,9959,1088961,380488,270812,418163,139606,-,-,290311
70,NaN,De 50 a 99,118,8700,1132050,398212,278287,424004,218882,-,-,309834
71,NaN,De 100 a 249,96,14438,1998313,653110,449297,775944,251278,496,383,568762
72,NaN,De 250 a 499,18,6352,877472,312024,208999,356207,174187,-,-,209240
73,NaN,Com 500 e mais,11,8919,1775645,513185,315021,635636,424075,-,-,626825
74,43.2,"Instalações elétricas, hidráulicas e\noutras i...",9432,235444,17317523,8801890,6189491,4658573,2817698,4250,3325,3852811
75,NaN,De 5 a 29,8291,80833,4167484,2282937,1718668,971483,748473,2146,1930,910919
76,NaN,De 30 a 49,500,20454,1382988,683456,493132,410560,247214,1504,1025,287467
77,NaN,De 50 a 99,345,25857,1979836,963079,678526,637167,409943,485,255,379106
78,NaN,De 100 a 249,197,29346,2244898,1117559,777466,708798,424946,115,115,418426
79,NaN,De 250 a 499,63,21401,1599016,797570,537966,433273,229369,-,-,368173
80,NaN,Com 500 e mais,36,57553,5943301,2957289,1983733,1497292,757753,-,-,1488720
81,43.3,Obras de acabamento,7670,126551,5426139,3217145,2419417,1374274,803922,2129,2085,832592
82,NaN,De 5 a 29,6947,65447,2543718,1530567,1204545,551123,385120,1367,1344,460662
83,NaN,De 30 a 49,369,15654,619348,376195,279327,150626,105616,759,740,91769
84,NaN,De 50 a 99,241,18260,948790,493573,356417,329155,152279,3,1,126058
85,NaN,De 100 a 249,88,13843,562243,346286,243881,139646,88756,-,-,76310
86,NaN,De 250 a 499,15,5228,237007,151576,107585,49007,27125,-,-,36425
87,NaN,Com 500 e mais,10,8119,515033,318948,227662,154717,45026,-,-,41368
88,43.9,Outros serviços especializados\npara construção,8931,215748,15948620,7493569,5243107,5057492,3403455,23355,19049,3374202
89,NaN,De 5 a 29,7746,86877,4528819,2177837,1655576,1646294,1240911,5153,4890,699534
90,NaN,De 30 a 49,510,21906,1668225,711928,516776,544973,359186,6556,2944,404768
91,NaN,De 50 a 99,372,28085,2378804,994224,678274,819232,551554,2987,2873,562361
92,NaN,De 100 a 249,217,32917,3314712,1403230,954017,1029433,600038,5158,4841,876891
93,NaN,De 250 a 499,53,18688,1657601,833412,562071,396789,229153,3501,3501,423899
94,NaN,Com 500 e mais,33,27275,2400459,1372938,876393,620771,422613,-,-,406749

In [170]:
linhas = [0,2,3]
for i in linhas:
    df2_2a = df2_2a.drop(i)
coluna = df2_2a.loc[1]
df2_2a.columns = coluna
df2_2a = df2_2a.drop(1)
df2_2a.to_csv('df2_2a_limpa.csv')

### df2_2b

In [171]:
df2_2b

,"Tabela 2.2 - Dados gerais das empresas de construção com cinco ou mais pessoas ocupadas, segundo",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"as divisões, os grupos de atividades e as faix...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda\nCNAE\n2.0,"Divisões, grupos de atividades\ne\nfaixas de p...",Receita\nbruta\ntotal 1 000 R$\n,Receita\nlíquida 1 000 R$,"\nValor das incorporações, obras\ne/ou serviço...",Consumo\nintermediário 1 000 R$,Valor bruto\nda\nprodução 1 000 R$,Valor\nadicionado\n(1) 1 000 R$
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total,329359144,302281289,331723941,151159622,310108735,158949115
5,NaN,De 5 a 29,72738082,66591145,73722993,28399863,68875004,40475142
6,NaN,De 30 a 49,25535656,23415179,25890595,11225342,24451600,13226258
7,NaN,De 50 a 99,38159106,35099670,38757785,17335148,36421539,19086393
8,NaN,De 100 a 249,51244842,47403102,51533355,23762309,48388519,24626210
9,NaN,De 250 a 499,36313439,33576626,36429326,17243672,34114654,16870981
10,NaN,Com 500 e mais,105368019,96195567,105389887,53193288,97857419,44664131
11,41,Construção de edifícios,147673960,135992179,152434091,70696800,141248189,70551390
12,NaN,De 5 a 29,44957033,41260838,46705645,19804315,43262650,23458335
13,NaN,De 30 a 49,14854852,13704324,15425329,7262375,14515578,7253203
14,NaN,De 50 a 99,21503660,19879535,21859365,10255161,20421276,10166115
15,NaN,De 100 a 249,24576048,22977322,25440373,12442518,23922501,11479984
16,NaN,De 250 a 499,15792187,14784180,15813598,7793760,14841035,7047275
17,NaN,Com 500 e mais,25990180,23385980,27189781,13138671,24285149,11146478
18,41.1,Incorporação de empreendimentos\nimobiliários,13212970,11891302,12843902,6021885,11333934,5312049
19,NaN,De 5 a 29,8047406,7183246,7715393,3423330,6719895,3296565
20,NaN,De 30 a 49,1320310,1214346,1322107,635288,1246974,611686
21,NaN,De 50 a 99,2282285,2002025,2276923,1118791,1918968,800177
22,NaN,De 100 a 249,613064,558159,579574,328143,550897,222754
23,NaN,De 250 a 499,x,x,x,x,x,x
24,NaN,Com 500 e mais,x,x,x,x,x,x
25,41.2,Construção de edifícios,134460990,124100877,139590189,64674915,129914255,65239341
26,NaN,De 5 a 29,36909627,34077592,38990252,16380985,36542755,20161770
27,NaN,De 30 a 49,13534542,12489978,14103222,6627087,13268604,6641517
28,NaN,De 50 a 99,19221375,17877510,19582442,9136370,18502308,9365938
29,NaN,De 100 a 249,23962984,22419163,24860799,12114375,23371604,11257230
...,...,...,...,...,...,...,...,...
65,NaN,De 250 a 499,5263691,4747671,5107680,1906961,4742188,2835226
66,NaN,Com 500 e mais,11784152,10520400,11744844,4433821,10651359,6217537
67,43.1,Demolição e preparação do terreno,11470989,10490061,11312546,4785058,10663615,5878557
68,NaN,De 5 a 29,3126298,2867520,3037343,1185163,2954706,1769544
69,NaN,De 30 a 49,1408246,1289993,1399157,584478,1348628,764149
70,NaN,De 50 a 99,1514424,1401410,1509531,575733,1418850,843118
71,NaN,De 100 a 249,2438617,2238950,2371521,1034995,2199060,1164064
72,NaN,De 250 a 499,1035581,951578,1033526,494610,952636,458026
73,NaN,Com 500 e mais,1947823,1740610,1961468,910079,1789735,879656
74,43.2,"Instalações elétricas, hidráulicas e\noutras i...",22521093,20084005,21927375,7281818,20270726,12988907
75,NaN,De 5 a 29,6244286,5591032,6078907,1676535,5690842,4014307
76,NaN,De 30 a 49,1946039,1736471,1805586,609738,1723616,1113879
77,NaN,De 50 a 99,2718470,2450119,2577407,891139,2437743,1546604
78,NaN,De 100 a 249,2912997,2619188,2870058,996052,2639301,1643249
79,NaN,De 250 a 499,1969117,1745556,1868392,647475,1732654,1085178
80,NaN,Com 500 e mais,6730184,5941639,6727025,2460879,6046570,3585690
81,43.3,Obras de acabamento,7876286,7141679,7898877,1962118,7295714,5333595
82,NaN,De 5 a 29,4272231,3870758,4268068,899938,3883397,2983458
83,NaN,De 30 a 49,893692,802742,880266,211262,815176,603914
84,NaN,De 50 a 99,1145760,1029046,1248709,412108,1203461,791353
85,NaN,De 100 a 249,707498,643789,695544,185470,642933,457463
86,NaN,De 250 a 499,319730,296758,285187,80822,268294,187472
87,NaN,Com 500 e mais,537375,498586,521103,172518,482453,309935
88,43.9,Outros serviços especializados\npara construção,19965935,18215592,19906650,7114481,18712741,11598260
89,NaN,De 5 a 29,6735483,6148603,6453972,2135519,6111847,3976328
90,NaN,De 30 a 49,2100348,1907699,2166579,778056,2021043,1242987
91,NaN,De 50 a 99,2892331,2655541,2921726,1112955,2754413,1641458
92,NaN,De 100 a 249,3729740,3410405,3908550,1513552,3704233,2190681
93,NaN,De 250 a 499,1939263,1753779,1920575,684054,1788604,1104550
94,NaN,Com 500 e mais,2568770,2339565,2535248,890345,2332601,1442256

In [172]:
linhas = [0,2,3]
for i in linhas:
    df2_2b = df2_2b.drop(i)
coluna = df2_2b.loc[1]
df2_2b.columns = coluna
df2_2b = df2_2b.drop(1)
#df2_2b.to_csv('df2_2b_limpa.csv')

### df2_3a

In [173]:
df2_3a

,"Tabela 2.3 - Dados gerais das empresas de construção, segundo as Grandes Regiões e",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,as Unidades da Federação da sede da empresa - ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Grandes Regiões \ne\nUnidades da Federação \nd...,Número \nde\nempresas\nativas,Pessoal\nocupado\nem\n31.12,Custos e despesas Total 1 000 R$,Custos e despesas Gastos de pessoal Total 1 00...,"Custos e despesas Gastos de pessoal Salários,\...",Custos e despesas Custos das obras e/ou \nserv...,Custos e despesas Custos das obras e/ou \nserv...,Custos e despesas Custos de incorporação de im...,Custos e despesas Custos de incorporação de im...,Custos e despesas Outros\ncustos e\ndespesas 1...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Total das empresas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Brasil,131487,2439429,299205734,99690615,68577016,113565940,67120242,7638073,2253485,78311098
7,Norte,4469,98453,8844249,3057334,2162076,3825674,2525366,158853,56526,1802386
8,Nordeste,17660,492141,43656075,15911598,10827832,18226636,10977792,955369,365562,8562469
9,Sudeste,63374,1294405,182591297,60849960,41408220,64057622,36220234,3868560,860980,53815154
10,Sul,34761,378072,43400467,13562954,9721835,18108164,11137289,2350164,810984,9379186
11,Centro-Oeste,11223,176358,20713646,6308769,4457053,9347844,6259561,305127,159433,4751903
12,Empresas de 1 a 4 pessoas ocupadas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Brasil,67059,181085,13050281,4011887,3122606,4820435,3183258,1403019,226886,2814941
14,Norte,1804,7901,646869,186100,142781,313006,200241,20309,283,127455
15,Nordeste,7156,23485,1887276,463334,361240,698303,541955,312938,41403,412701
16,Sudeste,33251,87444,5571112,2005853,1527034,1885289,1327183,543771,84791,1136199
17,Sul,19011,42086,3682277,998955,801412,1346475,706415,505652,96384,831196
18,Centro-Oeste,5837,20169,1262747,357645,290139,577362,407464,20349,4025,307390
19,Empresas com 5 ou mais pessoas ocupadas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Brasil,64428,2258344,286155453,95678728,65454410,108745505,63936984,6235054,2026599,75496157
21,Norte,2665,90552,8197380,2871234,2019295,3512668,2325125,138544,56243,1674931
22,Rondônia,385,6821,516025,191633,144588,241845,154507,4729,2481,77817
23,Acre,161,5956,447585,168062,126847,209381,130685,329,256,69813
24,Amazonas,573,20364,2171570,700434,483439,960149,662432,53481,22069,457506
25,Roraima,98,2768,178825,73241,53217,74831,47918,4,4,30749
26,Pará,958,40042,3722179,1326592,911638,1604311,1056443,30698,7443,760577
27,Amapá,147,4109,223381,101382,74403,80365,45452,78,78,41555
28,Tocantins,343,10492,937815,309890,225163,341786,227688,49225,23912,236914
29,Nordeste,10504,468656,41768799,15448264,10466592,17528333,10435837,642431,324159,8149768
30,Maranhão,653,35564,2819818,1009595,702738,1222503,818937,82173,51978,505546
31,Piauí,481,22867,1875920,717055,489505,791037,620828,4653,4541,363175
32,Ceará,1843,100807,10826677,3708556,2455162,4850383,2220286,158115,79065,2109623
33,Rio Grande do Norte,964,34561,2749053,903831,630229,1104591,830001,93856,30000,646775
34,Paraíba,1228,34593,2370425,825117,594099,1203521,940371,3801,3728,337985
35,Pernambuco,1558,77565,6559975,2617582,1799795,2435788,1503947,97539,48575,1409065
36,Alagoas,507,22143,1594613,549939,380795,746777,481944,6479,1759,291418
37,Sergipe,470,28537,2242931,760197,524514,874352,533517,116172,71844,492210
38,Bahia,2800,112019,10729387,4356392,2889755,4299381,2486006,79643,32669,1993971
39,Sudeste,30123,1206961,177020185,58844107,39881186,62172333,34893051,3324789,776189,52678955
40,Minas Gerais,7654,291161,35047574,12776805,8781183,12567752,7044549,235615,115387,9467401
41,Espírito Santo,1552,40779,3932786,1484261,978165,1628190,1044947,25952,25149,794383
42,Rio de Janeiro,4682,236874,41042997,12227851,8049333,13243423,7274322,304019,76395,15267704
43,São Paulo,16235,638147,96996828,32355190,22072505,34732968,19529233,2759203,559258,27149467
44,Sul,15750,335986,39718190,12563999,8920423,16761689,10430874,1844512,714600,8547990
45,Paraná,5510,129506,16223592,5454683,3718336,6737174,3792972,579067,118196,3452668
46,Santa Catarina,4424,90102,10345172,3182172,2364718,4419151,2969159,439039,218663,2304810
47,Rio Grande do Sul,5816,116378,13149426,3927144,2837369,5605364,3668743,826406,377741,2790512
48,Centro-Oeste,5386,156189,19450899,5951124,4166914,8770482,5852097,284778,155408,4444513
49,Mato Grosso do Sul,791,21503,1899557,655458,471979,885236,581599,32041,1690,326821
50,Mato Grosso,1237,29116,3841515,1012297,739965,2192531,1507092,20808,10720,615878
51,Goiás,2010,62586,7898849,2461177,1711914,3339448,2298084,160003,103133,1938220
52,Distrito Federal,1348,42984,5810978,1822192,1243056,2353267,1465322,71926,39865,1563594

In [174]:
linhas = [0, 2, 3, 4]
for i in linhas:
    df2_3a = df2_3a.drop(i)
coluna = df2_3a.loc[1]
df2_3a.columns = coluna
df2_3a = df2_3a.drop(1)
#df2_3a.to_csv('df2_3a_limpa.csv')

### df2_3b

In [120]:
df2_3b

,"Tabela 2.3 - Dados gerais das empresas de construção, segundo as Grandes Regiões e",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,as Unidades da Federação da sede da empresa - ...,NaN,NaN,NaN,NaN,NaN,NaN
1,Grandes Regiões \ne\nUnidades da Federação\nda...,\nReceita\nbruta\ntotal 1 000 R$\n,Receita\nlíquida 1 000 R$,"\nValor das incorporações, obras\ne/ou serviço...",Consumo\nintermediário 1 000 R$,Valor bruto\nda\nprodução 1 000 R$,Valor\nadicionado\n(1) 1 000 R$
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total das empresas,NaN,NaN,NaN,NaN,NaN,NaN
5,Brasil,352677842,323971242,354358797,158817946,331430245,172612299
6,Norte,12939504,11853378,12598976,4849345,11763955,6914610
7,Nordeste,55924325,51735623,55874467,23731711,52507437,28775725
8,Sudeste,201441245,184450412,204892007,93397965,191185289,97787324
9,Sul,55803140,51443693,54456801,24906436,51211512,26305077
10,Centro-Oeste,26569628,24488136,26536546,11932489,24762052,12829563
11,Empresas de 1 a 4 pessoas ocupadas,NaN,NaN,NaN,NaN,NaN,NaN
12,Brasil,23318699,21689953,22634859,7658324,21321510,13663186
13,Norte,1251080,1154418,1150518,376369,1046948,670579
14,Nordeste,3816437,3555865,3235256,1189631,3020878,1831247
15,Sudeste,9964639,9173067,10376446,3073711,9650667,6576956
16,Sul,6164502,5835277,5814951,2200674,5616222,3415548
17,Centro-Oeste,2122041,1971326,2057688,817939,1986795,1168856
18,Empresas com 5 ou mais pessoas ocupadas,NaN,NaN,NaN,NaN,NaN,NaN
19,Brasil,329359143,302281289,331723938,151159622,310108735,158949113
20,Norte,11688424,10698960,11448458,4472976,10717007,6244031
21,Rondônia,867644,807367,938655,277139,888036,610897
22,Acre,619316,567418,604072,240923,581721,340797
23,Amazonas,3036601,2748456,2943229,1255818,2766994,1511176
24,Roraima,308986,282053,284513,88842,264865,176024
25,Pará,4934434,4502991,5014256,2021968,4658708,2636740
26,Amapá,346636,327835,356114,91503,342075,250573
27,Tocantins,1574807,1462840,1307619,496783,1214608,717824
28,Nordeste,52107888,48179758,52639211,22542080,49486559,26944478
29,Maranhão,3708461,3388844,3710092,1555505,3481194,1925689
30,Piauí,2332488,2186954,2307697,1012345,2181330,1168985
31,Ceará,13424252,12582428,12776934,6338468,12093202,5754734
32,Rio Grande do Norte,3338326,3115750,4023877,1502040,3808131,2306090
33,Paraíba,3489347,3241235,3126578,1347515,2884988,1537473
34,Pernambuco,7883696,7187885,8541137,3218051,7915892,4697841
35,Alagoas,2106556,1992027,2031621,938572,1921266,982694
36,Sergipe,2682088,2465853,2875574,1139945,2628664,1488719
37,Bahia,13142674,12018782,13245701,5489639,12571892,7082253
38,Sudeste,191476606,175277345,194515561,90324254,181534622,91210368
39,Minas Gerais,41798581,37833792,40101693,17888999,36425294,18536295
40,Espírito Santo,5401948,4918338,5083752,2124553,4799192,2674639
41,Rio de Janeiro,38055272,35090696,38334844,19123936,36753143,17629207
42,São Paulo,106220805,97434519,110995272,51186766,103556993,52370227
43,Sul,49638638,45608416,48641850,22705762,45595290,22889529
44,Paraná,19263754,17846864,18992183,8946728,17789675,8842948
45,Santa Catarina,13593281,12398977,12925618,6108936,12214535,6105599
46,Rio Grande do Sul,16781603,15362575,16724049,7650098,15591080,7940982
47,Centro-Oeste,24447587,22516810,24478858,11114550,22775257,11660707
48,Mato Grosso do Sul,2547944,2356512,2433150,1105874,2299074,1193200
49,Mato Grosso,5352440,4962751,5238320,2572495,4916555,2344060
50,Goiás,9346030,8566730,9571145,4094935,8826080,4731145
51,Distrito Federal,7201173,6630817,7236243,3341246,6733548,3392302

In [121]:
linhas = [0,2,3]
for i in linhas:
    df2_3b = df2_3b.drop(i)
coluna = df2_3b.loc[1]
df2_3b.columns = coluna
df2_3b = df2_3b.drop(1)
#df2_3b.to_csv('df2_3b_limpa.csv')

### df3a (limpeza)

In [122]:
df3a

,"Tabela 3 - Emprego e salário das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda\nCNAE\n2.0,"Divisões, grupos\ne\nclasses de atividades",Número\nde\nempresas\nativas,Pessoal ocupado Em\n31.12,Pessoal ocupado Número\nmédio\nno ano,Pessoal ocupado Assalariado Ligado à\nconstrução,Pessoal ocupado Assalariado Não ligado à\ncons...,Pessoal ocupado Não assalariado Proprietários\...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,131487,2439429,2616384,2077154,212779,148331
5,NaN,Empresas de 1 a 4 pessoas ocupadas,67059,181085,199896,101461,11350,68264
6,41,Construção de edifícios,23758,70074,79504,41806,3895,24365
7,42,Obras de infraestrutura,4625,12679,14880,7172,542,4961
8,43,Serviços especializados para construção,38676,98332,105512,52483,6913,38938
9,NaN,Empresas de 5 a 29 pessoas ocupadas,51331,552822,562925,455271,37074,60558
10,41,Construção de edifícios,21371,236532,248060,195199,16680,24683
11,41.1,Incorporação e empreendimentos imobiliários,1606,13439,12984,9828,1884,1731
12,41.2,Construção de edifícios,19765,223093,235076,185371,14796,22952
13,42,Obras de infraestrutura,4619,51791,52338,41562,4841,5418
14,42.1,"Construção de rodovias, ferrovias, obras urban...",1506,17157,17702,13537,1838,1796
15,42.2,"Obras de infraestrutura para energia elétrica,...",1139,14657,14376,12229,1096,1347
16,42.9,Construção de outras obras de infraestrutura,1974,19977,20260,15796,1907,2275
17,43,Serviços especializados para construção,25341,264499,262527,218510,15553,30457
18,43.1,Demolição e preparação do terreno,2707,27817,28889,22068,2388,3353
19,43.2,"Instalações elétricas, hidráulicas e outras in...",8205,82466,80682,67527,4305,10659
20,43.3,Obras de acabamento,6855,66069,66292,55290,3709,7075
21,43.9,Outros serviços especializados para construções,7574,88147,86664,73625,5151,9370
22,NaN,Empresas com 30 ou mais pessoas ocupadas,13097,1705522,1853563,1520422,164355,19509
23,41,Construção de edifícios,6623,672476,741022,602039,60142,9579
24,41.1,Incorporação e empreendimentos imobiliários,294,14855,16512,12678,1864,303
25,41.10,Incorporação e empreendimentos imobiliários,294,14855,16512,12678,1864,303
26,41.2,Construção de edifícios,6329,657621,724510,589361,58278,9276
27,41.20,Construção de edifícios,6329,657621,724510,589361,58278,9276
28,42,Obras de infraestrutura,2576,644587,707740,571505,68746,4187
29,42.1,"Construção de rodovias, ferrovias, obras urban...",1034,265267,295516,228271,35114,1830
30,42.11,Construção de rodovias e ferrovias,675,181058,202963,155707,24104,1224
31,42.12,Construção de obras de arte especiais,61,38244,44297,36298,1803,137
32,42.13,"Obras de urbanização - ruas, praças e calçadas",298,45965,48256,36266,9207,469
33,42.2,"Obras de infraestrutura para energia elétrica,...",745,228227,247830,211599,15438,1155
34,42.21,Obras para geração e distribuição de energia e...,480,185751,201767,172257,12743,731
35,42.22,"Construção de redes de abastecimento de água, ...",239,34837,37320,32368,2073,382
36,42.23,"Construção de redes de transportes por dutos, ...",26,7639,8743,6974,622,42
37,42.9,Construção de outras obras de infraestrutura,797,151093,164394,131635,18194,1202
38,42.91,"Obras portuárias, marítimas e fluviais",34,7553,7733,6835,642,74
39,42.92,Montagem de instalações industriais e de estru...,262,75216,80090,64912,9922,364
40,42.99,Obras de engenharia civil não especificadas an...,501,68324,76571,59888,7630,764
41,43,Serviços especializados para construção,3898,388459,404801,346878,35467,5743
42,43.1,Demolição e preparação do terreno,499,47398,51951,40803,5781,767
43,43.11,Demolição e preparação de canteiros de obras,49,5820,6251,4677,1070,65
44,43.12,Perfurações e sondagens,57,5702,6309,4803,801,89
45,43.13,Obras de terraplenagem,373,34316,37603,30198,3499,589
46,43.19,Serviços de preparação do terreno não especifi...,20,1560,1788,1125,411,24
47,43.2,"Instalações elétricas, hidráulicas e outras in...",1227,152978,154403,136637,14340,1886
48,43.21,Instalações elétricas,677,82551,81606,75272,6229,1001
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",382,41581,42430,35944,4976,609
50,43.29,Obras de instalações em construções não especi...,168,28846,30367,25421,3135,276
51,43.3,Obras de acabamento,815,60482,61608,56174,3069,1162
52,43.30,Obras de acabamento,815,60482,61608,56174,3069,1162
53,43.9,Outros serviços especializados para construção,1357,127601,136839,113264,12277,1928
54,43.91,Obras de fundações,225,20680,23200,18163,2143,356
55,43.99,Serviços especializados para construção não es...,1132,106921,113639,95101,10134,1572

In [123]:
linhas = [0,2,3]
for i in linhas:
    df3a = df3a.drop(i)
coluna = df3a.loc[1]
df3a.columns = coluna
df3a = df3a.drop(1)
#df3a.to_csv('df3a_limpa.csv')

### df3b (limpeza)

In [175]:
df3b

,"Tabela 3 - Emprego e salário das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN
1,Códigos\nda\nCNAE\n2.0,"Divisões, grupos\ne\nclasses de atividades","Salários, retiradas e outras remunerações Tot...","Salários, retiradas e outras remunerações Pes...","Salários, retiradas e outras remunerações Pes...","Salários, retiradas e outras remunerações Pes..."
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,68577020,57247124,8247565,3082330
5,NaN,Empresas de 1 a 4 pessoas ocupadas,3122607,2060658,153215,908735
6,41,Construção de edifícios,1198513,816348,46810,335355
7,42,Obras de infraestrutura,247383,159351,9262,78771
8,43,Serviços especializados para construção,1676711,1084959,97143,494609
9,NaN,Empresas de 5 a 29 pessoas ocupadas,11155533,9215549,907403,1032582
10,41,Construção de edifícios,4993335,4087654,495360,410322
11,41.1,Incorporação e empreendimentos imobiliários,301897,206251,43018,52628
12,41.2,Construção de edifícios,4691438,3881403,452342,357694
13,42,Obras de infraestrutura,1111162,902775,100327,108060
14,42.1,"Construção de rodovias, ferrovias, obras urban...",371009,312011,32437,26561
15,42.2,"Obras de infraestrutura para energia elétrica,...",319045,261994,23194,33857
16,42.9,Construção de outras obras de infraestrutura,421108,328770,44696,47642
17,43,Serviços especializados para construção,5051036,4225120,311716,514200
18,43.1,Demolição e preparação do terreno,659340,541955,53581,63804
19,43.2,"Instalações elétricas, hidráulicas e outras in...",1693810,1412430,96611,184769
20,43.3,Obras de acabamento,1159820,926119,99848,133853
21,43.9,Outros serviços especializados para construções,1538066,1344616,61676,131774
22,NaN,Empresas com 30 ou mais pessoas ocupadas,54298880,45970917,7186947,1141013
23,41,Construção de edifícios,18302128,15099908,2649524,552696
24,41.1,Incorporação e empreendimentos imobiliários,527591,429688,72614,25289
25,41.10,Incorporação e empreendimentos imobiliários,527591,429688,72614,25289
26,41.2,Construção de edifícios,17774537,14670220,2576910,527407
27,41.20,Construção de edifícios,17774537,14670220,2576910,527407
28,42,Obras de infraestrutura,25025975,21517437,3189740,318798
29,42.1,"Construção de rodovias, ferrovias, obras urban...",10041927,8640105,1273483,128338
30,42.11,Construção de rodovias e ferrovias,7145535,6195250,860952,89332
31,42.12,Construção de obras de arte especiais,1609839,1431485,165954,12400
32,42.13,"Obras de urbanização - ruas, praças e calçadas",1286553,1013370,246577,26606
33,42.2,"Obras de infraestrutura para energia elétrica,...",8825541,7580205,1137370,107967
34,42.21,Obras para geração e distribuição de energia e...,7382769,6293719,1020203,68847
35,42.22,"Construção de redes de abastecimento de água, ...",1010278,920347,74362,15569
36,42.23,"Construção de redes de transportes por dutos, ...",432494,366139,42805,23551
37,42.9,Construção de outras obras de infraestrutura,6158507,5297127,778887,82493
38,42.91,"Obras portuárias, marítimas e fluviais",360949,304894,43846,12209
39,42.92,Montagem de instalações industriais e de estru...,3574936,3170016,377061,27859
40,42.99,Obras de engenharia civil não especificadas an...,2222622,1822217,357980,42425
41,43,Serviços especializados para construção,10970777,9353572,1347683,269519
42,43.1,Demolição e preparação do terreno,1510458,1268278,207858,34321
43,43.11,Demolição e preparação de canteiros de obras,187232,155765,29229,2237
44,43.12,Perfurações e sondagens,185776,147408,34060,4308
45,43.13,Obras de terraplenagem,1087063,924242,135715,27106
46,43.19,Serviços de preparação do terreno não especifi...,50387,40863,8854,670
47,43.2,"Instalações elétricas, hidráulicas e outras in...",4495681,3804258,593727,97696
48,43.21,Instalações elétricas,2207113,1932897,230513,43704
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",1107622,907720,165617,34285
50,43.29,Obras de instalações em construções não especi...,1180946,963641,197597,19707
51,43.3,Obras de acabamento,1259596,1147882,75176,36537
52,43.30,Obras de acabamento,1259596,1147882,75176,36537
53,43.9,Outros serviços especializados para construção,3705042,3133154,470922,100965
54,43.91,Obras de fundações,677961,570034,89468,18459
55,43.99,Serviços especializados para construção não es...,3027081,2563120,381454,82506

In [176]:
linhas = [0,2,3]
for i in linhas:
    df3b = df3b.drop(i)
coluna = df3b.loc[1]
df3b.columns = coluna
df3b = df3b.drop(1)
#df3b.to_csv('df3b_limpa.csv')

### df4 (limpeza)

In [126]:
df4

,"Tabela 4 - Gastos de pessoal das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda\nCNAE\n2.0,"Divisões, grupos\ne\nclasses de atividades",Número\nde\nempresas\nativas,Gastos de pessoal Total 1 000 R$,"Gastos de pessoal Salários,\nretiradas e\noutr...",Gastos de pessoal Contribui-\nções para\nprevi...,Gastos de pessoal FGTS 1 000 R$,Gastos de pessoal Contribui-\nções para\nprevi...,Gastos de pessoal Indeni-\nzações\ntrabalhista...,Gastos de pessoal Benefícios\nconcedidos\naos\...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total das empresas,131487,99690617,68577020,9913632,6100249,396024,4728314,9975381
4,NaN,Empresas de 1 a 4 pessoas ocupadas,67059,4011887,3122607,256568,193140,36510,274277,128783
5,41,Construção de edifícios,23758,1628934,1198513,136024,75394,4489,163711,50801
6,42,Obras de infraestrutura,4625,305488,247383,19445,14271,1011,13571,9807
7,43,Serviços especializados para construção,38676,2077465,1676711,101099,103475,31010,96995,68175
8,NaN,Empresas de 5 a 29 pessoas ocupadas,51331,14895426,11155533,1377722,901133,63296,653577,744168
9,41,Construção de edifícios,21371,6824637,4993335,800671,422072,32966,290814,284781
10,41.1,Incorporação e empreendimentos imobiliários,1606,423100,301897,71993,24181,424,11882,12725
11,41.2,Construção de edifícios,19765,6401537,4691438,728678,397891,32542,278932,272056
12,42,Obras de infraestrutura,4619,1486850,1111162,137713,85985,4189,71568,76233
13,42.1,"Construção de rodovias, ferrovias, obras urban...",1506,500117,371009,48953,28929,1165,29695,20365
14,42.2,"Obras de infraestrutura para energia elétrica,...",1139,432625,319045,40159,24672,488,21405,26856
15,42.9,Construção de outras obras de infraestrutura,1974,554108,421108,48601,32384,2536,20468,29012
16,43,Serviços especializados para construção,25341,6583939,5051036,439338,393076,26141,291195,383154
17,43.1,Demolição e preparação do terreno,2707,880789,659340,79385,51977,3409,49610,37068
18,43.2,"Instalações elétricas, hidráulicas e outras in...",8205,2230602,1693810,123971,132827,11705,84185,184105
19,43.3,Obras de acabamento,6855,1461580,1159820,84136,87513,5626,74400,50084
20,43.9,Outros serviços especializados para construções,7574,2010968,1538066,151846,120759,5401,83000,111897
21,NaN,Empresas com 30 ou mais pessoas ocupadas,13097,80783304,54298880,8279342,5005976,296218,3800460,9102430
22,41,Construção de edifícios,6623,27289988,18302128,3313401,1620794,98226,1315862,2639578
23,41.1,Incorporação e empreendimentos imobiliários,294,807562,527591,106750,45813,3276,56910,67223
24,41.10,Incorporação e empreendimentos imobiliários,294,807562,527591,106750,45813,3276,56910,67223
25,41.2,Construção de edifícios,6329,26482426,17774537,3206651,1574981,94950,1258952,2572355
26,41.20,Construção de edifícios,6329,26482426,17774537,3206651,1574981,94950,1258952,2572355
27,42,Obras de infraestrutura,2576,37440245,25025975,3380594,2414540,145834,1816284,4657019
28,42.1,"Construção de rodovias, ferrovias, obras urban...",1034,14919728,10041927,1398617,1017256,46768,710247,1704914
29,42.11,Construção de rodovias e ferrovias,675,10417569,7145535,941979,702085,26793,474402,1126775
30,42.12,Construção de obras de arte especiais,61,2592188,1609839,240000,203359,17823,173122,348046
31,42.13,"Obras de urbanização - ruas, praças e calçadas",298,1909971,1286553,216638,111812,2152,62723,230093
32,42.2,"Obras de infraestrutura para energia elétrica,...",745,13222468,8825541,1204330,804007,65299,657112,1666178
33,42.21,Obras para geração e distribuição de energia e...,480,11043984,7382769,968264,661038,61902,555301,1414710
34,42.22,"Construção de redes de abastecimento de água, ...",239,1502098,1010278,171208,92153,1169,72761,154529
35,42.23,"Construção de redes de transportes por dutos, ...",26,676386,432494,64858,50816,2228,29050,96939
36,42.9,Construção de outras obras de infraestrutura,797,9298049,6158507,777647,593277,33767,448925,1285927
37,42.91,"Obras portuárias, marítimas e fluviais",34,565326,360949,71135,33732,60,22188,77263
38,42.92,Montagem de instalações industriais e de estru...,262,5460197,3574936,374680,351317,4416,283673,871175
39,42.99,Obras de engenharia civil não especificadas an...,501,3272526,2222622,331832,208228,29291,143064,337489
40,43,Serviços especializados para construção,3898,16053071,10970777,1585347,970642,52158,668314,1805833
41,43.1,Demolição e preparação do terreno,499,2243615,1510458,221736,139011,13193,112863,246353
42,43.11,Demolição e preparação de canteiros de obras,49,299873,187232,28919,19641,4376,19076,40629
43,43.12,Perfurações e sondagens,57,303826,185776,27494,16174,2052,25803,46526
44,43.13,Obras de terraplenagem,373,1565307,1087063,157841,98526,6595,64070,151212
45,43.19,Serviços de preparação do terreno não especifi...,20,74609,50387,7482,4670,170,3914,7986
46,43.2,"Instalações elétricas, hidráulicas e outras in...",1227,6571288,4495681,635662,395097,15531,225508,803809
47,43.21,Instalações elétricas,677,3194267,2207113,315201,189615,7438,96883,378017
48,43.22,"Instalações hidráulicas, de sistemas de ventil...",382,1633969,1107622,164011,96234,4335,55545,206221
49,43.29,Obras de instalações em construções não especi...,168,1743052,1180946,156450,109248,3758,73080,219571
50,43.3,Obras de acabamento,815,1755566,1259596,163675,103555,6341,72218,150182
51,43.30,Obras de acabamento,815,1755566,1259596,163675,103555,6341,72218,150182
52,43.9,Outros serviços especializados para construção,1357,5482602,3705042,564274,332979,17093,257725,605489
53,43.91,Obras de fundações,225,980014,677961,94261,64263,1110,37142,105277
54,43.99,Serviços especializados para construção não es...,1132,4502588,3027081,470013,268716,15983,220583,500212

In [127]:
linhas = [0,2]
for i in linhas:
    df4 = df4.drop(i)
coluna = df4.loc[1]
df4.columns = coluna
df4 = df4.drop(1)
#df4.to_csv('df4_limpa.csv')

### df5a

In [128]:
df5a

,"Tabela 5 - Estrutura das receitas das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"segundo as divisões, os grupos e as classes d...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Número\nde\nempresas\nativas,Receita bruta Total\n(1) 1 000 R$,Receita bruta Obras e/ou\nserviços da\nconstru...,"Receita bruta Incorporações\nde imóveis,\ncons...",Receita bruta Serviços\ntécnicos de\nescritóri...,Receita bruta Venda de\nmateriais de\nconstruç...,Receita bruta Revenda\nde\nimóveis 1 000 R$,Receita bruta Locação\nde\nmão de obra 1 000 R$
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total das empresas,131487,352677843,329286584,16409772,336418,2353529,1268395,346428
6,NaN,Empresas de 1 a 4 pessoas ocupadas,67059,23318699,19578879,3195540,6207,148992,24775,5611
7,41,Construção de edifícios,23758,13154333,9884081,3186673,1370,60535,17715,1444
8,42,Obras de infraestrutura,4625,1779480,1731172,6762,794,31214,388,3186
9,43,Serviços especializados para construção,38676,8384886,7963626,2105,4043,57243,6672,981
10,NaN,Empresas de 5 a 29 pessoas ocupadas,51331,59760850,53243576,4883678,80509,224372,579590,72349
11,41,Construção de edifícios,21371,34378917,28767008,4859125,32958,66793,564542,25220
12,41.1,Incorporação e empreendimentos imobiliários,1606,5100329,42201,4786667,5822,9737,242582,9089
13,41.2,Construção de edifícios,19765,29278588,28724807,72458,27136,57056,321960,16131
14,42,Obras de infraestrutura,4619,6263128,5998019,3146,5881,48915,10072,17647
15,42.1,"Construção de rodovias, ferrovias, obras urban...",1506,2595898,2416808,2930,3627,12689,9592,15492
16,42.2,"Obras de infraestrutura para energia elétrica,...",1139,1712022,1666307,152,2250,33484,480,950
17,42.9,Construção de outras obras de infraestrutura,1974,1955208,1914904,64,4,2742,-,1205
18,43,Serviços especializados para construção,25341,19118805,18478549,21407,41670,108664,4976,29482
19,43.1,Demolição e preparação do terreno,2707,3054911,2947712,5746,36883,1850,498,10537
20,43.2,"Instalações elétricas, hidráulicas e outras in...",8205,5982291,5731486,14164,3882,20332,-,17715
21,43.3,Obras de acabamento,6855,4085290,4001142,17,408,48729,-,1029
22,43.9,Outros serviços especializados para construções,7574,5996313,5798209,1480,497,37753,4478,201
23,NaN,Empresas com 30 ou mais pessoas ocupadas,13097,269598294,256464129,8330554,249702,1980165,664030,268468
24,41,Construção de edifícios,6623,113295044,103810006,8277930,71592,146025,505844,96830
25,41.1,Incorporação e empreendimentos imobiliários,294,8112642,44458,7965790,7687,1,61409,2
26,41.10,Incorporação e empreendimentos imobiliários,294,8112642,44458,7965790,7687,1,61409,2
27,41.2,Construção de edifícios,6329,105182402,103765548,312140,63905,146024,444435,96828
28,41.20,Construção de edifícios,6329,105182402,103765548,312140,63905,146024,444435,96828
29,42,Obras de infraestrutura,2576,113587752,110933764,38587,117247,1528536,98997,36575
30,42.1,"Construção de rodovias, ferrovias, obras urban...",1034,52385026,51381138,20156,24814,417116,86149,19886
31,42.11,Construção de rodovias e ferrovias,675,36794987,36121951,7483,23099,248832,40476,17203
32,42.12,Construção de obras de arte especiais,61,9968044,9804074,9828,443,136664,2303,1150
33,42.13,"Obras de urbanização - ruas, praças e calçadas",298,5621995,5455113,2845,1272,31620,43370,1533
34,42.2,"Obras de infraestrutura para energia elétrica,...",745,36054472,34709083,15257,74475,976034,7773,3439
35,42.21,Obras para geração e distribuição de energia e...,480,27530016,26374391,3221,58225,951069,270,3265
36,42.22,"Construção de redes de abastecimento de água, ...",239,6152005,6023011,12036,6087,4414,7212,174
37,42.23,"Construção de redes de transportes por dutos, ...",26,2372451,2311681,-,10163,20551,291,-
38,42.9,Construção de outras obras de infraestrutura,797,25148254,24843543,3174,17958,135386,5075,13250
39,42.91,"Obras portuárias, marítimas e fluviais",34,2606145,2585582,-,1289,334,279,-
40,42.92,Montagem de instalações industriais e de estru...,262,11910187,11788124,25,7499,50891,352,1992
41,42.99,Obras de engenharia civil não especificadas an...,501,10631922,10469837,3149,9170,84161,4444,11258
42,43,Serviços especializados para construção,3898,42715498,41720359,14037,60863,305604,59189,135063
43,43.1,Demolição e preparação do terreno,499,8416078,8308914,660,1143,32649,13264,8537
44,43.11,Demolição e preparação de canteiros de obras,49,1117790,1104066,74,902,1863,8736,2149
45,43.12,Perfurações e sondagens,57,782709,776029,-,-,-,205,-
46,43.13,Obras de terraplenagem,373,6253657,6183229,586,241,15170,4323,6388
47,43.19,Serviços de preparação do terreno não especifi...,20,261922,245590,-,-,15616,-,-
48,43.2,"Instalações elétricas, hidráulicas e outras in...",1227,16538802,16020736,2803,29107,161994,5102,61428
49,43.21,Instalações elétricas,677,7712848,7471301,2473,13369,105022,-,15576
50,43.22,"Instalações hidráulicas, de sistemas de ventil...",382,4473377,4265090,237,12189,39624,1078,41200
51,43.29,Obras de instalações em construções não especi...,168,4352577,4284345,93,3549,17348,4024,4652
52,43.3,Obras de acabamento,815,3790996,3706979,129,1983,51734,12477,1383
53,43.30,Obras de acabamento,815,3790996,3706979,129,1983,51734,12477,1383
54,43.9,Outros serviços especializados para construção,1357,13969622,13683730,10445,28630,59227,28346,63715
55,43.91,Obras de fundações,225,2936482,2895148,2067,130,27731,-,7154
56,43.99,Serviços especializados para construção não es...,1132,11033140,10788582,8378,28500,31496,28346,56561

In [129]:
linhas = [0,2,3,4]
for i in linhas:
    df5a = df5a.drop(i)
coluna = df5a.loc[1]
df5a.columns = coluna
df5a = df5a.drop(1)
#df5a.to_csv('df5a_limpa.csv')

### df5b

In [130]:
df5b

,"Tabela 5 - Estrutura das receitas das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,"segundo as divisões, os grupos e as classes d...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\n classes de atividades",Deduções 1 000 R$,Receita\nlíquida 1 000 R$,Receita de\naluguéis e\narrendamentos 1 000 R$,Receitas\nfinanceiras 1 000 R$,Demais\nreceitas\noperacionais\n(2) 1 000 R$,Outras\nreceitas 1 000 R$,Receitas de obras\ne/ou serviços\nda construçã...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total das empresas,28706601,323971241,2010448,7565901,19724063,5182159,567781
6,NaN,Empresas de 1 a 4 pessoas ocupadas,1628746,21689955,179669,254258,86091,148947,7
7,41,Construção de edifícios,946695,12207638,150184,137217,63911,104309,3
8,42,Obras de infraestrutura,123444,1656037,3466,12211,16426,4226,-
9,43,Serviços especializados para construção,558607,7826280,26019,104830,5754,40412,4
10,NaN,Empresas de 5 a 29 pessoas ocupadas,4790497,54970353,443484,633342,885203,385501,14929
11,41,Construção de edifícios,2532715,31846201,255629,363166,330703,273537,7
12,41.1,Incorporação e empreendimentos imobiliários,599064,4501264,23045,54215,163731,135726,-
13,41.2,Construção de edifícios,1933651,27344937,232584,308951,166972,137811,7
14,42,Obras de infraestrutura,465864,5797264,52075,82050,220671,17206,342
15,42.1,"Construção de rodovias, ferrovias, obras urban...",161243,2434655,17268,14042,5832,2354,-
16,42.2,"Obras de infraestrutura para energia elétrica,...",160899,1551123,5686,12844,10128,13287,341
17,42.9,Construção de outras obras de infraestrutura,143722,1811486,29121,55164,204711,1565,1
18,43,Serviços especializados para construção,1791918,17326888,135780,188126,333829,94758,14580
19,43.1,Demolição e preparação do terreno,249941,2804971,75591,18709,101631,32832,-
20,43.2,"Instalações elétricas, hidráulicas e outras in...",629237,5353054,11836,125578,22819,6171,14580
21,43.3,Obras de acabamento,377236,3708054,69,1239,17877,23507,-
22,43.9,Outros serviços especializados para construções,535504,5460809,48284,42600,191502,32248,-
23,NaN,Empresas com 30 ou mais pessoas ocupadas,22287358,247310933,1387295,6678301,18752769,4647711,552845
24,41,Construção de edifícios,9149066,104145978,867511,3327115,6308482,2115353,6723
25,41.1,Incorporação e empreendimentos imobiliários,722604,7390038,81748,247331,745252,241262,-
26,41.10,Incorporação e empreendimentos imobiliários,722604,7390038,81748,247331,745252,241262,-
27,41.2,Construção de edifícios,8426462,96755940,785763,3079784,5563230,1874091,6723
28,41.20,Construção de edifícios,8426462,96755940,785763,3079784,5563230,1874091,6723
29,42,Obras de infraestrutura,9027244,104560508,290182,2544786,11547030,1923477,521898
30,42.1,"Construção de rodovias, ferrovias, obras urban...",4137947,48247079,108892,1140956,4490368,917417,129596
31,42.11,Construção de rodovias e ferrovias,2875527,33919460,82787,886184,2497942,564925,102424
32,42.12,Construção de obras de arte especiais,718409,9249635,7078,158276,1367071,72135,27172
33,42.13,"Obras de urbanização - ruas, praças e calçadas",544011,5077984,19027,96496,625355,280357,-
34,42.2,"Obras de infraestrutura para energia elétrica,...",2865733,33188739,123167,934475,6365825,530967,23873
35,42.21,Obras para geração e distribuição de energia e...,2260522,25269494,90647,686774,6215430,467451,23873
36,42.22,"Construção de redes de abastecimento de água, ...",437756,5714249,31759,218767,81424,56101,-
37,42.23,"Construção de redes de transportes por dutos, ...",167455,2204996,761,28934,68971,7415,-
38,42.9,Construção de outras obras de infraestrutura,2023564,23124690,58123,469355,690837,475093,368429
39,42.91,"Obras portuárias, marítimas e fluviais",176899,2429246,476,68577,111210,13203,1328
40,42.92,Montagem de instalações industriais e de estru...,998397,10911790,35389,248875,140105,271855,358507
41,42.99,Obras de engenharia civil não especificadas an...,848268,9783654,22258,151903,439522,190035,8594
42,43,Serviços especializados para construção,4111048,38604447,229602,806400,897257,608881,24224
43,43.1,Demolição e preparação do terreno,730986,7685091,112297,238833,180978,104243,3555
44,43.11,Demolição e preparação de canteiros de obras,116566,1001224,17883,8708,11101,5348,3555
45,43.12,Perfurações e sondagens,80567,702141,87,23593,13686,35334,-
46,43.13,Obras de terraplenagem,506571,5747086,94327,205152,154547,63400,-
47,43.19,Serviços de preparação do terreno não especifi...,27282,234640,-,1380,1644,161,-
48,43.2,"Instalações elétricas, hidráulicas e outras in...",1807851,14730950,20810,160462,297593,40307,4034
49,43.21,Instalações elétricas,783217,6929630,10312,58222,40888,22528,3855
50,43.22,"Instalações hidráulicas, de sistemas de ventil...",487819,3985558,6166,36610,22102,6798,-
51,43.29,Obras de instalações em construções não especi...,536815,3815762,4332,65630,234603,10981,179
52,43.3,Obras de acabamento,357370,3433625,26887,21461,49996,7257,1
53,43.30,Obras de acabamento,357370,3433625,26887,21461,49996,7257,1
54,43.9,Outros serviços especializados para construção,1214841,12754781,69608,385644,368690,457074,16634
55,43.91,Obras de fundações,252116,2684366,12735,41831,32949,15312,5246
56,43.99,Serviços especializados para construção não es...,962725,10070415,56873,343813,335741,441762,11388

In [131]:
linhas = [0,2,3,4]
for i in linhas:
    df5b = df5b.drop(i)
coluna = df5b.loc[1]
df5b.columns = coluna
df5b = df5b.drop(1)
#df5b.to_csv('df5b_limpa.csv')

### df6a1 (limpeza)

In [132]:
df6a1

,"Tabela 6 - Estrutura dos custos e despesas das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"segundo as divisões, os grupos e as classes d...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda\nCNAE\n2.0,"Divisões, grupos\ne\nclasses de atividades",Número\nde\nempresas\nativas,Custos e despesas Total 1 000 R$,Custos e despesas Custos das obras e/ou serviç...,Custos e despesas Custos das obras e/ou serviç...,Custos e despesas Custos das obras e/ou serviç...,Custos e despesas Custos das obras e/ou serviç...,Custos e despesas Custos das obras e/ou serviç...,Custos e despesas Custos das obras e/ou serviç...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,131487,299205735,113565940,67120239,6996467,30354144,6748331,2346757
5,NaN,Empresas de 1 a 4 pessoas ocupadas,67059,13050281,4820435,3183258,316991,848639,220531,251015
6,41,Construção de edifícios,23758,7387768,3022682,2056409,58199,705420,62859,139794
7,42,Obras de infraestrutura,4625,960042,362630,197653,27629,36079,14656,86613
8,43,Serviços especializados para construção,38676,4702471,1435123,929196,231163,107140,143016,24608
9,NaN,Empresas de 5 a 29 pessoas ocupadas,51331,41050887,15474581,11256985,952295,2007532,820947,436823
10,41,Construção de edifícios,21371,24205532,10024597,7608447,196618,1447945,414110,357477
11,41.1,Incorporação e empreendimentos imobiliários,1606,3754587,4654,1535,2290,45,773,11
12,41.2,Construção de edifícios,19765,20450945,10019943,7606912,194328,1447900,413337,357466
13,42,Obras de infraestrutura,4619,4081827,1704341,1200883,200173,196622,102890,3773
14,42.1,"Construção de rodovias, ferrovias, obras urban...",1506,1707337,809432,541595,109328,103655,52104,2750
15,42.2,"Obras de infraestrutura para energia elétrica,...",1139,1070809,394280,293228,39088,35555,25743,666
16,42.9,Construção de outras obras de infraestrutura,1974,1303681,500629,366060,51757,57412,25043,357
17,43,Serviços especializados para construção,25341,12763528,3745643,2447655,555504,362965,303947,75573
18,43.1,Demolição e preparação do terreno,2707,2292324,850929,251864,299158,131959,157504,10444
19,43.2,"Instalações elétricas, hidráulicas e outras in...",8205,3981057,886749,685143,93824,63353,44397,33
20,43.3,Obras de acabamento,6855,2451145,540820,377741,26595,49842,23316,63326
21,43.9,Outros serviços especializados para construções,7574,4039002,1467145,1132907,135927,117811,78730,1770
22,NaN,Empresas com 30 ou mais pessoas ocupadas,13097,245104567,93270924,52679996,5727181,27497973,5706853,1658919
23,41,Construção de edifícios,6623,96615012,42710247,26325874,907072,12487331,1463639,1526332
24,41.1,Incorporação e empreendimentos imobiliários,294,6042735,9592,3333,528,1786,3795,150
25,41.10,Incorporação e empreendimentos imobiliários,294,6042735,9592,3333,528,1786,3795,150
26,41.2,Construção de edifícios,6329,90572277,42700655,26322541,906544,12485545,1459844,1526182
27,41.20,Construção de edifícios,6329,90572277,42700655,26322541,906544,12485545,1459844,1526182
28,42,Obras de infraestrutura,2576,113345655,39690214,20281507,3771852,12571558,3020344,44951
29,42.1,"Construção de rodovias, ferrovias, obras urban...",1034,51049310,20234638,10246772,2094797,6456814,1419892,16362
30,42.11,Construção de rodovias e ferrovias,675,36317572,14493422,7403676,1663197,4453840,965573,7136
31,42.12,Construção de obras de arte especiais,61,9803950,3816236,1813968,193693,1551594,256387,594
32,42.13,"Obras de urbanização - ruas, praças e calçadas",298,4927788,1924980,1029128,237907,451380,197932,8632
33,42.2,"Obras de infraestrutura para energia elétrica,...",745,39061450,11504404,6297745,1231119,3122324,843818,9397
34,42.21,Obras para geração e distribuição de energia e...,480,31614002,8317133,4539215,959708,2196646,618477,3087
35,42.22,"Construção de redes de abastecimento de água, ...",239,5482250,2334945,1417393,216224,513490,181527,6310
36,42.23,"Construção de redes de transportes por dutos, ...",26,1965198,852326,341137,55187,412188,43814,-
37,42.9,Construção de outras obras de infraestrutura,797,23234895,7951172,3736990,445936,2992420,756634,19192
38,42.91,"Obras portuárias, marítimas e fluviais",34,2559058,863721,238559,109630,246967,268151,415
39,42.92,Montagem de instalações industriais e de estru...,262,11650760,3511645,1352951,115616,1865811,176260,1006
40,42.99,Obras de engenharia civil não especificadas an...,501,9025077,3575806,2145480,220690,879642,312223,17771
41,43,Serviços especializados para construção,3898,35143900,10870463,6072615,1048257,2439084,1222870,87636
42,43.1,Demolição e preparação do terreno,499,6922824,2674839,1243329,504253,418568,455286,53403
43,43.11,Demolição e preparação de canteiros de obras,49,756457,218305,35400,36713,53921,40682,51588
44,43.12,Perfurações e sondagens,57,726483,173894,88717,31923,21658,31269,328
45,43.13,Obras de terraplenagem,373,5239747,2195069,1088891,413934,330632,360282,1330
46,43.19,Serviços de preparação do terreno não especifi...,20,200137,87571,30321,21683,12357,23053,157
47,43.2,"Instalações elétricas, hidráulicas e outras in...",1227,13336465,3771823,2132556,213466,1076199,345526,4076
48,43.21,Instalações elétricas,677,6109723,1681031,978460,132856,446018,120661,3036
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",382,3304901,1078101,565864,34493,397273,79465,1006
50,43.29,Obras de instalações em construções não especi...,168,3921841,1012691,588232,46117,232908,145400,34
51,43.3,Obras de acabamento,815,2974995,833454,426182,46354,298141,62573,204
52,43.30,Obras de acabamento,815,2974995,833454,426182,46354,298141,62573,204
53,43.9,Outros serviços especializados para construção,1357,11909616,3590347,2270548,284184,646176,359485,29953
54,43.91,Obras de fundações,225,2367489,659653,339649,81150,107848,128891,2114
55,43.99,Serviços especializados para construção não es...,1132,9542127,2930694,1930899,203034,538328,230594,27839

In [133]:
linhas = [0,2,3]
for i in linhas:
    df6a1 = df6a1.drop(i)
coluna = df6a1.loc[1]
df6a1.columns = coluna
df6a1 = df6a1.drop(1)
#df6a1.to_csv('df6a1_limpa.csv')

### df6a2 (limpeza

In [134]:
df6a2

,"Tabela 6 - Estrutura dos custos e despesas das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"segundo as divisões, os grupos e as classes d...",NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda\nCNAE\n2.0,"Divisões, grupos\ne\nclasses de atividades",Custos e despesas Custos de incorporação de im...,Custos e despesas Custos de incorporação de im...,Custos e despesas Custos de incorporação de im...,Custos e despesas Custos de incorporação de im...,Custos e despesas Custos de incorporação de im...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,7638073,2253484,4144643,372820,867128
5,NaN,Empresas de 1 a 4 pessoas ocupadas,1403018,226887,869884,148710,157538
6,41,Construção de edifícios,1382903,214750,869462,143763,154928
7,42,Obras de infraestrutura,4592,2199,146,192,2055
8,43,Serviços especializados para construção,15523,9938,276,4755,555
9,NaN,Empresas de 5 a 29 pessoas ocupadas,2111019,452222,1155632,34981,468185
10,41,Construção de edifícios,2082972,444297,1135970,34523,468183
11,41.1,Incorporação e empreendimentos imobiliários,1918813,351937,1098493,8794,459590
12,41.2,Construção de edifícios,164159,92360,37477,25729,8593
13,42,Obras de infraestrutura,691,201,401,89,-
14,42.1,"Construção de rodovias, ferrovias, obras urban...",124,58,24,42,-
15,42.2,"Obras de infraestrutura para energia elétrica,...",167,127,40,-,-
16,42.9,Construção de outras obras de infraestrutura,400,16,337,47,-
17,43,Serviços especializados para construção,27356,7724,19261,369,2
18,43.1,Demolição e preparação do terreno,20119,919,19015,185,-
19,43.2,"Instalações elétricas, hidráulicas e outras in...",1809,1631,112,66,-
20,43.3,Obras de acabamento,575,552,3,18,2
21,43.9,Outros serviços especializados para construções,4853,4622,131,100,-
22,NaN,Empresas com 30 ou mais pessoas ocupadas,4124036,1574375,2119127,189129,241405
23,41,Construção de edifícios,4070430,1540158,2108369,186743,235160
24,41.1,Incorporação e empreendimentos imobiliários,3595896,1280687,1975306,132707,207196
25,41.10,Incorporação e empreendimentos imobiliários,3595896,1280687,1975306,132707,207196
26,41.2,Construção de edifícios,474534,259471,133063,54036,27964
27,41.20,Construção de edifícios,474534,259471,133063,54036,27964
28,42,Obras de infraestrutura,30503,16080,9017,967,4440
29,42.1,"Construção de rodovias, ferrovias, obras urban...",15626,8140,2427,954,4105
30,42.11,Construção de rodovias e ferrovias,6187,2482,647,358,2700
31,42.12,Construção de obras de arte especiais,3725,1352,893,507,973
32,42.13,"Obras de urbanização - ruas, praças e calçadas",5714,4306,887,89,432
33,42.2,"Obras de infraestrutura para energia elétrica,...",10369,6002,4033,-,335
34,42.21,Obras para geração e distribuição de energia e...,2312,2177,-,-,135
35,42.22,"Construção de redes de abastecimento de água, ...",8057,3825,4033,-,200
36,42.23,"Construção de redes de transportes por dutos, ...",-,-,-,-,-
37,42.9,Construção de outras obras de infraestrutura,4508,1938,2557,13,-
38,42.91,"Obras portuárias, marítimas e fluviais",-,-,-,-,-
39,42.92,Montagem de instalações industriais e de estru...,1707,81,1613,13,-
40,42.99,Obras de engenharia civil não especificadas an...,2801,1857,944,-,-
41,43,Serviços especializados para construção,23103,18137,1741,1419,1805
42,43.1,Demolição e preparação do terreno,609,485,3,121,-
43,43.11,Demolição e preparação de canteiros de obras,4,1,3,-,-
44,43.12,Perfurações e sondagens,1,1,-,-,-
45,43.13,Obras de terraplenagem,604,483,-,121,-
46,43.19,Serviços de preparação do terreno não especifi...,-,-,-,-,-
47,43.2,"Instalações elétricas, hidráulicas e outras in...",2440,1693,338,409,-
48,43.21,Instalações elétricas,1529,804,338,387,-
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",894,872,-,22,-
50,43.29,Obras de instalações em construções não especi...,17,17,-,-,-
51,43.3,Obras de acabamento,1554,1533,5,15,-
52,43.30,Obras de acabamento,1554,1533,5,15,-
53,43.9,Outros serviços especializados para construção,18500,14426,1395,874,1805
54,43.91,Obras de fundações,5872,4998,808,66,-
55,43.99,Serviços especializados para construção não es...,12628,9428,587,808,1805

In [135]:
linhas = [0,2,3]
for i in linhas:
    df6a2 = df6a2.drop(i)
coluna = df6a2.loc[1]
df6a2.columns = coluna
df6a2 = df6a2.drop(1)
#df6a2.to_csv('df6a2_limpa.csv')

### df6b (limpeza)

In [136]:
df6b

,"Tabela 6 - Estrutura dos custos e despesas das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"segundo as divisões, os grupos e as classes d...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda\nCNAE\n2.0,"Divisões,grupos\ne\nclasses de atividades",Custos e despesas Gastos\nde\npessoal 1 000 R$,Custos e despesas Outros custos e despesas Tot...,Custos e despesas Outros custos e despesas Alu...,Custos e despesas Outros custos e despesas Des...,Custos e despesas Outros custos e despesas Dep...,Custos e despesas Outros custos e despesas Des...,Custos e despesas Outros custos e despesas Fre...,Custos e despesas Outros custos e despesas Imp...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,99690617,78311100,10402486,356261,5202984,1413842,1093195,3254017
5,NaN,Empresas de 1 a 4 pessoas ocupadas,4011887,2814941,233996,10002,198895,122815,32081,179442
6,41,Construção de edifícios,1628934,1353251,108019,1570,85097,114836,15305,113889
7,42,Obras de infraestrutura,305488,287331,22475,389,13127,1941,4570,16438
8,43,Serviços especializados para construção,2077465,1174359,103502,8043,100671,6038,12206,49115
9,NaN,Empresas de 5 a 29 pessoas ocupadas,14895426,8569862,713634,22775,705733,195474,83483,537812
10,41,Construção de edifícios,6824637,5273326,401133,296,292436,173892,35810,375360
11,41.1,Incorporação e empreendimentos imobiliários,423100,1408020,57376,-,132830,77629,764,82853
12,41.2,Construção de edifícios,6401537,3865306,343757,296,159606,96263,35046,292507
13,42,Obras de infraestrutura,1486850,889946,81507,4090,152150,4126,17483,54526
14,42.1,"Construção de rodovias, ferrovias, obras urban...",500117,397664,29324,2443,97790,1092,11810,23136
15,42.2,"Obras de infraestrutura para energia elétrica,...",432625,243738,23538,1490,30427,2510,4024,15334
16,42.9,Construção de outras obras de infraestrutura,554108,248544,28645,157,23933,524,1649,16056
17,43,Serviços especializados para construção,6583939,2406590,230994,18389,261147,17456,30190,107926
18,43.1,Demolição e preparação do terreno,880789,540487,70022,597,165316,1881,9137,30138
19,43.2,"Instalações elétricas, hidráulicas e outras in...",2230602,861896,81320,16827,29477,3855,8306,34787
20,43.3,Obras de acabamento,1461580,448171,31350,421,9702,8904,2127,11304
21,43.9,Outros serviços especializados para construções,2010968,556036,48302,544,56652,2816,10620,31697
22,NaN,Empresas com 30 ou mais pessoas ocupadas,80783304,66926297,9454856,323484,4298356,1095553,977631,2536763
23,41,Construção de edifícios,27289988,22544346,1913246,51613,958466,939684,199397,1259532
24,41.1,Incorporação e empreendimentos imobiliários,807562,1629685,48487,1267,32379,142636,4465,96537
25,41.10,Incorporação e empreendimentos imobiliários,807562,1629685,48487,1267,32379,142636,4465,96537
26,41.2,Construção de edifícios,26482426,20914661,1864759,50346,926087,797048,194932,1162995
27,41.20,Construção de edifícios,26482426,20914661,1864759,50346,926087,797048,194932,1162995
28,42,Obras de infraestrutura,37440245,36184689,6245701,193654,2567119,111977,572692,903353
29,42.1,"Construção de rodovias, ferrovias, obras urban...",14919728,15879317,2829940,126209,1434814,51848,353731,412346
30,42.11,Construção de rodovias e ferrovias,10417569,11400394,2219294,116764,1068171,20698,239190,315020
31,42.12,Construção de obras de arte especiais,2592188,3391800,465380,2482,236453,1329,75093,49628
32,42.13,"Obras de urbanização - ruas, praças e calçadas",1909971,1087123,145266,6963,130190,29821,39448,47698
33,42.2,"Obras de infraestrutura para energia elétrica,...",13222468,14324208,1892598,50010,719568,43239,128134,329680
34,42.21,Obras para geração e distribuição de energia e...,11043984,12250573,1503664,40572,599782,38354,88422,141528
35,42.22,"Construção de redes de abastecimento de água, ...",1502098,1637149,254797,5462,88081,3363,31109,169338
36,42.23,"Construção de redes de transportes por dutos, ...",676386,436486,134137,3976,31705,1522,8603,18814
37,42.9,Construção de outras obras de infraestrutura,9298049,5981164,1523163,17435,412737,16890,90827,161327
38,42.91,"Obras portuárias, marítimas e fluviais",565326,1130010,486527,423,45859,3234,17140,33356
39,42.92,Montagem de instalações industriais e de estru...,5460197,2677210,641339,1605,162109,8334,40124,51499
40,42.99,Obras de engenharia civil não especificadas an...,3272526,2173944,395297,15407,204769,5322,33563,76472
41,43,Serviços especializados para construção,16053071,8197262,1295909,78217,772771,43892,205542,373878
42,43.1,Demolição e preparação do terreno,2243615,2003760,338810,17956,356753,3059,58529,81872
43,43.11,Demolição e preparação de canteiros de obras,299873,238274,61439,458,31159,528,4397,16639
44,43.12,Perfurações e sondagens,303826,248762,53666,852,30731,716,9478,8679
45,43.13,Obras de terraplenagem,1565307,1478767,220958,16646,279025,1722,43956,53726
46,43.19,Serviços de preparação do terreno não especifi...,74609,37957,2747,-,15838,93,698,2828
47,43.2,"Instalações elétricas, hidráulicas e outras in...",6571288,2990914,452454,15062,136762,20248,54692,153007
48,43.21,Instalações elétricas,3194267,1232896,239264,11052,61544,13908,16671,81688
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",1633969,591937,60431,3022,26951,2499,13313,38461
50,43.29,Obras de instalações em construções não especi...,1743052,1166081,152759,988,48267,3841,24708,32858
51,43.3,Obras de acabamento,1755566,384421,60122,7997,15105,3110,8466,25658
52,43.30,Obras de acabamento,1755566,384421,60122,7997,15105,3110,8466,25658
53,43.9,Outros serviços especializados para construção,5482602,2818167,444523,37202,264151,17475,83855,113341
54,43.91,Obras de fundações,980014,721950,124076,14754,96539,3947,44331,28156
55,43.99,Serviços especializados para construção não es...,4502588,2096217,320447,22448,167612,13528,39524,85185

In [137]:
linhas = [0,2,3]
for i in linhas:
    df6b = df6b.drop(i)
coluna = df6b.loc[1]
df6b.columns = coluna
df6b = df6b.drop(1)
#df6b.to_csv('df6b_limpa.csv')

### df6c

In [138]:
df6c

,"Tabela 6 - Estrutura dos custos e despesas das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,"segundo as divisões, os grupos e as classes d...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos\ne \nclasses de atividades",Custos e despesas Outros custos e despesas Prê...,Custos e despesas Outros custos e despesas Var...,Custos e despesas Outros custos e despesas Des...,Custos e despesas Outros custos e despesas Cus...,Custos e despesas Outros custos e despesas Res...,Custos e despesas Outros custos e despesas Com...,Custos e despesas Outros custos e despesas Ser...,Custos e despesas Outros custos e despesas Dem...,Custos e despesas Outros custos e despesas Out...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,782832,6530514,11938933,1261199,3112993,1157149,12264275,13179865,6286696
5,NaN,Empresas de 1 a 4 pessoas ocupadas,17661,70367,225831,200956,1002,90608,493421,732400,205371
6,41,Construção de edifícios,6606,68655,162917,81335,4,73991,230390,270565,20067
7,42,Obras de infraestrutura,1771,35,15426,118886,50,549,40805,48950,1853
8,43,Serviços especializados para construção,9284,1677,47488,735,948,16068,222226,412885,183451
9,NaN,Empresas de 5 a 29 pessoas ocupadas,80067,65185,1577127,224436,14801,215546,1345887,2209643,574036
10,41,Construção de edifícios,34502,53820,1213436,204495,10090,201110,606643,1198865,468035
11,41.1,Incorporação e empreendimentos imobiliários,5418,4433,717990,32581,-,39076,74063,101528,81477
12,41.2,Construção de edifícios,29084,49387,495446,171914,10090,162034,532580,1097337,386558
13,42,Obras de infraestrutura,14857,8173,135602,19217,543,4179,134604,216181,42627
14,42.1,"Construção de rodovias, ferrovias, obras urban...",8306,7781,45123,7181,424,1141,54368,88354,19391
15,42.2,"Obras de infraestrutura para energia elétrica,...",3795,51,20941,12036,119,2358,40745,69188,17103
16,42.9,Construção de outras obras de infraestrutura,2756,341,69538,-,-,680,39491,58639,6133
17,43,Serviços especializados para construção,30708,3192,228089,724,4168,10257,604640,794597,63374
18,43.1,Demolição e preparação do terreno,9600,1007,57099,701,3404,1659,71318,108581,9370
19,43.2,"Instalações elétricas, hidráulicas e outras in...",10908,1087,81035,6,60,1647,270343,281957,40271
20,43.3,Obras de acabamento,2843,54,19097,-,704,550,98586,259461,2997
21,43.9,Outros serviços especializados para construções,7357,1044,70858,17,-,6401,164393,144598,10736
22,NaN,Empresas com 30 ou mais pessoas ocupadas,685104,6394962,10135975,835807,3097190,850995,10424967,10237822,5507289
23,41,Construção de edifícios,193252,491803,4587185,745625,1518596,756404,4036422,3641322,1235694
24,41.1,Incorporação e empreendimentos imobiliários,4760,29999,486511,105732,16829,106723,246075,257043,50190
25,41.10,Incorporação e empreendimentos imobiliários,4760,29999,486511,105732,16829,106723,246075,257043,50190
26,41.2,Construção de edifícios,188492,461804,4100674,639893,1501767,649681,3790347,3384279,1185504
27,41.20,Construção de edifícios,188492,461804,4100674,639893,1501767,649681,3790347,3384279,1185504
28,42,Obras de infraestrutura,384800,5630023,4456030,32036,1351065,36356,4899893,4998325,3786126
29,42.1,"Construção de rodovias, ferrovias, obras urban...",201572,759204,2130839,22406,935463,12722,2374611,2422475,1805122
30,42.11,Construção de rodovias e ferrovias,150694,244918,1540820,13115,532953,4701,1668810,1936584,1326421
31,42.12,Construção de obras de arte especiais,38209,509319,289382,4286,401008,1486,612989,274365,426685
32,42.13,"Obras de urbanização - ruas, praças e calçadas",12669,4967,300637,5005,1502,6535,92812,211526,52016
33,42.2,"Obras de infraestrutura para energia elétrica,...",130126,4536221,1335778,4982,321957,12542,1572760,1473809,1769463
34,42.21,Obras para geração e distribuição de energia e...,104396,4517919,798767,1087,265026,11426,1417926,1047786,1671013
35,42.22,"Construção de redes de abastecimento de água, ...",16968,12549,496074,3870,51845,1104,126854,283034,92618
36,42.23,"Construção de redes de transportes por dutos, ...",8762,5753,40937,25,5086,12,27980,142989,5832
37,42.9,Construção de outras obras de infraestrutura,53102,334598,989413,4648,93645,11092,952522,1102041,211541
38,42.91,"Obras portuárias, marítimas e fluviais",8587,123068,137675,63,17938,212,102913,70117,77462
39,42.92,Montagem de instalações industriais e de estru...,21538,161290,535628,702,24071,1038,383820,605805,37819
40,42.99,Obras de engenharia civil não especificadas an...,22977,50240,316110,3883,51636,9842,465789,426119,96260
41,43,Serviços especializados para construção,107052,273136,1092760,58146,227529,58235,1488652,1598175,485469
42,43.1,Demolição e preparação do terreno,26407,28600,342471,14082,1528,2510,272930,297510,160111
43,43.11,Demolição e preparação de canteiros de obras,2585,358,34485,10482,993,20,52227,20250,2198
44,43.12,Perfurações e sondagens,4345,25000,46074,211,-,417,28575,31641,8359
45,43.13,Obras de terraplenagem,18361,3239,257129,3389,535,2035,189461,238681,149345
46,43.19,Serviços de preparação do terreno não especifi...,1116,3,4783,-,-,38,2667,6938,209
47,43.2,"Instalações elétricas, hidráulicas e outras in...",37478,99074,331370,22000,174630,37121,661495,670005,109379
48,43.21,Instalações elétricas,23582,7303,111144,17410,11917,3739,340815,252578,39142
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",7800,1222,71926,682,2972,1545,170298,164836,25549
50,43.29,Obras de instalações em construções não especi...,6096,90549,148300,3908,159741,31837,150382,252591,44688
51,43.3,Obras de acabamento,5533,5418,63385,12,138,4490,77061,82665,24744
52,43.30,Obras de acabamento,5533,5418,63385,12,138,4490,77061,82665,24744
53,43.9,Outros serviços especializados para construção,37634,140044,355534,22052,51233,14114,477166,547995,191235
54,43.91,Obras de fundações,15708,8447,92836,1,6811,1906,105430,135296,43663
55,43.99,Serviços especializados para construção não es...,21926,131597,262698,22051,44422,12208,371736,412699,147572

In [139]:
linhas = [0,2,3]
for i in linhas:
    df6c = df6c.drop(i)
coluna = df6c.loc[1]
df6c.columns = coluna
df6c = df6c.drop(1)
#df6c.to_csv('df6c_limpa.csv')

### df7a (limpeza)

In [141]:
df7a

,"Tabela 7 - Estrutura do valor bruto da produção das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Número\nde\nempresas\nativas,Valor\nbruto\nda\nprodução 1 000 R$,Valor das obras e/ou serviços da construção To...,Valor das obras e/ou serviços da construção En...,Valor das obras e/ou serviços da construção En...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total das empresas,131487,331430244,337949029,103495040,234453992
4,NaN,Empresas de 1 a 4 pessoas ocupadas,67059,21321509,19439320,2860441,16578880
5,41,Construção de edifícios,23758,12264792,10085775,1323757,8762018
6,42,Obras de infraestrutura,4625,1557382,1717720,621713,1096007
7,43,Serviços especializados para construção,38676,7499335,7635825,914971,6720855
8,NaN,Empresas de 5 a 29 pessoas ocupadas,51331,57019299,55754043,11860167,43893877
9,41,Construção de edifícios,21371,33699029,31189865,5990055,25199811
10,41.1,Incorporação e empreendimentos imobiliários,1606,4066706,44198,17044,27155
11,41.2,Construção de edifícios,19765,29632323,31145667,5973011,25172656
12,42,Obras de infraestrutura,4619,5858806,6011259,2673826,3337433
13,42.1,"Construção de rodovias, ferrovias, obras urban...",1506,2481563,2449198,1712818,736380
14,42.2,"Obras de infraestrutura para energia elétrica,...",1139,1490175,1600338,469142,1131196
15,42.9,Construção de outras obras de infraestrutura,1974,1887068,1961723,491866,1469857
16,43,Serviços especializados para construção,25341,17461464,18552919,3196286,15356633
17,43.1,Demolição e preparação do terreno,2707,2885318,2962914,789101,2173813
18,43.2,"Instalações elétricas, hidráulicas e outras in...",8205,5442736,5809365,670541,5138824
19,43.3,Obras de acabamento,6855,3722169,4078515,575643,3502872
20,43.9,Outros serviços especializados para construções,7574,5411241,5702125,1161001,4541124
21,NaN,Empresas com 30 ou mais pessoas ocupadas,13097,253089436,262755666,88774432,173981235
22,41,Construção de edifícios,6623,107549160,108107170,25817079,82290091
23,41.1,Incorporação e empreendimentos imobiliários,294,7267228,47247,1663,45584
24,41.10,Incorporação e empreendimentos imobiliários,294,7267228,47247,1663,45584
25,41.2,Construção de edifícios,6329,100281932,108059923,25815416,82244507
26,41.20,Construção de edifícios,6329,100281932,108059923,25815416,82244507
27,42,Obras de infraestrutura,2576,106058945,112191411,53846385,58345026
28,42.1,"Construção de rodovias, ferrovias, obras urban...",1034,49322791,52368424,33224608,19143816
29,42.11,Construção de rodovias e ferrovias,675,34915162,37044701,24029579,13015122
30,42.12,Construção de obras de arte especiais,61,9200234,9749162,5326063,4423099
31,42.13,"Obras de urbanização - ruas, praças e calçadas",298,5207395,5574561,3868966,1705595
32,42.2,"Obras de infraestrutura para energia elétrica,...",745,33197692,34604603,12224101,22380502
33,42.21,Obras para geração e distribuição de energia e...,480,25359814,26377287,7339361,19037926
34,42.22,"Construção de redes de abastecimento de água, ...",239,5599859,5883373,4109749,1773624
35,42.23,"Construção de redes de transportes por dutos, ...",26,2238019,2343943,774991,1568952
36,42.9,Construção de outras obras de infraestrutura,797,23538462,25218384,8397676,16820708
37,42.91,"Obras portuárias, marítimas e fluviais",34,2467194,2623469,521649,2101820
38,42.92,Montagem de instalações industriais e de estru...,262,11255756,12097708,2738621,9359087
39,42.99,Obras de engenharia civil não especificadas an...,501,9815512,10497207,5137406,5359801
40,43,Serviços especializados para construção,3898,39481331,42457085,9110968,33346118
41,43.1,Demolição e preparação do terreno,499,7778297,8343226,2140154,6203072
42,43.11,Demolição e preparação de canteiros de obras,49,931859,1068407,96548,971858
43,43.12,Perfurações e sondagens,57,691056,765184,92321,672863
44,43.13,Obras de terraplenagem,373,5927644,6270789,1889250,4381540
45,43.19,Serviços de preparação do terreno não especifi...,20,227738,238846,62035,176811
46,43.2,"Instalações elétricas, hidráulicas e outras in...",1227,14827988,16101042,3485983,12615060
47,43.21,Instalações elétricas,677,7001834,7536229,1706197,5830031
48,43.22,"Instalações hidráulicas, de sistemas de ventil...",382,3923383,4197755,895545,3302211
49,43.29,Obras de instalações em construções não especi...,168,3902771,4367058,884241,3482818
50,43.3,Obras de acabamento,815,3573545,3820216,350917,3469299
51,43.30,Obras de acabamento,815,3573545,3820216,350917,3469299
52,43.9,Outros serviços especializados para construção,1357,13301501,14192601,3133914,11058687
53,43.91,Obras de fundações,225,2697864,2898026,535215,2362811
54,43.99,Serviços especializados para construção não es...,1132,10603637,11294575,2598699,8695876

In [142]:
linhas = [0,2]
for i in linhas:
    df7a = df7a.drop(i)
coluna = df7a.loc[1]
df7a.columns = coluna
df7a = df7a.drop(1)
#df7a.to_csv('df7a_limpa.csv')

### df7b

In [143]:
df7b

,"Tabela 7 - Estrutura do valor bruto da produção das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades","Receita bruta Incorporação de\nimóveis,\nconst...",Receita bruta Serviços\ntécnicos de\nescritóri...,Receita bruta Venda\nde materiais\nde construç...,Receita bruta Revenda\nde\nimóveis 1 000 R$,Receita bruta Locação\nde\nmão de obra 1 000 R$,Custos dos terrenos De obras e/ou\nserviços da...,Custos dos terrenos De\nincorporação\nde imóve...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total das empresas,16409772,336418,2353529,1268395,346428,2346757,867128
4,NaN,Empresas de 1 a 4 pessoas ocupadas,3195540,6207,148992,24775,5611,251015,157538
5,41,Construção de edifícios,3186673,1370,60535,17715,1444,139794,154928
6,42,Obras de infraestrutura,6762,794,31214,388,3186,86613,2055
7,43,Serviços especializados para construção,2105,4043,57243,6672,981,24608,555
8,NaN,Empresas de 5 a 29 pessoas ocupadas,4883678,80509,224372,579590,72349,436823,468185
9,41,Construção de edifícios,4859125,32958,66793,564542,25220,357477,468183
10,41.1,Incorporação e empreendimentos imobiliários,4786667,5822,9737,242582,9089,11,459590
11,41.2,Construção de edifícios,72458,27136,57056,321960,16131,357466,8593
12,42,Obras de infraestrutura,3146,5881,48915,10072,17647,3773,-
13,42.1,"Construção de rodovias, ferrovias, obras urban...",2930,3627,12689,9592,15492,2750,-
14,42.2,"Obras de infraestrutura para energia elétrica,...",152,2250,33484,480,950,666,-
15,42.9,Construção de outras obras de infraestrutura,64,4,2742,-,1205,357,-
16,43,Serviços especializados para construção,21407,41670,108664,4976,29482,75573,2
17,43.1,Demolição e preparação do terreno,5746,36883,1850,498,10537,10444,-
18,43.2,"Instalações elétricas, hidráulicas e outras in...",14164,3882,20332,-,17715,33,-
19,43.3,Obras de acabamento,17,408,48729,-,1029,63326,2
20,43.9,Outros serviços especializados para construções,1480,497,37753,4478,201,1770,-
21,NaN,Empresas com 30 ou mais pessoas ocupadas,8330554,249702,1980165,664030,268468,1658919,241405
22,41,Construção de edifícios,8277930,71592,146025,505844,96830,1526332,235160
23,41.1,Incorporação e empreendimentos imobiliários,7965790,7687,1,61409,2,150,207196
24,41.10,Incorporação e empreendimentos imobiliários,7965790,7687,1,61409,2,150,207196
25,41.2,Construção de edifícios,312140,63905,146024,444435,96828,1526182,27964
26,41.20,Construção de edifícios,312140,63905,146024,444435,96828,1526182,27964
27,42,Obras de infraestrutura,38587,117247,1528536,98997,36575,44951,4440
28,42.1,"Construção de rodovias, ferrovias, obras urban...",20156,24814,417116,86149,19886,16362,4105
29,42.11,Construção de rodovias e ferrovias,7483,23099,248832,40476,17203,7136,2700
30,42.12,Construção de obras de arte especiais,9828,443,136664,2303,1150,594,973
31,42.13,"Obras de urbanização - ruas, praças e calçadas",2845,1272,31620,43370,1533,8632,432
32,42.2,"Obras de infraestrutura para energia elétrica,...",15257,74475,976034,7773,3439,9397,335
33,42.21,Obras para geração e distribuição de energia e...,3221,58225,951069,270,3265,3087,135
34,42.22,"Construção de redes de abastecimento de água, ...",12036,6087,4414,7212,174,6310,200
35,42.23,"Construção de redes de transportes por dutos, ...",-,10163,20551,291,-,-,-
36,42.9,Construção de outras obras de infraestrutura,3174,17958,135386,5075,13250,19192,-
37,42.91,"Obras portuárias, marítimas e fluviais",-,1289,334,279,-,415,-
38,42.92,Montagem de instalações industriais e de estru...,25,7499,50891,352,1992,1006,-
39,42.99,Obras de engenharia civil não especificadas an...,3149,9170,84161,4444,11258,17771,-
40,43,Serviços especializados para construção,14037,60863,305604,59189,135063,87636,1805
41,43.1,Demolição e preparação do terreno,660,1143,32649,13264,8537,53403,-
42,43.11,Demolição e preparação de canteiros de obras,74,902,1863,8736,2149,51588,-
43,43.12,Perfurações e sondagens,-,-,-,205,-,328,-
44,43.13,Obras de terraplenagem,586,241,15170,4323,6388,1330,-
45,43.19,Serviços de preparação do terreno não especifi...,-,-,15616,-,-,157,-
46,43.2,"Instalações elétricas, hidráulicas e outras in...",2803,29107,161994,5102,61428,4076,-
47,43.21,Instalações elétricas,2473,13369,105022,-,15576,3036,-
48,43.22,"Instalações hidráulicas, de sistemas de ventil...",237,12189,39624,1078,41200,1006,-
49,43.29,Obras de instalações em construções não especi...,93,3549,17348,4024,4652,34,-
50,43.3,Obras de acabamento,129,1983,51734,12477,1383,204,-
51,43.30,Obras de acabamento,129,1983,51734,12477,1383,204,-
52,43.9,Outros serviços especializados para construção,10445,28630,59227,28346,63715,29953,1805
53,43.91,Obras de fundações,2067,130,27731,-,7154,2114,-
54,43.99,Serviços especializados para construção não es...,8378,28500,31496,28346,56561,27839,1805

In [144]:
linhas = [0,2]
for i in linhas:
    df7b = df7b.drop(i)
coluna = df7b.loc[1]
df7b.columns = coluna
df7b = df7b.drop(1)
#df7b.to_csv('df7b_limpa.csv')

### df7c

In [145]:
df7c

,"Tabela 7 - Estrutura do valor bruto da produção das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Consumo intermediário Total\n(1) 1 000 R$,Consumo intermediário Custos das obras e/ou se...,Consumo intermediário Custos das obras e/ou se...,Consumo intermediário Custos das obras e/ou se...,Consumo intermediário Custos das obras e/ou se...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,158817948,6996467,67120239,30354144,6748331
5,NaN,Empresas de 1 a 4 pessoas ocupadas,7658324,316991,3183258,848639,220531
6,41,Construção de edifícios,4939492,58199,2056409,705420,62859
7,42,Obras de infraestrutura,518407,27629,197653,36079,14656
8,43,Serviços especializados para construção,2200425,231163,929196,107140,143016
9,NaN,Empresas de 5 a 29 pessoas ocupadas,21560215,952295,11256985,2007532,820947
10,41,Construção de edifícios,13940948,196618,7608447,1447945,414110
11,41.1,Incorporação e empreendimentos imobiliários,1813227,2290,1535,45,773
12,41.2,Construção de edifícios,12127721,194328,7606912,1447900,413337
13,42,Obras de infraestrutura,2193402,200173,1200883,196622,102890
14,42.1,"Construção de rodovias, ferrovias, obras urban...",1009683,109328,541595,103655,52104
15,42.2,"Obras de infraestrutura para energia elétrica,...",551186,39088,293228,35555,25743
16,42.9,Construção de outras obras de infraestrutura,632533,51757,366060,57412,25043
17,43,Serviços especializados para construção,5425865,555504,2447655,362965,303947
18,43.1,Demolição e preparação do terreno,1133098,299158,251864,131959,157504
19,43.2,"Instalações elétricas, hidráulicas e outras in...",1562059,93824,685143,63353,44397
20,43.3,Obras de acabamento,881831,26595,377741,49842,23316
21,43.9,Outros serviços especializados para construções,1848877,135927,1132907,117811,78730
22,NaN,Empresas com 30 ou mais pessoas ocupadas,129599409,5727181,52679996,27497973,5706853
23,41,Construção de edifícios,56755853,907072,26325874,12487331,1463639
24,41.1,Incorporação e empreendimentos imobiliários,4208659,528,3333,1786,3795
25,41.10,Incorporação e empreendimentos imobiliários,4208659,528,3333,1786,3795
26,41.2,Construção de edifícios,52547194,906544,26322541,12485545,1459844
27,41.20,Construção de edifícios,52547194,906544,26322541,12485545,1459844
28,42,Obras de infraestrutura,57125944,3771852,20281507,12571558,3020344
29,42.1,"Construção de rodovias, ferrovias, obras urban...",28618604,2094797,10246772,6456814,1419892
30,42.11,Construção de rodovias e ferrovias,20857163,1663197,7403676,4453840,965573
31,42.12,Construção de obras de arte especiais,5296233,193693,1813968,1551594,256387
32,42.13,"Obras de urbanização - ruas, praças e calçadas",2465208,237907,1029128,451380,197932
33,42.2,"Obras de infraestrutura para energia elétrica,...",16804039,1231119,6297745,3122324,843818
34,42.21,Obras para geração e distribuição de energia e...,12561334,959708,4539215,2196646,618477
35,42.22,"Construção de redes de abastecimento de água, ...",3062033,216224,1417393,513490,181527
36,42.23,"Construção de redes de transportes por dutos, ...",1180672,55187,341137,412188,43814
37,42.9,Construção de outras obras de infraestrutura,11703301,445936,3736990,2992420,756634
38,42.91,"Obras portuárias, marítimas e fluviais",1557747,109630,238559,246967,268151
39,42.92,Montagem de instalações industriais e de estru...,5216102,115616,1352951,1865811,176260
40,42.99,Obras de engenharia civil não especificadas an...,4929452,220690,2145480,879642,312223
41,43,Serviços especializados para construção,15717612,1048257,6072615,2439084,1222870
42,43.1,Demolição e preparação do terreno,3651961,504253,1243329,418568,455286
43,43.11,Demolição e preparação de canteiros de obras,319143,36713,35400,53921,40682
44,43.12,Perfurações e sondagens,303069,31923,88717,21658,31269
45,43.13,Obras de terraplenagem,2928076,413934,1088891,330632,360282
46,43.19,Serviços de preparação do terreno não especifi...,101673,21683,30321,12357,23053
47,43.2,"Instalações elétricas, hidráulicas e outras in...",5719760,213466,2132556,1076199,345526
48,43.21,Instalações elétricas,2595943,132856,978460,446018,120661
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",1501300,34493,565864,397273,79465
50,43.29,Obras de instalações em construções não especi...,1622517,46117,588232,232908,145400
51,43.3,Obras de acabamento,1080286,46354,426182,298141,62573
52,43.30,Obras de acabamento,1080286,46354,426182,298141,62573
53,43.9,Outros serviços especializados para construção,5265605,284184,2270548,646176,359485
54,43.91,Obras de fundações,1107003,81150,339649,107848,128891
55,43.99,Serviços especializados para construção não es...,4158602,203034,1930899,538328,230594

In [146]:
linhas = [0,2,3]
for i in linhas:
    df7c = df7c.drop(i)
coluna = df7c.loc[1]
df7c.columns = coluna
df7c = df7c.drop(1)
#df7c.to_csv('df7c_limpa.csv')

### df8a

In [147]:
df8a

,"Tabela 8 - Estrutura dos investimentos das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos\ne \nclasses de atividades",Número\nde\nempresas\nativas,Ativo imobilizado Aquisições de terceiros e pr...,Ativo imobilizado Aquisições de terceiros e pr...,Ativo imobilizado Aquisições de terceiros e pr...,Ativo imobilizado Aquisições de terceiros e pr...,Ativo imobilizado Aquisições de terceiros e pr...,Ativo imobilizado Aquisições de terceiros e pr...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total das empresas,131487,22749,10374797,3098397,4088760,2154839,1032794
6,NaN,Empresas de 1 a 4 pessoas ocupadas,67059,8574,1439376,503254,400812,466630,68680
7,41,Construção de edifícios,23758,2875,732766,290096,51884,373720,17066
8,42,Obras de infraestrutura,4625,388,85900,64746,9740,8469,2945
9,43,Serviços especializados para construção,38676,5311,620710,148412,339188,84441,48669
10,NaN,Empresas de 5 a 29 pessoas ocupadas,51331,8898,1913409,851992,737047,269134,55233
11,41,Construção de edifícios,21371,4462,922265,737426,87837,75226,21776
12,41.1,Incorporação e empreendimentos imobiliários,1606,318,96802,91462,1478,1550,2312
13,41.2,Construção de edifícios,19765,4144,825463,645964,86359,73676,19464
14,42,Obras de infraestrutura,4619,1070,222374,48194,78522,90657,4999
15,42.1,"Construção de rodovias, ferrovias, obras urban...",1506,358,128827,44226,55430,28210,960
16,42.2,"Obras de infraestrutura para energia elétrica,...",1139,279,74645,2900,16426,53158,2160
17,42.9,Construção de outras obras de infraestrutura,1974,433,18902,1068,6666,9289,1879
18,43,Serviços especializados para construção,25341,3366,768770,66372,570688,103251,28458
19,43.1,Demolição e preparação do terreno,2707,652,536060,14093,478550,39635,3782
20,43.2,"Instalações elétricas, hidráulicas e outras in...",8205,1017,95610,14522,41336,19726,20026
21,43.3,Obras de acabamento,6855,397,9692,64,1566,7403,658
22,43.9,Outros serviços especializados para construções,7574,1300,127408,37693,49236,36487,3992
23,NaN,Empresas com 30 ou mais pessoas ocupadas,13097,5277,7022012,1743151,2950901,1419075,908881
24,41,Construção de edifícios,6623,2587,2247420,1246202,464320,294097,242800
25,41.1,Incorporação e empreendimentos imobiliários,294,93,221160,179558,16499,8712,16391
26,41.10,Incorporação e empreendimentos imobiliários,294,93,221160,179558,16499,8712,16391
27,41.2,Construção de edifícios,6329,2494,2026260,1066644,447821,285385,226409
28,41.20,Construção de edifícios,6329,2494,2026260,1066644,447821,285385,226409
29,42,Obras de infraestrutura,2576,1356,3772918,353414,1994174,857580,567751
30,42.1,"Construção de rodovias, ferrovias, obras urban...",1034,565,2428736,171641,1487431,519185,250479
31,42.11,Construção de rodovias e ferrovias,675,382,1025191,84033,608158,211200,121800
32,42.12,Construção de obras de arte especiais,61,36,1211422,61122,758731,274088,117481
33,42.13,"Obras de urbanização - ruas, praças e calçadas",298,147,192123,26486,120542,33897,11198
34,42.2,"Obras de infraestrutura para energia elétrica,...",745,418,645231,92724,254396,197447,100665
35,42.21,Obras para geração e distribuição de energia e...,480,273,473479,65857,161675,156936,89012
36,42.22,"Construção de redes de abastecimento de água, ...",239,128,146500,24895,82645,29828,9133
37,42.23,"Construção de redes de transportes por dutos, ...",26,17,25252,1972,10076,10683,2520
38,42.9,Construção de outras obras de infraestrutura,797,373,698951,89049,252347,140948,216607
39,42.91,"Obras portuárias, marítimas e fluviais",34,19,23570,303,6852,12912,3503
40,42.92,Montagem de instalações industriais e de estru...,262,137,414307,46417,116958,81834,169098
41,42.99,Obras de engenharia civil não especificadas an...,501,217,261074,42329,128537,46202,44006
42,43,Serviços especializados para construção,3898,1334,1001674,143535,492407,267398,98330
43,43.1,Demolição e preparação do terreno,499,238,342200,42300,202160,80381,17358
44,43.11,Demolição e preparação de canteiros de obras,49,23,26596,3468,16538,3478,3111
45,43.12,Perfurações e sondagens,57,28,22507,1334,14740,4436,1998
46,43.13,Obras de terraplenagem,373,177,275286,35821,168221,59119,12124
47,43.19,Serviços de preparação do terreno não especifi...,20,10,17811,1677,2661,13348,125
48,43.2,"Instalações elétricas, hidráulicas e outras in...",1227,457,229450,33661,66842,88075,40870
49,43.21,Instalações elétricas,677,240,128841,19750,30995,63167,14929
50,43.22,"Instalações hidráulicas, de sistemas de ventil...",382,151,46687,8449,12376,11643,14218
51,43.29,Obras de instalações em construções não especi...,168,66,53922,5462,23471,13265,11723
52,43.3,Obras de acabamento,815,171,32230,6883,10839,7575,6932
53,43.30,Obras de acabamento,815,171,32230,6883,10839,7575,6932
54,43.9,Outros serviços especializados para construção,1357,468,397794,60691,212566,91367,33170
55,43.91,Obras de fundações,225,87,130053,27108,80296,10528,12121
56,43.99,Serviços especializados para construção não es...,1132,381,267741,33583,132270,80839,21049

In [148]:
linhas = [0,2,3,4]
for i in linhas:
    df8a = df8a.drop(i)
coluna = df8a.loc[1]
df8a.columns = coluna
df8a = df8a.drop(1)
#df8a.to_csv('df8a_limpa.csv')

### df8b

In [149]:
df8b

,"Tabela 8 - Estrutura dos investimentos das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos\ne \nclasses de atividades",Ativo imobilizado Melhorias Número\nde\ninform...,Ativo imobilizado Melhorias Total 1 000 R$,Ativo imobilizado Melhorias Terrenos\ne\nedifi...,Ativo imobilizado Melhorias Máquinas\ne\nequip...,Ativo imobilizado Melhorias Meios\nde\ntranspo...,Ativo imobilizado Melhorias Outras\naquisições...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,1052,271076,132040,39803,48625,50611
5,NaN,Empresas de 1 a 4 pessoas ocupadas,440,8291,4270,638,2767,615
6,41,Construção de edifícios,80,4623,4159,85,379,-
7,42,Obras de infraestrutura,44,120,-,31,23,65
8,43,Serviços especializados para construção,316,3548,111,522,2365,550
9,NaN,Empresas de 5 a 29 pessoas ocupadas,315,47145,19795,10530,2728,14094
10,41,Construção de edifícios,150,7169,4826,2029,274,41
11,41.1,Incorporação e empreendimentos imobiliários,33,4771,4771,-,-,-
12,41.2,Construção de edifícios,117,2398,55,2029,274,41
13,42,Obras de infraestrutura,34,721,328,172,189,32
14,42.1,"Construção de rodovias, ferrovias, obras urban...",25,515,269,82,140,24
15,42.2,"Obras de infraestrutura para energia elétrica,...",2,42,4,36,2,-
16,42.9,Construção de outras obras de infraestrutura,7,164,55,54,47,8
17,43,Serviços especializados para construção,131,39255,14641,8329,2265,14021
18,43.1,Demolição e preparação do terreno,25,10301,47,8034,2149,71
19,43.2,"Instalações elétricas, hidráulicas e outras in...",31,15098,1077,33,111,13878
20,43.3,Obras de acabamento,-,-,-,-,-,-
21,43.9,Outros serviços especializados para construções,75,13856,13517,262,5,72
22,NaN,Empresas com 30 ou mais pessoas ocupadas,297,215640,107975,28635,43130,35902
23,41,Construção de edifícios,134,77586,43719,3817,3883,26167
24,41.1,Incorporação e empreendimentos imobiliários,6,1845,1845,-,-,-
25,41.10,Incorporação e empreendimentos imobiliários,6,1845,1845,-,-,-
26,41.2,Construção de edifícios,128,75741,41874,3817,3883,26167
27,41.20,Construção de edifícios,128,75741,41874,3817,3883,26167
28,42,Obras de infraestrutura,87,98444,44762,14927,32737,6019
29,42.1,"Construção de rodovias, ferrovias, obras urban...",38,47757,9805,9754,23739,4460
30,42.11,Construção de rodovias e ferrovias,26,27508,6239,9716,10759,795
31,42.12,Construção de obras de arte especiais,2,3448,3448,-,-,-
32,42.13,"Obras de urbanização - ruas, praças e calçadas",10,16801,118,38,12980,3665
33,42.2,"Obras de infraestrutura para energia elétrica,...",28,32258,19631,4129,7350,1148
34,42.21,Obras para geração e distribuição de energia e...,16,27307,16327,2973,6913,1094
35,42.22,"Construção de redes de abastecimento de água, ...",12,4951,3304,1156,437,54
36,42.23,"Construção de redes de transportes por dutos, ...",-,-,-,-,-,-
37,42.9,Construção de outras obras de infraestrutura,21,18429,15326,1044,1648,411
38,42.91,"Obras portuárias, marítimas e fluviais",-,-,-,-,-,-
39,42.92,Montagem de instalações industriais e de estru...,7,3589,3570,-,10,8
40,42.99,Obras de engenharia civil não especificadas an...,14,14840,11756,1044,1638,403
41,43,Serviços especializados para construção,76,39610,19494,9891,6510,3716
42,43.1,Demolição e preparação do terreno,12,12272,3895,8293,-,84
43,43.11,Demolição e preparação de canteiros de obras,-,-,-,-,-,-
44,43.12,Perfurações e sondagens,4,7713,15,7634,-,64
45,43.13,Obras de terraplenagem,8,4559,3880,659,-,20
46,43.19,Serviços de preparação do terreno não especifi...,-,-,-,-,-,-
47,43.2,"Instalações elétricas, hidráulicas e outras in...",22,7175,1816,116,5161,82
48,43.21,Instalações elétricas,11,5754,450,115,5161,29
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",10,1219,1164,1,-,53
50,43.29,Obras de instalações em construções não especi...,1,202,202,-,-,-
51,43.3,Obras de acabamento,13,4915,360,243,1114,3198
52,43.30,Obras de acabamento,13,4915,360,243,1114,3198
53,43.9,Outros serviços especializados para construção,29,15248,13423,1239,235,352
54,43.91,Obras de fundações,6,434,412,-,-,22
55,43.99,Serviços especializados para construção não es...,23,14814,13011,1239,235,330

In [150]:
linhas = [0,2,3]
for i in linhas:
    df8b = df8b.drop(i)
coluna = df8b.loc[1]
df8b.columns = coluna
df8b = df8b.drop(1)
#df8b.to_csv('df8b_limpa.csv')

### df8c

In [151]:
df8c

,"Tabela 8 - Estrutura dos investimentos das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos\ne \nclasses de atividades",Ativo imobilizado Baixas Número\nde\ninformantes,Ativo imobilizado Baixas Total 1 000 R$,Ativo imobilizado Baixas Terrenos\ne\nedificaç...,Ativo imobilizado Baixas Máquinas\ne\nequipame...,Ativo imobilizado Baixas Meios\nde\ntransporte...,Ativo imobilizado Baixas Outras\nbaixas 1 000 R$
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,7792,4367539,1100676,1708919,1010668,547272
5,NaN,Empresas de 1 a 4 pessoas ocupadas,2489,193982,74704,40314,60980,17984
6,41,Construção de edifícios,1070,100039,62816,668,34700,1854
7,42,Obras de infraestrutura,55,12266,7417,2698,2101,50
8,43,Serviços especializados para construção,1364,81677,4471,36948,24179,16080
9,NaN,Empresas de 5 a 29 pessoas ocupadas,2846,889434,546463,102293,130522,110154
10,41,Construção de edifícios,1557,687279,539485,8187,51624,87983
11,41.1,Incorporação e empreendimentos imobiliários,163,21285,18565,565,1478,677
12,41.2,Construção de edifícios,1394,665994,520920,7622,50146,87306
13,42,Obras de infraestrutura,266,22609,462,10813,11022,311
14,42.1,"Construção de rodovias, ferrovias, obras urban...",128,13870,-,7223,6630,17
15,42.2,"Obras de infraestrutura para energia elétrica,...",106,6577,132,3585,2595,264
16,42.9,Construção de outras obras de infraestrutura,32,2162,330,5,1797,30
17,43,Serviços especializados para construção,1023,179546,6516,83293,67876,21860
18,43.1,Demolição e preparação do terreno,316,107907,280,48468,57510,1648
19,43.2,"Instalações elétricas, hidráulicas e outras in...",227,27847,5184,3929,3290,15444
20,43.3,Obras de acabamento,141,5452,-,660,79,4713
21,43.9,Outros serviços especializados para construções,339,38340,1052,30236,6997,55
22,NaN,Empresas com 30 ou mais pessoas ocupadas,2457,3284123,479509,1566312,819166,419134
23,41,Construção de edifícios,1148,758733,264006,194494,139108,161124
24,41.1,Incorporação e empreendimentos imobiliários,44,60445,49152,6292,2978,2023
25,41.10,Incorporação e empreendimentos imobiliários,44,60445,49152,6292,2978,2023
26,41.2,Construção de edifícios,1104,698288,214854,188202,136130,159101
27,41.20,Construção de edifícios,1104,698288,214854,188202,136130,159101
28,42,Obras de infraestrutura,760,2128294,175713,1179647,529898,243039
29,42.1,"Construção de rodovias, ferrovias, obras urban...",339,1415644,137721,821100,322426,134399
30,42.11,Construção de rodovias e ferrovias,249,519887,118937,230855,116074,54022
31,42.12,Construção de obras de arte especiais,20,849764,7701,569251,193806,79007
32,42.13,"Obras de urbanização - ruas, praças e calçadas",70,45993,11083,20994,12546,1370
33,42.2,"Obras de infraestrutura para energia elétrica,...",227,289266,29786,139062,75620,44797
34,42.21,Obras para geração e distribuição de energia e...,146,199016,16751,83560,58091,40614
35,42.22,"Construção de redes de abastecimento de água, ...",68,63239,3955,43830,12506,2947
36,42.23,"Construção de redes de transportes por dutos, ...",13,27011,9080,11672,5023,1236
37,42.9,Construção de outras obras de infraestrutura,194,423384,8206,219485,131852,63843
38,42.91,"Obras portuárias, marítimas e fluviais",12,131385,-,98776,31516,1094
39,42.92,Montagem de instalações industriais e de estru...,74,156794,441,62419,67197,26737
40,42.99,Obras de engenharia civil não especificadas an...,108,135205,7765,58290,33139,36012
41,43,Serviços especializados para construção,549,397096,39790,192171,150160,14971
42,43.1,Demolição e preparação do terreno,124,117040,14680,78078,22389,1891
43,43.11,Demolição e preparação de canteiros de obras,11,6161,198,3911,1905,147
44,43.12,Perfurações e sondagens,13,12316,4200,3955,3210,950
45,43.13,Obras de terraplenagem,95,94307,10254,67743,15539,771
46,43.19,Serviços de preparação do terreno não especifi...,5,4256,28,2469,1735,23
47,43.2,"Instalações elétricas, hidráulicas e outras in...",180,75406,10469,15098,45163,4675
48,43.21,Instalações elétricas,97,41161,5885,3980,29179,2116
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",57,20825,624,8659,10808,734
50,43.29,Obras de instalações em construções não especi...,26,13420,3960,2459,5176,1825
51,43.3,Obras de acabamento,47,7500,15,1106,4054,2325
52,43.30,Obras de acabamento,47,7500,15,1106,4054,2325
53,43.9,Outros serviços especializados para construção,198,197150,14626,97889,78554,6080
54,43.91,Obras de fundações,46,81866,3294,71692,4961,1919
55,43.99,Serviços especializados para construção não es...,152,115284,11332,26197,73593,4161

In [152]:
linhas = [0,2,3]
for i in linhas:
    df8c = df8c.drop(i)
coluna = df8c.loc[1]
df8c.columns = coluna
df8c = df8c.drop(1)
#df8c.to_csv('df8c_limpa.csv')

### df9

In [153]:
df9

,"Tabela 9 - Consumo total e dos principais tipos de materiais de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne \nclasses de atividades",Número\nde\nempresas ativas,Consumo de materiais de construção Total 1 000 R$,Consumo de materiais de construção Tipos selec...,Consumo de materiais de construção Tipos selec...,Consumo de materiais de construção Tipos selec...,Consumo de materiais de construção Tipos selec...,Consumo de materiais de construção Tipos selec...,Consumo de materiais de construção Tipos selec...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,131487,67120239,17848440,2388099,4684421,4619417,2547665,3608833
5,NaN,Empresas de 1 a 4 pessoas ocupadas,67059,3183258,732565,26456,290279,126801,155243,133786
6,41,Construção de edifícios,23758,2056409,638061,12034,261339,106822,140055,117811
7,42,Obras de infraestrutura,4625,197653,42945,13892,11418,5952,4932,6750
8,43,Serviços especializados para construção,38676,929196,51559,530,17522,14027,10256,9225
9,NaN,Empresas de 5 a 29 pessoas ocupadas,51331,11256985,2958533,137699,906982,652733,697165,563952
10,41,Construção de edifícios,21371,7608447,2413912,36419,723029,550194,608746,495524
11,41.1,Incorporação e empreendimentos imobiliários,1606,1535,924,356,68,427,70,3
12,41.2,Construção de edifícios,19765,7606912,2412988,36063,722961,549767,608676,495521
13,42,Obras de infraestrutura,4619,1200883,350000,95889,111556,57603,41320,43631
14,42.1,"Construção de rodovias, ferrovias, obras urban...",1506,541595,234856,90778,64776,31757,25933,21612
15,42.2,"Obras de infraestrutura para energia elétrica,...",1139,293228,64217,4687,35511,12940,4610,6469
16,42.9,Construção de outras obras de infraestrutura,1974,366060,50927,424,11269,12906,10777,15550
17,43,Serviços especializados para construção,25341,2447655,194621,5391,72397,44936,47099,24797
18,43.1,Demolição e preparação do terreno,2707,251864,46599,4010,17627,3381,17940,3641
19,43.2,"Instalações elétricas, hidráulicas e outras in...",8205,685143,20789,209,6798,5525,4003,4254
20,43.3,Obras de acabamento,6855,377741,6434,10,2690,255,1248,2231
21,43.9,Outros serviços especializados para construções,7574,1132907,120799,1162,45282,35775,23908,14671
22,NaN,Empresas com 30 ou mais pessoas ocupadas,13097,52679996,14157342,2223944,3487160,3839883,1695257,2911095
23,41,Construção de edifícios,6623,26325874,8115212,467081,2023463,2551998,1405772,1666897
24,41.1,Incorporação e empreendimentos imobiliários,294,3333,1940,77,712,603,302,245
25,41.10,Incorporação e empreendimentos imobiliários,294,3333,1940,77,712,603,302,245
26,41.2,Construção de edifícios,6329,26322541,8113272,467004,2022751,2551395,1405470,1666652
27,41.20,Construção de edifícios,6329,26322541,8113272,467004,2022751,2551395,1405470,1666652
28,42,Obras de infraestrutura,2576,20281507,5286307,1646386,1206376,1107581,203651,1122311
29,42.1,"Construção de rodovias, ferrovias, obras urban...",1034,10246772,3488367,1394454,668850,641889,91730,691444
30,42.11,Construção de rodovias e ferrovias,675,7403676,2720388,1117812,530336,487889,55181,529171
31,42.12,Construção de obras de arte especiais,61,1813968,317855,46288,51156,85198,4237,130976
32,42.13,"Obras de urbanização - ruas, praças e calçadas",298,1029128,450124,230354,87358,68802,32312,31297
33,42.2,"Obras de infraestrutura para energia elétrica,...",745,6297745,992661,144776,320175,250050,49202,228456
34,42.21,Obras para geração e distribuição de energia e...,480,4539215,639562,72366,207589,165865,26049,167693
35,42.22,"Construção de redes de abastecimento de água, ...",239,1417393,260857,60800,72920,59839,19251,48046
36,42.23,"Construção de redes de transportes por dutos, ...",26,341137,92242,11610,39666,24346,3902,12717
37,42.9,Construção de outras obras de infraestrutura,797,3736990,805279,107156,217351,215642,62719,202411
38,42.91,"Obras portuárias, marítimas e fluviais",34,238559,125227,8206,19129,33180,1316,63395
39,42.92,Montagem de instalações industriais e de estru...,262,1352951,83487,892,14275,19149,9046,40126
40,42.99,Obras de engenharia civil não especificadas an...,501,2145480,596565,98058,183947,163313,52357,98890
41,43,Serviços especializados para construção,3898,6072615,755823,110477,257321,180304,85834,121887
42,43.1,Demolição e preparação do terreno,499,1243329,174332,65957,46356,38226,7999,15796
43,43.11,Demolição e preparação de canteiros de obras,49,35400,3659,178,1051,676,1153,601
44,43.12,Perfurações e sondagens,57,88717,14761,1204,3489,6448,943,2678
45,43.13,Obras de terraplenagem,373,1088891,152548,64049,41035,29873,5666,11926
46,43.19,Serviços de preparação do terreno não especifi...,20,30321,3364,526,781,1229,237,591
47,43.2,"Instalações elétricas, hidráulicas e outras in...",1227,2132556,114720,5563,32789,36354,24395,15618
48,43.21,Instalações elétricas,677,978460,63026,3835,19275,21927,11137,6851
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",382,565864,31953,756,11131,1616,11433,7017
50,43.29,Obras de instalações em construções não especi...,168,588232,19741,972,2383,12811,1825,1750
51,43.3,Obras de acabamento,815,426182,35278,11730,8424,5081,3648,6394
52,43.30,Obras de acabamento,815,426182,35278,11730,8424,5081,3648,6394
53,43.9,Outros serviços especializados para construção,1357,2270548,431493,27227,169752,100643,49792,84079
54,43.91,Obras de fundações,225,339649,73010,4477,10469,17003,12350,28711
55,43.99,Serviços especializados para construção não es...,1132,1930899,358483,22750,159283,83640,37442,55368

In [154]:
linhas = [0,2,3]
for i in linhas:
    df9 = df9.drop(i)
coluna = df9.loc[1]
df9.columns = coluna
df9 = df9.drop(1)
#df9.to_csv('df9_limpa.csv')

### df10a

In [155]:
df10a

,"Tabela 10 - Valor das incorporações, obras e/ou serviços da construção das empresas de construção com 30 ou mais,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"pessoas ocupadas, segundo as classes de ativid...",NaN,NaN,NaN,NaN,NaN,NaN
1,Código\nPRODLIST\nConstrução,Classes de atividades\ne\ndescrição de produtos,"Valor das incorporações, \nobras e/ou serviços...",Como contratante única ou principal Número\nde...,Como contratante única ou principal Valor\n(1 ...,Como subcontratada Número\nde\ninformantes,Como subcontratada Valor\n(1 000 R$)
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total,271086222,13789,251096459,1946,19989764
4,4110,Incorporação de empreendimentos imobiliários,8330553,437,8330553,-,-
5,4110.2010,Incorporação de empreendimentos imobiliários e...,8330553,437,8330553,-,-
6,4120,Construção de edifícios,111255435,6455,106112792,594,5142641
7,4120.2010,"Edifícios comerciais (shoppings, supermercados...",8272691,497,7402092,59,870599
8,4120.2020,"Edifícios industriais (fábricas, oficinas, gal...",5595313,177,5148490,18,446822
9,4120.2030,Edifícios não residenciais não especificados a...,7244293,533,6775478,44,468815
10,4120.2040,Edifícios residenciais,60844982,3116,59192516,225,1652466
11,4120.2050,Estações de embarque e desembarque (rodoviária...,3564542,19,3564542,-,-
12,4120.9010,Serviços de montagem de edifícios não residenc...,232554,23,226427,3,6127
13,4120.9020,Serviços de montagem de edifícios residenciais...,216232,22,211046,2,5186
14,4120.9030,Serviços de reforma ou manutenção de edifícios...,7909083,703,7311820,47,597262
15,4120.9040,Serviços de reforma ou manutenção de edifícios...,17375745,1365,16280381,196,1095364
16,4211,Construção de rodovias e ferrovias,37331839,778,34430790,85,2901048
17,4211.2010,Instalação de sinalização não elétrica em rodo...,830802,43,671696,5,159106
18,4211.2020,"Pavimentação de rodovias, autoestradas e outra...",17701364,377,15413616,36,2287748
19,4211.2030,Pistas de aeroportos,201736,5,201736,-,-
20,4211.2040,"Rodovias, autoestradas e outras vias não urbanas",6808810,122,6603427,15,205383
21,4211.2050,Vias férreas e metropolitanos,2987725,39,2981851,2,5874
22,4211.9010,Serviços de recuperação ou reforma de ferrovias,841823,21,807881,2,33941
23,4211.9020,Serviços de recuperação ou reforma de pistas d...,74968,4,74968,-,-
24,4211.9030,Serviços de recuperação ou reforma de rodovias,7884611,167,7675615,25,208996
25,4212,Construção de obras de arte especiais,5839690,88,5477472,15,362219
26,4212.2010,"Pontes, elevados, túneis e outras obras de art...",3768123,55,3457648,10,310475
27,4212.9010,"Seviços de recuperação ou reforma de pontes, e...",2071567,33,2019824,5,51744
28,4213,"Obras de urbanização - ruas, praças e calçadas",5981882,433,5821186,42,160696
29,4213.2010,Instalação de sinalização não elétrica em vias...,20650,8,20650,-,-
30,4213.2020,"Ruas, praças, calçadas e outras obras de urban...",3193049,250,3135501,20,57548
31,4213.9010,"Serviços de recuperação de ruas, praças, calça...",2768183,175,2665035,22,103148
32,4221,Obras para geração e distribuição de energia e...,21939826,467,20388409,83,1551420
33,4221.2010,Barragens ou represas para geração de energia ...,5375492,21,5033990,2,341503
34,4221.2020,Redes de transmissão e distribuição de energia...,2681837,103,2470475,16,211362
35,4221.2030,Redes e instalação de torres de telecomunicaçõ...,3808868,33,3788433,4,20436
36,4221.2040,"Usinas, estações e subestações hidrelétricas, ...",3015625,35,2796695,7,218931
37,4221.9010,"Serviços de manutenção de barragens, represas,...",178664,11,178664,-,-
38,4221.9020,Serviços de manutenção de redes e torres de te...,2498494,75,2176255,18,322239
39,4221.9030,Serviços de manutenção de redes de transmissão...,4380846,189,3943897,36,436949

In [156]:
linhas = [0,2,3]
for i in linhas:
    df10a = df10a.drop(i)
coluna = df10a.loc[1]
df10a.columns = coluna
df10a = df10a.drop(1)
#df10a.to_csv('df10a_limpa.csv')

### df10b

In [157]:
df10b

,"Tabela 10 - Valor das incorporações, obras e/ou serviços da construção das empresas de construção com 30 ou mais,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"pessoas ocupadas, segundo as classes de ativid...",NaN,NaN,NaN,NaN,NaN,NaN
1,Código\nPRODLIST\nConstrução,Classes de atividades \ne \ndescrição de produtos,"Valor das incorporações, \nobras e/ou serviços...",Como contratante única ou principal Número\nde...,Como contratante única ou principal Valor\n(1 ...,Como subcontratada Número\nde\ninformantes,Como subcontratada Valor\n(1 000 R$)
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4222,"Construção de redes de abastecimento de água, ...",6818301,350,6447620,42,370683
4,4222.2010,"Obras de irrigação (barragens, canais, etc.)",866807,12,861013,1,5794
5,4222.2020,Redes de distribuição de água,1002632,67,934270,9,68363
6,4222.2030,"Redes de esgotos, interceptores, estações de t...",3558738,164,3362801,25,195937
7,4222.9010,Serviços de manutenção de redes de distribuiçã...,282264,26,234697,4,47568
8,4222.9020,"Serviços de manutenção de redes de esgotos, in...",1107860,81,1054839,3,53021
9,4223,"Construção de redes de transportes por duto, e...",1321799,35,1319694,1,2105
10,4223.2010,"Dutos (oleodutos, gasodutos, minerodutos, etc.)",1001259,25,999154,1,2105
11,4223.9010,"Serviços de manutenção de dutos (oleodutos, ga...",320540,10,320540,-,-
12,4291,"Obras portuárias, marítimas e fluviais",4658204,64,4525906,2,132298
13,4291.2010,Dragagem e aterro hidráulico,994697,19,872032,1,122665
14,4291.2020,Instalação de cabos submarinos,-,-,-,-,-
15,4291.2030,"Obras marítimas e fluviais (portos, marinas, d...",3396171,34,3386538,1,9633
16,4291.9010,Serviço de manutenção de obras marítimas e flu...,267336,11,267336,-,-
17,4292,Montagem de instalações industriais e de estru...,12007026,229,10491065,57,1515962
18,4292.2010,Montagem de estruturas metálicas permanentes,1942006,116,1690058,40,251949
19,4292.2020,Plantas de mineração,665903,5,665903,-,-
20,4292.2030,"Plantas e instalações industriais (tubulações,...",9399117,108,8135104,17,1264013
21,4299,Obras de engenharia civil não especificadas an...,11091516,544,9612436,79,1479080
22,4299.2010,"Quadras, piscinas, pistas de competição e outr...",100683,31,100683,1,-
23,4299.2020,Obras de engenharia civil não especificadas an...,10009791,442,8743142,59,1266649
24,4299.9010,Serviços de recuperação de obras de engenharia...,981042,71,768611,19,212431
25,4311,Demolição e preparação de canteiros de obras,1113349,81,1007277,13,106072
26,4311.2010,Demolição de edifícios e outras estruturas,581902,40,481454,6,100448
27,4311.2020,Preparação de canteiros de obras,296138,33,291301,5,4837
28,4311.9010,Serviços de aluguel e operação de equipamentos...,235309,8,234522,2,787
29,4312,Perfurações e sondagens,868411,68,689892,13,178519
30,4312.2010,Perfurações e sondagens,868411,68,689892,13,178519
31,4313,Obras de terraplenagem,7363494,456,6707094,77,656400
32,4313.2010,Derrocamentos,71900,5,60548,3,11352
33,4313.2020,Escavação e movimentação de terras - terraplen...,6923284,386,6334430,63,588854
34,4313.9010,Serviços de aluguel e operação de equipamentos...,368310,65,312116,11,56194
35,4319,Serviços de preparação do terreno não especifi...,381437,60,369372,8,12064
36,4319.2010,Drenagem,233222,45,222988,6,10233
37,4319.2020,Rebaixamento de lençol freático,6866,3,5673,1,1193
38,4319.2030,Outros tipos de preparações de terreno não esp...,141349,12,140711,1,638

In [158]:
linhas = [0,2]
for i in linhas:
    df10b = df10b.drop(i)
coluna = df10b.loc[1]
df10b.columns = coluna
df10b = df10b.drop(1)
#df10b.to_csv('df10b_limpa.csv')

### df10c

In [159]:
df10c

,"Tabela 10 - Valor das incorporações, obras e/ou serviços da construção das empresas de construção com 30 ou mais,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"pessoas ocupadas, segundo as classes de ativid...",NaN,NaN,NaN,NaN,NaN,NaN
1,Código\nPRODLIST\nConstrução,Classes de atividades \ne\ndescrição de produtos,"Valor das incorporações, \nobras e/ou serviços...",Como contratante única ou principal Número\nde...,Como contratante única ou principal Valor\n(1 ...,Como subcontratada Número\nde\ninformantes,Como subcontratada Valor\n(1 000 R$)
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4321,Instalações elétricas,7613911,623,6556847,142,1057063
4,4321.2010,Instalações elétricas,3493471,264,2883078,56,610393
5,4321.2020,Instalações de telecomunicações,514052,81,370780,21,143272
6,4321.9010,Serviços de manutenção e reparação de instalaç...,3175629,203,2978400,45,197228
7,4321.9020,Serviços de manutenção e reparação de instalaç...,430759,75,324589,20,106170
8,4322,"Instalações hidráulicas, de sistemas de ventil...",4265985,383,3673601,74,592383
9,4322.2010,"Instalações de sistemas de ar condicionado, ve...",1429955,104,1316226,17,113729
10,4322.2020,"Instalações hidráulicas, sanitárias ou de gás",869639,93,745192,23,124446
11,4322.9010,Serviços de manutenção e reparação de sistemas...,1966391,186,1612183,34,354208
12,4329,Obras de instalações em construções não especi...,3921864,177,3613415,24,308449
13,4329.2010,"Instalação de elevadores, escadas ou de esteir...",1045652,41,1024583,4,21069
14,4329.2020,Instalação de isolamentos térmicos e acústicos,454235,29,427519,3,26716
15,4329.2030,Instalação de sistema de iluminação ou de sina...,702148,28,692354,3,9794
16,4329.2040,"Instalações em construções, não especificadas ...",1719829,79,1468959,14,250870
17,4330,Obras de acabamento,3905818,708,3134313,267,771504
18,4330.2010,Acabamento em gesso ou estuque,344695,87,245624,48,99071
19,4330.2020,"Impermeabilização em paredes, caixas d'água, etc.",681384,69,551128,23,130256
20,4330.2030,Instalação de cozinhas e outros mobiliários in...,1564,1,874,1,690
21,4330.2040,"Instalação de esquadrias de metal, madeira ou ...",145889,30,125067,8,20822
22,4330.2050,Pintura (interna ou externa),800324,182,635224,59,165100
23,4330.2060,"Revestimento de pisos e paredes, exceto pintura",140019,59,98751,19,41268
24,4330.2070,Trabalhos de madeira em interiores,64361,28,49696,10,14664
25,4330.2080,Outros serviços de acabamento não especificado...,1727582,252,1427949,99,299633
26,4391,Obras de fundações,2978685,223,2227232,67,751454
27,4391.2010,Fundações,2753360,206,2009949,63,743412
28,4391.9010,Serviços de aluguel e operação de equipamentos...,225325,17,217283,4,8042
29,4399,Serviços especializados para construção não es...,12097197,1130,10159493,261,1937704
30,4399.2010,Administração de obras,4911583,340,4183592,52,727991
31,4399.2020,Alvenaria,2258496,360,1870991,117,387505
32,4399.2030,Poços de água,377864,44,372206,2,5658
33,4399.2040,"Montagem e desmontagem de escoramentos, andaim...",756587,67,722465,16,34122
34,4399.2050,"Telhados, coberturas, caixas d'água, churrasqu...",109829,35,88004,6,21825
35,4399.2060,Outros serviços especializados de construção n...,2970049,203,2273979,53,696070
36,4399.9010,Serviços de aluguél e operação de equipamento ...,712789,81,648256,15,64533

In [160]:
linhas = [0,2]
for i in linhas:
    df10c = df10c.drop(i)
coluna = df10c.loc[1]
df10c.columns = coluna
df10c = df10c.drop(1)
#df10c.to_csv('df10c_limpa.csv')

### df11

In [161]:
df11

,"Tabela 11 - Pessoal ocupado, salários, retiradas e outras remunerações, custos e valor das incorporações, obras e",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"serviços da construção, segundo as Grandes Reg...",NaN,NaN,NaN,NaN,NaN,NaN
1,empresas com cinco ou mais pessoas ocupadas - ...,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,,NaN,NaN,NaN,NaN,NaN
3,Grandes Regiões\ne Unidades da Federação \nde ...,Empresas Unidades\nda\nFederação\nde origem\n(...,Empresas Atuantes\nnas\nUnidades\nda\nFederação,Pessoal\nocupado\nem\n31.12,"Salários,\nretiradas\ne outras\nremunerações 1...",Custos de \nincorporação\ne das obras \ne/ou s...,"Valor das \nincorporações, \nobras e/ou \nserv..."
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Brasil,64428,64428,2258344,65454408,114980566,331723939
6,Norte,2665,3004,160565,5149799,7363323,22695755
7,Rondônia,385,453,17302,637567,747461,2561389
8,Acre,161,181,7057,160417,265367,750501
9,Amazonas,573,648,25155,793281,1281934,3884619
10,Roraima,98,124,4209,100979,167315,541238
11,Pará,958,1174,88127,3000729,4173981,12575081
12,Amapá,147,176,6085,176404,216283,796156
13,Tocantins,343,405,12630,280422,510982,1586771
14,Nordeste,10504,10904,499966,12666290,21890938,62848329
15,Maranhão,653,782,49749,1279794,2043081,6369786
16,Piauí,481,549,25844,678419,1050958,3145180
17,Ceará,1843,1951,92481,2467631,5264722,12896583
18,Rio Grande do Norte,964,1048,38823,778918,1352048,4586711
19,Paraíba,1228,1303,33211,718024,1546915,3907633
20,Pernambuco,1558,1760,86399,2348498,3605316,11147689
21,Alagoas,507,572,24652,504316,1039137,2793037
22,Sergipe,470,533,30311,573845,1035887,3035610
23,Bahia,2800,3006,118496,3316845,4952874,14966100
24,Sudeste,30123,30512,1082412,33543748,56335168,168461205
25,Minas Gerais,7654,8012,234640,6235401,9763413,30348133
26,Espírito Santo,1552,1654,41367,1040037,1757729,5437774
27,Rio de Janeiro,4682,5081,242843,7871769,13464370,39923793
28,São Paulo,16235,16615,563562,18396541,31349656,92751505
29,Sul,15750,15961,340001,8918919,18500199,48240637
30,Paraná,5510,5686,126611,3468102,6809650,17860483
31,Santa Catarina,4424,4586,92577,2492930,5019602,13269584
32,Rio Grande do Sul,5816,6005,120813,2957887,6670947,17110570
33,Centro-Oeste,5386,5704,175400,5175652,10890938,29478013
34,Mato Grosso do Sul,791,914,25571,657011,1323419,3447391
35,Mato Grosso,1237,1375,39223,1246482,3229858,7938967
36,Goiás,2010,2167,65764,1886954,3919168,10575125
37,Distrito Federal,1348,1442,44842,1385205,2418493,7516530

In [162]:
linhas = [0,1,2,4]
for i in linhas:
    df11 = df11.drop(i)
coluna = df11.loc[3]
df11.columns = coluna
df11 = df11.drop(3)
#df11.to_csv('df11_limpa.csv')