In [1]:
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
arquivos = glob.glob('G:\Iniciação Científica\Dados\IBGE\CNAE_2013\*.xls')
if arquivos == []:
    arquivos = glob.glob('F:\Iniciação Científica\Dados\IBGE\CNAE_2013\*.xls')
arquivos = sorted(arquivos)

In [3]:
len(arquivos)

14

In [91]:
arq1_1 = pd.ExcelFile(arquivos[0])
arq1_2 = pd.ExcelFile(arquivos[1])
arq2_1 = pd.ExcelFile(arquivos[2])
arq2_2 = pd.ExcelFile(arquivos[3])
arq2_3 = pd.ExcelFile(arquivos[4])
arq3 = pd.ExcelFile(arquivos[5])
arq4 = pd.ExcelFile(arquivos[6])
arq5 = pd.ExcelFile(arquivos[7])
arq6 = pd.ExcelFile(arquivos[8])
arq7 = pd.ExcelFile(arquivos[9])
arq8 = pd.ExcelFile(arquivos[10])
arq9 = pd.ExcelFile(arquivos[11])
arq10 = pd.ExcelFile(arquivos[12])
arq11 = pd.ExcelFile(arquivos[13])

In [92]:
df1_1b = pd.read_excel(arq1_1, 'Tabela 1.1b')
df1_2b = pd.read_excel(arq1_2, 'Tabela 1.2b')
df2_1a = pd.read_excel(arq2_1, 'Tabela 2.1a')
df2_1b = pd.read_excel(arq2_1, 'Tabela 2.1b')
df2_1c = pd.read_excel(arq2_1, 'Tabela 2.1c')
df2_2a = pd.read_excel(arq2_2, 'Tabela 2.2a')
df2_2b = pd.read_excel(arq2_2, 'Tabela 2.2b')
df2_3a = pd.read_excel(arq2_3, 'Tabela 2.3a')
df2_3b = pd.read_excel(arq2_3, 'Tabela 2.3b')
df3a = pd.read_excel(arq3, 'Tabela 3a')
df3b = pd.read_excel(arq3, 'Tabela 3b')
df4 = pd.read_excel(arq4)
df5a = pd.read_excel(arq5, 'Tabela 5a')
df5b = pd.read_excel(arq5, 'Tabela 5b')
df6a1 = pd.read_excel(arq6, 'Tabela 6a.1')
df6a2 = pd.read_excel(arq6, 'Tabela 6a.2')
df6b = pd.read_excel(arq6, 'Tabela 6b')
df6c = pd.read_excel(arq6, 'Tabela 6c')
df7a = pd.read_excel(arq7, 'Tabela 7a')
df7b = pd.read_excel(arq7, 'Tabela 7b')
df7c = pd.read_excel(arq7, 'Tabela 7c')
df7d = pd.read_excel(arq7, 'Tabela 7d')
df8a = pd.read_excel(arq8, 'Tabela 8a')
df8b = pd.read_excel(arq8, 'Tabela 8b')
df8c = pd.read_excel(arq8, 'Tabela 8c ')
df9 = pd.read_excel(arq9)
df10a = pd.read_excel(arq10, 'Tabela 10a')
df10b = pd.read_excel(arq10, 'Tabela 10b')
df10c = pd.read_excel(arq10, 'Tabela 10c')
df11 = pd.read_excel(arq11)

In [6]:
df = [df1_1b,df1_2b,df2_1a,df2_1b,df2_1c,df2_2a,df2_2b,df2_3a,df2_3b,df3a,df3b,df4,df5a,df5b,df6a1,df6a2,df6b,df6c,df7a,df7b,
      df7c,df7d,df8a,df8b,df8c,df9,df10a,df10b,df10c,df11]

In [7]:
titulos = []
for i in df:
    nome = i.columns[0] + i[i.columns[0]][0]
    titulos.append(nome)

### df1_1b

In [8]:
df1_1b

,"Tabela 1.1 - Variáveis selecionadas das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE 2.0,"Divisões, grupos\n e classes de atividades\n",Número de\nempresas ativas,Pessoal\nocupado\nem 31.12,"Salários, retiradas\ne outras\nremunerações 1 ...","Valor das incorporações, obras e/ou serviços\n..."
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total das empresas,111931,2961190,67401299,357722401
4,NaN,Empresas de 1 a 4 pessoas ocupadas,52233,186542,2637119,18244374
5,41,Construção de edifícios,18020,78613,1154976,10880633
6,42,Obras de infraestrutura,4962,18991,280905,1617597
7,43,Serviços especializados para construção,29251,88938,1201238,5746144
8,NaN,Empresas de 5 a 29 pessoas ocupadas,47002,636615,9614185,47011148
9,41,Construção de edifícios,18727,290389,3976407,24676047
10,41.1,Incorporação e empreendimentos imobiliários,1376,11780,220612,2231298
11,41.2,Construção de edifícios,17351,278609,3755795,22444749
12,42,Obras de infraestrutura,4324,62440,1015172,5559556
13,42.1,"Construção de rodovias, ferrovias, obras urban...",1911,20246,301657,1849857
14,42.2,"Obras de infraestrutura para energia elétrica,...",902,13714,230168,1167246
15,42.9,Construção de outras obras de infraestrutura,1511,28480,483347,2542453
16,43,Serviços especializados para construção,23951,283786,4622606,16775545
17,43.1,Demolição e preparação do terreno,2671,32357,587392,2209609
18,43.2,"Instalações elétricas, hidráulicas e outras in...",7691,88869,1357598,5105874
19,43.3,Obras de acabamento,7555,75046,1264244,3245282
20,43.9,Outros serviços especializados para construções,6034,87514,1413372,6214780
21,NaN,Empresas com 30 ou mais pessoas ocupadas,12696,2138033,55149995,292466879
22,41,Construção de edifícios,6267,849769,18176981,117682583
23,41.1,Incorporação e empreendimentos imobiliários,269,18338,632786,6603775
24,41.10,Incorporação e empreendimentos imobiliários,269,18338,632786,6603775
25,41.2,Construção de edifícios,5998,831431,17544195,111078808
26,41.20,Construção de edifícios,5998,831431,17544195,111078808
27,42,Obras de infraestrutura,2445,864118,27729145,133787135
28,42.1,"Construção de rodovias, ferrovias, obras urban...",982,340646,9692149,57633552
29,42.11,Construção de rodovias e ferrovias,635,246424,7067935,44633848
30,42.12,Construção de obras de arte especiais,77,52217,1795533,8581212
31,42.13,"Obras de urbanização - ruas, praças e calçadas",270,42005,828681,4418492
32,42.2,"Obras de infraestrutura para energia elétrica,...",679,250294,7952031,33490808
33,42.21,Obras para geração e distribuição de energia e...,434,187670,6353398,24462780
34,42.22,"Construção de redes de abastecimento de água, ...",213,45392,913553,5384426
35,42.23,"Construção de redes de transportes por dutos, ...",32,17232,685080,3643602
36,42.9,Construção de outras obras de infraestrutura,784,273178,10084965,42662775
37,42.91,"Obras portuárias, marítimas e fluviais",27,8514,289361,3364097
38,42.92,Montagem de instalações industriais e de estru...,246,157377,6446146,24224550
39,42.99,Obras de engenharia civil não especificadas an...,511,107287,3349458,15074128
40,43,Serviços especializados para construção,3984,424146,9243869,40997161
41,43.1,Demolição e preparação do terreno,558,73634,1900004,10552278
42,43.11,Demolição e preparação de canteiros de obras,49,7445,173282,1255835
43,43.12,Perfurações e sondagens,60,6337,173659,762292
44,43.13,Obras de terraplenagem,419,56865,1500168,8237828
45,43.19,Serviços de preparação do terreno não especifi...,30,2987,52895,296323
46,43.2,"Instalações elétricas, hidráulicas e outras in...",1174,137518,3096079,12654201
47,43.21,Instalações elétricas,643,78311,1760583,6865954
48,43.22,"Instalações hidráulicas, de sistemas de ventil...",376,42415,905863,3938604
49,43.29,Obras de instalações em construções não especi...,155,16792,429633,1849643
50,43.3,Obras de acabamento,835,65742,1153706,3954341
51,43.30,Obras de acabamento,835,65742,1153706,3954341
52,43.9,Outros serviços especializados para construção,1417,147252,3094080,13836341
53,43.91,Obras de fundações,261,32543,741486,3489702
54,43.99,Serviços especializados para construção não es...,1156,114709,2352594,10346639

In [9]:
linhas = [0,2]
for i in linhas:
    df1_1b = df1_1b.drop(i)
coluna = df1_1b.loc[1]
df1_1b.columns = coluna
df1_1b = df1_1b.drop(1)
#df1_1b.to_csv('df1_1b_limpa.csv')

### df1_2b

In [10]:
df1_2b

,"Tabela 1.2 - Variáveis selecionadas das empresas de construção, segundo as Grandes Regiões",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,e as Unidades da Federação da sede da empresa ...,NaN,NaN,NaN,NaN
1,Grandes Regiões \ne\nUnidades da Federação\nda...,Número de\nempresas ativas,Pessoal ocupado\nem 31.12,"Salários, retiradas e\noutras remunerações 1 0...","Valor das incorporações,\nobras e/ou serviços\..."
2,NaN,NaN,NaN,NaN,NaN
3,Total das empresas,NaN,NaN,NaN,NaN
4,Brasil,111931,2961190,67401296,357722400
5,Norte,4481,130404,2143040,13167774
6,Nordeste,17255,580411,9479046,53132570
7,Sudeste,50008,1611861,43038805,215904828
8,Sul,30502,412501,8442788,48270617
9,Centro-Oeste,9685,226013,4297617,27246611
10,Empresas de 1 a 4 pessoas ocupadas,NaN,NaN,NaN,NaN
11,Brasil,52233,186542,2637119,18244373
12,Norte,2080,12806,160466,1349701
13,Nordeste,8033,39519,478150,4276861
14,Sudeste,21019,69629,929800,4723439
15,Sul,16411,45668,796344,5947283
16,Centro-Oeste,4690,18920,272359,1947089
17,Empresas com 5 ou mais pessoas ocupadas,NaN,NaN,NaN,NaN
18,Brasil,59698,2774648,64764177,339478027
19,Norte,2401,117598,1982574,11818073
20,Rondônia,355,10152,159304,1019677
21,Acre,165,8298,134163,686111
22,Amazonas,592,29517,529092,3302643
23,Roraima,76,3509,52678,356401
24,Pará,823,50555,859874,4937885
25,Amapá,131,4601,68955,319320
26,Tocantins,259,10966,178508,1196036
27,Nordeste,9222,540892,9000896,48855709
28,Maranhão,610,39103,582539,3490531
29,Piauí,391,35171,444520,2349167
30,Ceará,1422,90884,1262291,8725466
31,Rio Grande do Norte,869,35978,587318,4229121
32,Paraíba,1005,38204,505708,2517818
33,Pernambuco,1604,92337,1669429,8472446
34,Alagoas,471,25550,392502,2101660
35,Sergipe,381,25384,424029,2404866
36,Bahia,2469,158281,3132560,14564634
37,Sudeste,28989,1542232,42109005,211181389
38,Minas Gerais,6582,378043,8724100,44343269
39,Espírito Santo,1379,50725,938946,4977593
40,Rio de Janeiro,4371,314594,8935350,41808584
41,São Paulo,16657,798870,23510609,120051943
42,Sul,14091,366833,7646444,42323334
43,Paraná,4791,143589,2962174,17421203
44,Santa Catarina,4084,98302,2086235,10802303
45,Rio Grande do Sul,5216,124942,2598035,14099828
46,Centro-Oeste,4995,207093,4025258,25299522
47,Mato Grosso do Sul,718,29231,452889,2488826
48,Mato Grosso,983,39389,720287,4077521
49,Goiás,2015,79151,1638380,9114767
50,Distrito Federal,1279,59322,1213702,9618408

In [11]:
linhas = [0,2]
for i in linhas:
    df1_2b = df1_2b.drop(i)
coluna = df1_2b.loc[1]
df1_2b.columns = coluna
df1_2b = df1_2b.drop(1)
#df1_2b.to_csv('df1_2b_limpa.csv')

### df2_1a

In [12]:
df2_1a

,"Tabela 2.1 - Dados gerais das empresas de construção, segundo",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,"as divisões, os grupos e as classes de ativida...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos\ne\nclasses de atividades\n",Número\nde \nempresas ...,NaN,Pessoal\nocupado\nem\n31.12,NaN,Custos e despesas Total 1 000 R$,NaN,Custos e despesas Gastos de pessoal Total 1 00...,NaN,"Custos e despesas Gastos de pessoal Salários, ...",NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Total das empresas,111931,A,2961190,A,301796485,A,102293354,A,67401299,A
7,NaN,Empresas de 1 a 4 pessoas ocupadas,52233,A,186542,B,11684033,B,3637329,B,2637119,B
8,41,Construção de edifícios,18020,A,78613,B,7424523,B,1676872,B,1154976,B
9,42,Obras de infraestrutura,4962,B,18991,B,1023626,B,383048,B,280905,C
10,43,Serviços especializados para construção,29251,A,88938,B,3235884,B,1577409,B,1201238,B
11,NaN,Empresas de 5 a 29 pessoas ocupadas,47002,A,636615,A,33490114,B,13493854,A,9614185,A
12,41,Construção de edifícios,18727,A,290389,B,17778217,B,5682530,B,3976407,B
13,41.1,Incorporação e empreendimentos imobiliários,1376,B,11780,C,1196991,C,299983,B,220612,B
14,41.2,Construção de edifícios,17351,A,278609,B,16581226,B,5382547,B,3755795,B
15,42,Obras de infraestrutura,4324,B,62440,B,3641002,B,1463778,B,1015172,B
16,42.1,"Construção de rodovias, ferrovias, obras urban...",1911,C,20246,B,1243402,B,416898,B,301657,B
17,42.2,"Obras de infraestrutura para energia elétrica,...",902,B,13714,B,821907,C,330693,C,230168,B
18,42.9,Construção de outras obras de infraestrutura,1511,B,28480,C,1575693,C,716187,B,483347,B
19,43,Serviços especializados para construção,23951,A,283786,A,12070895,B,6347546,A,4622606,A
20,43.1,Demolição e preparação do terreno,2671,A,32357,B,1729104,B,743736,B,587392,B
21,43.2,"Instalações elétricas, hidráulicas e outras in...",7691,B,88869,B,3425838,B,1818043,B,1357598,B
22,43.3,Obras de acabamento,7555,B,75046,B,2868292,B,1793361,B,1264244,B
23,43.9,Outros serviços especializados para construções,6034,B,87514,B,4047661,B,1992406,B,1413372,B
24,NaN,Empresas com 30 ou mais pessoas ocupadas,12696,A,2138033,A,256622338,A,85162171,A,55149995,A
25,41,Construção de edifícios,6267,A,849769,A,97877549,A,27648587,A,18176981,A
26,41.1,Incorporação e empreendimentos imobiliários,269,A,18338,A,5127159,A,963603,A,632786,A
27,41.10,Incorporação e empreendimentos imobiliários,269,A,18338,A,5127159,A,963603,A,632786,A
28,41.2,Construção de edifícios,5998,A,831431,A,92750390,A,26684984,A,17544195,A
29,41.20,Construção de edifícios,5998,A,831431,A,92750390,A,26684984,A,17544195,A
30,42,Obras de infraestrutura,2445,A,864118,A,124708016,A,43556679,A,27729145,A
31,42.1,"Construção de rodovias, ferrovias, obras urban...",982,A,340646,A,53174763,A,14899663,A,9692149,A
32,42.11,Construção de rodovias e ferrovias,635,A,246424,A,41678645,A,10884158,A,7067935,A
33,42.12,Construção de obras de arte especiais,77,A,52217,A,7837091,A,2756137,A,1795533,A
34,42.13,"Obras de urbanização - ruas, praças e calçadas",270,A,42005,A,3659027,A,1259368,A,828681,A
35,42.2,"Obras de infraestrutura para energia elétrica,...",679,A,250294,A,30908880,A,12342652,A,7952031,A
36,42.21,Obras para geração e distribuição de energia e...,434,A,187670,A,22849646,A,9839462,A,6353398,A
37,42.22,"Construção de redes de abastecimento de água, ...",213,A,45392,A,4656938,A,1387131,A,913553,A
38,42.23,"Construção de redes de transportes por dutos, ...",32,B,17232,A,3402296,A,1116059,A,685080,A
39,42.9,Construção de outras obras de infraestrutura,784,A,273178,A,40624373,A,16314364,A,10084965,A
40,42.91,"Obras portuárias, marítimas e fluviais",27,B,8514,A,2628352,A,464628,A,289361,A
41,42.92,Montagem de instalações industriais e de estru...,246,A,157377,A,24277997,A,10758390,A,6446146,A
42,42.99,Obras de engenharia civil não especificadas an...,511,A,107287,A,13718024,A,5091346,A,3349458,A
43,43,Serviços especializados para construção,3984,A,424146,A,34036773,A,13956905,A,9243869,A
44,43.1,Demolição e preparação do terreno,558,A,73634,A,8841355,A,2917537,A,1900004,A
45,43.11,Demolição e preparação de canteiros de obras,49,A,7445,A,1112638,B,266531,A,173282,A
46,43.12,Perfurações e sondagens,60,A,6337,A,703649,A,291102,A,173659,A
47,43.13,Obras de terraplenagem,419,A,56865,A,6809444,A,2276176,A,1500168,A
48,43.19,Serviços de preparação do terreno não especifi...,30,B,2987,A,215624,B,83728,B,52895,A
49,43.2,"Instalações elétricas, hidráulicas e outras in...",1174,A,137518,A,10325273,A,4705082,A,3096079,A
50,43.21,Instalações elétricas,643,A,78311,A,5607450,A,2690554,A,1760583,A
51,43.22,"Instalações hidráulicas, de sistemas de ventil...",376,A,42415,A,3168235,A,1357238,A,905863,A
52,43.29,Obras de instalações em construções não especi...,155,A,16792,A,1549588,A,657290,A,429633,A
53,43.3,Obras de acabamento,835,A,65742,A,3338917,A,1667852,A,1153706,A
54,43.30,Obras de acabamento,835,A,65742,A,3338917,A,1667852,A,1153706,A
55,43.9,Outros serviços especializados para construção,1417,A,147252,A,11531228,A,4666434,A,3094080,A
56,43.91,Obras de fundações,261,A,32543,A,2802312,A,1133712,A,741486,A
57,43.99,Serviços especializados para construção não es...,1156,A,114709,A,8728916,A,3532722,A,2352594,A

In [13]:
linhas = [0,2,3,4,5]
for i in linhas:
    df2_1a = df2_1a.drop(i)
coluna = df2_1a.loc[1]
df2_1a.columns = coluna
df2_1a = df2_1a.drop(1)
#df2_1a.to_csv('df2_1a_limpa.csv')

### df2_1b

In [14]:
df2_1b

,"Tabela 2.1 - Dados gerais das empresas de construção, segundo",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,"as divisões, os grupos e as classes de ativida...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos\ne\nclasses de atividades\n",Custos e despesas Custos das obras e/ou\nservi...,NaN,Custos e despesas Custos das obras e/ou\nserv...,NaN,Custos e despesas Custos de incorporações de i...,NaN,Custos e despesas Custos de incorporações de i...,NaN,Custos e despesas Outros\ncustos e\ndespesas 1...,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total das empresas,124430146,A,74760025,A,5602884,B,3065415,B,69470099,A
6,NaN,Empresas de 1 a 4 pessoas ocupadas,4048505,C,2491430,C,487049,C,306277,C,3511149,C
7,41,Construção de edifícios,2747119,C,1720531,C,459205,C,292598,C,2541327,C
8,42,Obras de infraestrutura,351190,C,217003,C,23423,D,10035,D,265964,C
9,43,Serviços especializados para construção,950196,B,553896,C,4421,D,3644,D,703858,B
10,NaN,Empresas de 5 a 29 pessoas ocupadas,13466787,C,9916818,B,848948,C,539901,C,5680526,B
11,41,Construção de edifícios,8413366,C,6637494,C,722907,C,434108,C,2959413,C
12,41.1,Incorporação e empreendimentos imobiliários,43259,D,6256,E,568510,C,291196,C,285239,C
13,41.2,Construção de edifícios,8370107,C,6631238,C,154397,E,142912,E,2674174,C
14,42,Obras de infraestrutura,1364805,C,894679,C,27626,C,23372,C,784793,C
15,42.1,"Construção de rodovias, ferrovias, obras urban...",584540,B,381418,C,14,E,13,E,241950,C
16,42.2,"Obras de infraestrutura para energia elétrica,...",247079,C,150982,B,3404,E,1793,E,240731,E
17,42.9,Construção de outras obras de infraestrutura,533186,D,362279,D,24208,C,21566,C,302112,C
18,43,Serviços especializados para construção,3688616,B,2384645,B,98415,D,82421,E,1936320,B
19,43.1,Demolição e preparação do terreno,560494,B,155599,C,3965,D,898,E,420910,B
20,43.2,"Instalações elétricas, hidráulicas e outras in...",1041889,C,674538,C,1502,D,444,E,564404,B
21,43.3,Obras de acabamento,667077,C,464224,C,30509,E,30478,E,377346,C
22,43.9,Outros serviços especializados para construções,1419156,C,1090284,C,62439,E,50601,E,573660,C
23,NaN,Empresas com 30 ou mais pessoas ocupadas,106914854,A,62351777,A,4266887,A,2219237,A,60278424,A
24,41,Construção de edifícios,47148069,A,30431841,A,4045528,A,2047072,A,19035364,A
25,41.1,Incorporação e empreendimentos imobiliários,125622,B,83627,B,2788279,A,1338804,A,1249655,A
26,41.10,Incorporação e empreendimentos imobiliários,125622,B,83627,B,2788279,A,1338804,A,1249655,A
27,41.2,Construção de edifícios,47022447,A,30348214,A,1257249,A,708268,A,17785709,A
28,41.20,Construção de edifícios,47022447,A,30348214,A,1257249,A,708268,A,17785709,A
29,42,Obras de infraestrutura,47487313,A,25103224,A,120727,A,88675,A,33543296,A
30,42.1,"Construção de rodovias, ferrovias, obras urban...",22804554,A,11810989,A,96144,A,79908,A,15374402,A
31,42.11,Construção de rodovias e ferrovias,18135455,A,9299744,A,88909,A,76372,A,12570123,A
32,42.12,Construção de obras de arte especiais,2987471,A,1442009,A,-,Z,-,Z,2093483,A
33,42.13,"Obras de urbanização - ruas, praças e calçadas",1681628,A,1069236,A,7235,B,3536,C,710796,A
34,42.2,"Obras de infraestrutura para energia elétrica,...",10817154,A,5061750,A,4307,B,2200,C,7744765,A
35,42.21,Obras para geração e distribuição de energia e...,7019782,A,3238286,A,1918,C,1648,D,5988483,A
36,42.22,"Construção de redes de abastecimento de água, ...",2177899,A,1344415,A,2389,A,552,B,1089518,A
37,42.23,"Construção de redes de transportes por dutos, ...",1619473,A,479049,A,-,Z,-,Z,666764,A
38,42.9,Construção de outras obras de infraestrutura,13865605,A,8230485,A,20276,B,6567,B,10424129,A
39,42.91,"Obras portuárias, marítimas e fluviais",1306568,A,458575,A,-,Z,-,Z,857156,A
40,42.92,Montagem de instalações industriais e de estru...,7165893,A,4672342,A,3312,C,2700,C,6350402,A
41,42.99,Obras de engenharia civil não especificadas an...,5393144,A,3099568,A,16964,B,3867,C,3216571,A
42,43,Serviços especializados para construção,12279472,A,6816712,A,100632,B,83490,B,7699764,A
43,43.1,Demolição e preparação do terreno,3187075,A,1386907,A,15863,B,8565,C,2720878,A
44,43.11,Demolição e preparação de canteiros de obras,473597,A,284125,A,-,Z,-,Z,372510,B
45,43.12,Perfurações e sondagens,190045,A,100703,A,-,Z,-,Z,222502,A
46,43.13,Obras de terraplenagem,2449674,A,967201,A,13653,B,8565,C,2069940,A
47,43.19,Serviços de preparação do terreno não especifi...,73759,B,34878,B,2210,C,-,Z,55926,B
48,43.2,"Instalações elétricas, hidráulicas e outras in...",3781091,A,2073989,A,34949,B,34331,B,1804152,A
49,43.21,Instalações elétricas,1960574,A,1146967,A,31199,B,30745,C,925122,A
50,43.22,"Instalações hidráulicas, de sistemas de ventil...",1288571,A,612700,A,3750,B,3586,B,518677,A
51,43.29,Obras de instalações em construções não especi...,531946,A,314322,A,-,Z,-,Z,360353,B
52,43.3,Obras de acabamento,1140458,A,829865,A,7119,C,6635,C,523489,A
53,43.30,Obras de acabamento,1140458,A,829865,A,7119,C,6635,C,523489,A
54,43.9,Outros serviços especializados para construção,4170848,A,2525951,A,42701,B,33959,C,2651245,A
55,43.91,Obras de fundações,884209,A,486204,A,8439,A,8220,A,775952,A
56,43.99,Serviços especializados para construção não es...,3286639,A,2039747,A,34262,C,25739,C,1875293,A

In [15]:
linhas = [0, 2, 3, 4]
for i in linhas:
    df2_1b = df2_1b.drop(i)
coluna = df2_1b.loc[1]
df2_1b.columns = coluna
df2_1b = df2_1b.drop(1)
#df2_1b.to_csv('df2_1b_limpa.csv')

### df2_1c

In [93]:
df2_1c

,"Tabela 2.1 - Dados gerais das empresas de construção, segundo",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,"as divisões, os grupos e as classes de ativida...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos\ne\nclasses de atividades\n",\nReceita\nbruta \ntotal 1 000 R$\n,NaN,Receita\nlíquida 1 000 R$,NaN,"\nValor das incorporações, obras\ne/ou serviço...",NaN,Consumo\nintermediário 1 000 R$,NaN,Valor bruto\nda\nprodução 1 000 R$,NaN,Valor\nadicionado\n(1) 1 000 R$,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Total das empresas,363909809,A,337604435,A,357722401,A,170386182,A,340487552,A,170101368,A
7,NaN,Empresas de 1 a 4 pessoas ocupadas,18268258,B,16733695,B,18244374,B,6321602,B,16999424,B,10677821,A
8,41,Construção de edifícios,10491095,B,9565579,B,10880633,B,4283324,C,9972279,B,5688955,B
9,42,Obras de infraestrutura,1908759,B,1733059,B,1617597,B,551977,C,1608464,B,1056486,B
10,43,Serviços especializados para construção,5868404,B,5435057,B,5746144,B,1486301,B,5418681,B,3932380,B
11,NaN,Empresas de 5 a 29 pessoas ocupadas,47806807,B,44063661,B,47011148,B,17827063,B,44401839,B,26574776,B
12,41,Construção de edifícios,25009787,B,23465169,B,24676047,B,10764287,C,23435186,B,12670899,B
13,41.1,Incorporação e empreendimentos imobiliários,2258387,C,2136622,C,2231298,C,693418,C,2111604,C,1418186,C
14,41.2,Construção de edifícios,22751400,C,21328547,C,22444749,C,10070869,C,21323582,B,11252713,B
15,42,Obras de infraestrutura,5459957,B,4820699,B,5559556,B,1890149,B,5106948,B,3216799,B
16,42.1,"Construção de rodovias, ferrovias, obras urban...",1920298,B,1790158,B,1849857,B,735439,B,1799900,B,1064461,B
17,42.2,"Obras de infraestrutura para energia elétrica,...",1225098,C,1124342,C,1167246,C,387955,C,1108672,C,720717,C
18,42.9,Construção de outras obras de infraestrutura,2314561,C,1906199,C,2542453,C,766755,C,2198376,B,1431621,B
19,43,Serviços especializados para construção,17337063,B,15777793,B,16775545,B,5172627,B,15859705,B,10687078,B
20,43.1,Demolição e preparação do terreno,2375120,B,2141351,B,2209609,B,755137,B,2135618,B,1380481,B
21,43.2,"Instalações elétricas, hidráulicas e outras in...",5499050,B,4932394,B,5105874,B,1476074,C,4690598,B,3214524,B
22,43.3,Obras de acabamento,3387853,B,3091472,B,3245282,B,1055306,B,3107670,B,2052364,B
23,43.9,Outros serviços especializados para construções,6075040,B,5612576,B,6214780,B,1886110,C,5925819,B,4039709,B
24,NaN,Empresas com 30 ou mais pessoas ocupadas,297834744,A,276807079,A,292466879,A,146237517,A,279086289,A,132848771,A
25,41,Construção de edifícios,117724439,A,109904427,A,117682583,A,60303046,A,110165605,A,49862559,A
26,41.1,Incorporação e empreendimentos imobiliários,6522971,A,5829860,A,6603775,A,3340818,A,5725402,A,2384584,A
27,41.10,Incorporação e empreendimentos imobiliários,6522971,A,5829860,A,6603775,A,3340818,A,5725402,A,2384584,A
28,41.2,Construção de edifícios,111201468,A,104074567,A,111078808,A,56962228,A,104440203,A,47477975,A
29,41.20,Construção de edifícios,111201468,A,104074567,A,111078808,A,56962228,A,104440203,A,47477975,A
30,42,Obras de infraestrutura,138190638,A,128548310,A,133787135,A,68555213,A,129948793,A,61393583,A
31,42.1,"Construção de rodovias, ferrovias, obras urban...",59280773,A,55202644,A,57633552,A,31498734,A,55647171,A,24148439,A
32,42.11,Construção de rodovias e ferrovias,45898034,A,42966697,A,44633848,A,25324459,A,43486786,A,18162328,A
33,42.12,Construção de obras de arte especiais,8583623,A,7785348,A,8581212,A,4090901,A,7861395,A,3770494,A
34,42.13,"Obras de urbanização - ruas, praças e calçadas",4799116,A,4450599,A,4418492,A,2083374,A,4298990,A,2215617,A
35,42.2,"Obras de infraestrutura para energia elétrica,...",34700326,A,32188415,A,33490808,A,16005537,A,32401283,A,16395747,A
36,42.21,Obras para geração e distribuição de energia e...,25700157,A,23844397,A,24462780,A,11054790,A,23907255,A,12852465,A
37,42.22,"Construção de redes de abastecimento de água, ...",5454106,A,5054323,A,5384426,A,2868392,A,5061272,A,2192880,A
38,42.23,"Construção de redes de transportes por dutos, ...",3546063,A,3289695,A,3643602,A,2082355,A,3432756,A,1350402,A
39,42.9,Construção de outras obras de infraestrutura,44209539,A,41157251,A,42662775,A,21050942,A,41900339,A,20849397,A
40,42.91,"Obras portuárias, marítimas e fluviais",3394511,A,3173253,A,3364097,A,1990419,A,3165198,A,1174779,A
41,42.92,Montagem de instalações industriais e de estru...,25034102,A,23338552,A,24224550,A,11594958,A,24207824,A,12612866,A
42,42.99,Obras de engenharia civil não especificadas an...,15780926,A,14645446,A,15074128,A,7465565,A,14527317,A,7061752,A
43,43,Serviços especializados para construção,41919667,A,38354342,A,40997161,A,17379258,A,38971891,A,21592629,A
44,43.1,Demolição e preparação do terreno,10659978,A,9801623,A,10552278,A,4706089,A,9991500,A,5285409,A
45,43.11,Demolição e preparação de canteiros de obras,1262391,A,1137380,A,1255835,B,576688,A,1238845,A,662157,B
46,43.12,Perfurações e sondagens,765824,A,686184,A,762292,A,330779,A,685010,A,354231,A
47,43.13,Obras de terraplenagem,8332379,A,7707899,A,8237828,A,3688848,A,7798713,A,4109864,A
48,43.19,Serviços de preparação do terreno não especifi...,299384,B,270160,B,296323,B,109774,B,268932,B,159157,B
49,43.2,"Instalações elétricas, hidráulicas e outras in...",13193260,A,11931725,A,12654201,A,5110323,A,12091205,A,6980882,A
50,43.21,Instalações elétricas,7036968,A,6432828,A,6865954,A,2685537,A,6497307,A,3811771,A
51,43.22,"Instalações hidráulicas, de sistemas de ventil...",4244194,A,3780568,A,3938604,A,1670850,A,3760149,A,2089298,A
52,43.29,Obras de instalações em construções não especi...,1912098,A,1718329,A,1849643,A,753936,A,1833749,A,1079813,A
53,43.3,Obras de acabamento,4080459,A,3730561,A,3954341,A,1575270,A,3763137,A,2187867,A
54,43.30,Obras de acabamento,4080459,A,3730561,A,3954341,A,1575270,A,3763137,A,2187867,A
55,43.9,Outros serviços especializados para construção,13985970,A,12890433,A,13836341,A,5987576,A,13126049,A,7138471,A
56,43.91,Obras de fundações,3538932,A,3262663,A,3489702,A,1404993,A,3257509,A,1852515,A
57,43.99,Serviços especializados para construção não es...,10447038,A,9627770,A,10346639,A,4582583,A,9868540,A,5285956,A

In [94]:
linhas = [0,2,3,4,5]
for i in linhas:
    df2_1c = df2_1c.drop(i)
coluna = df2_1c.loc[1]
df2_1c.columns = coluna
df2_1c = df2_1c.drop(1)
#df2_1c.to_csv('df2_1c_limpa.csv')

### df2_2a

In [18]:
df2_2a

,"Tabela 2.2 - Dados gerais das empresas de construção com cinco ou mais pessoas ocupadas, segundo",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,"as divisões, os grupos de atividades e as faix...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda\nCNAE\n2.0,"Divisões, grupos de atividades\ne\nfaixas de p...",Número\nde\nempresas\nativas,Pessoal\nocupado\nem\n31.12,Custos e despesas Total 1 000 R$,Custos e despesas Gastos de pessoal Total 1 00...,"Custos e despesas Gastos de pessoal Salários,\...",Custos e despesas Custos das obras e/ou\nservi...,Custos e despesas Custos das obras e/ou\nservi...,Custos e despesas Custos de incorporações\nde ...,Custos e despesas Custos de incorporações\nde ...,Custos e despesas Outros\ncustos e\ndespesas 1...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total,59698,2774648,290112451,98656027,64764179,120381643,72268592,5115838,2759142,65958941
6,NaN,De 5 a 29,46027,514458,34682003,12758734,8983562,13879305,9868436,1777273,1188220,6266690
7,NaN,De 30 a 49,5140,211711,18463255,5816228,4033885,8764588,6122843,472894,211389,3409547
8,NaN,De 50 a 99,4301,324985,28527362,9120442,6108145,13055621,8596348,744693,443937,5606605
9,NaN,De 100 a 249,2818,461477,42818450,14022812,9261025,19751528,12117576,753309,422880,8290800
10,NaN,De 250 a 499,830,294073,32396072,10461607,6837618,14529103,8750097,463958,190516,6941403
11,NaN,Com 500 e mais,582,967944,133225309,46476204,29539944,50401498,26813292,903711,302200,35443896
12,41,Construção de edifícios,24994,1140158,115655765,33331118,22153389,55561435,37069337,4768435,2481181,21994777
13,NaN,De 5 a 29,18285,215847,19383910,5412867,3712412,8839571,6681665,1649723,1081905,3481749
14,NaN,De 30 a 49,2212,92046,9822184,2483263,1709686,5170636,3826326,446069,188850,1722217
15,NaN,De 50 a 99,2325,173185,16446061,4527738,3031291,8222327,5597600,714384,429438,2981611
16,NaN,De 100 a 249,1558,253190,22526262,6792315,4559854,11295874,7625466,701888,375937,3736185
17,NaN,De 250 a 499,395,139595,15073033,4496275,2955887,7383492,5039514,446772,185962,2746493
18,NaN,Com 500 e mais,219,266295,32404315,9618660,6184259,14649535,8298766,809599,219089,7326522
19,41.1,Incorporação de empreendimentos\nimobiliários,1645,30118,6324150,1263586,853397,168881,89884,3356789,1630000,1534894
20,NaN,De 5 a 29,1431,10506,2588537,414709,292051,62669,19399,1461825,937155,649335
21,NaN,De 30 a 49,88,3582,644989,100236,70771,11946,8337,353730,138278,179077
22,NaN,De 50 a 99,72,5446,859880,188954,127744,29641,22231,391037,215783,250248
23,NaN,De 100 a 249,44,6359,894635,258903,173173,35637,20195,380970,208709,219125
24,NaN,De 250 a 499,8,x,x,x,x,x,x,x,x,x
25,NaN,Com 500 e mais,2,x,x,x,x,x,x,x,x,x
26,41.2,Construção de edifícios,23349,1110040,109331615,32067532,21299992,55392554,36979453,1411646,851181,20459883
27,NaN,De 5 a 29,16854,205341,16795373,4998158,3420361,8776902,6662266,187898,144750,2832414
28,NaN,De 30 a 49,2124,88464,9177195,2383027,1638915,5158690,3817989,92339,50572,1543140
29,NaN,De 50 a 99,2253,167739,15586181,4338784,2903547,8192686,5575369,323347,213655,2731363
...,...,...,...,...,...,...,...,...,...,...,...,...
66,NaN,De 250 a 499,160,56214,5149077,1965401,1285690,1868284,907333,8548,292,1306843
67,NaN,Com 500 e mais,3229,105991,10570458,3661274,2487395,3747570,1542505,19828,9463,3141785
68,43.1,Demolição e preparação do terreno,106,103783,8634121,3898271,2485876,2706695,1256513,7533,7533,2021620
69,NaN,De 5 a 29,2595,26982,1797779,695247,541511,624693,145905,6175,898,471664
70,NaN,De 30 a 49,327,12640,1274287,369843,265962,624466,411937,2802,2785,277176
71,NaN,De 50 a 99,153,11589,1096850,371832,249689,387965,173037,6010,5780,331043
72,NaN,De 100 a 249,104,16902,1969894,624492,402193,710992,243848,-,-,634409
73,NaN,De 250 a 499,26,9020,1307331,366520,233457,500011,139548,4841,-,435959
74,NaN,Com 500 e mais,24,28858,3124317,1233340,794583,899443,428230,-,-,991534
75,43.2,"Instalações elétricas, hidráulicas e\noutras i...",8865,226387,13751112,6523125,4453676,4822980,2748526,36452,34777,2368555
76,NaN,De 5 a 29,7504,80052,2778710,1576692,1184891,689191,491572,1874,873,510953
77,NaN,De 30 a 49,727,29724,2072984,892436,631170,849097,541599,3268,3092,328184
78,NaN,De 50 a 99,336,25915,1775050,764641,518663,695827,457476,2076,1578,312506
79,NaN,De 100 a 249,205,33623,2780039,1174278,786400,1067074,591033,29234,29234,509453
80,NaN,De 250 a 499,57,20806,1430320,694791,447663,503644,284487,-,-,231884
81,NaN,Com 500 e mais,36,36267,2914009,1420287,884889,1018147,382359,-,-,475575
82,43.3,Obras de acabamento,8390,140788,6207211,3461212,2417949,1807534,1294088,37628,37113,900835
83,NaN,De 5 a 29,7540,71906,2895138,1792444,1257315,674491,473846,30698,30658,397504
84,NaN,De 30 a 49,470,19523,790591,391201,282008,290695,225109,3243,2805,105452
85,NaN,De 50 a 99,264,21092,871018,448270,316246,282071,216724,2811,2774,137866
86,NaN,De 100 a 249,91,15395,748464,405437,269783,213663,142408,872,872,128493
87,NaN,De 250 a 499,15,5113,406760,194505,137078,133787,90670,1,1,78466
88,NaN,Com 500 e mais,10,7759,495240,229355,155519,212827,145331,3,3,53054
89,43.9,Outros serviços especializados\npara construção,7451,234766,15578889,6658840,4507453,5590004,3616235,105140,84559,3224904
90,NaN,De 5 a 29,5820,68830,3535278,1723543,1222006,1314199,968497,56007,51268,441528
91,NaN,De 30 a 49,718,29989,1884405,802355,560944,648795,430665,9795,8223,423460
92,NaN,De 50 a 99,567,42598,2875777,1156052,783178,1111150,751119,13574,3222,595001
93,NaN,De 100 a 249,248,41175,3178208,1252016,822948,1208740,772733,14528,14025,702924
94,NaN,De 250 a 499,62,21275,2004666,709585,467492,730842,392628,3706,291,560534
95,NaN,Com 500 e mais,36,30899,2100555,1015289,650885,576278,300593,7530,7530,501457

In [19]:
linhas = [0,2,3,4]
for i in linhas:
    df2_2a = df2_2a.drop(i)
coluna = df2_2a.loc[1]
df2_2a.columns = coluna
df2_2a = df2_2a.drop(1)
#df2_2a.to_csv('df2_2a_limpa.csv')

### df2_2b

In [20]:
df2_2b

,"Tabela 2.2 - Dados gerais das empresas de construção com cinco ou mais pessoas ocupadas, segundo",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"as divisões, os grupos de atividades e as faix...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda\nCNAE\n2.0,"Divisões, grupos de atividades\ne\nfaixas de p...",Receita\nbruta\ntotal 1 000 R$\n,Receita\nlíquida 1 000 R$,"\nValor das incorporações, obras\ne/ou serviço...",Consumo\nintermediário 1 000 R$,Valor bruto\nda\nprodução 1 000 R$,Valor\nadicionado\n(1) 1 000 R$
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total,345641547,320870742,339478023,164064581,323488126,159423553
4,NaN,De 5 a 29,50343568,46120877,49670872,19192286,46481929,27289643
5,NaN,De 30 a 49,24585604,22601247,23427431,11182265,22030120,10847856
6,NaN,De 50 a 99,36576033,34018022,35986378,16987540,34069916,17082379
7,NaN,De 100 a 249,53899898,50303295,51602043,25293041,49116356,23823316
8,NaN,De 250 a 499,37826846,35339170,37284048,19104082,35783969,16679890
9,NaN,Com 500 e mais,142409598,132488131,141507251,72305367,136005836,63700469
10,41,Construção de edifícios,142734224,133369596,142358629,71067333,133600791,62533460
11,NaN,De 5 a 29,27700698,25659009,27464292,12169723,25614390,13444667
12,NaN,De 30 a 49,13348871,12301520,12616031,6465203,11631574,5166372
13,NaN,De 50 a 99,21210141,19911866,21084126,10462522,19879559,9417038
14,NaN,De 100 a 249,28932775,27217731,27338609,13949210,25758453,11809243
15,NaN,De 250 a 499,17218786,16266116,17263802,9322177,16555526,7233349
16,NaN,Com 500 e mais,34322953,32013354,36591769,18698498,34161289,15462791
17,41.1,Incorporação de empreendimentos\nimobiliários,8781357,7966481,8835072,4034235,7837006,3802771
18,NaN,De 5 a 29,4203690,3908996,4178862,1762579,3880033,2117454
19,NaN,De 30 a 49,1232787,923474,1234461,428618,895377,466759
20,NaN,De 50 a 99,1025024,958846,1059091,492987,983473,490486
21,NaN,De 100 a 249,1105844,1001825,1128786,514145,976242,462097
22,NaN,De 250 a 499,x,x,x,x,x,x
23,NaN,Com 500 e mais,x,x,x,x,x,x
24,41.2,Construção de edifícios,133952867,125403115,133523557,67033098,125763785,58730689
25,NaN,De 5 a 29,23497008,21750013,23285430,10407144,21734357,11327213
26,NaN,De 30 a 49,12116084,11378046,11381570,6036585,10736197,4699613
27,NaN,De 50 a 99,20185117,18953020,20025035,9969535,18896086,8926552
28,NaN,De 100 a 249,27826931,26215906,26209823,13435065,24782211,11347146
29,NaN,De 250 a 499,16601169,15674502,16626325,8858831,15969570,7110739
...,...,...,...,...,...,...,...,...
64,NaN,De 250 a 499,6197664,5706982,6006093,2751252,5687051,2935801
65,NaN,Com 500 e mais,13035096,11942974,12761886,5461226,12127118,6665892
66,43.1,Demolição e preparação do terreno,9779114,8925274,9824700,4087052,9260479,5173426
67,NaN,De 5 a 29,2481614,2238033,2304089,843846,2231264,1387418
68,NaN,De 30 a 49,1671877,1537361,1671228,764758,1574196,809438
69,NaN,De 50 a 99,1344631,1227771,1305684,561126,1250191,689065
70,NaN,De 100 a 249,2358718,2191265,2320467,1057004,2181074,1124070
71,NaN,De 250 a 499,1641493,1513481,1576562,775050,1513527,738477
72,NaN,Com 500 e mais,3536763,3235063,3583856,1459442,3376866,1917424
73,43.2,"Instalações elétricas, hidráulicas e\noutras i...",18692311,16864118,17760074,6586398,16781804,10195405
74,NaN,De 5 a 29,4921759,4397907,4542018,1096833,4150267,3053434
75,NaN,De 30 a 49,2714848,2462598,2547230,1087090,2458213,1371122
76,NaN,De 50 a 99,2420881,2174483,2326748,922121,2176608,1254487
77,NaN,De 100 a 249,3480403,3172849,3307917,1413530,3205294,1791764
78,NaN,De 250 a 499,1813478,1640947,1733838,669414,1649770,980356
79,NaN,Com 500 e mais,3340942,3015334,3302323,1397410,3141652,1744242
80,43.3,Obras de acabamento,7468312,6822034,7199623,2630576,6870806,4240231
81,NaN,De 5 a 29,3464589,3159134,3300102,1081552,3159798,2078246
82,NaN,De 30 a 49,991000,892121,939992,378276,886881,508605
83,NaN,De 50 a 99,1076116,983615,1047677,393399,976513,583114
84,NaN,De 100 a 249,939179,863810,884461,313156,863751,550595
85,NaN,De 250 a 499,445403,412136,428020,205515,407225,201711
86,NaN,Com 500 e mais,552025,511218,599371,258678,576638,317960
87,43.9,Outros serviços especializados\npara construção,20061010,18503009,20051121,7873688,19051868,11178181
88,NaN,De 5 a 29,5607694,5208136,5792251,1648099,5549041,3900942
89,NaN,De 30 a 49,2436331,2217904,2359662,968888,2263991,1295103
90,NaN,De 50 a 99,3533151,3242434,3522990,1478210,3374664,1896455
91,NaN,De 100 a 249,3837160,3530458,3769395,1705696,3582320,1876624
92,NaN,De 250 a 499,2297290,2140418,2267673,1101273,2116529,1015257
93,NaN,Com 500 e mais,2349384,2163659,2339150,971522,2165323,1193800

In [21]:
linhas = [0,2]
for i in linhas:
    df2_2b = df2_2b.drop(i)
coluna = df2_2b.loc[1]
df2_2b.columns = coluna
df2_2b = df2_2b.drop(1)
#df2_2b.to_csv('df2_2b_limpa.csv')

### df2_3a

In [22]:
df2_3a

,"Tabela 2.3 - Dados gerais das empresas de construção, segundo as Grandes Regiões e",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,as Unidades da Federação da sede da empresa - ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Grandes Regiões \ne\nUnidades da Federação \nd...,Número \nde\nempresas\nativas,Pessoal\nocupado\nem\n31.12,Custos e despesas Total 1 000 R$,Custos e despesas Gastos de pessoal Total 1 00...,"Custos e despesas Gastos de pessoal Salários,\...",Custos e despesas Custos das obras e/ou \nserv...,Custos e despesas Custos das obras e/ou \nserv...,Custos e despesas Custos de incorporação de im...,Custos e despesas Custos de incorporação de im...,Custos e despesas Outros\ncustos e\ndespesas 1...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Total das empresas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Brasil,111931,2961190,301796485,102293357,67401296,124430148,74760026,5602883,3065415,69470094
8,Norte,4481,130404,9855834,3174588,2143040,4656758,3290160,112285,81707,1912204
9,Nordeste,17255,580411,41973527,14324913,9479046,17848132,12052850,699159,328183,9101321
10,Sudeste,50008,1611861,190324299,66057386,43038805,74721125,42638579,3102067,1523441,46443721
11,Sul,30502,412501,38537391,12405837,8442788,17402778,10512444,1088354,721114,7640419
12,Centro-Oeste,9685,226013,21105434,6330633,4297617,9801355,6265993,601018,410970,4372429
13,Empresas de 1 a 4 pessoas ocupadas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Brasil,52233,186542,11684033,3637329,2637119,4048505,2491430,487048,306276,3511149
15,Norte,2080,12806,711018,226197,160466,253116,152827,9778,9254,221927
16,Nordeste,8033,39519,2682418,719766,478150,712887,496775,108542,29319,1141223
17,Sudeste,21019,69629,3171621,1251441,929800,1119191,854284,31314,16364,769675
18,Sul,16411,45668,3813320,1068478,796344,1511572,650179,237324,188056,995944
19,Centro-Oeste,4690,18920,1305656,371447,272359,451739,337365,100090,63283,382380
20,Empresas com 5 ou mais pessoas ocupadas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Brasil,59698,2774648,290112452,98656028,64764177,120381643,72268596,5115835,2759139,65958945
22,Norte,2401,117598,9144816,2948391,1982574,4403642,3137333,102507,72453,1690277
23,Rondônia,355,10152,752744,227389,159304,365954,250026,21157,8819,138244
24,Acre,165,8298,562945,184878,134163,303842,202834,1540,847,72685
25,Amazonas,592,29517,2498405,800085,529092,1260137,953945,45633,38494,392550
26,Roraima,76,3509,222239,72994,52678,120710,91701,365,65,28171
27,Pará,823,50555,3871576,1303621,859874,1738806,1206386,17214,9083,811936
28,Amapá,131,4601,249834,95770,68955,108739,86170,78,73,45247
29,Tocantins,259,10966,987073,263654,178508,505454,346271,16520,15072,201444
30,Nordeste,9222,540892,39291109,13605147,9000896,17135245,11556075,590617,298864,7960098
31,Maranhão,610,39103,2635524,859793,582539,1261659,869925,30829,1381,483243
32,Piauí,391,35171,1878095,657331,444520,942665,700565,7584,2114,270515
33,Ceará,1422,90884,6588764,1911406,1262291,2978442,1604411,132270,96373,1566645
34,Rio Grande do Norte,869,35978,3317171,883119,587318,1566953,1189346,30420,26784,836678
35,Paraíba,1005,38204,1958802,737572,505708,913247,745287,1025,842,306958
36,Pernambuco,1604,92337,6845421,2490474,1669429,2991044,2180495,110862,62562,1253041
37,Alagoas,471,25550,1706566,578623,392502,849464,585024,13065,9970,265414
38,Sergipe,381,25384,1961245,630438,424029,799999,513366,51015,8049,479794
39,Bahia,2469,158281,12399521,4856391,3132560,4831772,3167656,213547,90789,2497810
40,Sudeste,28989,1542232,187152678,64805945,42109005,73601934,41784295,3070753,1507077,45674046
41,Minas Gerais,6582,378043,37956818,13373195,8724100,14804407,8196897,295673,217712,9483543
42,Espírito Santo,1379,50725,3967459,1438056,938946,1584161,1029773,149346,145880,795896
43,Rio de Janeiro,4371,314594,38934070,13696369,8935350,14309490,8244188,476674,126343,10451537
44,São Paulo,16657,798870,106294331,36298325,23510609,42903876,24313437,2149060,1017142,24943070
45,Sul,14091,366833,34724071,11337359,7646444,15891206,9862265,851030,533058,6644475
46,Paraná,4791,143589,14100175,4491454,2962174,6608596,3690533,281975,142245,2718149
47,Santa Catarina,4084,98302,9100782,3093661,2086235,4014633,2696786,237475,159964,1755013
48,Rio Grande do Sul,5216,124942,11523114,3752244,2598035,5267977,3474946,331580,230849,2171313
49,Centro-Oeste,4995,207093,19799778,5959186,4025258,9349616,5928628,500928,347687,3990049
50,Mato Grosso do Sul,718,29231,2063051,656246,452889,1011798,628538,10270,4512,384738
51,Mato Grosso,983,39389,3211722,1037486,720287,1615335,1039924,34379,24397,524522
52,Goiás,2015,79151,7196925,2434215,1638380,3109980,2164346,220246,178371,1432484
53,Distrito Federal,1279,59322,7328080,1831239,1213702,3612503,2095820,236033,140407,1648305

In [23]:
linhas = [0, 2, 3, 4, 5]
for i in linhas:
    df2_3a = df2_3a.drop(i)
coluna = df2_3a.loc[1]
df2_3a.columns = coluna
df2_3a = df2_3a.drop(1)
#df2_3a.to_csv('df2_3a_limpa.csv')

### df2_3b

In [24]:
df2_3b

,"Tabela 2.3 - Dados gerais das empresas de construção, segundo as Grandes Regiões e",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,as Unidades da Federação da sede da empresa - ...,NaN,NaN,NaN,NaN,NaN,NaN
1,Grandes Regiões \ne\nUnidades da Federação\nda...,\nReceita\nbruta\ntotal 1 000 R$\n,Receita\nlíquida 1 000 R$,"\nValor das incorporações, obras\ne/ou serviço...",Consumo\nintermediário 1 000 R$,Valor bruto\nda\nprodução 1 000 R$,Valor\nadicionado\n(1) 1 000 R$
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total das empresas,NaN,NaN,NaN,NaN,NaN,NaN
5,Brasil,363909809,337604437,357722400,170386179,340487553,170101368
6,Norte,13255502,12304706,13167774,5771393,12383906,6612512
7,Nordeste,53667124,49876828,53132570,23551524,50248958,26697432
8,Sudeste,218579414,202569985,215904828,105854724,206295391,100440666
9,Sul,50647070,47172000,48270617,22570289,45863654,23293364
10,Centro-Oeste,27760699,25680918,27246611,12638249,25695644,13057394
11,Empresas de 1 a 4 pessoas ocupadas,NaN,NaN,NaN,NaN,NaN,NaN
12,Brasil,18268257,16733695,18244373,6321601,16999424,10677820
13,Norte,1320878,1216802,1349701,378139,1263578,885439
14,Nordeste,3893718,3445060,4276861,1185931,3892779,2706847
15,Sudeste,4503104,4101135,4723439,1697269,4510764,2813494
16,Sul,6645705,6269347,5947283,2320731,5565284,3244553
17,Centro-Oeste,1904852,1701351,1947089,739531,1767019,1027487
18,Empresas com 5 ou mais pessoas ocupadas,NaN,NaN,NaN,NaN,NaN,NaN
19,Brasil,345641552,320870742,339478027,164064578,323488129,159423548
20,Norte,11934624,11087904,11818073,5393254,11120328,5727073
21,Rondônia,882468,808202,1019677,474835,958169,483334
22,Acre,754999,698106,686111,349920,640771,290852
23,Amazonas,3312903,3078940,3302643,1505840,3113405,1607566
24,Roraima,361199,342416,356401,133307,343303,209996
25,Pará,4981721,4630156,4937885,2191939,4615571,2423631
26,Amapá,324998,301198,319320,133105,307030,173924
27,Tocantins,1316336,1228886,1196036,604308,1142079,537770
28,Nordeste,49773406,46431768,48855709,22365593,46356179,23990585
29,Maranhão,3398672,3209410,3490531,1583141,3364525,1781384
30,Piauí,2389991,2262587,2349167,1106327,2244556,1138229
31,Ceará,8821342,8173476,8725466,4099320,8346016,4246696
32,Rio Grande do Norte,4740659,4469776,4229121,2028768,3956346,1927579
33,Paraíba,2811110,2631454,2517818,1075049,2347160,1272111
34,Pernambuco,8528352,7867282,8472446,3909383,8107644,4198261
35,Alagoas,2331656,2232326,2101660,1026421,2016170,989749
36,Sergipe,2306512,2168548,2404866,986383,2231357,1244973
37,Bahia,14445112,13416909,14564634,6550801,13742405,7191603
38,Sudeste,214076310,198468850,211181389,104157455,201784627,97627172
39,Minas Gerais,45075484,41902966,44343269,21106037,41733353,20627316
40,Espírito Santo,5166668,4755851,4977593,2196076,4738371,2542295
41,Rio de Janeiro,43301395,39990419,41808584,21328789,40328692,18999903
42,São Paulo,120532763,111819614,120051943,59526553,114984211,55457658
43,Sul,44001365,40902653,42323334,20249558,40298370,20048811
44,Paraná,17775839,16530921,17421203,8417684,16535542,8117858
45,Santa Catarina,11728161,10902766,10802303,5209209,10488738,5279529
46,Rio Grande do Sul,14497365,13468966,14099828,6622665,13274090,6651424
47,Centro-Oeste,25855847,23979567,25299522,11898718,23928625,12029907
48,Mato Grosso do Sul,2635729,2450326,2488826,1257910,2410201,1152292
49,Mato Grosso,4205390,3958808,4077521,1929149,3966099,2036950
50,Goiás,9247931,8629683,9114767,4129917,8642201,4512283
51,Distrito Federal,9766797,8940750,9618408,4581742,8910124,4328382

In [25]:
linhas = [0,2,3]
for i in linhas:
    df2_3b = df2_3b.drop(i)
coluna = df2_3b.loc[1]
df2_3b.columns = coluna
df2_3b = df2_3b.drop(1)
#df2_3b.to_csv('df2_3b_limpa.csv')

### df3a (limpeza)

In [26]:
df3a

,"Tabela 3 - Emprego e salário das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda\nCNAE\n2.0,"Divisões, grupos\ne\nclasses de atividades",Número\nde\nempresas\nativas,Pessoal ocupado Em\n31.12,Pessoal ocupado Número\nmédio\nno ano,Pessoal ocupado Assalariado Ligado à\nconstrução,Pessoal ocupado Assalariado Não ligado à\ncons...,Pessoal ocupado Não assalariado Proprietários\...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,111931,2961190,2979391,2590064,241244,128680
5,NaN,Empresas de 1 a 4 pessoas ocupadas,52233,186542,195017,125263,8428,52759
6,41,Construção de edifícios,18020,78613,83810,57552,3437,17598
7,42,Obras de infraestrutura,4962,18991,18802,12559,1105,5307
8,43,Serviços especializados para construção,29251,88938,92405,55152,3886,29854
9,NaN,Empresas de 5 a 29 pessoas ocupadas,47002,636615,629107,545509,35525,55687
10,41,Construção de edifícios,18727,290389,277153,252984,16359,21064
11,41.1,Incorporação e empreendimentos imobiliários,1376,11780,9586,9088,1201,1488
12,41.2,Construção de edifícios,17351,278609,267567,243896,15158,19576
13,42,Obras de infraestrutura,4324,62440,59834,53471,4017,4986
14,42.1,"Construção de rodovias, ferrovias, obras urban...",1911,20246,18134,16674,1720,1859
15,42.2,"Obras de infraestrutura para energia elétrica,...",902,13714,12622,11305,1121,1299
16,42.9,Construção de outras obras de infraestrutura,1511,28480,29078,25492,1176,1828
17,43,Serviços especializados para construção,23951,283786,292120,239054,15149,29637
18,43.1,Demolição e preparação do terreno,2671,32357,30770,26450,2471,3424
19,43.2,"Instalações elétricas, hidráulicas e outras in...",7691,88869,86384,74990,4007,9888
20,43.3,Obras de acabamento,7555,75046,85463,63679,3045,8341
21,43.9,Outros serviços especializados para construções,6034,87514,89503,73935,5626,7984
22,NaN,Empresas com 30 ou mais pessoas ocupadas,12696,2138033,2155267,1919292,197291,20234
23,41,Construção de edifícios,6267,849769,858285,768541,71187,9353
24,41.1,Incorporação e empreendimentos imobiliários,269,18338,21391,15758,2235,338
25,41.10,Incorporação e empreendimentos imobiliários,269,18338,21391,15758,2235,338
26,41.2,Construção de edifícios,5998,831431,836894,752783,68952,9015
27,41.20,Construção de edifícios,5998,831431,836894,752783,68952,9015
28,42,Obras de infraestrutura,2445,864118,875213,769809,89668,4463
29,42.1,"Construção de rodovias, ferrovias, obras urban...",982,340646,340603,290642,48252,1697
30,42.11,Construção de rodovias e ferrovias,635,246424,245222,206362,38930,1105
31,42.12,Construção de obras de arte especiais,77,52217,53977,48201,3837,174
32,42.13,"Obras de urbanização - ruas, praças e calçadas",270,42005,41404,36079,5485,418
33,42.2,"Obras de infraestrutura para energia elétrica,...",679,250294,249930,228815,20299,1130
34,42.21,Obras para geração e distribuição de energia e...,434,187670,188635,170198,16701,741
35,42.22,"Construção de redes de abastecimento de água, ...",213,45392,44594,42802,2228,343
36,42.23,"Construção de redes de transportes por dutos, ...",32,17232,16701,15815,1370,46
37,42.9,Construção de outras obras de infraestrutura,784,273178,284680,250352,21117,1636
38,42.91,"Obras portuárias, marítimas e fluviais",27,8514,8152,6702,1754,58
39,42.92,Montagem de instalações industriais e de estru...,246,157377,166788,147798,9162,390
40,42.99,Obras de engenharia civil não especificadas an...,511,107287,109740,95852,10201,1188
41,43,Serviços especializados para construção,3984,424146,421769,380942,36436,6418
42,43.1,Demolição e preparação do terreno,558,73634,74734,66540,5979,1051
43,43.11,Demolição e preparação de canteiros de obras,49,7445,7732,6480,881,80
44,43.12,Perfurações e sondagens,60,6337,6617,5450,773,100
45,43.13,Obras de terraplenagem,419,56865,57699,52208,3787,827
46,43.19,Serviços de preparação do terreno não especifi...,30,2987,2686,2402,538,44
47,43.2,"Instalações elétricas, hidráulicas e outras in...",1174,137518,136034,122377,13160,1866
48,43.21,Instalações elétricas,643,78311,77376,70859,6391,997
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",376,42415,41265,37005,4755,620
50,43.29,Obras de instalações em construções não especi...,155,16792,17393,14513,2014,249
51,43.3,Obras de acabamento,835,65742,64693,61776,2645,1282
52,43.30,Obras de acabamento,835,65742,64693,61776,2645,1282
53,43.9,Outros serviços especializados para construção,1417,147252,146308,130249,14652,2219
54,43.91,Obras de fundações,261,32543,32079,29349,2697,485
55,43.99,Serviços especializados para construção não es...,1156,114709,114229,100900,11955,1734

In [27]:
linhas = [0,2,3]
for i in linhas:
    df3a = df3a.drop(i)
coluna = df3a.loc[1]
df3a.columns = coluna
df3a = df3a.drop(1)
#df3a.to_csv('df3a_limpa.csv')

### df3b (limpeza)

In [29]:
df3b

,"Tabela 3 - Emprego e salário das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN
1,Códigos\nda\nCNAE\n2.0,"Divisões, grupos\ne\nclasses de atividades","Salários, retiradas e outras remunerações Tot...","Salários, retiradas e outras remunerações Pes...","Salários, retiradas e outras remunerações Pes...","Salários, retiradas e outras remunerações Pes..."
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total das empresas,67401299,57161517,7755650,2484131
6,NaN,Empresas de 1 a 4 pessoas ocupadas,2637119,1943984,141697,551438
7,41,Construção de edifícios,1154976,913059,86017,155900
8,42,Obras de infraestrutura,280905,193516,13652,73737
9,43,Serviços especializados para construção,1201238,837409,42028,321801
10,NaN,Empresas de 5 a 29 pessoas ocupadas,9614185,8198040,633980,782165
11,41,Construção de edifícios,3976407,3397939,268072,310396
12,41.1,Incorporação e empreendimentos imobiliários,220612,116197,28041,76374
13,41.2,Construção de edifícios,3755795,3281742,240031,234022
14,42,Obras de infraestrutura,1015172,861331,85173,68668
15,42.1,"Construção de rodovias, ferrovias, obras urban...",301657,249433,26863,25361
16,42.2,"Obras de infraestrutura para energia elétrica,...",230168,182363,25051,22753
17,42.9,Construção de outras obras de infraestrutura,483347,429535,33259,20554
18,43,Serviços especializados para construção,4622606,3938770,280735,403101
19,43.1,Demolição e preparação do terreno,587392,497492,40216,49684
20,43.2,"Instalações elétricas, hidráulicas e outras in...",1357598,1130940,66533,160125
21,43.3,Obras de acabamento,1264244,1107264,53368,103612
22,43.9,Outros serviços especializados para construções,1413372,1203074,120618,89680
23,NaN,Empresas com 30 ou mais pessoas ocupadas,55149995,47019493,6979973,1150528
24,41,Construção de edifícios,18176981,15566577,2099712,510691
25,41.1,Incorporação e empreendimentos imobiliários,632786,530220,68077,34488
26,41.10,Incorporação e empreendimentos imobiliários,632786,530220,68077,34488
27,41.2,Construção de edifícios,17544195,15036357,2031635,476203
28,41.20,Construção de edifícios,17544195,15036357,2031635,476203
29,42,Obras de infraestrutura,27729145,23526144,3863022,339980
30,42.1,"Construção de rodovias, ferrovias, obras urban...",9692149,8043034,1504715,144399
31,42.11,Construção de rodovias e ferrovias,7067935,5920413,1041457,106064
32,42.12,Construção de obras de arte especiais,1795533,1437679,343542,14312
33,42.13,"Obras de urbanização - ruas, praças e calçadas",828681,684942,119716,24023
34,42.2,"Obras de infraestrutura para energia elétrica,...",7952031,6873700,982633,95699
35,42.21,Obras para geração e distribuição de energia e...,6353398,5479031,813627,60740
36,42.22,"Construção de redes de abastecimento de água, ...",913553,793769,91668,28116
37,42.23,"Construção de redes de transportes por dutos, ...",685080,600900,77338,6843
38,42.9,Construção de outras obras de infraestrutura,10084965,8609410,1375674,99882
39,42.91,"Obras portuárias, marítimas e fluviais",289361,185646,98513,5202
40,42.92,Montagem de instalações industriais e de estru...,6446146,5606687,813651,25809
41,42.99,Obras de engenharia civil não especificadas an...,3349458,2817077,463510,68871
42,43,Serviços especializados para construção,9243869,7926772,1017239,299857
43,43.1,Demolição e preparação do terreno,1900004,1652342,199142,48520
44,43.11,Demolição e preparação de canteiros de obras,173282,147025,24142,2115
45,43.12,Perfurações e sondagens,173659,138063,29430,6166
46,43.13,Obras de terraplenagem,1500168,1326932,133831,39404
47,43.19,Serviços de preparação do terreno não especifi...,52895,40322,11739,835
48,43.2,"Instalações elétricas, hidráulicas e outras in...",3096079,2665492,349248,81338
49,43.21,Instalações elétricas,1760583,1561764,161661,37157
50,43.22,"Instalações hidráulicas, de sistemas de ventil...",905863,749027,127253,29583
51,43.29,Obras de instalações em construções não especi...,429633,354701,60334,14598
52,43.3,Obras de acabamento,1153706,1010167,63919,79620
53,43.30,Obras de acabamento,1153706,1010167,63919,79620
54,43.9,Outros serviços especializados para construção,3094080,2598771,404930,90379
55,43.91,Obras de fundações,741486,615027,106278,20180
56,43.99,Serviços especializados para construção não es...,2352594,1983744,298652,70199

In [30]:
linhas = [0,2,3,4]
for i in linhas:
    df3b = df3b.drop(i)
coluna = df3b.loc[1]
df3b.columns = coluna
df3b = df3b.drop(1)
#df3b.to_csv('df3b_limpa.csv')

### df4 (limpeza)

In [32]:
df4

,"Tabela 4 - Gastos de pessoal das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda\nCNAE\n2.0,"Divisões, grupos\ne\nclasses de atividades",Número\nde\nempresas\nativas,Gastos de pessoal Total 1 000 R$,"Gastos de pessoal Salários,\nretiradas e\noutr...",Gastos de pessoal Contribui-\nções para\nprevi...,Gastos de pessoal FGTS 1 000 R$,Gastos de pessoal Contribui-\nções para\nprevi...,Gastos de pessoal Indeni-\nzações\ntrabalhista...,Gastos de pessoal Benefícios\nconcedidos\naos\...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total das empresas,111931,102293354,67401299,14784668,5724286,388478,3896396,10098233
4,NaN,Empresas de 1 a 4 pessoas ocupadas,52233,3637329,2637119,446569,182384,13527,157773,199958
5,41,Construção de edifícios,18020,1676872,1154976,241355,88518,1667,61242,129114
6,42,Obras de infraestrutura,4962,383048,280905,41560,17833,1661,21970,19119
7,43,Serviços especializados para construção,29251,1577409,1201238,163654,76033,10199,74561,51725
8,NaN,Empresas de 5 a 29 pessoas ocupadas,47002,13493854,9614185,1768394,783379,42435,510053,775409
9,41,Construção de edifícios,18727,5682530,3976407,811909,328131,13741,207208,345134
10,41.1,Incorporação e empreendimentos imobiliários,1376,299983,220612,39921,13018,681,8544,17207
11,41.2,Construção de edifícios,17351,5382547,3755795,771988,315113,13060,198664,327927
12,42,Obras de infraestrutura,4324,1463778,1015172,193637,83935,6106,76959,87969
13,42.1,"Construção de rodovias, ferrovias, obras urban...",1911,416898,301657,52218,24835,2301,19297,16591
14,42.2,"Obras de infraestrutura para energia elétrica,...",902,330693,230168,45790,19920,1975,10009,22830
15,42.9,Construção de outras obras de infraestrutura,1511,716187,483347,95629,39180,1830,47653,48548
16,43,Serviços especializados para construção,23951,6347546,4622606,762848,371313,22588,225886,342306
17,43.1,Demolição e preparação do terreno,2671,743736,587392,76043,46586,1213,17108,15394
18,43.2,"Instalações elétricas, hidráulicas e outras in...",7691,1818043,1357598,212489,102159,426,75878,69493
19,43.3,Obras de acabamento,7555,1793361,1264244,205273,103079,4833,60845,155087
20,43.9,Outros serviços especializados para construções,6034,1992406,1413372,269043,119489,16116,72055,102332
21,NaN,Empresas com 30 ou mais pessoas ocupadas,12696,85162171,55149995,12569705,4758523,332516,3228570,9122866
22,41,Construção de edifícios,6267,27648587,18176981,4098848,1590858,76550,1060364,2644987
23,41.1,Incorporação e empreendimentos imobiliários,269,963603,632786,142338,53377,3094,34409,97600
24,41.10,Incorporação e empreendimentos imobiliários,269,963603,632786,142338,53377,3094,34409,97600
25,41.2,Construção de edifícios,5998,26684984,17544195,3956510,1537481,73456,1025955,2547387
26,41.20,Construção de edifícios,5998,26684984,17544195,3956510,1537481,73456,1025955,2547387
27,42,Obras de infraestrutura,2445,43556679,27729145,6458768,2372915,199932,1691014,5104904
28,42.1,"Construção de rodovias, ferrovias, obras urban...",982,14899663,9692149,2332048,853743,60825,449080,1511819
29,42.11,Construção de rodovias e ferrovias,635,10884158,7067935,1700011,625286,45064,358048,1087815
30,42.12,Construção de obras de arte especiais,77,2756137,1795533,425866,157473,11442,56379,309445
31,42.13,"Obras de urbanização - ruas, praças e calçadas",270,1259368,828681,206171,70984,4319,34653,114559
32,42.2,"Obras de infraestrutura para energia elétrica,...",679,12342652,7952031,1808564,678970,43060,368030,1491995
33,42.21,Obras para geração e distribuição de energia e...,434,9839462,6353398,1434695,532926,28046,295648,1194748
34,42.22,"Construção de redes de abastecimento de água, ...",213,1387131,913553,207607,83051,8519,41715,132686
35,42.23,"Construção de redes de transportes por dutos, ...",32,1116059,685080,166262,62993,6495,30667,164561
36,42.9,Construção de outras obras de infraestrutura,784,16314364,10084965,2318156,840202,96047,873904,2101090
37,42.91,"Obras portuárias, marítimas e fluviais",27,464628,289361,77721,23102,736,15164,58544
38,42.92,Montagem de instalações industriais e de estru...,246,10758390,6446146,1564319,539686,83020,635607,1489612
39,42.99,Obras de engenharia civil não especificadas an...,511,5091346,3349458,676116,277414,12291,223133,552934
40,43,Serviços especializados para construção,3984,13956905,9243869,2012089,794750,56034,477192,1372975
41,43.1,Demolição e preparação do terreno,558,2917537,1900004,456457,173041,13226,106408,268404
42,43.11,Demolição e preparação de canteiros de obras,49,266531,173282,41561,16186,704,9316,25483
43,43.12,Perfurações e sondagens,60,291102,173659,43912,14634,722,22810,35366
44,43.13,Obras de terraplenagem,419,2276176,1500168,358324,137483,11655,72091,196456
45,43.19,Serviços de preparação do terreno não especifi...,30,83728,52895,12660,4738,145,2191,11099
46,43.2,"Instalações elétricas, hidráulicas e outras in...",1174,4705082,3096079,654599,264933,15404,149144,524924
47,43.21,Instalações elétricas,643,2690554,1760583,375055,150076,10791,87947,306103
48,43.22,"Instalações hidráulicas, de sistemas de ventil...",376,1357238,905863,187953,77977,2613,34422,148410
49,43.29,Obras de instalações em construções não especi...,155,657290,429633,91591,36880,2000,26775,70411
50,43.3,Obras de acabamento,835,1667852,1153706,221399,91443,4588,60084,136632
51,43.30,Obras de acabamento,835,1667852,1153706,221399,91443,4588,60084,136632
52,43.9,Outros serviços especializados para construção,1417,4666434,3094080,679634,265333,22816,161556,443015
53,43.91,Obras de fundações,261,1133712,741486,169188,64976,5259,29952,122852
54,43.99,Serviços especializados para construção não es...,1156,3532722,2352594,510446,200357,17557,131604,320163

In [33]:
linhas = [0,2]
for i in linhas:
    df4 = df4.drop(i)
coluna = df4.loc[1]
df4.columns = coluna
df4 = df4.drop(1)
#df4.to_csv('df4_limpa.csv')

### df5a

In [35]:
df5a

,"Tabela 5 - Estrutura das receitas das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"segundo as divisões, os grupos e as classes d...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Número\nde\nempresas\nativas,Receita bruta Total\n(1) 1 000 R$,Receita bruta Obras e/ou\nserviços da\nconstru...,"Receita bruta Incorporações\nde imóveis,\ncons...",Receita bruta Serviços\ntécnicos de\nescritóri...,Receita bruta Venda de\nmateriais de\nconstruç...,Receita bruta Revenda\nde\nimóveis 1 000 R$,Receita bruta Locação\nde\nmão de obra 1 000 R$
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total das empresas,111931,363909809,343065483,11071923,524038,3647457,809721,437293
6,NaN,Empresas de 1 a 4 pessoas ocupadas,52233,18268258,16124496,1794205,17670,236748,13823,2685
7,41,Construção de edifícios,18020,10491095,8607968,1786494,13251,59963,9864,364
8,42,Obras de infraestrutura,4962,1908759,1727553,7249,1963,162702,1692,220
9,43,Serviços especializados para construção,29251,5868404,5788975,462,2456,14083,2267,2101
10,NaN,Empresas de 5 a 29 pessoas ocupadas,47002,47806807,44685266,2143737,66803,406427,122726,62305
11,41,Construção de edifícios,18727,25009787,22704658,2075422,39671,106437,62412,5263
12,41.1,Incorporação e empreendimentos imobiliários,1376,2258387,184460,2056426,5918,8,5327,8
13,41.2,Construção de edifícios,17351,22751400,22520198,18996,33753,106429,57085,5255
14,42,Obras de infraestrutura,4324,5459957,5297834,2567,5241,79584,-,4548
15,42.1,"Construção de rodovias, ferrovias, obras urban...",1911,1920298,1850943,686,2700,12770,-,3039
16,42.2,"Obras de infraestrutura para energia elétrica,...",902,1225098,1187840,1152,641,16821,-,1480
17,42.9,Construção de outras obras de infraestrutura,1511,2314561,2259051,729,1900,49993,-,29
18,43,Serviços especializados para construção,23951,17337063,16682774,65748,21891,220406,60314,52494
19,43.1,Demolição e preparação do terreno,2671,2375120,2237188,13682,65,1816,59206,47706
20,43.2,"Instalações elétricas, hidráulicas e outras in...",7691,5499050,5349849,4170,466,27409,1108,34
21,43.3,Obras de acabamento,7555,3387853,3193840,35457,3954,107660,-,3252
22,43.9,Outros serviços especializados para construções,6034,6075040,5901897,12439,17406,83521,-,1502
23,NaN,Empresas com 30 ou mais pessoas ocupadas,12696,297834744,282255721,7133981,439565,3004282,673172,372303
24,41,Construção de edifícios,6267,117724439,109025558,6963159,205432,215280,398688,160501
25,41.1,Incorporação e empreendimentos imobiliários,269,6522971,210834,6275132,5688,161,11701,4413
26,41.10,Incorporação e empreendimentos imobiliários,269,6522971,210834,6275132,5688,161,11701,4413
27,41.2,Construção de edifícios,5998,111201468,108814724,688027,199744,215119,386987,156088
28,41.20,Construção de edifícios,5998,111201468,108814724,688027,199744,215119,386987,156088
29,42,Obras de infraestrutura,2445,138190638,132654925,101003,188695,2376144,209410,77933
30,42.1,"Construção de rodovias, ferrovias, obras urban...",982,59280773,57391857,41900,47520,714769,112822,28603
31,42.11,Construção de rodovias e ferrovias,635,45898034,44306101,29125,26117,684487,71867,12696
32,42.12,Construção de obras de arte especiais,77,8583623,8513153,-,3677,13566,50,10
33,42.13,"Obras de urbanização - ruas, praças e calçadas",270,4799116,4572603,12775,17726,16716,40905,15897
34,42.2,"Obras de infraestrutura para energia elétrica,...",679,34700326,33289758,20427,71941,203698,21343,39917
35,42.21,Obras para geração e distribuição de energia e...,434,25700157,24403834,17179,58460,178503,-,33685
36,42.22,"Construção de redes de abastecimento de água, ...",213,5454106,5378734,3248,3186,7148,21343,5660
37,42.23,"Construção de redes de transportes por dutos, ...",32,3546063,3507190,-,10295,18047,-,572
38,42.9,Construção de outras obras de infraestrutura,784,44209539,41973310,38676,69234,1457677,75245,9413
39,42.91,"Obras portuárias, marítimas e fluviais",27,3394511,3377920,-,-,-,-,571
40,42.92,Montagem de instalações industriais e de estru...,246,25034102,23360816,5598,454,1313622,-,1433
41,42.99,Obras de engenharia civil não especificadas an...,511,15780926,15234574,33078,68780,144055,75245,7409
42,43,Serviços especializados para construção,3984,41919667,40575238,69819,45438,412858,65074,133869
43,43.1,Demolição e preparação do terreno,558,10659978,10390801,25225,3374,96495,19425,75942
44,43.11,Demolição e preparação de canteiros de obras,49,1262391,1129310,-,15,60814,2360,69866
45,43.12,Perfurações e sondagens,60,765824,762692,625,-,-,-,-
46,43.13,Obras de terraplenagem,419,8332379,8202948,24600,3359,35291,14315,6076
47,43.19,Serviços de preparação do terreno não especifi...,30,299384,295851,-,-,390,2750,-
48,43.2,"Instalações elétricas, hidráulicas e outras in...",1174,13193260,12540415,4373,19861,147980,8060,12569
49,43.21,Instalações elétricas,643,7036968,6802016,1014,17687,87589,7672,3899
50,43.22,"Instalações hidráulicas, de sistemas de ventil...",376,4244194,3959533,3359,2041,28464,388,7757
51,43.29,Obras de instalações em construções não especi...,155,1912098,1778866,-,133,31927,-,913
52,43.3,Obras de acabamento,835,4080459,3940208,4389,2705,106742,2347,5535
53,43.30,Obras de acabamento,835,4080459,3940208,4389,2705,106742,2347,5535
54,43.9,Outros serviços especializados para construção,1417,13985970,13703814,35832,19498,61641,35242,39823
55,43.91,Obras de fundações,261,3538932,3492159,14219,1244,4562,920,1345
56,43.99,Serviços especializados para construção não es...,1156,10447038,10211655,21613,18254,57079,34322,38478

In [36]:
linhas = [0,2,3,4]
for i in linhas:
    df5a = df5a.drop(i)
coluna = df5a.loc[1]
df5a.columns = coluna
df5a = df5a.drop(1)
#df5a.to_csv('df5a_limpa.csv')

### df5b

In [38]:
df5b

,"Tabela 5 - Estrutura das receitas das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,"segundo as divisões, os grupos e as classes d...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\n classes de atividades",Deduções 1 000 R$,Receita\nlíquida 1 000 R$,Receita de\naluguéis e\narrendamentos 1 000 R$,Receitas\nfinanceiras 1 000 R$,Demais\nreceitas\noperacionais\n(2) 1 000 R$,Outras\nreceitas 1 000 R$,Receitas de obras\ne/ou serviços\nda construçã...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total das empresas,26305375,337604435,1917950,5934525,18637982,4045799,721565
6,NaN,Empresas de 1 a 4 pessoas ocupadas,1534563,16733695,43544,228867,327640,378111,3
7,41,Construção de edifícios,925516,9565579,15431,191575,232800,368048,-
8,42,Obras de infraestrutura,175700,1733059,575,11325,7498,2775,2
9,43,Serviços especializados para construção,433347,5435057,27538,25967,87342,7288,1
10,NaN,Empresas de 5 a 29 pessoas ocupadas,3743147,44063661,430991,289899,3186676,139632,1013
11,41,Construção de edifícios,1544617,23465169,314569,236701,2541728,93772,579
12,41.1,Incorporação e empreendimentos imobiliários,121765,2136622,36529,27056,36409,10165,576
13,41.2,Construção de edifícios,1422852,21328547,278040,209645,2505319,83607,3
14,42,Obras de infraestrutura,639258,4820699,32884,38184,21669,25091,-
15,42.1,"Construção de rodovias, ferrovias, obras urban...",130140,1790158,12099,9631,18069,15619,-
16,42.2,"Obras de infraestrutura para energia elétrica,...",100756,1124342,6076,23877,3106,9126,-
17,42.9,Construção de outras obras de infraestrutura,408362,1906199,14709,4676,494,346,-
18,43,Serviços especializados para construção,1559272,15777793,83538,15014,623279,20769,434
19,43.1,Demolição e preparação do terreno,233769,2141351,41491,3879,13836,2135,-
20,43.2,"Instalações elétricas, hidráulicas e outras in...",566657,4932394,10581,2454,15014,6830,2
21,43.3,Obras de acabamento,296382,3091472,213,176,1505,902,432
22,43.9,Outros serviços especializados para construções,462464,5612576,31253,8505,592924,10902,-
23,NaN,Empresas com 30 ou mais pessoas ocupadas,21027665,276807079,1443415,5415759,15123666,3528056,720549
24,41,Construção de edifícios,7820012,109904427,652108,2329005,7473544,1775749,29110
25,41.1,Incorporação e empreendimentos imobiliários,693111,5829860,19792,192772,1417273,147484,-
26,41.10,Incorporação e empreendimentos imobiliários,693111,5829860,19792,192772,1417273,147484,-
27,41.2,Construção de edifícios,7126901,104074567,632316,2136233,6056271,1628265,29110
28,41.20,Construção de edifícios,7126901,104074567,632316,2136233,6056271,1628265,29110
29,42,Obras de infraestrutura,9642328,128548310,454507,2807942,6473630,1428074,657930
30,42.1,"Construção de rodovias, ferrovias, obras urban...",4078128,55202644,282489,1524778,2577273,448337,23963
31,42.11,Construção de rodovias e ferrovias,2931336,42966697,228475,1361527,2030221,310326,1594
32,42.12,Construção de obras de arte especiais,798275,7785348,8023,128998,382368,61049,22369
33,42.13,"Obras de urbanização - ruas, praças e calçadas",348517,4450599,45991,34253,164684,76962,-
34,42.2,"Obras de infraestrutura para energia elétrica,...",2511911,32188415,43589,801372,1093902,165118,165484
35,42.21,Obras para geração e distribuição de energia e...,1855760,23844397,22974,758862,810521,117383,165484
36,42.22,"Construção de redes de abastecimento de água, ...",399783,5054323,13524,27645,179907,27489,-
37,42.23,"Construção de redes de transportes por dutos, ...",256368,3289695,7091,14865,103474,20246,-
38,42.9,Construção de outras obras de infraestrutura,3052289,41157251,128429,481792,2802455,814619,468483
39,42.91,"Obras portuárias, marítimas e fluviais",221258,3173253,7564,64100,38757,6783,-
40,42.92,Montagem de instalações industriais e de estru...,1695551,23338552,11288,249457,2226046,402013,462354
41,42.99,Obras de engenharia civil não especificadas an...,1135480,14645446,109577,168235,537652,405823,6129
42,43,Serviços especializados para construção,3565325,38354342,336800,278812,1176492,324233,33509
43,43.1,Demolição e preparação do terreno,858354,9801623,96525,97559,209017,72381,20821
44,43.11,Demolição e preparação de canteiros de obras,125010,1137380,5048,2710,12231,9170,-
45,43.12,Perfurações e sondagens,79640,686184,255,18164,11581,9248,-
46,43.13,Obras de terraplenagem,624480,7707899,88762,76038,184936,53354,20821
47,43.19,Serviços de preparação do terreno não especifi...,29224,270160,2460,647,269,609,-
48,43.2,"Instalações elétricas, hidráulicas e outras in...",1261537,11931725,52140,66439,376901,27664,612
49,43.21,Instalações elétricas,604141,6432828,2034,37081,300137,14415,526
50,43.22,"Instalações hidráulicas, de sistemas de ventil...",463626,3780568,5111,17180,14174,7573,-
51,43.29,Obras de instalações em construções não especi...,193770,1718329,44995,12178,62590,5676,86
52,43.3,Obras de acabamento,349898,3730561,23882,9145,15967,8207,-
53,43.30,Obras de acabamento,349898,3730561,23882,9145,15967,8207,-
54,43.9,Outros serviços especializados para construção,1095536,12890433,164253,105669,574607,215981,12076
55,43.91,Obras de fundações,276269,3262663,17618,38593,61506,12228,436
56,43.99,Serviços especializados para construção não es...,819267,9627770,146635,67076,513101,203753,11640

In [39]:
linhas = [0,2,3,4]
for i in linhas:
    df5b = df5b.drop(i)
coluna = df5b.loc[1]
df5b.columns = coluna
df5b = df5b.drop(1)
#df5b.to_csv('df5b_limpa.csv')

### df6a1 (limpeza)

In [41]:
df6a1

,"Tabela 6 - Estrutura dos custos e despesas das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"segundo as divisões, os grupos e as classes d...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda\nCNAE\n2.0,"Divisões, grupos\ne\nclasses de atividades",Número\nde\nempresas\nativas,Custos e despesas Total\n(1) 1 000 R$,Custos e despesas Custos das obras e/ou serviç...,Custos e despesas Custos das obras e/ou serviç...,Custos e despesas Custos das obras e/ou serviç...,Custos e despesas Custos das obras e/ou serviç...,Custos e despesas Custos das obras e/ou serviç...,Custos e despesas Custos das obras e/ou servi...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,111931,301796485,124430146,74760025,6923640,33823524,6763350,2159608
5,NaN,Empresas de 1 a 4 pessoas ocupadas,52233,11684033,4048505,2491430,482972,802241,201442,70420
6,41,Construção de edifícios,18020,7424523,2747119,1720531,201912,695447,66809,62420
7,42,Obras de infraestrutura,4962,1023626,351190,217003,39460,35856,51335,7536
8,43,Serviços especializados para construção,29251,3235884,950196,553896,241600,70938,83298,464
9,NaN,Empresas de 5 a 29 pessoas ocupadas,47002,33490114,13466787,9916818,873875,1807324,660845,207924
10,41,Construção de edifícios,18727,17778217,8413366,6637494,229217,1153498,206876,186281
11,41.1,Incorporação e empreendimentos imobiliários,1376,1196991,43259,6256,2059,34347,118,479
12,41.2,Construção de edifícios,17351,16581226,8370107,6631238,227158,1119151,206758,185802
13,42,Obras de infraestrutura,4324,3641002,1364805,894679,162855,184475,117885,4913
14,42.1,"Construção de rodovias, ferrovias, obras urban...",1911,1243402,584540,381418,78545,68236,55757,585
15,42.2,"Obras de infraestrutura para energia elétrica,...",902,821907,247079,150982,42449,27792,25856,-
16,42.9,Construção de outras obras de infraestrutura,1511,1575693,533186,362279,41861,88447,36272,4328
17,43,Serviços especializados para construção,23951,12070895,3688616,2384645,481803,469351,336084,16730
18,43.1,Demolição e preparação do terreno,2671,1729104,560494,155599,210756,42858,146652,4628
19,43.2,"Instalações elétricas, hidráulicas e outras in...",7691,3425838,1041889,674538,81088,218801,63273,4189
20,43.3,Obras de acabamento,7555,2868292,667077,464224,81589,53711,67552,-
21,43.9,Outros serviços especializados para construções,6034,4047661,1419156,1090284,108370,153981,58607,7913
22,NaN,Empresas com 30 ou mais pessoas ocupadas,12696,256622338,106914854,62351777,5566793,31213959,5901063,1881264
23,41,Construção de edifícios,6267,97877549,47148069,30431841,917077,12577575,1490190,1731387
24,41.1,Incorporação e empreendimentos imobiliários,269,5127159,125622,83627,1024,24858,1482,14631
25,41.10,Incorporação e empreendimentos imobiliários,269,5127159,125622,83627,1024,24858,1482,14631
26,41.2,Construção de edifícios,5998,92750390,47022447,30348214,916053,12552717,1488708,1716756
27,41.20,Construção de edifícios,5998,92750390,47022447,30348214,916053,12552717,1488708,1716756
28,42,Obras de infraestrutura,2445,124708016,47487313,25103224,3555904,15660153,3085446,82588
29,42.1,"Construção de rodovias, ferrovias, obras urban...",982,53174763,22804554,11810989,2059723,7330140,1567461,36242
30,42.11,Construção de rodovias e ferrovias,635,41678645,18135455,9299744,1694594,5849809,1285726,5583
31,42.12,Construção de obras de arte especiais,77,7837091,2987471,1442009,169951,1223781,151695,35
32,42.13,"Obras de urbanização - ruas, praças e calçadas",270,3659027,1681628,1069236,195178,256550,130040,30624
33,42.2,"Obras de infraestrutura para energia elétrica,...",679,30908880,10817154,5061750,971063,4049285,723867,11188
34,42.21,Obras para geração e distribuição de energia e...,434,22849646,7019782,3238286,776906,2639793,362914,1883
35,42.22,"Construção de redes de abastecimento de água, ...",213,4656938,2177899,1344415,157304,563057,104260,8863
36,42.23,"Construção de redes de transportes por dutos, ...",32,3402296,1619473,479049,36853,846435,256693,442
37,42.9,Construção de outras obras de infraestrutura,784,40624373,13865605,8230485,525118,4280728,794118,35158
38,42.91,"Obras portuárias, marítimas e fluviais",27,2628352,1306568,458575,87052,720929,38216,1797
39,42.92,Montagem de instalações industriais e de estru...,246,24277997,7165893,4672342,137782,1906948,448821,-
40,42.99,Obras de engenharia civil não especificadas an...,511,13718024,5393144,3099568,300284,1652851,307081,33361
41,43,Serviços especializados para construção,3984,34036773,12279472,6816712,1093812,2976231,1325427,67289
42,43.1,Demolição e preparação do terreno,558,8841355,3187075,1386907,583222,529744,646513,40690
43,43.11,Demolição e preparação de canteiros de obras,49,1112638,473597,284125,21896,74349,63119,30108
44,43.12,Perfurações e sondagens,60,703649,190045,100703,29801,20060,39077,404
45,43.13,Obras de terraplenagem,419,6809444,2449674,967201,524160,425805,524279,8229
46,43.19,Serviços de preparação do terreno não especifi...,30,215624,73759,34878,7365,9530,20038,1949
47,43.2,"Instalações elétricas, hidráulicas e outras in...",1174,10325273,3781091,2073989,158410,1292489,254136,2066
48,43.21,Instalações elétricas,643,5607450,1960574,1146967,93102,597821,122211,472
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",376,3168235,1288571,612700,32517,585477,56634,1243
50,43.29,Obras de instalações em construções não especi...,155,1549588,531946,314322,32791,109191,75291,351
51,43.3,Obras de acabamento,835,3338917,1140458,829865,73569,182742,53233,1048
52,43.30,Obras de acabamento,835,3338917,1140458,829865,73569,182742,53233,1048
53,43.9,Outros serviços especializados para construção,1417,11531228,4170848,2525951,278611,971256,371545,23485
54,43.91,Obras de fundações,261,2802312,884209,486204,88297,178028,125584,6096
55,43.99,Serviços especializados para construção não es...,1156,8728916,3286639,2039747,190314,793228,245961,17389

In [42]:
linhas = [0,2,3]
for i in linhas:
    df6a1 = df6a1.drop(i)
coluna = df6a1.loc[1]
df6a1.columns = coluna
df6a1 = df6a1.drop(1)
#df6a1.to_csv('df6a1_limpa.csv')

### df6a2 (limpeza

In [44]:
df6a2

,"Tabela 6 - Estrutura dos custos e despesas das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"segundo as divisões, os grupos e as classes d...",NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda\nCNAE\n2.0,"Divisões, grupos\ne\nclasses de atividades",Custos e despesas Custos de incorporação de im...,Custos e despesas Custos de incorporação de im...,Custos e despesas Custos de incorporação de im...,Custos e despesas Custos de incorporação de im...,Custos e despesas Custos de incorporação de im...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,5602884,3065415,1832164,245078,460221
5,NaN,Empresas de 1 a 4 pessoas ocupadas,487049,306277,130811,16893,33067
6,41,Construção de edifícios,459205,292598,130054,4071,32481
7,42,Obras de infraestrutura,23423,10035,235,12723,430
8,43,Serviços especializados para construção,4421,3644,522,99,156
9,NaN,Empresas de 5 a 29 pessoas ocupadas,848948,539901,217684,24327,67034
10,41,Construção de edifícios,722907,434108,213422,21139,54238
11,41.1,Incorporação e empreendimentos imobiliários,568510,291196,207346,18490,51479
12,41.2,Construção de edifícios,154397,142912,6076,2649,2759
13,42,Obras de infraestrutura,27626,23372,695,2680,878
14,42.1,"Construção de rodovias, ferrovias, obras urban...",14,13,-,-,-
15,42.2,"Obras de infraestrutura para energia elétrica,...",3404,1793,2,1610,-
16,42.9,Construção de outras obras de infraestrutura,24208,21566,693,1070,878
17,43,Serviços especializados para construção,98415,82421,3567,508,11918
18,43.1,Demolição e preparação do terreno,3965,898,1676,56,1335
19,43.2,"Instalações elétricas, hidráulicas e outras in...",1502,444,657,358,42
20,43.3,Obras de acabamento,30509,30478,-,31,-
21,43.9,Outros serviços especializados para construções,62439,50601,1234,63,10541
22,NaN,Empresas com 30 ou mais pessoas ocupadas,4266887,2219237,1483669,203858,360120
23,41,Construção de edifícios,4045528,2047072,1460370,184676,353411
24,41.1,Incorporação e empreendimentos imobiliários,2788279,1338804,1125836,96212,227428
25,41.10,Incorporação e empreendimentos imobiliários,2788279,1338804,1125836,96212,227428
26,41.2,Construção de edifícios,1257249,708268,334534,88464,125983
27,41.20,Construção de edifícios,1257249,708268,334534,88464,125983
28,42,Obras de infraestrutura,120727,88675,17180,12227,2644
29,42.1,"Construção de rodovias, ferrovias, obras urban...",96144,79908,9498,5222,1516
30,42.11,Construção de rodovias e ferrovias,88909,76372,9219,1893,1425
31,42.12,Construção de obras de arte especiais,-,-,-,-,-
32,42.13,"Obras de urbanização - ruas, praças e calçadas",7235,3536,279,3329,91
33,42.2,"Obras de infraestrutura para energia elétrica,...",4307,2200,1347,604,156
34,42.21,Obras para geração e distribuição de energia e...,1918,1648,26,245,-
35,42.22,"Construção de redes de abastecimento de água, ...",2389,552,1321,359,156
36,42.23,"Construção de redes de transportes por dutos, ...",-,-,-,-,-
37,42.9,Construção de outras obras de infraestrutura,20276,6567,6335,6401,972
38,42.91,"Obras portuárias, marítimas e fluviais",-,-,-,-,-
39,42.92,Montagem de instalações industriais e de estru...,3312,2700,398,62,152
40,42.99,Obras de engenharia civil não especificadas an...,16964,3867,5937,6339,820
41,43,Serviços especializados para construção,100632,83490,6119,6955,4065
42,43.1,Demolição e preparação do terreno,15863,8565,152,4936,2210
43,43.11,Demolição e preparação de canteiros de obras,-,-,-,-,-
44,43.12,Perfurações e sondagens,-,-,-,-,-
45,43.13,Obras de terraplenagem,13653,8565,152,4936,-
46,43.19,Serviços de preparação do terreno não especifi...,2210,-,-,-,2210
47,43.2,"Instalações elétricas, hidráulicas e outras in...",34949,34331,75,536,6
48,43.21,Instalações elétricas,31199,30745,75,372,6
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",3750,3586,-,164,-
50,43.29,Obras de instalações em construções não especi...,-,-,-,-,-
51,43.3,Obras de acabamento,7119,6635,441,41,1
52,43.30,Obras de acabamento,7119,6635,441,41,1
53,43.9,Outros serviços especializados para construção,42701,33959,5451,1442,1848
54,43.91,Obras de fundações,8439,8220,94,124,-
55,43.99,Serviços especializados para construção não es...,34262,25739,5357,1318,1848

In [45]:
linhas = [0,2,3]
for i in linhas:
    df6a2 = df6a2.drop(i)
coluna = df6a2.loc[1]
df6a2.columns = coluna
df6a2 = df6a2.drop(1)
#df6a2.to_csv('df6a2_limpa.csv')

### df6b (limpeza)

In [47]:
df6b

,"Tabela 6 - Estrutura dos custos e despesas das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"segundo as divisões, os grupos e as classes d...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda\nCNAE\n2.0,"Divisões,grupos\ne\nclasses de atividades",Gastos\nde\npessoal 1 000 R$,Outros custos e despesas Total\n(3) 1 000 R$,Outros custos e despesas Aluguéis\ne \narrenda...,Outros custos e despesas Despesas\ncom\narrend...,"Outros custos e despesas Depreciação,\namortiz...",Outros custos e despesas Despesas\ncom\npropag...,Outros custos e despesas Fretes\ne\ncarretos 1...,Outros custos e despesas Impostos\ne\ntaxas 1 ...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,102293354,69470099,11462001,462297,4987851,1155189,1580429,2869167
5,NaN,Empresas de 1 a 4 pessoas ocupadas,3637329,3511149,268511,12573,179426,66490,21795,238509
6,41,Construção de edifícios,1676872,2541327,112139,7326,113083,52632,7951,196240
7,42,Obras de infraestrutura,383048,265964,28649,94,30423,2694,5850,12098
8,43,Serviços especializados para construção,1577409,703858,127723,5153,35920,11164,7994,30171
9,NaN,Empresas de 5 a 29 pessoas ocupadas,13493854,5680526,707919,68348,486705,145991,92947,343445
10,41,Construção de edifícios,5682530,2959413,232244,6629,199836,120705,33415,213125
11,41.1,Incorporação e empreendimentos imobiliários,299983,285239,12857,46,31800,10771,1012,39433
12,41.2,Construção de edifícios,5382547,2674174,219387,6583,168036,109934,32403,173692
13,42,Obras de infraestrutura,1463778,784793,149766,6219,79380,4989,18056,55875
14,42.1,"Construção de rodovias, ferrovias, obras urban...",416898,241950,38319,4708,32695,2540,6838,16004
15,42.2,"Obras de infraestrutura para energia elétrica,...",330693,240731,51071,255,21866,312,1491,10833
16,42.9,Construção de outras obras de infraestrutura,716187,302112,60376,1256,24819,2137,9727,29038
17,43,Serviços especializados para construção,6347546,1936320,325909,55500,207489,20297,41476,74445
18,43.1,Demolição e preparação do terreno,743736,420910,35135,5903,118043,4658,3697,15824
19,43.2,"Instalações elétricas, hidráulicas e outras in...",1818043,564404,107644,8544,29386,11093,8780,26549
20,43.3,Obras de acabamento,1793361,377346,49858,11563,2747,1105,9795,8319
21,43.9,Outros serviços especializados para construções,1992406,573660,133272,29490,57313,3441,19204,23753
22,NaN,Empresas com 30 ou mais pessoas ocupadas,85162171,60278424,10485571,381376,4321720,942708,1465687,2287213
23,41,Construção de edifícios,27648587,19035364,2175548,67219,815571,816713,284393,1069830
24,41.1,Incorporação e empreendimentos imobiliários,963603,1249655,51394,748,40006,97723,3570,47946
25,41.10,Incorporação e empreendimentos imobiliários,963603,1249655,51394,748,40006,97723,3570,47946
26,41.2,Construção de edifícios,26684984,17785709,2124154,66471,775565,718990,280823,1021884
27,41.20,Construção de edifícios,26684984,17785709,2124154,66471,775565,718990,280823,1021884
28,42,Obras de infraestrutura,43556679,33543296,7041809,201173,2644314,84318,920294,898625
29,42.1,"Construção de rodovias, ferrovias, obras urban...",14899663,15374402,3006241,94695,1506225,33032,449562,419450
30,42.11,Construção de rodovias e ferrovias,10884158,12570123,2522280,79995,1155960,25212,362598,320593
31,42.12,Construção de obras de arte especiais,2756137,2093483,367530,7036,239149,2695,57765,56685
32,42.13,"Obras de urbanização - ruas, praças e calçadas",1259368,710796,116431,7664,111116,5125,29199,42172
33,42.2,"Obras de infraestrutura para energia elétrica,...",12342652,7744765,1963190,49426,511522,20019,149012,223637
34,42.21,Obras para geração e distribuição de energia e...,9839462,5988483,1507392,34489,402563,15472,115019,162314
35,42.22,"Construção de redes de abastecimento de água, ...",1387131,1089518,231081,12655,78844,1600,22871,45319
36,42.23,"Construção de redes de transportes por dutos, ...",1116059,666764,224717,2282,30115,2947,11122,16004
37,42.9,Construção de outras obras de infraestrutura,16314364,10424129,2072378,57052,626567,31267,321720,255538
38,42.91,"Obras portuárias, marítimas e fluviais",464628,857156,236396,691,29386,1364,136438,78565
39,42.92,Montagem de instalações industriais e de estru...,10758390,6350402,1317450,19757,359946,11667,91382,79390
40,42.99,Obras de engenharia civil não especificadas an...,5091346,3216571,518532,36604,237235,18236,93900,97583
41,43,Serviços especializados para construção,13956905,7699764,1268214,112984,861835,41677,261000,318758
42,43.1,Demolição e preparação do terreno,2917537,2720878,495016,48260,511681,6374,115454,101470
43,43.11,Demolição e preparação de canteiros de obras,266531,372510,47742,2051,61613,2406,9730,13400
44,43.12,Perfurações e sondagens,291102,222502,49392,419,27426,549,12028,13726
45,43.13,Obras de terraplenagem,2276176,2069940,387685,45547,414334,2999,91697,71588
46,43.19,Serviços de preparação do terreno não especifi...,83728,55926,10197,243,8308,420,1999,2756
47,43.2,"Instalações elétricas, hidráulicas e outras in...",4705082,1804152,283360,20023,92104,9838,47234,81831
48,43.21,Instalações elétricas,2690554,925122,165878,12884,48414,5042,21205,35885
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",1357238,518677,62882,4980,24020,3067,12439,28439
50,43.29,Obras de instalações em construções não especi...,657290,360353,54600,2159,19670,1729,13590,17507
51,43.3,Obras de acabamento,1667852,523489,89503,6557,16217,2017,13950,23963
52,43.30,Obras de acabamento,1667852,523489,89503,6557,16217,2017,13950,23963
53,43.9,Outros serviços especializados para construção,4666434,2651245,400335,38144,241833,23448,84362,111494
54,43.91,Obras de fundações,1133712,775952,156394,25087,93600,4354,43140,25769
55,43.99,Serviços especializados para construção não es...,3532722,1875293,243941,13057,148233,19094,41222,85725

In [48]:
linhas = [0,2,3]
for i in linhas:
    df6b = df6b.drop(i)
coluna = df6b.loc[1]
df6b.columns = coluna
df6b = df6b.drop(1)
df6b.to_csv('df6b_limpa.csv')

### df6c

In [50]:
df6c

,"Tabela 6 - Estrutura dos custos e despesas das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,"segundo as divisões, os grupos e as classes d...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos\ne \nclasses de atividades",Custos e despesas Outros custos e despesas Prê...,Custos e despesas Outros custos e despesas Var...,Custos e despesas Outros custos e despesas Des...,Custos e despesas Outros custos e despesas Cus...,Custos e despesas Outros custos e despesas Res...,Custos e despesas Outros custos e despesas Com...,Custos e despesas Outros custos e despesas Ser...,Custos e despesas Outros custos e despesas Dem...,Custos e despesas Outros custos e despesas Out...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,676046,2220605,9855018,1315761,1070733,1014370,12040672,14187802,4479371
5,NaN,Empresas de 1 a 4 pessoas ocupadas,14539,26257,925007,100161,2464,174610,640862,764584,75341
6,41,Construção de edifícios,6727,25318,839358,98745,2044,166518,416544,469823,26864
7,42,Obras de infraestrutura,3375,14,29196,-,3,7164,81163,63504,1737
8,43,Serviços especializados para construção,4437,925,56453,1416,417,928,143155,231257,46740
9,NaN,Empresas de 5 a 29 pessoas ocupadas,70380,27329,652190,283874,5780,145810,1142943,1271052,232979
10,41,Construção de edifícios,26187,20254,426161,265462,2772,136124,561355,621968,92610
11,41.1,Incorporação e empreendimentos imobiliários,1784,148,42741,875,2359,23244,36783,68983,11908
12,41.2,Construção de edifícios,24403,20106,383420,264587,413,112880,524572,552985,80702
13,42,Obras de infraestrutura,12543,1615,91584,783,2974,1119,129547,179766,48737
14,42.1,"Construção de rodovias, ferrovias, obras urban...",3717,758,31278,-,2971,532,29497,64053,6241
15,42.2,"Obras de infraestrutura para energia elétrica,...",2651,853,35411,28,-,467,33300,48324,33830
16,42.9,Construção de outras obras de infraestrutura,6175,4,24895,755,3,120,66750,67389,8666
17,43,Serviços especializados para construção,31650,5460,134445,17629,34,8567,452041,469318,91632
18,43.1,Demolição e preparação do terreno,8267,4916,56763,6627,-,262,55409,76797,28461
19,43.2,"Instalações elétricas, hidráulicas e outras in...",12388,472,29661,336,34,3475,135667,152200,37911
20,43.3,Obras de acabamento,2606,-,6457,11,-,509,162278,120490,1593
21,43.9,Outros serviços especializados para construções,8389,72,41564,10655,-,4321,98687,119831,23667
22,NaN,Empresas com 30 ou mais pessoas ocupadas,591127,2167019,8277821,931726,1062489,693950,10256867,12152166,4171051
23,41,Construção de edifícios,146163,506083,3404163,628831,624121,593784,3487962,3572597,827566
24,41.1,Incorporação e empreendimentos imobiliários,2169,18453,274169,140119,73719,63248,191675,179783,63139
25,41.10,Incorporação e empreendimentos imobiliários,2169,18453,274169,140119,73719,63248,191675,179783,63139
26,41.2,Construção de edifícios,143994,487630,3129994,488712,550402,530536,3296287,3392814,764427
27,41.20,Construção de edifícios,143994,487630,3129994,488712,550402,530536,3296287,3392814,764427
28,42,Obras de infraestrutura,354234,1599413,4017331,68803,351771,58337,5391378,6911020,2941102
29,42.1,"Construção de rodovias, ferrovias, obras urban...",188521,356843,2296461,30810,208705,25507,2092363,2730646,1925419
30,42.11,Construção de rodovias e ferrovias,143726,299072,2113611,14543,189855,21904,1795977,2152954,1362025
31,42.12,Construção de obras de arte especiais,32445,56924,98078,8544,7878,115,202941,424494,531189
32,42.13,"Obras de urbanização - ruas, praças e calçadas",12350,847,84772,7723,10972,3488,93445,153198,32205
33,42.2,"Obras de infraestrutura para energia elétrica,...",65823,446231,762437,3280,65342,13934,1315089,1602419,526243
34,42.21,Obras para geração e distribuição de energia e...,39600,394881,523810,918,26039,4181,1101506,1218885,439723
35,42.22,"Construção de redes de abastecimento de água, ...",15000,24990,142404,2203,39303,8368,122137,264105,53167
36,42.23,"Construção de redes de transportes por dutos, ...",11223,26360,96223,159,-,1385,91446,119429,33353
37,42.9,Construção de outras obras de infraestrutura,99890,796339,958433,34713,77724,18896,1983926,2577955,489440
38,42.91,"Obras portuárias, marítimas e fluviais",12059,18930,39720,-,419,28,118576,180122,4462
39,42.92,Montagem de instalações industriais e de estru...,66928,748279,444793,3,14089,193,1457222,1460861,277805
40,42.99,Obras de engenharia civil não especificadas an...,20903,29130,473920,34710,63216,18675,408128,936972,207173
41,43,Serviços especializados para construção,90730,61523,856327,234092,86597,41829,1377527,1668549,402383
42,43.1,Demolição e preparação do terreno,25988,22253,322442,45561,60610,2317,362325,442214,154052
43,43.11,Demolição e preparação de canteiros de obras,1005,338,93638,29191,-,19,14358,26566,70303
44,43.12,Perfurações e sondagens,4697,18157,12947,-,-,17,40591,32475,9090
45,43.13,Obras de terraplenagem,19501,3496,210709,15568,60506,2063,296875,371038,73494
46,43.19,Serviços de preparação do terreno não especifi...,785,262,5148,802,104,218,10501,12135,1165
47,43.2,"Instalações elétricas, hidráulicas e outras in...",25844,23592,166179,17609,8217,8740,368251,516530,127134
48,43.21,Instalações elétricas,14265,3210,87352,7849,8217,4206,188629,273141,43596
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",5630,4388,46938,9520,-,3494,118038,162274,31626
50,43.29,Obras de instalações em construções não especi...,5949,15994,31889,240,-,1040,61584,81115,51912
51,43.3,Obras de acabamento,7199,1276,31682,1301,-,2717,147598,160149,18892
52,43.30,Obras de acabamento,7199,1276,31682,1301,-,2717,147598,160149,18892
53,43.9,Outros serviços especializados para construção,31699,14402,336024,169621,17770,28055,499353,549656,102305
54,43.91,Obras de fundações,12245,11077,78019,2057,1135,1332,102180,172133,46577
55,43.99,Serviços especializados para construção não es...,19454,3325,258005,167564,16635,26723,397173,377523,55728

In [51]:
linhas = [0,2,3]
for i in linhas:
    df6c = df6c.drop(i)
coluna = df6c.loc[1]
df6c.columns = coluna
df6c = df6c.drop(1)
#df6c.to_csv('df6c_limpa.csv')

In [52]:
df6c

1,Códigos da CNAE 2.0,"Divisões, grupos e classes de atividades",Custos e despesas Outros custos e despesas Prêmios de seguros 1 000 R$,Custos e despesas Outros custos e despesas Variações monetárias passivas 1 000 R$,Custos e despesas Outros custos e despesas Despesas financeiras 1 000 R$,Custos e despesas Outros custos e despesas Custos da aquisição de imóveis para revenda 1 000 R$,Custos e despesas Outros custos e despesas Resultados negativos de participações societárias e em sociedade em conta de participação 1 000 R$,Custos e despesas Outros custos e despesas Comissões pagas a terceiros 1 000 R$,Custos e despesas Outros custos e despesas Serviços prestados por terceiros (4) 1 000 R$,Custos e despesas Outros custos e despesas Demais custos e despesas operacionais 1 000 R$,Custos e despesas Outros custos e despesas Outras despesas 1 000 R$
4,NaN,Total das empresas,676046,2220605,9855018,1315761,1070733,1014370,12040672,14187802,4479371
5,NaN,Empresas de 1 a 4 pessoas ocupadas,14539,26257,925007,100161,2464,174610,640862,764584,75341
6,41,Construção de edifícios,6727,25318,839358,98745,2044,166518,416544,469823,26864
7,42,Obras de infraestrutura,3375,14,29196,-,3,7164,81163,63504,1737
8,43,Serviços especializados para construção,4437,925,56453,1416,417,928,143155,231257,46740
9,NaN,Empresas de 5 a 29 pessoas ocupadas,70380,27329,652190,283874,5780,145810,1142943,1271052,232979
10,41,Construção de edifícios,26187,20254,426161,265462,2772,136124,561355,621968,92610
11,41.1,Incorporação e empreendimentos imobiliários,1784,148,42741,875,2359,23244,36783,68983,11908
12,41.2,Construção de edifícios,24403,20106,383420,264587,413,112880,524572,552985,80702
13,42,Obras de infraestrutura,12543,1615,91584,783,2974,1119,129547,179766,48737
14,42.1,"Construção de rodovias, ferrovias, obras urban...",3717,758,31278,-,2971,532,29497,64053,6241
15,42.2,"Obras de infraestrutura para energia elétrica,...",2651,853,35411,28,-,467,33300,48324,33830
16,42.9,Construção de outras obras de infraestrutura,6175,4,24895,755,3,120,66750,67389,8666
17,43,Serviços especializados para construção,31650,5460,134445,17629,34,8567,452041,469318,91632
18,43.1,Demolição e preparação do terreno,8267,4916,56763,6627,-,262,55409,76797,28461
19,43.2,"Instalações elétricas, hidráulicas e outras in...",12388,472,29661,336,34,3475,135667,152200,37911
20,43.3,Obras de acabamento,2606,-,6457,11,-,509,162278,120490,1593
21,43.9,Outros serviços especializados para construções,8389,72,41564,10655,-,4321,98687,119831,23667
22,NaN,Empresas com 30 ou mais pessoas ocupadas,591127,2167019,8277821,931726,1062489,693950,10256867,12152166,4171051
23,41,Construção de edifícios,146163,506083,3404163,628831,624121,593784,3487962,3572597,827566
24,41.1,Incorporação e empreendimentos imobiliários,2169,18453,274169,140119,73719,63248,191675,179783,63139
25,41.10,Incorporação e empreendimentos imobiliários,2169,18453,274169,140119,73719,63248,191675,179783,63139
26,41.2,Construção de edifícios,143994,487630,3129994,488712,550402,530536,3296287,3392814,764427
27,41.20,Construção de edifícios,143994,487630,3129994,488712,550402,530536,3296287,3392814,764427
28,42,Obras de infraestrutura,354234,1599413,4017331,68803,351771,58337,5391378,6911020,2941102
29,42.1,"Construção de rodovias, ferrovias, obras urban...",188521,356843,2296461,30810,208705,25507,2092363,2730646,1925419
30,42.11,Construção de rodovias e ferrovias,143726,299072,2113611,14543,189855,21904,1795977,2152954,1362025
31,42.12,Construção de obras de arte especiais,32445,56924,98078,8544,7878,115,202941,424494,531189
32,42.13,"Obras de urbanização - ruas, praças e calçadas",12350,847,84772,7723,10972,3488,93445,153198,32205
33,42.2,"Obras de infraestrutura para energia elétrica,...",65823,446231,762437,3280,65342,13934,1315089,1602419,526243
34,42.21,Obras para geração e distribuição de energia e...,39600,394881,523810,918,26039,4181,1101506,1218885,439723
35,42.22,"Construção de redes de abastecimento de água, ...",15000,24990,142404,2203,39303,8368,122137,264105,53167
36,42.23,"Construção de redes de transportes por dutos, ...",11223,26360,96223,159,-,1385,91446,119429,33353
37,42.9,Construção de outras obras de infraestrutura,99890,796339,958433,34713,77724,18896,1983926,2577955,489440
38,42.91,"Obras portuárias, marítimas e fluviais",12059,18930,39720,-,419,28,118576,180122,4462
39,42.92,Montagem de instalações industriais e de estru...,66928,748279,444793,3,14089,193,1457222,1460861,277805
40,42.99,Obras de engenharia civil não especificadas an...,20903,29130,473920,34710,63216,18675,408128,936972,207173
41,43,Serviços especializados para construção,90730,61523,856327,234092,86597,41829,1377527,1668549,402383
42,43.1,Demolição e preparação do terreno,25988,22253,322442,45561,60610,2317,362325,442214,154052
43,43.11,Demolição e preparação de canteiros de obras,1005,338,93638,29191,-,19,14358,26566,70303
44,43.12,Perfurações e sondagens,4697,18157,12947,-,-,17,40591,32475,9090
45,43.13,Obras de terraplenagem,19501,3496,210709,15568,60506,2063,296875,371038,73494
46,43.19,Serviços de preparação do terreno não especifi...,785,262,5148,802,104,218,10501,12135,1165
47,43.2,"Instalações elétricas, hidráulicas e outras in...",25844,23592,166179,17609,8217,8740,368251,516530,127134
48,43.21,Instalações elétricas,14265,3210,87352,7849,8217,4206,188629,273141,43596
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",5630,4388,46938,9520,-,3494,118038,162274,31626
50,43.29,Obras de instalações em construções não especi...,5949,15994,31889,240,-,1040,61584,81115,51912
51,43.3,Obras de acabamento,7199,1276,31682,1301,-,2717,147598,160149,18892
52,43.30,Obras de acabamento,7199,1276,31682,1301,-,2717,147598,160149,18892
53,43.9,Outros serviços especializados para construção,31699,14402,336024,169621,17770,28055,499353,549656,102305
54,43.91,Obras de fundações,12245,11077,78019,2057,1135,1332,102180,172133,46577
55,43.99,Serviços especializados para construção não es...,19454,3325,258005,167564,16635,26723,397173,377523,55728

### df7a (limpeza)

In [53]:
df7a

,"Tabela 7 - Estrutura do valor bruto da produção das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Número\nde\nempresas\nativas,Valor\nbruto\nda\nprodução 1 000 R$,Valor das obras e/ou serviços da construção To...,Valor das obras e/ou serviços da construção En...,Valor das obras e/ou serviços da construção En...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total das empresas,111931,340487552,346650478,116839561,229810918
4,NaN,Empresas de 1 a 4 pessoas ocupadas,52233,16999424,16450168,2207068,14243100
5,41,Construção de edifícios,18020,9972279,9094138,739962,8354176
6,42,Obras de infraestrutura,4962,1608464,1610348,693848,916500
7,43,Serviços especializados para construção,29251,5418681,5745682,773258,4972424
8,NaN,Empresas de 5 a 29 pessoas ocupadas,47002,44401839,44867411,7215249,37652164
9,41,Construção de edifícios,18727,23435186,22600624,3131704,19468922
10,41.1,Incorporação e empreendimentos imobiliários,1376,2111604,174871,15523,159349
11,41.2,Construção de edifícios,17351,21323582,22425753,3116181,19309573
12,42,Obras de infraestrutura,4324,5106948,5556990,2174338,3382652
13,42.1,"Construção de rodovias, ferrovias, obras urban...",1911,1799900,1849172,933632,915540
14,42.2,"Obras de infraestrutura para energia elétrica,...",902,1108672,1166094,518333,647761
15,42.9,Construção de outras obras de infraestrutura,1511,2198376,2541724,722373,1819351
16,43,Serviços especializados para construção,23951,15859705,16709797,1909207,14800590
17,43.1,Demolição e preparação do terreno,2671,2135618,2195926,333400,1862527
18,43.2,"Instalações elétricas, hidráulicas e outras in...",7691,4690598,5101704,707692,4394012
19,43.3,Obras de acabamento,7555,3107670,3209825,321309,2888516
20,43.9,Outros serviços especializados para construções,6034,5925819,6202342,546806,5655535
21,NaN,Empresas com 30 ou mais pessoas ocupadas,12696,279086289,285332899,107417244,177915654
22,41,Construção de edifícios,6267,110165605,110719425,26391007,84328418
23,41.1,Incorporação e empreendimentos imobiliários,269,5725402,328643,57657,270986
24,41.10,Incorporação e empreendimentos imobiliários,269,5725402,328643,57657,270986
25,41.2,Construção de edifícios,5998,104440203,110390782,26333350,84057432
26,41.20,Construção de edifícios,5998,104440203,110390782,26333350,84057432
27,42,Obras de infraestrutura,2445,129948793,133686132,71332969,62353164
28,42.1,"Construção de rodovias, ferrovias, obras urban...",982,55647171,57591652,38352778,19238875
29,42.11,Construção de rodovias e ferrovias,635,43486786,44604723,29980082,14624641
30,42.12,Construção de obras de arte especiais,77,7861395,8581212,5618718,2962494
31,42.13,"Obras de urbanização - ruas, praças e calçadas",270,4298990,4405717,2753978,1651740
32,42.2,"Obras de infraestrutura para energia elétrica,...",679,32401283,33470382,15052704,18417677
33,42.21,Obras para geração e distribuição de energia e...,434,23907255,24445602,8778711,15666890
34,42.22,"Construção de redes de abastecimento de água, ...",213,5061272,5381178,3944708,1436470
35,42.23,"Construção de redes de transportes por dutos, ...",32,3432756,3643602,2329285,1314317
36,42.9,Construção de outras obras de infraestrutura,784,41900339,42624098,17927487,24696612
37,42.91,"Obras portuárias, marítimas e fluviais",27,3165198,3364097,1445162,1918935
38,42.92,Montagem de instalações industriais e de estru...,246,24207824,24218952,9359311,14859641
39,42.99,Obras de engenharia civil não especificadas an...,511,14527317,15041049,7123014,7918036
40,43,Serviços especializados para construção,3984,38971891,40927342,9693268,31234072
41,43.1,Demolição e preparação do terreno,558,9991500,10527053,3218224,7308828
42,43.11,Demolição e preparação de canteiros de obras,49,1238845,1255835,54507,1201328
43,43.12,Perfurações e sondagens,60,685010,761667,42772,718895
44,43.13,Obras de terraplenagem,419,7798713,8213228,2998379,5214849
45,43.19,Serviços de preparação do terreno não especifi...,30,268932,296323,122566,173756
46,43.2,"Instalações elétricas, hidráulicas e outras in...",1174,12091205,12649829,2831412,9818416
47,43.21,Instalações elétricas,643,6497307,6864940,1490280,5374660
48,43.22,"Instalações hidráulicas, de sistemas de ventil...",376,3760149,3935246,702119,3233127
49,43.29,Obras de instalações em construções não especi...,155,1833749,1849643,639013,1210629
50,43.3,Obras de acabamento,835,3763137,3949951,530274,3419678
51,43.30,Obras de acabamento,835,3763137,3949951,530274,3419678
52,43.9,Outros serviços especializados para construção,1417,13126049,13800509,3113358,10687150
53,43.91,Obras de fundações,261,3257509,3475483,503409,2972074
54,43.99,Serviços especializados para construção não es...,1156,9868540,10325026,2609949,7715076

In [54]:
linhas = [0,2]
for i in linhas:
    df7a = df7a.drop(i)
coluna = df7a.loc[1]
df7a.columns = coluna
df7a = df7a.drop(1)
#df7a.to_csv('df7a_limpa.csv')

### df7b

In [56]:
df7b

,"Tabela 7 - Estrutura do valor bruto da produção das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades","Receita bruta Incorporação de\nimóveis,\nconst...",Receita bruta Serviços\ntécnicos de\nescritóri...,Receita bruta Venda\nde materiais\nde construç...,Receita bruta Revenda\nde\nimóveis 1 000 R$,Receita bruta Locação\nde\nmão de obra 1 000 R$,Custos dos terrenos De obras e/ou\nserviços da...,Custos dos terrenos De\nincorporação\nde imóve...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total das empresas,11071923,524038,3647457,809721,437293,2159608,460221
4,NaN,Empresas de 1 a 4 pessoas ocupadas,1794205,17670,236748,13823,2685,70420,33067
5,41,Construção de edifícios,1786494,13251,59963,9864,364,62420,32481
6,42,Obras de infraestrutura,7249,1963,162702,1692,220,7536,430
7,43,Serviços especializados para construção,462,2456,14083,2267,2101,464,156
8,NaN,Empresas de 5 a 29 pessoas ocupadas,2143737,66803,406427,122726,62305,207924,67034
9,41,Construção de edifícios,2075422,39671,106437,62412,5263,186281,54238
10,41.1,Incorporação e empreendimentos imobiliários,2056426,5918,8,5327,8,479,51479
11,41.2,Construção de edifícios,18996,33753,106429,57085,5255,185802,2759
12,42,Obras de infraestrutura,2567,5241,79584,-,4548,4913,878
13,42.1,"Construção de rodovias, ferrovias, obras urban...",686,2700,12770,-,3039,585,-
14,42.2,"Obras de infraestrutura para energia elétrica,...",1152,641,16821,-,1480,-,-
15,42.9,Construção de outras obras de infraestrutura,729,1900,49993,-,29,4328,878
16,43,Serviços especializados para construção,65748,21891,220406,60314,52494,16730,11918
17,43.1,Demolição e preparação do terreno,13682,65,1816,59206,47706,4628,1335
18,43.2,"Instalações elétricas, hidráulicas e outras in...",4170,466,27409,1108,34,4189,42
19,43.3,Obras de acabamento,35457,3954,107660,-,3252,-,-
20,43.9,Outros serviços especializados para construções,12439,17406,83521,-,1502,7913,10541
21,NaN,Empresas com 30 ou mais pessoas ocupadas,7133981,439565,3004282,673172,372303,1881264,360120
22,41,Construção de edifícios,6963159,205432,215280,398688,160501,1731387,353411
23,41.1,Incorporação e empreendimentos imobiliários,6275132,5688,161,11701,4413,14631,227428
24,41.10,Incorporação e empreendimentos imobiliários,6275132,5688,161,11701,4413,14631,227428
25,41.2,Construção de edifícios,688027,199744,215119,386987,156088,1716756,125983
26,41.20,Construção de edifícios,688027,199744,215119,386987,156088,1716756,125983
27,42,Obras de infraestrutura,101003,188695,2376144,209410,77933,82588,2644
28,42.1,"Construção de rodovias, ferrovias, obras urban...",41900,47520,714769,112822,28603,36242,1516
29,42.11,Construção de rodovias e ferrovias,29125,26117,684487,71867,12696,5583,1425
30,42.12,Construção de obras de arte especiais,-,3677,13566,50,10,35,-
31,42.13,"Obras de urbanização - ruas, praças e calçadas",12775,17726,16716,40905,15897,30624,91
32,42.2,"Obras de infraestrutura para energia elétrica,...",20427,71941,203698,21343,39917,11188,156
33,42.21,Obras para geração e distribuição de energia e...,17179,58460,178503,-,33685,1883,-
34,42.22,"Construção de redes de abastecimento de água, ...",3248,3186,7148,21343,5660,8863,156
35,42.23,"Construção de redes de transportes por dutos, ...",-,10295,18047,-,572,442,-
36,42.9,Construção de outras obras de infraestrutura,38676,69234,1457677,75245,9413,35158,972
37,42.91,"Obras portuárias, marítimas e fluviais",-,-,-,-,571,1797,-
38,42.92,Montagem de instalações industriais e de estru...,5598,454,1313622,-,1433,-,152
39,42.99,Obras de engenharia civil não especificadas an...,33078,68780,144055,75245,7409,33361,820
40,43,Serviços especializados para construção,69819,45438,412858,65074,133869,67289,4065
41,43.1,Demolição e preparação do terreno,25225,3374,96495,19425,75942,40690,2210
42,43.11,Demolição e preparação de canteiros de obras,-,15,60814,2360,69866,30108,-
43,43.12,Perfurações e sondagens,625,-,-,-,-,404,-
44,43.13,Obras de terraplenagem,24600,3359,35291,14315,6076,8229,-
45,43.19,Serviços de preparação do terreno não especifi...,-,-,390,2750,-,1949,2210
46,43.2,"Instalações elétricas, hidráulicas e outras in...",4373,19861,147980,8060,12569,2066,6
47,43.21,Instalações elétricas,1014,17687,87589,7672,3899,472,6
48,43.22,"Instalações hidráulicas, de sistemas de ventil...",3359,2041,28464,388,7757,1243,-
49,43.29,Obras de instalações em construções não especi...,-,133,31927,-,913,351,-
50,43.3,Obras de acabamento,4389,2705,106742,2347,5535,1048,1
51,43.30,Obras de acabamento,4389,2705,106742,2347,5535,1048,1
52,43.9,Outros serviços especializados para construção,35832,19498,61641,35242,39823,23485,1848
53,43.91,Obras de fundações,14219,1244,4562,920,1345,6096,-
54,43.99,Serviços especializados para construção não es...,21613,18254,57079,34322,38478,17389,1848

In [57]:
linhas = [0,2]
for i in linhas:
    df7b = df7b.drop(i)
coluna = df7b.loc[1]
df7b.columns = coluna
df7b = df7b.drop(1)
#df7b.to_csv('df7b_limpa.csv')

### df7c

In [59]:
df7c

,"Tabela 7 - Estrutura do valor bruto da produção das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Consumo intermediário Total\n(1) 1 000 R$,Consumo intermediário Custos das obras e/ou se...,Consumo intermediário Custos das obras e/ou se...,Consumo intermediário Custos das obras e/ou se...,Consumo intermediário Custos das obras e/ou se...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,170386182,6923640,74760025,33823524,6763350
5,NaN,Empresas de 1 a 4 pessoas ocupadas,6321602,482972,2491430,802241,201442
6,41,Construção de edifícios,4283324,201912,1720531,695447,66809
7,42,Obras de infraestrutura,551977,39460,217003,35856,51335
8,43,Serviços especializados para construção,1486301,241600,553896,70938,83298
9,NaN,Empresas de 5 a 29 pessoas ocupadas,17827063,873875,9916818,1807324,660845
10,41,Construção de edifícios,10764287,229217,6637494,1153498,206876
11,41.1,Incorporação e empreendimentos imobiliários,693418,2059,6256,34347,118
12,41.2,Construção de edifícios,10070869,227158,6631238,1119151,206758
13,42,Obras de infraestrutura,1890149,162855,894679,184475,117885
14,42.1,"Construção de rodovias, ferrovias, obras urban...",735439,78545,381418,68236,55757
15,42.2,"Obras de infraestrutura para energia elétrica,...",387955,42449,150982,27792,25856
16,42.9,Construção de outras obras de infraestrutura,766755,41861,362279,88447,36272
17,43,Serviços especializados para construção,5172627,481803,2384645,469351,336084
18,43.1,Demolição e preparação do terreno,755137,210756,155599,42858,146652
19,43.2,"Instalações elétricas, hidráulicas e outras in...",1476074,81088,674538,218801,63273
20,43.3,Obras de acabamento,1055306,81589,464224,53711,67552
21,43.9,Outros serviços especializados para construções,1886110,108370,1090284,153981,58607
22,NaN,Empresas com 30 ou mais pessoas ocupadas,146237517,5566793,62351777,31213959,5901063
23,41,Construção de edifícios,60303046,917077,30431841,12577575,1490190
24,41.1,Incorporação e empreendimentos imobiliários,3340818,1024,83627,24858,1482
25,41.10,Incorporação e empreendimentos imobiliários,3340818,1024,83627,24858,1482
26,41.2,Construção de edifícios,56962228,916053,30348214,12552717,1488708
27,41.20,Construção de edifícios,56962228,916053,30348214,12552717,1488708
28,42,Obras de infraestrutura,68555213,3555904,25103224,15660153,3085446
29,42.1,"Construção de rodovias, ferrovias, obras urban...",31498734,2059723,11810989,7330140,1567461
30,42.11,Construção de rodovias e ferrovias,25324459,1694594,9299744,5849809,1285726
31,42.12,Construção de obras de arte especiais,4090901,169951,1442009,1223781,151695
32,42.13,"Obras de urbanização - ruas, praças e calçadas",2083374,195178,1069236,256550,130040
33,42.2,"Obras de infraestrutura para energia elétrica,...",16005537,971063,5061750,4049285,723867
34,42.21,Obras para geração e distribuição de energia e...,11054790,776906,3238286,2639793,362914
35,42.22,"Construção de redes de abastecimento de água, ...",2868392,157304,1344415,563057,104260
36,42.23,"Construção de redes de transportes por dutos, ...",2082355,36853,479049,846435,256693
37,42.9,Construção de outras obras de infraestrutura,21050942,525118,8230485,4280728,794118
38,42.91,"Obras portuárias, marítimas e fluviais",1990419,87052,458575,720929,38216
39,42.92,Montagem de instalações industriais e de estru...,11594958,137782,4672342,1906948,448821
40,42.99,Obras de engenharia civil não especificadas an...,7465565,300284,3099568,1652851,307081
41,43,Serviços especializados para construção,17379258,1093812,6816712,2976231,1325427
42,43.1,Demolição e preparação do terreno,4706089,583222,1386907,529744,646513
43,43.11,Demolição e preparação de canteiros de obras,576688,21896,284125,74349,63119
44,43.12,Perfurações e sondagens,330779,29801,100703,20060,39077
45,43.13,Obras de terraplenagem,3688848,524160,967201,425805,524279
46,43.19,Serviços de preparação do terreno não especifi...,109774,7365,34878,9530,20038
47,43.2,"Instalações elétricas, hidráulicas e outras in...",5110323,158410,2073989,1292489,254136
48,43.21,Instalações elétricas,2685537,93102,1146967,597821,122211
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",1670850,32517,612700,585477,56634
50,43.29,Obras de instalações em construções não especi...,753936,32791,314322,109191,75291
51,43.3,Obras de acabamento,1575270,73569,829865,182742,53233
52,43.30,Obras de acabamento,1575270,73569,829865,182742,53233
53,43.9,Outros serviços especializados para construção,5987576,278611,2525951,971256,371545
54,43.91,Obras de fundações,1404993,88297,486204,178028,125584
55,43.99,Serviços especializados para construção não es...,4582583,190314,2039747,793228,245961

In [60]:
linhas = [0,2,3]
for i in linhas:
    df7c = df7c.drop(i)
coluna = df7c.loc[1]
df7c.columns = coluna
df7c = df7c.drop(1)
#df7c.to_csv('df7c_limpa.csv')

### df8a

In [62]:
df8a

,"Tabela 8 - Estrutura dos investimentos das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos\ne \nclasses de atividades",Número\nde\nempresas\nativas,Ativo imobilizado Aquisições de terceiros e pr...,Ativo imobilizado Aquisições de terceiros e pr...,Ativo imobilizado Aquisições de terceiros e pr...,Ativo imobilizado Aquisições de terceiros e pr...,Ativo imobilizado Aquisições de terceiros e pr...,Ativo imobilizado Aquisições de terceiros e pr...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total das empresas,111931,26170,12811546,3527988,5648872,2423505,1211182
6,NaN,Empresas de 1 a 4 pessoas ocupadas,52233,8790,793754,448899,184015,146532,14308
7,41,Construção de edifícios,18020,4987,505689,348545,44862,101941,10341
8,42,Obras de infraestrutura,4962,489,32689,2419,11731,16285,2254
9,43,Serviços especializados para construção,29251,3314,255376,97935,127422,28306,1713
10,NaN,Empresas de 5 a 29 pessoas ocupadas,47002,11688,1703473,667114,676957,289106,70294
11,41,Construção de edifícios,18727,5837,760426,478813,112059,128074,41478
12,41.1,Incorporação e empreendimentos imobiliários,1376,400,136250,87463,34205,12460,2121
13,41.2,Construção de edifícios,17351,5437,624176,391350,77854,115614,39357
14,42,Obras de infraestrutura,4324,1086,346844,47607,239196,45867,14175
15,42.1,"Construção de rodovias, ferrovias, obras urban...",1911,398,228206,3495,203119,16571,5021
16,42.2,"Obras de infraestrutura para energia elétrica,...",902,258,46998,3740,19340,16116,7802
17,42.9,Construção de outras obras de infraestrutura,1511,430,71640,40372,16737,13180,1352
18,43,Serviços especializados para construção,23951,4765,596203,140694,325702,115165,14641
19,43.1,Demolição e preparação do terreno,2671,797,284149,72126,179882,27094,5046
20,43.2,"Instalações elétricas, hidráulicas e outras in...",7691,926,59937,1232,11056,45219,2431
21,43.3,Obras de acabamento,7555,1373,30668,207,16913,13204,344
22,43.9,Outros serviços especializados para construções,6034,1669,221449,67129,117851,29648,6820
23,NaN,Empresas com 30 ou mais pessoas ocupadas,12696,5692,10314319,2411975,4787900,1987867,1126580
24,41,Construção de edifícios,6267,2814,3191929,1700731,675978,497713,317508
25,41.1,Incorporação e empreendimentos imobiliários,269,105,97996,51232,10119,9819,26827
26,41.10,Incorporação e empreendimentos imobiliários,269,105,97996,51232,10119,9819,26827
27,41.2,Construção de edifícios,5998,2709,3093933,1649499,665859,487894,290681
28,41.20,Construção de edifícios,5998,2709,3093933,1649499,665859,487894,290681
29,42,Obras de infraestrutura,2445,1393,5378622,485828,3049207,1127260,716327
30,42.1,"Construção de rodovias, ferrovias, obras urban...",982,609,3301763,260816,2030404,735201,275342
31,42.11,Construção de rodovias e ferrovias,635,411,1904111,170258,1161243,398387,174224
32,42.12,Construção de obras de arte especiais,77,46,1198886,56942,758412,291406,92126
33,42.13,"Obras de urbanização - ruas, praças e calçadas",270,152,198766,33616,110749,45408,8992
34,42.2,"Obras de infraestrutura para energia elétrica,...",679,394,952373,82505,455020,185987,228861
35,42.21,Obras para geração e distribuição de energia e...,434,245,741258,53159,345149,136298,206652
36,42.22,"Construção de redes de abastecimento de água, ...",213,130,169417,25470,90003,42826,11118
37,42.23,"Construção de redes de transportes por dutos, ...",32,19,41698,3876,19868,6863,11091
38,42.9,Construção de outras obras de infraestrutura,784,390,1124486,142507,563783,206072,212124
39,42.91,"Obras portuárias, marítimas e fluviais",27,20,120862,184,79394,37855,3430
40,42.92,Montagem de instalações industriais e de estru...,246,121,605775,66907,330365,91466,117036
41,42.99,Obras de engenharia civil não especificadas an...,511,249,397849,75416,154024,76751,91658
42,43,Serviços especializados para construção,3984,1485,1743768,225416,1062715,362894,92745
43,43.1,Demolição e preparação do terreno,558,284,853980,52244,641579,130819,29337
44,43.11,Demolição e preparação de canteiros de obras,49,21,143895,4116,123602,10704,5472
45,43.12,Perfurações e sondagens,60,31,42661,1694,31897,5423,3646
46,43.13,Obras de terraplenagem,419,215,651265,45525,475715,110171,19855
47,43.19,Serviços de preparação do terreno não especifi...,30,17,16159,909,10365,4521,364
48,43.2,"Instalações elétricas, hidráulicas e outras in...",1174,484,212499,35229,55579,92974,28719
49,43.21,Instalações elétricas,643,254,112674,12563,20874,63523,15715
50,43.22,"Instalações hidráulicas, de sistemas de ventil...",376,161,36372,4304,11319,15165,5584
51,43.29,Obras de instalações em construções não especi...,155,69,63453,18362,23386,14286,7420
52,43.3,Obras de acabamento,835,207,74099,24713,28135,16098,5153
53,43.30,Obras de acabamento,835,207,74099,24713,28135,16098,5153
54,43.9,Outros serviços especializados para construção,1417,510,603190,113230,337422,123003,29536
55,43.91,Obras de fundações,261,112,174440,6926,148247,12559,6708
56,43.99,Serviços especializados para construção não es...,1156,398,428750,106304,189175,110444,22828

In [63]:
linhas = [0,2,3,4]
for i in linhas:
    df8a = df8a.drop(i)
coluna = df8a.loc[1]
df8a.columns = coluna
df8a = df8a.drop(1)
#df8a.to_csv('df8a_limpa.csv')

### df8b

In [65]:
df8b

,"Tabela 8 - Estrutura dos investimentos das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos\ne \nclasses de atividades",Ativo imobilizado Melhorias Número\nde\ninform...,Ativo imobilizado Melhorias Total 1 000 R$,Ativo imobilizado Melhorias Terrenos\ne\nedifi...,Ativo imobilizado Melhorias Máquinas\ne\nequip...,Ativo imobilizado Melhorias Meios\nde\ntranspo...,Ativo imobilizado Melhorias Outras\naquisições...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,1107,580383,327906,126743,95193,30546
5,NaN,Empresas de 1 a 4 pessoas ocupadas,122,4522,3028,1423,52,19
6,41,Construção de edifícios,58,3996,2540,1407,49,-
7,42,Obras de infraestrutura,7,485,481,4,-,-
8,43,Serviços especializados para construção,57,41,7,12,3,19
9,NaN,Empresas de 5 a 29 pessoas ocupadas,672,175863,114915,13898,41743,5312
10,41,Construção de edifícios,334,100719,94922,4438,28,1332
11,41.1,Incorporação e empreendimentos imobiliários,11,16655,16655,-,-,-
12,41.2,Construção de edifícios,323,84064,78267,4438,28,1332
13,42,Obras de infraestrutura,86,34783,3228,7794,23750,12
14,42.1,"Construção de rodovias, ferrovias, obras urban...",51,34054,2522,7779,23745,8
15,42.2,"Obras de infraestrutura para energia elétrica,...",26,504,489,6,5,4
16,42.9,Construção de outras obras de infraestrutura,9,225,217,9,-,-
17,43,Serviços especializados para construção,252,40361,16765,1666,17965,3968
18,43.1,Demolição e preparação do terreno,26,156,30,25,63,39
19,43.2,"Instalações elétricas, hidráulicas e outras in...",105,7116,265,844,3910,2098
20,43.3,Obras de acabamento,-,-,-,-,-,-
21,43.9,Outros serviços especializados para construções,121,33089,16470,797,13992,1831
22,NaN,Empresas com 30 ou mais pessoas ocupadas,313,399998,209963,111422,53398,25215
23,41,Construção de edifícios,149,103122,55565,3820,37100,6637
24,41.1,Incorporação e empreendimentos imobiliários,6,1735,1476,63,184,12
25,41.10,Incorporação e empreendimentos imobiliários,6,1735,1476,63,184,12
26,41.2,Construção de edifícios,143,101387,54089,3757,36916,6625
27,41.20,Construção de edifícios,143,101387,54089,3757,36916,6625
28,42,Obras de infraestrutura,88,267678,131364,105833,13961,16522
29,42.1,"Construção de rodovias, ferrovias, obras urban...",41,175576,83189,88968,2985,435
30,42.11,Construção de rodovias e ferrovias,29,19073,4765,11558,2509,241
31,42.12,Construção de obras de arte especiais,3,6293,6293,-,-,-
32,42.13,"Obras de urbanização - ruas, praças e calçadas",9,150210,72131,77410,476,194
33,42.2,"Obras de infraestrutura para energia elétrica,...",20,59130,27019,7281,9349,15482
34,42.21,Obras para geração e distribuição de energia e...,17,57723,26428,7215,8606,15475
35,42.22,"Construção de redes de abastecimento de água, ...",3,1407,591,66,743,7
36,42.23,"Construção de redes de transportes por dutos, ...",-,-,-,-,-,-
37,42.9,Construção de outras obras de infraestrutura,27,32972,21156,9584,1627,605
38,42.91,"Obras portuárias, marítimas e fluviais",1,34,-,34,-,-
39,42.92,Montagem de instalações industriais e de estru...,11,12988,11725,183,780,299
40,42.99,Obras de engenharia civil não especificadas an...,15,19950,9431,9367,847,306
41,43,Serviços especializados para construção,76,29198,23034,1769,2337,2056
42,43.1,Demolição e preparação do terreno,11,6824,6137,488,97,102
43,43.11,Demolição e preparação de canteiros de obras,-,-,-,-,-,-
44,43.12,Perfurações e sondagens,1,466,-,373,-,93
45,43.13,Obras de terraplenagem,8,6023,5937,77,-,9
46,43.19,Serviços de preparação do terreno não especifi...,2,335,200,38,97,-
47,43.2,"Instalações elétricas, hidráulicas e outras in...",30,4658,2915,390,1122,230
48,43.21,Instalações elétricas,18,2649,1726,325,452,145
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",10,1975,1189,65,645,76
50,43.29,Obras de instalações em construções não especi...,2,34,-,-,25,9
51,43.3,Obras de acabamento,11,1837,129,8,44,1656
52,43.30,Obras de acabamento,11,1837,129,8,44,1656
53,43.9,Outros serviços especializados para construção,24,15879,13853,883,1074,68
54,43.91,Obras de fundações,3,995,241,741,12,-
55,43.99,Serviços especializados para construção não es...,21,14884,13612,142,1062,68

In [66]:
linhas = [0,2,3]
for i in linhas:
    df8b = df8b.drop(i)
coluna = df8b.loc[1]
df8b.columns = coluna
df8b = df8b.drop(1)
#df8b.to_csv('df8b_limpa.csv')

### df8c

In [68]:
df8c

,"Tabela 8 - Estrutura dos investimentos das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos\ne \nclasses de atividades",Ativo imobilizado Baixas Número\nde\ninformantes,Ativo imobilizado Baixas Total 1 000 R$,Ativo imobilizado Baixas Terrenos\ne\nedificaç...,Ativo imobilizado Baixas Máquinas\ne\nequipame...,Ativo imobilizado Baixas Meios\nde\ntransporte...,Ativo imobilizado Baixas Outras\nbaixas 1 000 R$
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,6880,3721046,1150044,1430204,751891,388906
5,NaN,Empresas de 1 a 4 pessoas ocupadas,1628,168769,120647,31826,14796,1499
6,41,Construção de edifícios,727,132746,120546,3245,8921,34
7,42,Obras de infraestrutura,181,9157,-,5619,2091,1447
8,43,Serviços especializados para construção,720,26866,101,22962,3784,18
9,NaN,Empresas de 5 a 29 pessoas ocupadas,2888,482475,291601,103925,70112,16838
10,41,Construção de edifícios,1156,210110,165375,11277,27930,5528
11,41.1,Incorporação e empreendimentos imobiliários,106,14589,9122,5088,358,21
12,41.2,Construção de edifícios,1050,195521,156253,6189,27572,5507
13,42,Obras de infraestrutura,364,187475,106778,52668,19166,8863
14,42.1,"Construção de rodovias, ferrovias, obras urban...",168,177352,106000,49270,13464,8617
15,42.2,"Obras de infraestrutura para energia elétrica,...",80,4244,478,1466,2275,25
16,42.9,Construção de outras obras de infraestrutura,116,5879,300,1932,3427,221
17,43,Serviços especializados para construção,1368,84890,19448,39980,23016,2447
18,43.1,Demolição e preparação do terreno,296,59651,16334,32658,8653,2006
19,43.2,"Instalações elétricas, hidráulicas e outras in...",301,6186,1268,660,4201,57
20,43.3,Obras de acabamento,302,5138,1441,3697,-,-
21,43.9,Outros serviços especializados para construções,469,13915,405,2965,10162,384
22,NaN,Empresas com 30 ou mais pessoas ocupadas,2364,3069802,737796,1294453,666983,370569
23,41,Construção de edifícios,1101,769499,444822,83461,125729,115487
24,41.1,Incorporação e empreendimentos imobiliários,47,22959,17053,1037,3030,1839
25,41.10,Incorporação e empreendimentos imobiliários,47,22959,17053,1037,3030,1839
26,41.2,Construção de edifícios,1054,746540,427769,82424,122699,113648
27,41.20,Construção de edifícios,1054,746540,427769,82424,122699,113648
28,42,Obras de infraestrutura,703,1935705,241382,1004511,450692,239120
29,42.1,"Construção de rodovias, ferrovias, obras urban...",306,1277098,165050,654184,306781,151083
30,42.11,Construção de rodovias e ferrovias,215,629508,151015,219250,119197,140047
31,42.12,Construção de obras de arte especiais,28,589186,4853,402488,171870,9975
32,42.13,"Obras de urbanização - ruas, praças e calçadas",63,58404,9182,32446,15714,1061
33,42.2,"Obras de infraestrutura para energia elétrica,...",203,385376,37229,196787,108352,43008
34,42.21,Obras para geração e distribuição de energia e...,125,300114,32933,159096,77285,30799
35,42.22,"Construção de redes de abastecimento de água, ...",65,41045,4256,20164,14942,1684
36,42.23,"Construção de redes de transportes por dutos, ...",13,44217,40,17527,16125,10525
37,42.9,Construção de outras obras de infraestrutura,194,273231,39103,153540,35559,45029
38,42.91,"Obras portuárias, marítimas e fluviais",13,33842,737,27535,4524,1046
39,42.92,Montagem de instalações industriais e de estru...,65,113751,14789,70634,13497,14831
40,42.99,Obras de engenharia civil não especificadas an...,116,125638,23577,55371,17538,29152
41,43,Serviços especializados para construção,560,364598,51592,206481,90562,15962
42,43.1,Demolição e preparação do terreno,137,212026,18219,146513,40467,6828
43,43.11,Demolição e preparação de canteiros de obras,15,27719,1291,18306,3211,4911
44,43.12,Perfurações e sondagens,15,14234,8093,2025,3995,121
45,43.13,Obras de terraplenagem,101,168973,8835,126069,32422,1647
46,43.19,Serviços de preparação do terreno não especifi...,6,1100,-,113,839,149
47,43.2,"Instalações elétricas, hidráulicas e outras in...",159,43983,6280,5849,27595,4258
48,43.21,Instalações elétricas,88,30657,4747,3972,19473,2465
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",45,7764,1463,736,4944,621
50,43.29,Obras de instalações em construções não especi...,26,5562,70,1141,3178,1172
51,43.3,Obras de acabamento,61,5246,570,1205,2825,646
52,43.30,Obras de acabamento,61,5246,570,1205,2825,646
53,43.9,Outros serviços especializados para construção,203,103343,26523,52914,19675,4230
54,43.91,Obras de fundações,44,18454,4424,9046,4568,416
55,43.99,Serviços especializados para construção não es...,159,84889,22099,43868,15107,3814

In [69]:
linhas = [0,2,3]
for i in linhas:
    df8c = df8c.drop(i)
coluna = df8c.loc[1]
df8c.columns = coluna
df8c = df8c.drop(1)
#df8c.to_csv('df8c_limpa.csv')

### df9

In [71]:
df9

,"Tabela 9 - Consumo total e dos principais tipos de materiais de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne \nclasses de atividades",Número\nde\nempresas ativas,Consumo de materiais de construção Total 1 000 R$,Consumo de materiais de construção Tipos selec...,Consumo de materiais de construção Tipos selec...,Consumo de materiais de construção Tipos selec...,Consumo de materiais de construção Tipos selec...,Consumo de materiais de construção Tipos selec...,Consumo de materiais de construção Tipos selec...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,111931,74760025,22018227,2749426,5929006,6283100,2791404,4265284
5,NaN,Empresas de 1 a 4 pessoas ocupadas,52233,2491430,680861,39597,245652,153672,132864,109075
6,41,Construção de edifícios,18020,1720531,616560,22492,226386,147594,121150,98938
7,42,Obras de infraestrutura,4962,217003,27371,7595,5993,2704,5109,5970
8,43,Serviços especializados para construção,29251,553896,36930,9510,13273,3374,6605,4167
9,NaN,Empresas de 5 a 29 pessoas ocupadas,47002,9916818,2667171,139331,753147,634097,608439,532156
10,41,Construção de edifícios,18727,6637494,2014223,40673,537392,519840,490669,425649
11,41.1,Incorporação e empreendimentos imobiliários,1376,6256,2436,136,279,533,706,781
12,41.2,Construção de edifícios,17351,6631238,2011787,40537,537113,519307,489963,424868
13,42,Obras de infraestrutura,4324,894679,277285,86444,69408,46468,28177,46787
14,42.1,"Construção de rodovias, ferrovias, obras urban...",1911,381418,147018,81555,24214,15508,9135,16606
15,42.2,"Obras de infraestrutura para energia elétrica,...",902,150982,27028,520,5936,12966,970,6636
16,42.9,Construção de outras obras de infraestrutura,1511,362279,103239,4369,39258,17994,18072,23545
17,43,Serviços especializados para construção,23951,2384645,375663,12214,146347,67789,89593,59720
18,43.1,Demolição e preparação do terreno,2671,155599,35731,7730,8003,15631,2155,2212
19,43.2,"Instalações elétricas, hidráulicas e outras in...",7691,674538,10927,1058,2859,1910,3009,2091
20,43.3,Obras de acabamento,7555,464224,1654,220,555,75,541,263
21,43.9,Outros serviços especializados para construções,6034,1090284,327351,3206,134930,50173,83888,55154
22,NaN,Empresas com 30 ou mais pessoas ocupadas,12696,62351777,18670195,2570498,4930207,5495331,2050101,3624053
23,41,Construção de edifícios,6267,30431841,11162692,514759,3056538,3879667,1728481,1983247
24,41.1,Incorporação e empreendimentos imobiliários,269,83627,23554,386,4909,9021,2904,6334
25,41.10,Incorporação e empreendimentos imobiliários,269,83627,23554,386,4909,9021,2904,6334
26,41.2,Construção de edifícios,5998,30348214,11139138,514373,3051629,3870646,1725577,1976913
27,41.20,Construção de edifícios,5998,30348214,11139138,514373,3051629,3870646,1725577,1976913
28,42,Obras de infraestrutura,2445,25103224,6401664,1925940,1510088,1293366,209677,1462589
29,42.1,"Construção de rodovias, ferrovias, obras urban...",982,11810989,4117773,1686528,779829,853243,112777,685395
30,42.11,Construção de rodovias e ferrovias,635,9299744,3342766,1449324,614890,657210,85550,535791
31,42.12,Construção de obras de arte especiais,77,1442009,444792,73941,93634,145020,7385,124812
32,42.13,"Obras de urbanização - ruas, praças e calçadas",270,1069236,330215,163263,71305,51013,19842,24792
33,42.2,"Obras de infraestrutura para energia elétrica,...",679,5061750,806189,89603,273669,197511,35814,209590
34,42.21,Obras para geração e distribuição de energia e...,434,3238286,413484,23976,184763,83627,7758,113360
35,42.22,"Construção de redes de abastecimento de água, ...",213,1344415,319834,60597,78541,95765,26476,58454
36,42.23,"Construção de redes de transportes por dutos, ...",32,479049,72871,5030,10365,18119,1580,37776
37,42.9,Construção de outras obras de infraestrutura,784,8230485,1477702,149809,456590,242612,61086,567604
38,42.91,"Obras portuárias, marítimas e fluviais",27,458575,162144,5302,33372,89407,2445,31618
39,42.92,Montagem de instalações industriais e de estru...,246,4672342,636822,1555,168956,20592,6083,439636
40,42.99,Obras de engenharia civil não especificadas an...,511,3099568,678736,142952,254262,132613,52558,96350
41,43,Serviços especializados para construção,3984,6816712,1105839,129799,363581,322298,111943,178217
42,43.1,Demolição e preparação do terreno,558,1386907,310592,94117,66548,93362,22284,34279
43,43.11,Demolição e preparação de canteiros de obras,49,284125,3286,1362,1202,143,465,114
44,43.12,Perfurações e sondagens,60,100703,600,6,220,35,121,217
45,43.13,Obras de terraplenagem,419,967201,296792,88666,63396,90478,21637,32615
46,43.19,Serviços de preparação do terreno não especifi...,30,34878,9914,4083,1730,2706,61,1333
47,43.2,"Instalações elétricas, hidráulicas e outras in...",1174,2073989,100441,5989,29951,24484,21776,18242
48,43.21,Instalações elétricas,643,1146967,76548,1494,22156,18105,19768,15025
49,43.22,"Instalações hidráulicas, de sistemas de ventil...",376,612700,9207,1322,2609,3366,909,1002
50,43.29,Obras de instalações em construções não especi...,155,314322,14686,3173,5186,3013,1099,2215
51,43.3,Obras de acabamento,835,829865,77063,14608,19831,18602,9791,14230
52,43.30,Obras de acabamento,835,829865,77063,14608,19831,18602,9791,14230
53,43.9,Outros serviços especializados para construção,1417,2525951,617743,15085,247251,185850,58092,111466
54,43.91,Obras de fundações,261,486204,93535,2115,32903,15024,8493,35000
55,43.99,Serviços especializados para construção não es...,1156,2039747,524208,12970,214348,170826,49599,76466

In [72]:
linhas = [0,2,3]
for i in linhas:
    df9 = df9.drop(i)
coluna = df9.loc[1]
df9.columns = coluna
df9 = df9.drop(1)
#df9.to_csv('df9_limpa.csv')

### df10a

In [74]:
df10a

,"Tabela 10 - Valor das incorporações, obras e/ou serviços da construção das empresas de construção com 30 ou mais,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"pessoas ocupadas, segundo as classes de ativid...",NaN,NaN,NaN,NaN,NaN,NaN
1,Código\nPRODLIST\nConstrução,Classes de atividades\ne\ndescrição de produtos,"Valor das incorporações, \nobras e/ou serviços...",Como contratante única ou principal Número\nde...,Como contratante única ou principal Valor\n(1 ...,Como subcontratada Número\nde\ninformantes,Como subcontratada Valor\n(1 000 R$)
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total,292466876,13750,270718382,2226,21748506
4,4110,Incorporação de empreendimentos imobiliários,7133980,550,7133980,-,-
5,4110.2010,Incorporação de empreendimentos imobiliários e...,7133980,550,7133980,-,-
6,4120,Construção de edifícios,112535610,6147,105441219,788,7094393
7,4120.2010,"Edifícios comerciais (shoppings, supermercados...",7970690,501,6717820,82,1252870
8,4120.2020,"Edifícios industriais (fábricas, oficinas, gal...",6439147,209,6062456,35,376691
9,4120.2030,Edifícios não residenciais não especificados a...,10110937,607,9736065,42,374872
10,4120.2040,Edifícios residenciais,61271807,2947,58411418,326,2860390
11,4120.2050,Estações de embarque e desembarque (rodoviária...,2428598,19,2413827,1,14771
12,4120.9010,Serviços de montagem de edifícios não residenc...,547800,16,498684,6,49116
13,4120.9020,Serviços de montagem de edifícios residenciais...,281434,31,268240,7,13195
14,4120.9030,Serviços de reforma ou manutenção de edifícios...,8449675,646,7394136,77,1055539
15,4120.9040,Serviços de reforma ou manutenção de edifícios...,15035522,1171,13938573,212,1096949
16,4211,Construção de rodovias e ferrovias,42305553,767,40690359,102,1615194
17,4211.2010,Instalação de sinalização não elétrica em rodo...,568051,37,494205,9,73846
18,4211.2020,"Pavimentação de rodovias, autoestradas e outra...",15190233,361,14669826,45,520407
19,4211.2030,Pistas de aeroportos,726482,8,726482,-,-
20,4211.2040,"Rodovias, autoestradas e outras vias não urbanas",9458958,131,8831325,22,627634
21,4211.2050,Vias férreas e metropolitanos,7607807,39,7385162,5,222644
22,4211.9010,Serviços de recuperação ou reforma de ferrovias,451276,16,445859,1,5417
23,4211.9020,Serviços de recuperação ou reforma de pistas d...,59724,4,59724,-,-
24,4211.9030,Serviços de recuperação ou reforma de rodovias,8243022,171,8077776,20,165246
25,4212,Construção de obras de arte especiais,5319036,111,5135024,22,184013
26,4212.2010,"Pontes, elevados, túneis e outras obras de art...",4024218,76,3864095,15,160124
27,4212.9010,"Seviços de recuperação ou reforma de pontes, e...",1294818,35,1270929,7,23889
28,4213,"Obras de urbanização - ruas, praças e calçadas",6178438,438,5901694,46,276744
29,4213.2010,Instalação de sinalização não elétrica em vias...,23433,10,23433,-,-
30,4213.2020,"Ruas, praças, calçadas e outras obras de urban...",3655131,256,3510961,31,144170
31,4213.9010,"Serviços de recuperação de ruas, praças, calça...",2499874,172,2367300,15,132574
32,4221,Obras para geração e distribuição de energia e...,22301071,432,20131891,80,2169181
33,4221.2010,Barragens ou represas para geração de energia ...,4703314,17,4249598,4,453716
34,4221.2020,Redes de transmissão e distribuição de energia...,3466321,122,3058010,24,408311
35,4221.2030,Redes e instalação de torres de telecomunicaçõ...,4140947,39,4100053,6,40894
36,4221.2040,"Usinas, estações e subestações hidrelétricas, ...",4410149,28,4391045,5,19104
37,4221.9010,"Serviços de manutenção de barragens, represas,...",556161,12,179619,4,376542
38,4221.9020,Serviços de manutenção de redes e torres de te...,2148277,57,1681794,13,466483
39,4221.9030,Serviços de manutenção de redes de transmissão...,2875902,157,2471772,24,404131

In [75]:
linhas = [0,2,3]
for i in linhas:
    df10a = df10a.drop(i)
coluna = df10a.loc[1]
df10a.columns = coluna
df10a = df10a.drop(1)
#df10a.to_csv('df10a_limpa.csv')

### df10b

In [77]:
df10b

,"Tabela 10 - Valor das incorporações, obras e/ou serviços da construção das empresas de construção com 30 ou mais,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"pessoas ocupadas, segundo as classes de ativid...",NaN,NaN,NaN,NaN,NaN,NaN
1,Código\nPRODLIST\nConstrução,Classes de atividades \ne \ndescrição de produtos,"Valor das incorporações, \nobras e/ou serviços...",Como contratante única ou principal Número\nde...,Como contratante única ou principal Valor\n(1 ...,Como subcontratada Número\nde\ninformantes,Como subcontratada Valor\n(1 000 R$)
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4222,"Construção de redes de abastecimento de água, ...",6739248,341,6401545,34,337704
4,4222.2010,"Obras de irrigação (barragens, canais, etc.)",556233,12,555665,2,569
5,4222.2020,Redes de distribuição de água,1345993,68,1114987,7,231006
6,4222.2030,"Redes de esgotos, interceptores, estações de t...",3587540,180,3536228,19,51312
7,4222.9010,Serviços de manutenção de redes de distribuiçã...,256218,17,218778,1,37440
8,4222.9020,"Serviços de manutenção de redes de esgotos, in...",993264,64,975887,5,17377
9,4223,"Construção de redes de transportes por duto, e...",3548989,42,3515389,6,33601
10,4223.2010,"Dutos (oleodutos, gasodutos, minerodutos, etc.)",2023500,29,1993009,5,30491
11,4223.9010,"Serviços de manutenção de dutos (oleodutos, ga...",1525489,13,1522380,1,3110
12,4291,"Obras portuárias, marítimas e fluviais",6234194,67,6119092,7,115102
13,4291.2010,Dragagem e aterro hidráulico,451944,23,440666,2,11278
14,4291.2020,Instalação de cabos submarinos,16905,-,-,1,16905
15,4291.2030,"Obras marítimas e fluviais (portos, marinas, d...",5284199,33,5198418,3,85781
16,4291.9010,Serviço de manutenção de obras marítimas e flu...,481146,11,480008,1,1138
17,4292,Montagem de instalações industriais e de estru...,19329604,238,17245216,45,2084388
18,4292.2010,Montagem de estruturas metálicas permanentes,2509756,138,1872862,33,636894
19,4292.2020,Plantas de mineração,1291331,9,1291331,-,-
20,4292.2030,"Plantas e instalações industriais (tubulações,...",15528517,91,14081023,12,1447494
21,4299,Obras de engenharia civil não especificadas an...,17685902,594,16617828,80,1068074
22,4299.2010,"Quadras, piscinas, pistas de competição e outr...",1124517,49,1124517,-,-
23,4299.2020,Obras de engenharia civil não especificadas an...,12476597,446,11630064,68,846533
24,4299.9010,Serviços de recuperação de obras de engenharia...,4084788,99,3863247,12,221541
25,4311,Demolição e preparação de canteiros de obras,1258751,94,1153506,21,105244
26,4311.2010,Demolição de edifícios e outras estruturas,224929,41,210386,8,14543
27,4311.2020,Preparação de canteiros de obras,330052,46,271506,8,58546
28,4311.9010,Serviços de aluguel e operação de equipamentos...,703770,7,671614,5,32155
29,4312,Perfurações e sondagens,1084397,83,755259,16,329138
30,4312.2010,Perfurações e sondagens,1084397,83,755259,16,329138
31,4313,Obras de terraplanegem,7871330,517,6974462,88,896869
32,4313.2010,Derrocamentos,361730,9,354876,1,6855
33,4313.2020,Escavação e movimentação de terras - terraplen...,6855291,439,6098477,69,756814
34,4313.9010,Serviços de aluguel e operação de equipamentos...,654309,69,521109,18,133200
35,4319,Serviços de preparação do terreno não especifi...,551159,81,501978,17,49181
36,4319.2010,Drenagem,341257,52,298859,10,42398
37,4319.2020,Rebaixamento de lençol freático,49470,10,45781,3,3689
38,4319.2030,Outros tipos de preparações de terreno não esp...,160432,19,157338,4,3094

In [78]:
linhas = [0,2]
for i in linhas:
    df10b = df10b.drop(i)
coluna = df10b.loc[1]
df10b.columns = coluna
df10b = df10b.drop(1)
#df10b.to_csv('df10b_limpa.csv')

### df10c

In [85]:
df10c

,"Tabela 10 - Valor das incorporações, obras e/ou serviços da construção das empresas de construção com 30 ou mais,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"pessoas ocupadas, segundo as classes de ativid...",NaN,NaN,NaN,NaN,NaN,NaN
1,Código\nPRODLIST\nConstrução,Classes de atividades \ne\ndescrição de produtos,"Valor das incorporações, \nobras e/ou serviços...",Como contratante única ou principal Número\nde...,Como contratante única ou principal Valor\n(1 ...,Como subcontratada Número\nde\ninformantes,Como subcontratada Valor\n(1 000 R$)
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4321,Instalações elétricas,6867535,606,5618468,141,1249068
4,4321.2010,Instalações elétricas,3625255,281,2769084,79,856171
5,4321.2020,Instalações de telecomunicações,721000,90,630725,13,90276
6,4321.9010,Serviços de manutenção e reparação de instalaç...,2019201,181,1749610,34,269591
7,4321.9020,Serviços de manutenção e reparação de instalaç...,502079,54,469049,15,33030
8,4322,"Instalações hidráulicas, de sistemas de ventil...",4214016,358,3544899,86,669118
9,4322.2010,"Instalações de sistemas de ar condicionado, ve...",1603849,96,1408106,21,195744
10,4322.2020,"Instalações hidráulicas, sanitárias ou de gás",825933,104,669169,40,156764
11,4322.9010,Serviços de manutenção e reparação de sistemas...,1784234,158,1467624,25,316610
12,4329,Obras de instalações em construções não especi...,2012290,162,1763654,28,248637
13,4329.2010,"Instalação de elevadores, escadas ou de esteir...",197331,36,181706,4,15626
14,4329.2020,Instalação de isolamentos térmicos e acústicos,635475,34,549964,6,85511
15,4329.2030,Instalação de sistema de iluminação ou de sina...,420843,28,384468,3,36375
16,4329.2040,"Instalações em construções, não especificadas ...",758641,64,647516,15,111125
17,4330,Obras de acabamento,4060878,734,3239808,250,821072
18,4330.2010,Acabamento em gesso ou estuque,372490,102,276083,45,96408
19,4330.2020,"Impermeabilização em paredes, caixas d'água, etc.",627579,82,491926,18,135653
20,4330.2030,Instalação de cozinhas e outros mobiliários in...,2579,2,2579,-,-
21,4330.2040,"Instalação de esquadrias de metal, madeira ou ...",139158,33,115202,9,23956
22,4330.2050,Pintura (interna ou externa),910375,157,590767,52,319608
23,4330.2060,"Revestimento de pisos e paredes, exceto pintura",261648,64,213574,22,48075
24,4330.2070,Trabalhos de madeira em interiores,93059,35,75526,7,17533
25,4330.2080,Outros serviços de acabamento não especificado...,1653990,259,1474151,97,179839
26,4391,Obras de fundações,3517480,253,2558076,82,959404
27,4391.2010,Fundações,3353213,226,2410528,79,942685
28,4391.9010,Serviços de aluguel e operação de equipamentos...,164267,27,147548,3,16719
29,4399,Serviços especializados para construção não es...,11717415,1135,10275035,287,1442381
30,4399.2010,Administração de obras,4180215,341,3772537,73,407678
31,4399.2020,Alvenaria,2067138,352,1614521,128,452617
32,4399.2030,Poços de água,355374,33,352761,1,2613
33,4399.2040,"Montagem e desmontagem de escoramentos, andaim...",898593,87,769691,21,128902
34,4399.2050,"Telhados, coberturas, caixas d'água, churrasqu...",157199,39,129674,5,27525
35,4399.2060,Outros serviços especializados de construção n...,3414475,218,3065508,48,348967
36,4399.9010,Serviços de aluguél e operação de equipamento ...,644421,65,570343,11,74079

In [86]:
linhas = [0,2]
for i in linhas:
    df10c = df10c.drop(i)
coluna = df10c.loc[1]
df10c.columns = coluna
df10c = df10c.drop(1)
#df10c.to_csv('df10c_limpa.csv')

### df11

In [88]:
df11

,"Tabela 11 - Pessoal ocupado, salários, retiradas e outras remunerações, custos e valor das incorporações, obras e",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"serviços da construção, segundo as Grandes Reg...",NaN,NaN,NaN,NaN,NaN,NaN
1,empresas com cinco ou mais pessoas ocupadas - ...,NaN,NaN,NaN,NaN,NaN,NaN
2,Grandes Regiões\ne Unidades da Federação \nde ...,Empresas Unidades\nda\nFederação\nde origem\n(...,Empresas Atuantes\nnas\nUnidades\nda\nFederaçã...,Pessoal\nocupado\nem\n31.12,"Salários,\nretiradas\ne outras\nremunerações 1...",Custos de \nincorporação\ne das obras \ne/ou s...,"Valor das \nincorporações, \nobras e/ou \nserv..."
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Brasil,59652,59652,2774648,64764177,125497482,339478026
5,Norte,2398,2657,207996,4632710,8314756,23456151
6,Rondônia,355,412,31519,800951,1029994,3545080
7,Acre,165,183,9274,171664,380786,884379
8,Amazonas,592,663,37728,935525,2021412,5091788
9,Roraima,76,107,5870,121987,231178,650609
10,Pará,821,957,103142,2165357,3772514,11026536
11,Amapá,131,159,7142,153720,240183,674770
12,Tocantins,258,318,13321,283506,638689,1582989
13,Nordeste,9216,9616,636646,12663608,24039724,65682997
14,Maranhão,609,756,58382,1235726,2176338,6495815
15,Piauí,391,454,37588,481631,1005816,2539123
16,Ceará,1421,1529,76662,1353405,3097604,8151875
17,Rio Grande do Norte,867,951,43323,862033,1945584,5403807
18,Paraíba,1005,1061,40608,557919,1203111,3023691
19,Pernambuco,1603,1774,134255,3400622,6073866,16459536
20,Alagoas,471,544,30355,521194,1407335,3622260
21,Sergipe,381,436,29055,589348,1095818,3118885
22,Bahia,2468,2701,186418,3661730,6034252,16868005
23,Sudeste,28972,29231,1337267,34606745,64893478,178571160
24,Minas Gerais,6578,6996,331912,6668547,11680431,35288784
25,Espírito Santo,1378,1502,58290,1143836,2018239,6057380
26,Rio de Janeiro,4369,4828,307225,9280725,15387602,43351188
27,São Paulo,16647,16918,639840,17513637,35807206,93873808
28,Sul,14074,14265,362952,7909553,16530466,42127032
29,Paraná,4790,4964,128751,2676092,5816308,14779137
30,Santa Catarina,4077,4205,96211,2068969,4260928,10860437
31,Rio Grande do Sul,5207,5429,137990,3164492,6453230,16487458
32,Centro-Oeste,4992,5292,229787,4951561,11719058,29640686
33,Mato Grosso do Sul,716,805,32466,582012,1661906,3698386
34,Mato Grosso,982,1074,53402,1111493,2571499,6276819
35,Goiás,2015,2143,83619,1938113,3604939,10090785
36,Distrito Federal,1279,1414,60300,1319943,3880714,9574696

In [89]:
linhas = [0,1,3]
for i in linhas:
    df11 = df11.drop(i)
coluna = df11.loc[2]
df11.columns = coluna
df11 = df11.drop(2)
#df11.to_csv('df11_limpa.csv')