In [1]:
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
arquivos = glob.glob('G:\Iniciação Científica\Dados\IBGE\CNAE_2012\*.xls')
if arquivos == []:
    arquivos = glob.glob('F:\Iniciação Científica\Dados\IBGE\CNAE_2012\*.xls')
arquivos = sorted(arquivos)

In [3]:
print(arquivos)

['G:\\Iniciação Científica\\Dados\\IBGE\\CNAE_2012\\tb1.1.xls', 'G:\\Iniciação Científica\\Dados\\IBGE\\CNAE_2012\\tb1.2.xls', 'G:\\Iniciação Científica\\Dados\\IBGE\\CNAE_2012\\tb2.1.xls', 'G:\\Iniciação Científica\\Dados\\IBGE\\CNAE_2012\\tb2.2.xls', 'G:\\Iniciação Científica\\Dados\\IBGE\\CNAE_2012\\tb2.3.xls', 'G:\\Iniciação Científica\\Dados\\IBGE\\CNAE_2012\\tb3.xls', 'G:\\Iniciação Científica\\Dados\\IBGE\\CNAE_2012\\tb4.xls', 'G:\\Iniciação Científica\\Dados\\IBGE\\CNAE_2012\\tb5.xls', 'G:\\Iniciação Científica\\Dados\\IBGE\\CNAE_2012\\tb6.xls', 'G:\\Iniciação Científica\\Dados\\IBGE\\CNAE_2012\\tb7.xls', 'G:\\Iniciação Científica\\Dados\\IBGE\\CNAE_2012\\tb8.xls', 'G:\\Iniciação Científica\\Dados\\IBGE\\CNAE_2012\\tb9.xls', 'G:\\Iniciação Científica\\Dados\\IBGE\\CNAE_2012\\tbz10.xls', 'G:\\Iniciação Científica\\Dados\\IBGE\\CNAE_2012\\tbz11.xls']

In [4]:
len(arquivos)

14

In [78]:
arq1_1 = pd.ExcelFile(arquivos[0])
arq1_2 = pd.ExcelFile(arquivos[1])
arq2_1 = pd.ExcelFile(arquivos[2])
arq2_2 = pd.ExcelFile(arquivos[3])
arq2_3 = pd.ExcelFile(arquivos[4])
arq3 = pd.ExcelFile(arquivos[5])
arq4 = pd.ExcelFile(arquivos[6])
arq5 = pd.ExcelFile(arquivos[7])
arq6 = pd.ExcelFile(arquivos[8])
arq7 = pd.ExcelFile(arquivos[9])
arq8 = pd.ExcelFile(arquivos[10])
arq9 = pd.ExcelFile(arquivos[11])
arq10 = pd.ExcelFile(arquivos[12])
arq11 = pd.ExcelFile(arquivos[13])

In [79]:
df1_1b = pd.read_excel(arq1_1, 'TABELA 1.1b')
df1_2b = pd.read_excel(arq1_2, 'Tabela 1.2b')
df2_1a = pd.read_excel(arq2_1, 'TABELA 2.1a')
df2_1b = pd.read_excel(arq2_1, 'TABELA 2.1a')
df2_1c = pd.read_excel(arq2_1, 'TABELA 2.1a')
df2_2a = pd.read_excel(arq2_2, 'TABELA 2.2a')
df2_2b = pd.read_excel(arq2_2, 'TABELA 2.2b')
df2_2c = pd.read_excel(arq2_2, 'TABELA 2.2c')
df2_2d = pd.read_excel(arq2_2, 'TABELA 2.2d')
df2_3a = pd.read_excel(arq2_3, 'TABELA 2.3a')
df2_3b = pd.read_excel(arq2_3, 'TABELA 2.3b')
df3a = pd.read_excel(arq3, 'TABELA 3a')
df3b = pd.read_excel(arq3, 'TABELA 3b')
df4 = pd.read_excel(arq4)
df5a = pd.read_excel(arq5, 'TABELA 5a')
df5b = pd.read_excel(arq5, 'TABELA 5b')
df6a = pd.read_excel(arq6, 'TABELA 6a')
df6b = pd.read_excel(arq6, 'TABELA 6b')
df6c = pd.read_excel(arq6, 'TABELA 6c')
df6d = pd.read_excel(arq6, 'TABELA 6d')
df7a = pd.read_excel(arq7, 'TABELA 7a')
df7b = pd.read_excel(arq7, 'TABELA 7b')
df7c = pd.read_excel(arq7, 'TABELA 7c')
df7d = pd.read_excel(arq7, 'TABELA 7d')
df8a = pd.read_excel(arq8, 'TABELA 8a')
df8b = pd.read_excel(arq8, 'TABELA 8b')
df8c = pd.read_excel(arq8, 'TABELA 8c ')
df9 = pd.read_excel(arq9)
df10a = pd.read_excel(arq10, 'TABELA 10a')
df10b = pd.read_excel(arq10, 'TABELA 10b')
df10c = pd.read_excel(arq10, 'TABELA 10c')
df11 = pd.read_excel(arq11)

In [80]:
df = [df1_1b,df1_2b,df2_1a,df2_1b,df2_1c,df2_2a,df2_2b,df2_2c,df2_2d,df2_3a,df2_3b,df3a,df3b,df4,df5a,df5b,df6a,df6b,df6c,df6d,
      df7a,df7b,df7c,df7d,df8a,df8b,df8c,df9,df10a,df10b,df10c,df11]

In [8]:
titulos = []
for i in df:
    nome = i.columns[0] + i[i.columns[0]][0]
    titulos.append(nome)

### df1_1b (limpeza)

In [9]:
df1_1b

,"Tabela 1.1 - Variáveis selecionadas das empresas de construção, segundo as divisões, os grupos e as classes de atividades - Brasil - 2011-2012",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Códigos\nda \nCNAE\n2.0,"Divisões, grupos\n e\nclasses de atividades",Número\nde\nempresas ativas,Pessoal\nocupado\nem 31.12,"Salários, retiradas\ne outras\nremunerações 1 ...","Valor das incorporações, obras e/ou serviços\n..."
1,2012,NaN,NaN,NaN,NaN,NaN
2,NaN,Total das empresas,104338,2814268,60317120,336591352
3,NaN,Empresas de 1 a 4 pessoas ocupadas,48399,140403,1758835,11796992
4,41,Construção de edifícios,16983,55021,641158,5794917
5,42,Obras de infraestrutura,3862,12718,189958,1147865
6,43,Serviços especializados para construção,27554,72664,927718,4854210
7,NaN,Empresas de 5 a 29 pessoas ocupadas,41267,491985,7387677,43102616
8,41,Construção de edifícios,18448,229602,3464518,24732198
9,41.1,Incorporação e empreendimentos imobiliários,681,9475,144105,2179472
10,41.2,Construção de edifícios,17767,220127,3320413,22552726
11,42,Obras de infraestrutura,3857,45002,655424,3947138
12,42.1,"Construção de rodovias, ferrovias, obra...",1392,16532,218555,1683248
13,42.2,Obras de infraestrutura para energia elé...,677,9844,159540,753561
14,42.9,Construção de outras obras de infraestrutura,1788,18625,277329,1510329
15,43,Serviços especializados para construção,18963,217381,3267735,14423280
16,43.1,Demolição e preparação do terreno,2312,24765,382404,2441973
17,43.2,"Instalações elétricas, hidráulicas ...",6026,71527,1235913,4868497
18,43.3,Obras de acabamento,5361,54260,688838,2353085
19,43.9,Outros serviços especializados para cons...,5263,66828,960580,4759725
20,NaN,Empresas com 30 ou mais pessoas ocupadas,14671,2181880,51170608,281691744
21,41,Construção de edifícios,7321,879414,16655299,112779622
22,41.1,Incorporação e empreendimentos imobiliários,246,26265,756077,6574764
23,41.10,Incorporação e empreendimentos imobili...,246,26265,756077,6574764
24,41.2,Construção de edifícios,7075,853149,15899223,106204858
25,41.20,Construção de edifícios,7075,853149,15899223,106204858
26,42,Obras de infraestrutura,2748,885730,26592905,131705548
27,42.1,"Construção de rodovias, ferrovias, obras ...",1075,291979,8378583,52269690
28,42.11,Construção de rodovias e ferrovias,687,185614,5323495,36391440
29,42.12,Construção de obras de arte especiais,81,50641,1643147,8139463
30,42.13,"Obras de urbanização - ruas, praças e ...",307,55723,1411941,7738788
31,42.2,Obras de infraestrutura para energia e...,774,269047,7474078,30333067
32,42.21,Obras para geração e distribuição de e...,498,210262,5944311,22319797
33,42.22,Construção de redes de abastecimento d...,241,44838,904582,5478278
34,42.23,Construção de redes de transportes por...,35,13948,625185,2534992
35,42.9,Construção de outras obras de infraestrutura,899,324704,10740244,49102790
36,42.91,"Obras portuárias, marítimas e fluviais",32,67870,2644339,9858290
37,42.92,Montagem de instalações industriais e ...,266,136326,4453186,20681822
38,42.99,Obras de engenharia civil não especifi...,601,120507,3642719,18562677
39,43,Serviços especializados para construção,4603,416737,7922404,37206574
40,43.1,Demolição e preparação do terreno,627,63172,1476925,9002437
41,43.11,Demolição e preparação de canteiros d...,71,6714,161046,819900
42,43.12,Perfurações e sondagens,71,7997,201308,1028258
43,43.13,Obras de terraplenagem,456,45133,1060083,6890824
44,43.19,Serviços de preparação do terreno não...,29,3329,54488,263455
45,43.2,"Instalações elétricas, hidráulicas e out...",1304,136819,2684820,11117134
46,43.21,Instalações elétricas,695,74959,1417601,5585881
47,43.22,"Instalações hidráulicas, de sistemas ...",429,40802,816432,3482059
48,43.29,Obras de instalações em construções n...,179,21058,450788,2049194
49,43.3,Obras de acabamento,1013,69573,1006031,3879725
50,43.30,Obras de acabamento,1013,69573,1006031,3879725
51,43.9,Outros serviços especializados para cons...,1659,147173,2754628,13207278
52,43.91,Obras de fundações,279,33663,675102,3341775
53,43.99,Serviços especializados para construç...,1380,113510,2079526,9865503
54,NaN,NaN,NaN,NaN,NaN,NaN
55,"Fonte: IBGE, Diretoria de Pesquisas, Coordenaç...",NaN,NaN,NaN,NaN,NaN

In [10]:
linhas = [1, 54, 55]
for i in linhas:
    df1_1b = df1_1b.drop(i) #Exclui as linhas que não possui dados
novas_colunas = df1_1b.loc[0]
df1_1b.columns = novas_colunas
df1_1b = df1_1b.drop(0)
#df1_1b.to_csv('tab1_1b_limpa.csv')

### df1_2b (limpeza)

In [11]:
df1_2b

,"Tabela 1.2 - Variáveis selecionadas das empresas de construção, segundo as Grandes Regiões",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,e as Unidades da Federação da sede da empresa ...,NaN,NaN,NaN,NaN
1,Grandes Regiões \ne\nUnidades da Federação\nda...,Número\nde\nempresas ativas,Pessoal ocupado\nem 31.12,"Salários, retiradas e\noutras remunerações 1 0...","Valor das incorporações,\nobras e/ou serviços\..."
2,NaN,NaN,NaN,NaN,NaN
3,Total das empresas,NaN,NaN,NaN,NaN
4,Brasil,104338,2814268,60317120,336591352
5,Norte,3516,113007,1756719,10591102
6,Nordeste,13992,545394,8525738,47886269
7,Sudeste,51213,1551982,39174690,208644745
8,Sul,27437,391423,7022470,44691792
9,Centro-Oeste,8180,212462,3837503,24777444
10,Empresas de 1 a 4 pessoas ocupadas,NaN,NaN,NaN,NaN
11,Brasil,48399,140403,1758835,11796992
12,Norte,1333,6324,74727,482466
13,Nordeste,5883,23023,276198,1826419
14,Sudeste,23712,65727,799657,5002019
15,Sul,13914,34592,455598,3328949
16,Centro-Oeste,3557,10736,152654,1157138
17,Empresas com 5 ou mais pessoas ocupadas,NaN,NaN,NaN,NaN
18,Brasil,55939,2673865,58558285,324794360
19,Norte,2184,106683,1681992,10108636
20,Rondônia,332,9963,160748,929010
21,Acre,147,7031,99041,731132
22,Amazonas,505,24382,457823,2975199
23,Roraima,71,3283,45619,269186
24,Pará,776,49299,747047,4184765
25,Amapá,110,4262,55615,287703
26,Tocantins,241,8462,116098,731642
27,Nordeste,8108,522371,8249541,46059849
28,Maranhão,546,46588,498829,3016635
29,Piauí,372,28775,334933,1829762
30,Ceará,1252,87289,1352101,7906474
31,Rio Grande do Norte,812,37180,499756,3216308
32,Paraíba,945,36673,454776,2436548
33,Pernambuco,1399,88167,1448155,7700603
34,Alagoas,402,26528,336171,2233838
35,Sergipe,308,24359,499621,2665731
36,Bahia,2073,146812,2825198,15053951
37,Sudeste,27500,1486255,38375033,203642726
38,Minas Gerais,6944,359675,8402844,43205761
39,Espírito Santo,1445,50132,767992,5114782
40,Rio de Janeiro,4035,307913,8243321,41536056
41,São Paulo,15076,768535,20960876,113786127
42,Sul,13523,356832,6566872,41362843
43,Paraná,4629,138729,2758061,16567253
44,Santa Catarina,3888,92502,1605734,10915933
45,Rio Grande do Sul,5007,125601,2203076,13879657
46,Centro-Oeste,4623,201725,3684848,23620306
47,Mato Grosso do Sul,661,25264,395434,2397489
48,Mato Grosso,948,33088,586327,3218521
49,Goiás,1773,82604,1482701,8545808
50,Distrito Federal,1241,60769,1220387,9458488
51,NaN,NaN,NaN,NaN,NaN
52,"Fonte: IBGE, Diretoria de Pesquisas, Coordenaç...",NaN,NaN,NaN,NaN

In [12]:
linhas = [0, 2, 51, 52]
for i in linhas:
    df1_2b = df1_2b.drop(i)
novas_colunas = df1_2b.loc[1]
df1_2b.columns = novas_colunas
df1_2b = df1_2b.drop(1)
#df1_2b.to_csv('tab1_2b_limpa.csv')

### df2_1a (limpeza)

In [13]:
df2_1a

,"Tabela 2.1 - Dados gerais das empresas de construção, segundo as divisões,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,os grupos e as classes de atividades - Brasil ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos\n e\nclasses de atividades",Número\nde \nempresas ...,NaN,Pessoal\nocupado\nem\n31.12,NaN,Custos e despesas Total (1 000 R$),NaN,Custos e despesas Gastos de pessoal Total (1 0...,NaN,"Custos e despesas Gastos de pessoal Salários, ...",NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total das empresas,104338,A,2814268,A,278313263,A,90477657,A,60317120,A
6,NaN,Empresas de 1 a 4 pessoas ocupadas,48399,A,140403,B,7349326,B,2229173,B,1758835,B
7,41,Construção de edifícios,16983,B,55021,B,3496932,B,871223,B,641158,B
8,42,Obras de infraestrutura,3862,B,12718,B,870568,C,239041,C,189958,C
9,43,Serviços especializados para construção,27554,B,72664,B,2981826,B,1118909,B,927718,B
10,NaN,Empresas de 5 a 29 pessoas ocupadas,41267,A,491985,A,30432810,A,10193968,A,7387677,A
11,41,Construção de edifícios,18448,A,229602,A,17585000,B,4974164,B,3464518,B
12,41.1,Incorporação e empreendimentos imobiliários,681,C,9475,C,1420377,D,216085,C,144105,C
13,41.2,Construção de edifícios,17767,A,220127,A,16164623,B,4758079,B,3320413,B
14,42,Obras de infraestrutura,3857,B,45002,B,2608653,B,902589,B,655424,B
15,42.1,"Construção de rodovias, ferrovias, obr...",1392,B,16532,B,1103447,B,302037,B,218555,B
16,42.2,Obras de infraestrutura para energia el...,677,B,9844,B,503546,B,220058,B,159540,B
17,42.9,Construção de outras obras de infraestrutura,1788,B,18625,B,1001660,B,380494,B,277329,B
18,43,Serviços especializados para construção,18963,A,217381,A,10239156,B,4317215,B,3267735,A
19,43.1,Demolição e preparação do terreno,2312,B,24765,B,1691247,B,516331,B,382404,B
20,43.2,"Instalações elétricas, hidráulicas e out...",6026,B,71527,B,3764903,B,1615039,B,1235913,B
21,43.3,Obras de acabamento,5361,B,54260,B,1751124,B,879920,B,688838,B
22,43.9,Outros serviços especializados para cons...,5263,B,66828,B,3031882,B,1305925,B,960580,B
23,NaN,Empresas com 30 ou mais pessoas ocupadas,14671,A,2181880,A,240531127,A,78054515,A,51170608,A
24,41,Construção de edifícios,7321,A,879414,A,91067118,A,25024662,A,16655299,A
25,41.1,Incorporação e empreendimentos imobiliários,246,B,26265,A,5743585,B,1138147,B,756077,B
26,41.10,Incorporação e empreendimentos imobili...,246,B,26265,A,5743585,B,1138147,B,756077,B
27,41.2,Construção de edifícios,7075,A,853149,A,85323532,A,23886514,A,15899223,A
28,41.20,Construção de edifícios,7075,A,853149,A,85323532,A,23886514,A,15899223,A
29,42,Obras de infraestrutura,2748,A,885730,A,119925815,A,41134010,A,26592905,A
30,42.1,"Construção de rodovias, ferrovias, obras u...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,42.12,Construção de obras de arte especiais,81,B,50641,A,7539390,A,2566715,A,1643147,A
32,42.13,"Obras de urbanização - ruas, praças e ...",307,A,55723,A,7130417,B,2097443,A,1411941,A
33,42.2,Obras de infraestrutura para energia elét...,774,A,269047,A,27336727,A,11569531,A,7474078,A
34,42.21,Obras para geração e distribuição de e...,498,A,210262,A,20312639,A,9160581,A,5944311,A
35,42.22,Construção de redes de abastecime...,241,A,44838,A,4444316,A,1399488,A,904582,A
36,42.23,Construção de redes de transportes p...,35,B,13948,B,2579773,B,1009463,A,625185,A
37,42.9,Construção de outras obras de infraestrutura,899,A,324704,B,46200019,B,16720421,B,10740244,B
38,42.91,"Obras portuárias, marítimas e fluviais",32,B,67870,C,10564065,C,4032913,C,2644339,C
39,42.92,Montagem de instalações indus...,266,A,136326,B,18765667,B,7115654,B,4453186,B
40,42.99,Obras de engenharia civil não...,601,A,120507,A,16870286,B,5571854,A,3642719,A
41,43,Serviços especializados para construção,4603,A,416737,A,29538195,A,11895844,A,7922404,A
42,43.1,Demolição e preparação do terreno,627,A,63172,A,7009849,A,2236657,A,1476925,A
43,43.11,Demolição e preparação de canteiros d...,71,B,6714,B,614670,C,236499,C,161046,C
44,43.12,Perfurações e sondagens,71,B,7997,B,800965,B,318464,B,201308,B
45,43.13,Obras de terraplenagem,456,A,45133,A,5340611,A,1600694,A,1060083,A
46,43.19,Serviços de preparação do terreno nã...,29,B,3329,B,253604,B,81000,B,54488,B
47,43.2,"Instalações elétricas, hidráulicas e out...",1304,A,136819,A,8972898,A,4060268,A,2684820,A
48,43.21,Instalações elétricas,695,A,74959,A,4533109,A,2150640,A,1417601,A
49,43.22,"Instalações hidráulicas, de...",429,A,40802,A,2748507,A,1205170,A,816432,A
50,43.29,Obras de instalações em const...,179,B,21058,A,1691283,B,704458,A,450788,A
51,43.3,Obras de acabamento,1013,A,69573,A,3002701,A,1473684,A,1006031,A
52,43.30,Obras de acabamento,1013,A,69573,A,3002701,A,1473684,A,1006031,A
53,43.9,Outros serviços especializados para cons...,1659,A,147173,A,10552747,A,4125235,A,2754628,A
54,43.91,Obras de fundações,279,B,33663,B,2701137,B,1020715,A,675102,A
55,43.99,Serviços especializados para construç...,1380,A,113510,A,7851609,A,3104520,A,2079526,A

In [14]:
linhas = [0, 2, 3, 4]
for i in linhas:
    df2_1a = df2_1a.drop(i)
novas_colunas = df2_1a.loc[1]
df2_1a.columns = novas_colunas
df2_1a = df2_1a.drop(1)
#df2_1a.to_csv('tab2_1a_limpa.csv')

### df2_1b (limpeza)

In [15]:
df2_1b

,"Tabela 2.1 - Dados gerais das empresas de construção, segundo as divisões,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,os grupos e as classes de atividades - Brasil ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos\n e\nclasses de atividades",Número\nde \nempresas ...,NaN,Pessoal\nocupado\nem\n31.12,NaN,Custos e despesas Total (1 000 R$),NaN,Custos e despesas Gastos de pessoal Total (1 0...,NaN,"Custos e despesas Gastos de pessoal Salários, ...",NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total das empresas,104338,A,2814268,A,278313263,A,90477657,A,60317120,A
6,NaN,Empresas de 1 a 4 pessoas ocupadas,48399,A,140403,B,7349326,B,2229173,B,1758835,B
7,41,Construção de edifícios,16983,B,55021,B,3496932,B,871223,B,641158,B
8,42,Obras de infraestrutura,3862,B,12718,B,870568,C,239041,C,189958,C
9,43,Serviços especializados para construção,27554,B,72664,B,2981826,B,1118909,B,927718,B
10,NaN,Empresas de 5 a 29 pessoas ocupadas,41267,A,491985,A,30432810,A,10193968,A,7387677,A
11,41,Construção de edifícios,18448,A,229602,A,17585000,B,4974164,B,3464518,B
12,41.1,Incorporação e empreendimentos imobiliários,681,C,9475,C,1420377,D,216085,C,144105,C
13,41.2,Construção de edifícios,17767,A,220127,A,16164623,B,4758079,B,3320413,B
14,42,Obras de infraestrutura,3857,B,45002,B,2608653,B,902589,B,655424,B
15,42.1,"Construção de rodovias, ferrovias, obr...",1392,B,16532,B,1103447,B,302037,B,218555,B
16,42.2,Obras de infraestrutura para energia el...,677,B,9844,B,503546,B,220058,B,159540,B
17,42.9,Construção de outras obras de infraestrutura,1788,B,18625,B,1001660,B,380494,B,277329,B
18,43,Serviços especializados para construção,18963,A,217381,A,10239156,B,4317215,B,3267735,A
19,43.1,Demolição e preparação do terreno,2312,B,24765,B,1691247,B,516331,B,382404,B
20,43.2,"Instalações elétricas, hidráulicas e out...",6026,B,71527,B,3764903,B,1615039,B,1235913,B
21,43.3,Obras de acabamento,5361,B,54260,B,1751124,B,879920,B,688838,B
22,43.9,Outros serviços especializados para cons...,5263,B,66828,B,3031882,B,1305925,B,960580,B
23,NaN,Empresas com 30 ou mais pessoas ocupadas,14671,A,2181880,A,240531127,A,78054515,A,51170608,A
24,41,Construção de edifícios,7321,A,879414,A,91067118,A,25024662,A,16655299,A
25,41.1,Incorporação e empreendimentos imobiliários,246,B,26265,A,5743585,B,1138147,B,756077,B
26,41.10,Incorporação e empreendimentos imobili...,246,B,26265,A,5743585,B,1138147,B,756077,B
27,41.2,Construção de edifícios,7075,A,853149,A,85323532,A,23886514,A,15899223,A
28,41.20,Construção de edifícios,7075,A,853149,A,85323532,A,23886514,A,15899223,A
29,42,Obras de infraestrutura,2748,A,885730,A,119925815,A,41134010,A,26592905,A
30,42.1,"Construção de rodovias, ferrovias, obras u...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,42.12,Construção de obras de arte especiais,81,B,50641,A,7539390,A,2566715,A,1643147,A
32,42.13,"Obras de urbanização - ruas, praças e ...",307,A,55723,A,7130417,B,2097443,A,1411941,A
33,42.2,Obras de infraestrutura para energia elét...,774,A,269047,A,27336727,A,11569531,A,7474078,A
34,42.21,Obras para geração e distribuição de e...,498,A,210262,A,20312639,A,9160581,A,5944311,A
35,42.22,Construção de redes de abastecime...,241,A,44838,A,4444316,A,1399488,A,904582,A
36,42.23,Construção de redes de transportes p...,35,B,13948,B,2579773,B,1009463,A,625185,A
37,42.9,Construção de outras obras de infraestrutura,899,A,324704,B,46200019,B,16720421,B,10740244,B
38,42.91,"Obras portuárias, marítimas e fluviais",32,B,67870,C,10564065,C,4032913,C,2644339,C
39,42.92,Montagem de instalações indus...,266,A,136326,B,18765667,B,7115654,B,4453186,B
40,42.99,Obras de engenharia civil não...,601,A,120507,A,16870286,B,5571854,A,3642719,A
41,43,Serviços especializados para construção,4603,A,416737,A,29538195,A,11895844,A,7922404,A
42,43.1,Demolição e preparação do terreno,627,A,63172,A,7009849,A,2236657,A,1476925,A
43,43.11,Demolição e preparação de canteiros d...,71,B,6714,B,614670,C,236499,C,161046,C
44,43.12,Perfurações e sondagens,71,B,7997,B,800965,B,318464,B,201308,B
45,43.13,Obras de terraplenagem,456,A,45133,A,5340611,A,1600694,A,1060083,A
46,43.19,Serviços de preparação do terreno nã...,29,B,3329,B,253604,B,81000,B,54488,B
47,43.2,"Instalações elétricas, hidráulicas e out...",1304,A,136819,A,8972898,A,4060268,A,2684820,A
48,43.21,Instalações elétricas,695,A,74959,A,4533109,A,2150640,A,1417601,A
49,43.22,"Instalações hidráulicas, de...",429,A,40802,A,2748507,A,1205170,A,816432,A
50,43.29,Obras de instalações em const...,179,B,21058,A,1691283,B,704458,A,450788,A
51,43.3,Obras de acabamento,1013,A,69573,A,3002701,A,1473684,A,1006031,A
52,43.30,Obras de acabamento,1013,A,69573,A,3002701,A,1473684,A,1006031,A
53,43.9,Outros serviços especializados para cons...,1659,A,147173,A,10552747,A,4125235,A,2754628,A
54,43.91,Obras de fundações,279,B,33663,B,2701137,B,1020715,A,675102,A
55,43.99,Serviços especializados para construç...,1380,A,113510,A,7851609,A,3104520,A,2079526,A

In [16]:
linhas = [0, 2, 3, 4]
for i in linhas:
    df2_1b = df2_1b.drop(i)
novas_colunas = df2_1b.loc[1]
df2_1b.columns = novas_colunas
df2_1b = df2_1b.drop(1)
#df2_1b.to_csv('tab2_1b_limpa.csv')

### df2_1c (limpeza)

In [17]:
df2_1c

,"Tabela 2.1 - Dados gerais das empresas de construção, segundo as divisões,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,os grupos e as classes de atividades - Brasil ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos\n e\nclasses de atividades",Número\nde \nempresas ...,NaN,Pessoal\nocupado\nem\n31.12,NaN,Custos e despesas Total (1 000 R$),NaN,Custos e despesas Gastos de pessoal Total (1 0...,NaN,"Custos e despesas Gastos de pessoal Salários, ...",NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total das empresas,104338,A,2814268,A,278313263,A,90477657,A,60317120,A
6,NaN,Empresas de 1 a 4 pessoas ocupadas,48399,A,140403,B,7349326,B,2229173,B,1758835,B
7,41,Construção de edifícios,16983,B,55021,B,3496932,B,871223,B,641158,B
8,42,Obras de infraestrutura,3862,B,12718,B,870568,C,239041,C,189958,C
9,43,Serviços especializados para construção,27554,B,72664,B,2981826,B,1118909,B,927718,B
10,NaN,Empresas de 5 a 29 pessoas ocupadas,41267,A,491985,A,30432810,A,10193968,A,7387677,A
11,41,Construção de edifícios,18448,A,229602,A,17585000,B,4974164,B,3464518,B
12,41.1,Incorporação e empreendimentos imobiliários,681,C,9475,C,1420377,D,216085,C,144105,C
13,41.2,Construção de edifícios,17767,A,220127,A,16164623,B,4758079,B,3320413,B
14,42,Obras de infraestrutura,3857,B,45002,B,2608653,B,902589,B,655424,B
15,42.1,"Construção de rodovias, ferrovias, obr...",1392,B,16532,B,1103447,B,302037,B,218555,B
16,42.2,Obras de infraestrutura para energia el...,677,B,9844,B,503546,B,220058,B,159540,B
17,42.9,Construção de outras obras de infraestrutura,1788,B,18625,B,1001660,B,380494,B,277329,B
18,43,Serviços especializados para construção,18963,A,217381,A,10239156,B,4317215,B,3267735,A
19,43.1,Demolição e preparação do terreno,2312,B,24765,B,1691247,B,516331,B,382404,B
20,43.2,"Instalações elétricas, hidráulicas e out...",6026,B,71527,B,3764903,B,1615039,B,1235913,B
21,43.3,Obras de acabamento,5361,B,54260,B,1751124,B,879920,B,688838,B
22,43.9,Outros serviços especializados para cons...,5263,B,66828,B,3031882,B,1305925,B,960580,B
23,NaN,Empresas com 30 ou mais pessoas ocupadas,14671,A,2181880,A,240531127,A,78054515,A,51170608,A
24,41,Construção de edifícios,7321,A,879414,A,91067118,A,25024662,A,16655299,A
25,41.1,Incorporação e empreendimentos imobiliários,246,B,26265,A,5743585,B,1138147,B,756077,B
26,41.10,Incorporação e empreendimentos imobili...,246,B,26265,A,5743585,B,1138147,B,756077,B
27,41.2,Construção de edifícios,7075,A,853149,A,85323532,A,23886514,A,15899223,A
28,41.20,Construção de edifícios,7075,A,853149,A,85323532,A,23886514,A,15899223,A
29,42,Obras de infraestrutura,2748,A,885730,A,119925815,A,41134010,A,26592905,A
30,42.1,"Construção de rodovias, ferrovias, obras u...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,42.12,Construção de obras de arte especiais,81,B,50641,A,7539390,A,2566715,A,1643147,A
32,42.13,"Obras de urbanização - ruas, praças e ...",307,A,55723,A,7130417,B,2097443,A,1411941,A
33,42.2,Obras de infraestrutura para energia elét...,774,A,269047,A,27336727,A,11569531,A,7474078,A
34,42.21,Obras para geração e distribuição de e...,498,A,210262,A,20312639,A,9160581,A,5944311,A
35,42.22,Construção de redes de abastecime...,241,A,44838,A,4444316,A,1399488,A,904582,A
36,42.23,Construção de redes de transportes p...,35,B,13948,B,2579773,B,1009463,A,625185,A
37,42.9,Construção de outras obras de infraestrutura,899,A,324704,B,46200019,B,16720421,B,10740244,B
38,42.91,"Obras portuárias, marítimas e fluviais",32,B,67870,C,10564065,C,4032913,C,2644339,C
39,42.92,Montagem de instalações indus...,266,A,136326,B,18765667,B,7115654,B,4453186,B
40,42.99,Obras de engenharia civil não...,601,A,120507,A,16870286,B,5571854,A,3642719,A
41,43,Serviços especializados para construção,4603,A,416737,A,29538195,A,11895844,A,7922404,A
42,43.1,Demolição e preparação do terreno,627,A,63172,A,7009849,A,2236657,A,1476925,A
43,43.11,Demolição e preparação de canteiros d...,71,B,6714,B,614670,C,236499,C,161046,C
44,43.12,Perfurações e sondagens,71,B,7997,B,800965,B,318464,B,201308,B
45,43.13,Obras de terraplenagem,456,A,45133,A,5340611,A,1600694,A,1060083,A
46,43.19,Serviços de preparação do terreno nã...,29,B,3329,B,253604,B,81000,B,54488,B
47,43.2,"Instalações elétricas, hidráulicas e out...",1304,A,136819,A,8972898,A,4060268,A,2684820,A
48,43.21,Instalações elétricas,695,A,74959,A,4533109,A,2150640,A,1417601,A
49,43.22,"Instalações hidráulicas, de...",429,A,40802,A,2748507,A,1205170,A,816432,A
50,43.29,Obras de instalações em const...,179,B,21058,A,1691283,B,704458,A,450788,A
51,43.3,Obras de acabamento,1013,A,69573,A,3002701,A,1473684,A,1006031,A
52,43.30,Obras de acabamento,1013,A,69573,A,3002701,A,1473684,A,1006031,A
53,43.9,Outros serviços especializados para cons...,1659,A,147173,A,10552747,A,4125235,A,2754628,A
54,43.91,Obras de fundações,279,B,33663,B,2701137,B,1020715,A,675102,A
55,43.99,Serviços especializados para construç...,1380,A,113510,A,7851609,A,3104520,A,2079526,A

In [18]:
linhas = [0, 2, 3, 4]
for i in linhas:
    df2_1c = df2_1c.drop(i)
novas_colunas = df2_1c.loc[1]
df2_1c.columns = novas_colunas
df2_1c = df2_1c.drop(1)
#df2_1c.to_csv('tab2_1c_limpa.csv')

### df2_2a (limpeza)

In [19]:
df2_2a

,"Tabela 2.2 - Dados gerais das empresas de construção com 5 ou mais pessoas ocupadas,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,"segundo as divisões, os grupos de atividades e...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, ...",Número\nde \nempresas\nativas,Pessoal\nocupado\nem\n31.12,Custos e despesas Total 1 000 R$,Custos e despesas Gastos de pessoal Total 1 00...,"Custos e despesas Gastos de pessoal Salários,\...",Custos e despesas Custos das obras e/ou\nservi...,Custos e despesas Custos das obras e/ou\nservi...,Custos e despesas Custos de\nincorporações de\...,Custos e despesas Custos de\nincorporações de\...,Custos e despesas Outros\ncustos e\ndespesas ...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total,55939,2673865,270963937,88248483,58558285,115009135,67378966,5500589,2695472,62205730
6,NaN,De 5 a 29,41640,471565,34199536,10681695,7677864,15635703,11007860,1419207,445828,6462930
7,NaN,De 30 a 49,5424,205030,16189470,4805801,3348022,7673901,5345304,604024,213085,3105745
8,NaN,De 50 a 99,4615,316403,26355598,7964669,5409038,12166559,7971176,929601,366042,5294769
9,NaN,De 100 a 249,2762,420091,38705080,12225429,8092959,17740235,11416444,927705,471813,7811710
10,NaN,De 250 a 499,875,301573,29756825,9577584,6267910,12500842,7379276,613789,487118,7064609
11,NaN,Com 500 e mais,623,959203,125757429,42993305,27762493,49291893,24258906,1006263,711586,32465967
12,41,Construção de edifícios,25769,1109016,108652118,29998826,20119817,52474511,34671334,5058076,2343878,21120705
13,NaN,De 5 a 29,18749,220924,20503423,5326833,3679660,10095729,7502921,1388396,435710,3692465
14,NaN,De 30 a 49,2564,97257,9340243,2256007,1557133,4901300,3574387,580919,195903,1602017
15,NaN,De 50 a 99,2328,159821,13999030,3864242,2611740,6993174,4892557,859017,306462,2282597
16,NaN,De 100 a 249,1462,222453,20498366,5987225,4011889,10316011,7199397,849185,423813,3345945
17,NaN,De 250 a 499,414,141176,13448179,3914314,2595872,6031868,3846787,588650,467200,2913347
18,NaN,Com 500 e mais,251,267384,30862876,8650203,5663524,14136428,7655284,791910,514789,7284334
19,41.1,Incorporação de empreendimentos imobiliários,927,35741,7163963,1354233,900181,134823,103284,4094664,1788285,1580243
20,NaN,De 5 a 29,698,7755,2047303,261204,172851,24044,11315,1295440,388877,466615
21,NaN,De 30 a 49,62,2418,648758,102011,70442,10004,5712,369787,99202,166956
22,NaN,De 50 a 99,100,6549,1197651,186488,125324,2899,881,728858,217073,279406
23,NaN,De 100 a 249,43,6712,1094543,285090,183322,7330,7081,563296,252349,238826
24,NaN,De 250 a 499,16,5977,982354,273010,190675,34884,34746,489019,395859,185440
25,NaN,Com 500 e mais,7,6330,1193354,246430,157566,55661,43549,648264,434926,242999
26,41.2,Construção de edifícios,24842,1073276,101488155,28644593,19219636,52339688,34568050,963412,555593,19540462
27,NaN,De 5 a 29,18052,213170,18456120,5065629,3506808,10071685,7491606,92955,46833,3225850
28,NaN,De 30 a 49,2502,94839,8691485,2153997,1486690,4891296,3568676,211132,96702,1435061
29,NaN,De 50 a 99,2227,153272,12801379,3677755,2486416,6990275,4891676,130159,89390,2003190
30,NaN,De 100 a 249,1419,215741,19403823,5702135,3828567,10308681,7192316,285889,171464,3107119
31,NaN,De 250 a 499,397,135200,12465826,3641304,2405196,5996984,3812042,99631,71341,2727907
32,NaN,Com 500 e mais,244,261054,29669522,8403773,5505958,14080767,7611735,143646,79863,7041336
33,42,Obras de infraestrutura,6605,930732,122534468,42036599,27248329,48380131,24620210,320884,272368,31796856
34,NaN,De 5 a 29,3912,43054,3152648,1046576,743482,1468597,1075657,6459,990,631016
35,NaN,De 30 a 49,704,26987,2521299,771965,524834,1175560,755664,9073,8054,564702
36,NaN,De 50 a 99,775,54070,5876132,1593286,1076308,2766659,1585490,14966,13392,1501222
37,NaN,De 100 a 249,644,102251,11312498,3513269,2298427,4993118,2891734,59655,40337,2746456
38,NaN,De 250 a 499,295,104564,11816227,3856322,2485889,4957935,2730895,20109,16531,2981862
39,NaN,Com 500 e mais,276,599805,87855662,31255181,20119389,33018262,15580771,210621,193065,23371598
40,42.1,"Construção de rodovias, ferrovias,obras urbana...",2467,308511,47492516,13146095,8597138,21413642,10888075,176971,145770,12755807
41,NaN,De 5 a 29,1401,14836,1361864,375838,263999,729293,497898,379,229,256354
42,NaN,De 30 a 49,248,9400,1134142,254846,173200,613705,383550,906,592,264686
43,NaN,De 50 a 99,297,20558,2455105,568139,379515,1059729,655793,4903,4160,822334
44,NaN,De 100 a 249,278,44219,5790747,1534745,1018918,2866532,1725808,9338,-,1380133
45,NaN,De 250 a 499,126,43950,6412247,1767446,1141056,2882216,1583886,14065,10486,1748520
46,NaN,Com 500 e mais,117,175549,30338410,8645081,5620450,13262167,6041140,147380,130302,8283782
47,42.2,Obras de infraestrutura para energia elétric...,1451,278891,27840274,11789589,7633618,8386667,4303204,15762,14194,7648256
48,NaN,De 5 a 29,685,9316,659275,245956,175934,248732,185171,441,239,164145
49,NaN,De 30 a 49,175,6807,537816,205222,137465,217302,140457,4265,4086,111027
50,NaN,De 50 a 99,213,15133,1268186,484554,330394,462905,293676,1658,1308,319069
51,NaN,De 100 a 249,205,33502,3114165,1183100,765494,1139080,667753,2966,2607,789019
52,NaN,De 250 a 499,89,31651,2771265,1075644,684709,917870,522347,5772,5772,771979
53,NaN,Com 500 e mais,84,182482,19489567,8595112,5539623,5400778,2493799,661,182,5493017

In [20]:
linhas = [0,2,3,4]
for i in linhas:
    df2_2a = df2_2a.drop(i)
novas_colunas = df2_2a.loc[1]
df2_2a.columns = novas_colunas
df2_2a = df2_2a.drop(1)
#df2_2a.to_csv('tab2_2a_limpa.csv')

### df2_2b (limpeza)

In [21]:
df2_2b

,"Tabela 2.2 - Dados gerais das empresas de construção com 5 ou mais pessoas ocupadas,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,"segundo as divisões, os grupos de atividades e...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, ...",Número\nde \nempresas\nativas,Pessoal\nocupado\nem\n31.12,Custos e despesas Total 1 000 R$,Custos e despesas Gastos de pessoal Total 1 00...,"Custos e despesas Gastos de pessoal Salários,\...",Custos e despesas Custos das obras e/ou\nservi...,Custos e despesas Custos das obras e/ou\nservi...,Custos e despesas Custos de\nincorporações de\...,Custos e despesas Custos de\nincorporações de\...,Custos e despesas Custos de\nincorporações de\...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,42.9,Construção de outras obras de infraestrutura,2687,343329,47201679,17100915,11017572,18579822,9428931,128150,112404,11392792
6,NaN,De 5 a 29,1826,18902,1131509,424781,303549,490572,392588,5639,522,210517
7,NaN,De 30 a 49,281,10780,849341,311897,214169,344553,231657,3902,3376,188989
8,NaN,De 50 a 99,265,18380,2152841,540593,366398,1244024,636021,8405,7924,359819
9,NaN,De 100 a 249,161,24531,2407586,795424,514015,987507,498172,47352,37730,577304
10,NaN,De 250 a 499,80,28962,2632716,1013231,660125,1157848,624662,273,273,461364
11,NaN,Com 500 e mais,74,241775,38027685,14014988,8959316,14355317,7045831,62580,62580,9594800
12,43,Serviços especializados para construção,23565,634117,39777351,16213059,11190140,14154493,8087422,121629,79226,9288169
13,NaN,De 5 a 29,18979,207587,10543464,4308286,3254722,4071377,2429282,24352,9127,2139450
14,NaN,De 30 a 49,2156,80785,4327928,1777829,1266056,1597041,1015253,14032,9128,939026
15,NaN,De 50 a 99,1512,102511,6480435,2507140,1720990,2406726,1493129,55618,46188,1510950
16,NaN,De 100 a 249,656,95387,6894215,2724935,1782642,2431106,1325313,18865,7664,1719309
17,NaN,De 250 a 499,167,55832,4492418,1806947,1186149,1511040,801594,5031,3387,1169400
18,NaN,Com 500 e mais,96,92014,7038891,3087921,1979580,2137204,1022851,3732,3732,1810035
19,43.1,Demolição e preparação do terreno,2940,87937,8701096,2752988,1859328,3087374,1178764,21729,7079,2839004
20,NaN,De 5 a 29,2336,24201,1821198,533994,392515,755973,253882,8197,2704,523033
21,NaN,De 30 a 49,253,9429,872436,254815,180413,355278,141316,2373,530,259971
22,NaN,De 50 a 99,210,13901,1333240,395707,268110,505244,212837,8661,2713,423628
23,NaN,De 100 a 249,91,13280,1397047,441483,290641,538786,204392,2252,1134,414526
24,NaN,De 250 a 499,34,11718,1287887,450737,310451,378414,115059,246,-,458490
25,NaN,Com 500 e mais,15,15409,1989288,676252,417200,553679,251278,-,-,759356
26,43.2,"Instalações elétricas, hidráulicas e outras in...",7330,208346,12737802,5675307,3920733,4530792,2632648,22850,10825,2508853
27,NaN,De 5 a 29,6065,71035,3919936,1644778,1250872,1484680,883312,1614,1395,788864
28,NaN,De 30 a 49,571,21642,1181636,527965,386976,389920,272854,3655,2596,260097
29,NaN,De 50 a 99,400,27455,1750240,711170,488964,700700,473496,878,671,337492
30,NaN,De 100 a 249,194,27930,1981287,836236,539945,730095,444734,14081,4583,400875
31,NaN,De 250 a 499,61,19800,1194419,610596,391148,346955,201221,2621,1580,234247
32,NaN,Com 500 e mais,38,40485,2710283,1344562,862830,878444,357030,-,-,487278
33,43.3,Obras de acabamento,6374,123833,4753825,2353604,1694869,1616654,1146489,8736,3525,774831
34,NaN,De 5 a 29,5367,51885,1724579,850535,674833,635156,445807,6049,1432,232839
35,NaN,De 30 a 49,527,20028,769360,374025,267302,269844,186489,1066,927,124424
36,NaN,De 50 a 99,337,22792,847432,435391,308981,273479,198560,1621,1166,136941
37,NaN,De 100 a 249,116,16567,663686,344184,233466,212000,146824,-,-,107501
38,NaN,De 250 a 499,17,5454,285974,138460,90307,76763,53315,-,-,70751
39,NaN,Com 500 e mais,10,7106,462795,211009,119979,149411,115494,-,-,102375
40,43.9,Outros serviços especializados para construção,6922,214001,13584628,5431160,3715209,4919672,3129522,68314,57797,3165482
41,NaN,De 5 a 29,5211,60466,3077752,1278979,936502,1195567,846281,8492,3597,594714
42,NaN,De 30 a 49,804,29686,1504495,621023,431365,581999,414595,6938,5076,294535
43,NaN,De 50 a 99,566,38363,2549523,964873,654935,927303,608236,44458,41638,612889
44,NaN,De 100 a 249,255,37610,2852195,1103032,718590,950226,529363,2531,1947,796406
45,NaN,De 250 a 499,54,18861,1724138,607154,394244,708908,431998,2163,1807,405912
46,NaN,Com 500 e mais,33,29014,1876526,856099,579572,555670,299049,3732,3732,461025

In [22]:
linhas = [0, 2, 3, 4]
for i in linhas:
    df2_2b = df2_2b.drop(i)
novas_colunas = df2_2b.loc[1]
df2_2b.columns = novas_colunas
df2_2b = df2_2b.drop(1)
#df2_2b.to_csv('tab2_2b_limpa.csv')

### df2_2c (limpeza)

In [23]:
df2_2c

,"Tabela 2.2 - Dados gerais das empresas de construção com 5 ou mais pessoas ocupadas,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"segundo as divisões, os grupos de atividades e...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, ...",\nReceita\nbruta \ntotal\n1 000 R$,Receita\nlíquida 1 000 R$,"\nValor das\nincorporações,\nobras e/ou\nservi...",Consumo\nintermediário 1 000 R$,Valor bruto\nda\nprodução 1 000 R$,Valor\nadicionado\n(1) 1 000 R$
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total,323862282,301436923,324794360,156134934,308701918,152566984
6,NaN,De 5 a 29,49550409,46077048,48381654,20518699,46058810,25540111
7,NaN,De 30 a 49,21639929,20037126,21634351,10061493,20554229,10492736
8,NaN,De 50 a 99,34078630,31777967,34083278,15993481,32533577,16540096
9,NaN,De 100 a 249,49501147,46236203,49468424,23242225,47139004,23896779
10,NaN,De 250 a 499,34943666,32519439,35619767,17103428,33820234,16716806
11,NaN,Com 500 e mais,134148502,124789140,135606888,69215608,128596064,59380456
12,41,Construção de edifícios,134977116,126162858,137511821,67200984,128428086,61227101
13,NaN,De 5 a 29,29635429,27805742,29002675,13061385,27329847,14268461
14,NaN,De 30 a 49,11857580,11034231,12245531,6282322,11473395,5191073
15,NaN,De 50 a 99,18108969,16999339,18255835,9032451,17327407,8294956
16,NaN,De 100 a 249,25677316,24118914,25918399,12896718,24604164,11707446
17,NaN,De 250 a 499,15850670,14923655,16590507,8010043,15629332,7619288
18,NaN,Com 500 e mais,33847152,31280977,35498874,17918065,32063942,14145877
19,41.1,Incorporação de empreendimentos imobiliários,8787175,8251426,8754237,4800196,8145978,3345782
20,NaN,De 5 a 29,3195932,2997196,3053233,1477129,2902007,1424878
21,NaN,De 30 a 49,674349,635056,688112,448524,641235,192711
22,NaN,De 50 a 99,1401997,1308217,1446001,861776,1333244,471468
23,NaN,De 100 a 249,1067285,1002309,1127211,674072,1091826,417754
24,NaN,De 250 a 499,1139655,1067319,1137975,612297,1048779,436482
25,NaN,Com 500 e mais,1307956,1241331,1301704,726399,1128887,402488
26,41.2,Construção de edifícios,126189941,117911432,128757584,62400788,120282107,57881319
27,NaN,De 5 a 29,26439497,24808547,25949442,11584256,24427840,12843584
28,NaN,De 30 a 49,11183231,10399175,11557420,5833798,10832160,4998361
29,NaN,De 50 a 99,16706972,15691123,16809834,8170675,15994162,7823487
30,NaN,De 100 a 249,24610031,23116606,24791187,12222646,23512338,11289692
31,NaN,De 250 a 499,14711014,13856337,15452531,7397747,14580553,7182806
32,NaN,Com 500 e mais,32539195,30039646,34197170,17191666,30935055,13743389
33,42,Obras de infraestrutura,136302421,127098003,135652685,68413311,130914230,62500919
34,NaN,De 5 a 29,4795648,4445482,4603995,1843168,4438417,2595249
35,NaN,De 30 a 49,3439237,3188366,3329383,1534766,3242114,1707348
36,NaN,De 50 a 99,7291618,6825694,7170561,3509245,6928096,3418851
37,NaN,De 100 a 249,14915802,13919767,14837778,6762998,14165917,7402918
38,NaN,De 250 a 499,13674729,12627189,13651699,6799196,13152175,6352979
39,NaN,Com 500 e mais,92185386,86091506,92059269,47963938,88987511,41023574
40,42.1,"Construção de rodovias, ferrovias, obras urban...",53694237,50149948,53952938,28820626,51786503,22965877
41,NaN,De 5 a 29,2061043,1924131,1985082,873124,1940593,1067469
42,NaN,De 30 a 49,1557912,1446842,1487301,776757,1481759,705002
43,NaN,De 50 a 99,2922629,2721200,2896262,1331643,2762378,1430735
44,NaN,De 100 a 249,7490399,7007982,7514528,3680716,7243845,3563129
45,NaN,De 250 a 499,7130471,6611707,7269759,3942508,6997406,3054899
46,NaN,Com 500 e mais,32531782,30438087,32800007,18215879,31360523,13144644
47,42.2,"Obras de infraestrutura para energia elétrica,...",30881656,28577352,31086628,13229711,29915763,16686052
48,NaN,De 5 a 29,938034,861360,919879,331611,856546,524935
49,NaN,De 30 a 49,750018,691806,728560,287839,691651,403812
50,NaN,De 50 a 99,1731144,1616536,1662660,687476,1648811,961335
51,NaN,De 100 a 249,4106404,3823020,4013594,1748494,3843921,2095427
52,NaN,De 250 a 499,3375648,3107510,3315270,1397802,3206304,1808501
53,NaN,Com 500 e mais,19980409,18477119,20446666,8776489,19668530,10892041

In [24]:
linhas = [0, 2, 3, 4]
for i in linhas:
    df2_2c = df2_2c.drop(i)
novas_colunas = df2_2c.loc[1]
df2_2c.columns = novas_colunas
df2_2c = df2_2c.drop(1)
#df2_2c.to_csv('tab2_2c_limpa.csv')

### df2_2d (limpeza)

In [25]:
df2_2d

,"Tabela 2.2 - Dados gerais das empresas de construção com 5 ou mais pessoas ocupadas, segundo",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"as divisões, os grupos de atividades e as faix...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, ...",\nReceita\nbruta \ntotal 1 000 R$\n,Receita\nlíquida 1 000 R$,"\nValor das\nincorporações,\nobras e/ou\nservi...",Consumo\nintermediário 1 000 R$,Valor bruto\nda\nprodução 1 000 R$,Valor\nadicionado\n(1) 1 000 R$
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,42.9,Construção de outras obras de infraestrutura,51726529,48370703,50613119,26362974,49211964,22848990
6,NaN,De 5 a 29,1796571,1659991,1699034,638433,1641278,1002845
7,NaN,De 30 a 49,1131307,1049718,1113523,470171,1068705,598534
8,NaN,De 50 a 99,2637845,2487958,2611639,1490127,2516907,1026781
9,NaN,De 100 a 249,3319000,3088765,3309657,1333788,3078151,1744363
10,NaN,De 250 a 499,3168610,2907972,3066670,1458886,2948465,1489579
11,NaN,Com 500 e mais,39673195,37176301,38812596,20971570,37958458,16986889
12,43,Serviços especializados para construção,52582745,48176061,51629854,20520638,49359602,28838964
13,NaN,De 5 a 29,15119332,13825824,14774983,5614146,14290547,8676401
14,NaN,De 30 a 49,6343111,5814529,6059437,2244405,5838720,3594315
15,NaN,De 50 a 99,8678043,7952934,8656882,3451785,8278074,4826289
16,NaN,De 100 a 249,8908029,8197522,8712247,3582509,8368924,4786415
17,NaN,De 250 a 499,5418267,4968595,5377561,2294188,5038727,2744539
18,NaN,Com 500 e mais,8115964,7416657,8048745,3333605,7544611,4211005
19,43.1,Demolição e preparação do terreno,11684622,10688850,11444411,4724260,10914061,6189801
20,NaN,De 5 a 29,2667780,2435243,2605641,1070126,2528591,1458465
21,NaN,De 30 a 49,1336575,1217736,1280105,495954,1240228,744275
22,NaN,De 50 a 99,1966177,1814653,1958511,771755,1873306,1101550
23,NaN,De 100 a 249,1883499,1746078,1833750,776286,1736431,960145
24,NaN,De 250 a 499,1566841,1429213,1530991,659679,1400329,740650
25,NaN,Com 500 e mais,2263749,2045927,2235412,950461,2135176,1184716
26,43.2,"Instalações elétricas, hidráulicas e outras in...",16655204,15123318,15985631,6421213,15375557,8954344
27,NaN,De 5 a 29,5287693,4823871,5061518,2101914,5013903,2911989
28,NaN,De 30 a 49,1743290,1573150,1604821,599271,1570109,970838
29,NaN,De 50 a 99,2427380,2197116,2338750,942602,2232050,1289447
30,NaN,De 100 a 249,2584508,2354920,2462791,1015599,2364792,1349194
31,NaN,De 250 a 499,1493613,1356863,1457702,520576,1360128,839552
32,NaN,Com 500 e mais,3118720,2817399,3060049,1241251,2834576,1593324
33,43.3,Obras de acabamento,6276852,5761177,6232810,2245787,5875377,3629590
34,NaN,De 5 a 29,2302601,2114061,2312117,818269,2146170,1327901
35,NaN,De 30 a 49,1056444,972824,1035557,367883,976980,609096
36,NaN,De 50 a 99,1145779,1047663,1105221,379226,1068967,689741
37,NaN,De 100 a 249,851888,779095,851495,296925,823577,526652
38,NaN,De 250 a 499,337848,309980,339982,142630,315903,173273
39,NaN,Com 500 e mais,582291,537553,588438,240854,543779,302926
40,43.9,Outros serviços especializados para construção,17966068,16602716,17967003,7129378,17194608,10065229
41,NaN,De 5 a 29,4861257,4452649,4795706,1623837,4601883,2978046
42,NaN,De 30 a 49,2206803,2050819,2138954,781297,2051403,1270106
43,NaN,De 50 a 99,3138707,2893502,3254400,1358201,3103751,1745550
44,NaN,De 100 a 249,3588133,3317430,3564211,1493700,3444124,1950424
45,NaN,De 250 a 499,2019964,1872539,2048886,971303,1962368,991064
46,NaN,Com 500 e mais,2151203,2015778,2164846,901040,2031079,1130039

In [26]:
linhas = [0,2,3,4]
for i in linhas:
    df2_2d = df2_2d.drop(i)
novas_colunas = df2_2d.loc[1]
df2_2d.columns = novas_colunas
df2_2d = df2_2d.drop(1)
#df2_2d.to_csv('tab2_2d_limpa.csv')

### df2_3a (limpeza)

In [27]:
df2_3a

,"Tabela 2.3 - Dados gerais das empresas de construção, segundo as Grandes Regiões e",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,as Unidades da Federação da sede da empresa - ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Grandes Regiões \ne\n Unidades da Federação \n...,Número \nde\nempresas ativas,Pessoal\nocupado\nem\n31.12,Custos e despesas Total 1 000 R$,Custos e despesas Gastos de pessoal Total 1 00...,"Custos e despesas Gastos de pessoal Salários,\...",Custos e despesas Custos das obras e/ou\nservi...,Custos e despesas Custos das obras e/ou\nservi...,Custos e despesas Custos de incorporação\nde i...,Custos e despesas Custos de incorporação\nde i...,Custos e despesas Outros\ncustos e\ndespesas 1...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Total das empresas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Brasil,104338,2814268,278313263,90477657,60317120,118057195,69452677,6029030,2981328,63749381
7,Norte,3516,113007,7948152,2533597,1756719,3823214,2749610,105755,45602,1485586
8,Nordeste,13992,545394,37111212,12859387,8525738,16154212,10529476,679113,417211,7418501
9,Sudeste,51213,1551982,180018070,59195897,39174690,72362116,39462325,3948899,1944387,44511158
10,Sul,27437,391423,34116502,10322867,7022470,16402982,10450278,630806,348337,6759847
11,Centro-Oeste,8180,212462,19119327,5565909,3837503,9314671,6260989,664458,225791,3574289
12,Empresas de 1 a 4 pessoas ocupadas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Brasil,48399,140403,7349326,2229173,1758835,3048061,2073710,528441,285856,1543651
14,Norte,1333,6324,333058,95430,74727,170233,114876,3606,2730,63789
15,Nordeste,5883,23023,1186452,355053,276198,627403,484820,21954,6973,182043
16,Sudeste,23712,65727,2993290,1000853,799657,980677,577047,205940,170642,805821
17,Sul,13914,34592,2084886,586081,455598,993641,726884,158856,79974,346308
18,Centro-Oeste,3557,10736,751640,191757,152654,276107,170083,138086,25536,145690
19,Empresas com 5 ou mais pessoas ocupadas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Brasil,55939,2673865,270963937,88248483,58558285,115009135,67378966,5500589,2695472,62205730
21,Norte,2184,106683,7615094,2438167,1681992,3652982,2634733,102149,42872,1421797
22,Rondônia,332,9963,702737,233006,160748,349345,204779,17255,939,103131
23,Acre,147,7031,534743,139666,99041,284670,211199,8642,7418,101765
24,Amazonas,505,24382,2244414,682549,457823,1107482,809263,31886,30849,422497
25,Roraima,71,3283,179204,61270,45619,91566,69789,30,30,26339
26,Pará,776,49299,3166482,1088003,747047,1423533,1063559,39024,2101,615922
27,Amapá,110,4262,173571,70148,55615,79866,42792,1817,1461,21740
28,Tocantins,241,8462,613942,163525,116098,316519,233353,3495,75,130403
29,Nordeste,8108,522371,35924760,12504334,8249541,15526809,10044656,657159,410238,7236458
30,Maranhão,546,46588,2202700,697443,498829,1060200,742869,22892,22383,422164
31,Piauí,372,28775,1329187,489781,334933,654110,443815,21198,17748,164098
32,Ceará,1252,87289,5999335,2067636,1352101,2443975,1363598,136423,69107,1351302
33,Rio Grande do Norte,812,37180,2394731,738989,499756,1077738,707664,54328,34059,523676
34,Paraíba,945,36673,1807688,660329,454776,836366,669955,1973,1937,309020
35,Pernambuco,1399,88167,5967294,2145750,1448155,2670377,1746507,24714,14139,1126453
36,Alagoas,402,26528,1724300,500287,336171,916481,642241,29777,23931,277754
37,Sergipe,308,24359,2330217,747741,499621,1102722,552073,5786,2434,473968
38,Bahia,2073,146812,12169308,4456379,2825198,4764839,3175935,360066,224502,2588024
39,Sudeste,27500,1486255,177024780,58195044,38375033,71381440,38885277,3742958,1773745,43705337
40,Minas Gerais,6944,359675,37292808,12436583,8402844,15370159,7861505,221760,75499,9264306
41,Espírito Santo,1445,50132,3604024,1136119,767992,1687936,1125263,71714,58815,708255
42,Rio de Janeiro,4035,307913,37313713,12534206,8243321,14818023,7755751,638489,47027,9322995
43,São Paulo,15076,768535,98814234,32088137,20960876,39505322,22142758,2810994,1592403,24409780
44,Sul,13523,356832,32031616,9736786,6566872,15409340,9723394,471950,268362,6413539
45,Paraná,4629,138729,13114018,4211734,2758061,6296800,3830480,150461,65952,2455023
46,Santa Catarina,3888,92502,8497788,2251679,1605734,4312557,2922949,140317,92551,1793235
47,Rio Grande do Sul,5007,125601,10419809,3273373,2203076,4799983,2969965,181173,109859,2165281
48,Centro-Oeste,4623,201725,18367688,5374152,3684848,9038564,6090906,526373,200255,3428599
49,Mato Grosso do Sul,661,25264,1899221,577550,395434,947853,626813,15910,7958,357909
50,Mato Grosso,948,33088,2392725,803468,586327,1209023,826177,19823,15333,360412
51,Goiás,1773,82604,6563719,2168719,1482701,2846862,1967479,349424,106657,1198713
52,Distrito Federal,1241,60769,7512023,1824415,1220387,4034827,2670437,141216,70307,1511565

In [28]:
linhas = [0, 2, 3, 4]
for i in linhas:
    df2_3a = df2_3a.drop(i)
novas_colunas = df2_3a.loc[1]
df2_3a.columns = novas_colunas
df2_3a = df2_3a.drop(1)
#df2_3a.to_csv('tab2_3a_limpa.csv')

### df2_3b (limpeza)

In [29]:
df2_3b

,"Tabela 2.3 - Dados gerais das empresas de construção, segundo as Grandes Regiões e",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,as Unidades da Federação da sede da empresa - ...,NaN,NaN,NaN,NaN,NaN,NaN
1,Grandes Regiões \ne\n Unidades da Federação\nd...,\nReceita\nbruta\ntotal\n1 000 R$,Receita\nlíquida 1 000 R$,"\nValor das incorporações,\n obras\ne/ou servi...",Consumo\nintermediário 1 000 R$,Valor bruto\nda\nprodução 1 000 R$,Valor\nadicionado\n(1) 1 000 R$
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Total das empresas,NaN,NaN,NaN,NaN,NaN,NaN
6,Brasil,336117304,312878667,336591352,160582180,319844988,159262809
7,Norte,10760546,9973799,10591102,4703188,10049209,5346021
8,Nordeste,47251087,43967353,47886269,20881832,45038125,24156293
9,Sudeste,208244246,193648381,208644745,102968088,198244863,95276775
10,Sul,45222738,42316461,44691792,20246743,43018402,22771659
11,Centro-Oeste,24638687,22972673,24777444,11782329,23494390,11712061
12,Empresas de 1 a 4 pessoas ocupadas,NaN,NaN,NaN,NaN,NaN,NaN
13,Brasil,12255022,11441745,11796992,4447246,11143070,6695825
14,Norte,492499,457417,482466,214038,456151,242113
15,Nordeste,1904399,1800509,1826419,764131,1762343,998213
16,Sudeste,5277147,4893888,5002019,1699016,4637449,2938433
17,Sul,3423795,3203767,3328949,1272870,3176065,1903196
18,Centro-Oeste,1157181,1086163,1157138,497191,1111061,613871
19,Empresas com 5 ou mais pessoas ocupadas,NaN,NaN,NaN,NaN,NaN,NaN
20,Brasil,323862282,301436923,324794360,156134934,308701918,152566984
21,Norte,10268046,9516382,10108636,4489150,9593058,5103908
22,Rondônia,851732,796579,929010,423799,922714,498915
23,Acre,842170,789015,731132,348043,707956,359913
24,Amazonas,2960264,2776295,2975199,1372858,2855863,1483006
25,Roraima,285554,266951,269186,104194,266691,162496
26,Pará,4207600,3857745,4184765,1769868,3900720,2130852
27,Amapá,295830,258369,287703,96112,257993,161880
28,Tocantins,824898,771428,731642,374275,681121,306846
29,Nordeste,45346687,42166845,46059849,20117701,43275781,23158081
30,Maranhão,3118867,2896907,3016635,1317525,2858615,1541090
31,Piauí,1865458,1758913,1829762,747994,1743209,995215
32,Ceará,7893239,7321868,7906474,3307938,7372678,4064740
33,Rio Grande do Norte,2929819,2714923,3216308,1342571,2989245,1646674
34,Paraíba,2611163,2440360,2436548,996930,2341802,1344872
35,Pernambuco,7888698,7337248,7700603,3366387,7347408,3981020
36,Alagoas,2182645,2068658,2233838,1095049,2124207,1029159
37,Sergipe,2527630,2401461,2665731,1203938,2414056,1210117
38,Bahia,14329169,13226507,15053951,6739367,14084562,7345195
39,Sudeste,202967099,188754492,203642726,101269072,193607414,92338342
40,Minas Gerais,43383116,40168385,43205761,20852071,39731627,18879556
41,Espírito Santo,5112988,4718973,5114782,2194739,4790222,2595483
42,Rio de Janeiro,41942713,39219577,41536056,20564707,40154400,19589693
43,São Paulo,112528282,104647557,113786127,57657555,108931165,51273610
44,Sul,41798943,39112694,41362843,18973873,39842336,20868463
45,Paraná,16913586,15860019,16567253,7742715,15743517,8000803
46,Santa Catarina,10676376,9894826,10915933,5312981,10678787,5365806
47,Rio Grande do Sul,14208981,13357849,13879657,5918177,13420032,7501855
48,Centro-Oeste,23481506,21886510,23620306,11285138,22383329,11098190
49,Mato Grosso do Sul,2541124,2339308,2397489,1184305,2319891,1135585
50,Mato Grosso,3240799,3016374,3218521,1445077,3060515,1615438
51,Goiás,8448936,7840467,8545808,3747369,7989124,4241754
52,Distrito Federal,9250648,8690362,9458488,4908387,9013800,4105413

In [30]:
linhas = [0, 2, 3, 4]
for i in linhas:
    df2_3b = df2_3b.drop(i)
novas_colunas = df2_3b.loc[1]
df2_3b.columns = novas_colunas
df2_3b = df2_3b.drop(1)
#df2_3b.to_csv('tab2_3b_limpa.csv')

### df3a (limpeza)

In [31]:
df3a

,"Tabela 3 - Emprego e salário das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos \nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Número\nde\nempresas ativas,Pessoal ocupado Em\n31.12,Pessoal ocupado Número\nmédio\nno ano,Pessoal ocupado Assalariado Ligado à\nconst...,Pessoal ocupado Assalariado Não ligado à\nc...,Pessoal ocupado Não assalariado Proprietários\...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,104338,2814268,2867196,2429761,254280,130226
5,NaN,Empresas de 1 a 4 pessoas ocupadas,48399,140403,138914,78787,6851,54765
6,41,Construção de edifícios,16983,55021,55226,34679,1923,18418
7,42,Obras de infraestrutura,3862,12718,13437,7905,762,4051
8,43,Serviços especializados para construção,27554,72664,70251,36202,4165,32296
9,NaN,Empresas de 5 a 29 pessoas ocupadas,41267,491985,486449,407084,32148,52754
10,41,Construção de edifícios,18448,229602,232010,188880,16370,24352
11,41.1,Incorporação e empreendimentos imobiliários,681,9475,7904,7091,1023,1361
12,41.2,Construção de edifícios,17767,220127,224106,181788,15348,22991
13,42,Obras de infraestrutura,3857,45002,45210,37431,2615,4956
14,42.1,"Construção de rodovias, ferrovias, obras ...",1392,16532,16356,13723,1004,1805
15,42.2,Obras de infraestrutura para energia elétr...,677,9844,9558,8304,626,914
16,42.9,Construção de outras obras de infraestrutura,1788,18625,19296,15404,985,2237
17,43,Serviços especializados para construção,18963,217381,209229,180773,13162,23446
18,43.1,Demolição e preparação do terreno,2312,24765,23484,20331,1571,2863
19,43.2,"Instalações elétricas, hidráulicas e ...",6026,71527,70410,58160,5830,7538
20,43.3,Obras de acabamento,5361,54260,50084,45799,2029,6432
21,43.9,Outros serviços especializados para cons...,5263,66828,65251,56484,3732,6612
22,NaN,Empresas com 30 ou mais pessoas ocupadas,14671,2181880,2241832,1943891,215282,22707
23,41,Construção de edifícios,7321,879414,877902,794985,73867,10562
24,41.1,Incorporação e empreendimentos imobiliários,246,26265,27543,21686,4335,245
25,41.10,Incorporação e empreendimentos imobili...,246,26265,27543,21686,4335,245
26,41.2,Construção de edifícios,7075,853149,850359,773299,69532,10317
27,41.20,Construção de edifícios,7075,853149,850359,773299,69532,10317
28,42,Obras de infraestrutura,2748,885730,883460,772993,107572,5165
29,42.1,"Construção de rodovias, ferrovias, obras ...",1075,291979,301463,252871,37179,1929
30,42.11,Construção de rodovias e ferrovias,687,185614,189598,165292,19065,1257
31,42.12,Construção de obras de arte especiais,81,50641,54239,41403,9085,153
32,42.13,"Obras de urbanização - ruas, praças e ...",307,55723,57626,46176,9029,519
33,42.2,Obras de infraestrutura para energia elét...,774,269047,264235,247833,19780,1435
34,42.21,Obras para geração e distribuição de ...,498,210262,207793,195950,13387,925
35,42.22,Construção de redes de abastecimento...,241,44838,43328,41494,2909,434
36,42.23,Construção de redes de transportes po...,35,13948,13114,10388,3484,75
37,42.9,Construção de outras obras de infraestrutura,899,324704,317762,272289,50613,1802
38,42.91,"Obras portuárias, marítimas e fluviais",32,67870,66970,55090,12731,49
39,42.92,Montagem de instalações industriais ...,266,136326,131353,109242,26618,466
40,42.99,Obras de engenharia civil não especif...,601,120507,119438,107957,11263,1287
41,43,Serviços especializados para construção,4603,416737,480471,375913,33843,6981
42,43.1,Demolição e preparação do terreno,627,63172,135635,55220,6872,1081
43,43.11,Demolição e preparação de canteiros d...,71,6714,6284,5747,844,123
44,43.12,Perfurações e sondagens,71,7997,8075,6927,946,124
45,43.13,Obras de terraplenagem,456,45133,117947,39958,4382,793
46,43.2,"Instalações elétricas, hidráulicas e o...",1304,136819,130827,122146,12554,2119
47,43.21,Instalações elétricas,695,74959,71196,68250,5581,1128
48,43.22,"Instalações hidráulicas, de sistemas...",429,40802,38930,35260,4868,673
49,43.29,Obras de instalações em construções n...,179,21058,20701,18636,2104,318
50,43.3,Obras de acabamento,1013,69573,67971,64244,3927,1401
51,43.30,Obras de acabamento,1013,69573,67971,64244,3927,1401
52,43.9,Outros serviços especializados para cons...,1659,147173,146039,134303,10490,2380
53,43.91,Obras de fundações,279,33663,34260,30793,2411,460
54,43.99,Serviços especializados para construç...,1380,113510,111779,103510,8080,1920

In [32]:
linhas = [0, 2, 3]
for i in linhas:
    df3a = df3a.drop(i)
novas_colunas = df3a.loc[1]
df3a.columns = novas_colunas
df3a = df3a.drop(1)
#df3a.to_csv('tab3a_limpa.csv')

### df3b (limpeza)

In [33]:
df3b

,"Tabela 3 - Emprego e salário das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,"segundo as divisões, os grupos e as classes d...",NaN,NaN,NaN,NaN,NaN
1,Códigos \nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades","Salários, retiradas e outras remunerações Tot...","Salários, retiradas e outras remunerações Pes...","Salários, retiradas e outras remunerações Pes...","Salários, retiradas e outras remunerações Pe..."
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,60317120,50281090,7526421,2509609
5,NaN,Empresas de 1 a 4 pessoas ocupadas,1758835,1013151,88814,656869
6,41,Construção de edifícios,641158,431203,28094,181860
7,42,Obras de infraestrutura,189958,125834,16036,48088
8,43,Serviços especializados para construção,927718,456114,44684,426920
9,NaN,Empresas de 5 a 29 pessoas ocupadas,7387677,6070479,547235,769964
10,41,Construção de edifícios,3464518,2854776,294032,315710
11,41.1,Incorporação e empreendimentos imobiliários,144105,110047,20335,13723
12,41.2,Construção de edifícios,3320413,2744729,273698,301987
13,42,Obras de infraestrutura,655424,544845,45284,65294
14,42.1,"Construção de rodovias, ferrovias, obras u...",218555,182914,15040,20602
15,42.2,Obras de infraestrutura para energia elétri...,159540,131025,14436,14079
16,42.9,Construção de outras obras de infraestrutura,277329,230907,15808,30613
17,43,Serviços especializados para construção,3267735,2670857,207918,388960
18,43.1,Demolição e preparação do terreno,382404,321876,23076,37452
19,43.2,"Instalações elétricas, hidráulicas e o...",1235913,974834,111791,149288
20,43.3,Obras de acabamento,688838,591546,25594,71699
21,43.9,Outros serviços especializados para cons...,960580,782601,47458,130521
22,NaN,Empresas com 30 ou mais pessoas ocupadas,51170608,43197460,6890372,1082776
23,41,Construção de edifícios,16655299,14070674,2094046,490579
24,41.1,Incorporação e empreendimentos imobiliários,756077,562117,165048,28911
25,41.10,Incorporação e empreendimentos imobili...,756077,562117,165048,28911
26,41.2,Construção de edifícios,15899223,13508557,1928998,461668
27,41.20,Construção de edifícios,15899223,13508557,1928998,461668
28,42,Obras de infraestrutura,26592905,22285650,3949699,357556
29,42.1,"Construção de rodovias, ferrovias, obras ur...",8378583,7004111,1213882,160590
30,42.11,Construção de rodovias e ferrovias,5323495,4435745,765013,122736
31,42.12,Construção de obras de arte especiais,1643147,1360089,270976,12082
32,42.13,"Obras de urbanização - ruas, praças e ...",1411941,1208276,177893,25772
33,42.2,Obras de infraestrutura para energia elétri...,7474078,6638438,748075,87566
34,42.21,Obras para geração e distribuição de e...,5944311,5346915,540009,57386
35,42.22,Construção de redes de abastecimento...,904582,801105,78379,25098
36,42.23,Construção de redes de transportes po...,625185,490417,129687,5081
37,42.9,Construção de outras obras de infraestrutura,10740244,8643102,1987742,109400
38,42.91,"Obras portuárias, marítimas e fluviais",2644339,2129592,509852,4895
39,42.92,Montagem de instalações industriais ...,4453186,3413362,1003319,36504
40,42.99,Obras de engenharia civil não especif...,3642719,3100148,474571,68001
41,43,Serviços especializados para construção,7922404,6841136,846627,234641
42,43.1,Demolição e preparação do terreno,1476925,1262478,168146,46301
43,43.11,Demolição e preparação de canteiros d...,161046,134622,23816,2608
44,43.12,Perfurações e sondagens,201308,165289,27261,8757
45,43.13,Obras de terraplenagem,1060083,924091,101881,34111
46,43.19,Serviços de preparação do terreno ...,54488,38476,15187,825
47,43.2,"Instalações elétricas, hidráulicas e ...",2684820,2310496,299394,74930
48,43.21,Instalações elétricas,1417601,1252748,131334,33519
49,43.22,"Instalações hidráulicas, de sistemas ...",816432,673976,113203,29252
50,43.29,Obras de instalações em construções ...,450788,383772,54856,12159
51,43.3,Obras de acabamento,1006031,905049,73107,27875
52,43.30,Obras de acabamento,1006031,905049,73107,27875
53,43.9,Outros serviços especializados para cons...,2754628,2363113,305980,85535
54,43.91,Obras de fundações,675102,570429,82412,22261
55,43.99,Serviços especializados para constru...,2079526,1792684,223568,63274

In [34]:
linhas = [0, 2, 3]
for i in linhas:
    df3b = df3b.drop(i)
novas_colunas = df3b.loc[1]
df3b.columns = novas_colunas
df3b = df3b.drop(1)
#df3b.to_csv('tab3b_limpa.csv')

### df4 (limpeza)

In [35]:
df4

,"Tabela 4 - Gastos de pessoal das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Número\n de\n empresas ativas,Gastos de pessoal Total 1 000 R$,"Gastos de pessoal Salários,\nretiradas e\noutr...",Gastos de pessoal Contribui-\nções para\nprevi...,Gastos de pessoal FGTS 1 000 R$,Gastos de pessoal Contribui-\nções para\nprevi...,Gastos de pessoal Indeni-\nzações\ntrabalhista...,Gastos de pessoal Benefícios\nconcedidos\naos\...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total das empresas,104338,90477657,60317120,13295716,5018138,335614,3253462,8257606
4,NaN,Empresas de 1 a 4 pessoas ocupadas,48399,2229173,1758835,205174,97779,6476,105016,55894
5,41,Construção de edifícios,16983,871223,641158,109111,42281,2886,48275,27511
6,42,Obras de infraestrutura,3862,239041,189958,20271,11194,1152,11277,5189
7,43,Serviços especializados para construção,27554,1118909,927718,75792,44304,2438,45463,23194
8,NaN,Empresas de 5 a 29 pessoas ocupadas,41267,10193968,7387677,1243582,571253,47204,453806,490445
9,41,Construção de edifícios,18448,4974164,3464518,735285,273698,23205,231309,246148
10,41.1,Incorporação e empreendimentos imobiliários,681,216085,144105,34477,12154,907,7892,16550
11,41.2,Construção de edifícios,17767,4758079,3320413,700808,261544,22299,223417,229598
12,42,Obras de infraestrutura,3857,902589,655424,102746,52767,4205,48953,38495
13,42.1,"Construção de rodovias, ferrovias, obras u...",1392,302037,218555,37313,18256,1770,15535,10608
14,42.2,Obras de infraestrutura para energia elét...,677,220058,159540,25797,12945,1413,9406,10956
15,42.9,Construção de outras obras de infraestrutura,1788,380494,277329,39636,21566,1021,24012,16930
16,43,Serviços especializados para construção,18963,4317215,3267735,405551,244788,19794,173544,205802
17,43.1,Demolição e preparação do terreno,2312,516331,382404,63687,30994,1019,22768,15460
18,43.2,"Instalações elétricas, hidráulicas e o...",6026,1615039,1235913,144930,89839,2892,54322,87144
19,43.3,Obras de acabamento,5361,879920,688838,62899,50790,4140,37431,35822
20,43.9,Outros serviços especializados para cons...,5263,1305925,960580,134035,73166,11743,59024,67376
21,NaN,Empresas com 30 ou mais pessoas ocupadas,14671,78054515,51170608,11846960,4349106,281933,2694640,7711267
22,41,Construção de edifícios,7321,25024662,16655299,3874582,1420231,97863,857697,2118989
23,41.1,Incorporação e empreendimentos imobiliários,246,1138147,756077,174466,65701,3448,35287,103169
24,41.10,Incorporação e empreendimentos imobili...,246,1138147,756077,174466,65701,3448,35287,103169
25,41.2,Construção de edifícios,7075,23886514,15899223,3700117,1354529,94416,822411,2015820
26,41.20,Construção de edifícios,7075,23886514,15899223,3700117,1354529,94416,822411,2015820
27,42,Obras de infraestrutura,2748,41134010,26592905,6226193,2256528,137439,1438241,4482703
28,42.1,"Construção de rodovias, ferrovias, obra...",1075,12844058,8378583,2023912,745267,27892,386486,1281917
29,42.11,Construção de rodovias e ferrovias,687,8179900,5323495,1289905,476899,14642,259268,815691
30,42.12,Construção de obras de arte especiais,81,2566715,1643147,408884,150933,7773,56956,299021
31,42.13,"Obras de urbanização - ruas, praças e ...",307,2097443,1411941,325123,117435,5477,70262,167206
32,42.2,Obras de infraestrutura para energia elét...,774,11569531,7474078,1671859,623725,20724,398500,1380645
33,42.21,Obras para geração e distribuição de ...,498,9160581,5944311,1296414,488075,12610,306381,1112790
34,42.22,Construção de redes de abastecimento ...,241,1399488,904582,217265,80284,7691,52209,137457
35,42.23,Construção de redes de transportes po...,35,1009463,625185,158179,55367,424,39910,130398
36,42.9,Construção de outras obras de infraestrutura,899,16720421,10740244,2530423,887536,88823,653255,1820141
37,42.91,"Obras portuárias, marítimas e fluviais",32,4032913,2644339,551844,178658,45370,229070,383632
38,42.92,Montagem de instalações industriais e...,266,7115654,4453186,1095574,363345,24975,246764,931810
39,42.99,Obras de engenharia civil não especifi...,601,5571854,3642719,883005,345533,18479,177420,504699
40,43,Serviços especializados para construção,4603,11895844,7922404,1746185,672347,46631,398703,1109575
41,43.1,Demolição e preparação do terreno,627,2236657,1476925,356605,130286,8332,72846,191664
42,43.11,Demolição e preparação de canteiros d...,71,236499,161046,33624,14106,1178,5219,21325
43,43.12,Perfurações e sondagens,71,318464,201308,52098,16207,1109,15828,31915
44,43.13,Obras de terraplenagem,456,1600694,1060083,258836,95609,5676,48690,131800
45,43.19,Serviços de preparação do terreno n...,29,81000,54488,12048,4363,368,3109,6624
46,43.2,"Instalações elétricas, hidráulicas e o...",1304,4060268,2684820,593626,227232,13630,126837,414123
47,43.21,Instalações elétricas,695,2150640,1417601,331621,120100,7371,69705,204242
48,43.22,"Instalações hidráulicas, de sistemas ...",429,1205170,816432,164213,66662,3066,26673,128125
49,43.29,Obras de instalações em construções ...,179,704458,450788,97792,40471,3193,30459,81756
50,43.3,Obras de acabamento,1013,1473684,1006031,185854,85969,5595,58781,131454
51,43.30,Obras de acabamento,1013,1473684,1006031,185854,85969,5595,58781,131454
52,43.9,Outros serviços especializados para cons...,1659,4125235,2754628,610099,228860,19074,140239,372334
53,43.91,Obras de fundações,279,1020715,675102,153982,55855,7486,33475,94814
54,43.99,Serviços especializados para construçã...,1380,3104520,2079526,456117,173005,11588,106764,277520

In [36]:
linhas = [0, 2]
for i in linhas:
    df4 = df4.drop(i)
novas_colunas = df4.loc[1]
df4.columns = novas_colunas
df4 = df4.drop(1)
#df4.to_csv('tab4_limpa.csv')

### df5a (limpeza)

In [37]:
df5a

,"Tabela 5 - Estrutura das receitas das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"segundo as divisões, os grupos e as classes d...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Número\nde\nempresas\nativas,Receita bruta Total\n(1) 1 000 R$,Receita bruta Obras e/ou\nserviços da \nconstr...,Receita bruta Incorporações\nde imóveis\nconst...,Receita bruta Serviços\ntécnicos de\nescritóri...,Receita bruta Venda de\nmateriais de\nconstruç...,Receita bruta Revenda\nde\nimóveis 1 000 R$,Receita bruta Locação\nde\nmão de obra 1 000 R$
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total das empresas,104338,336117304,317091790,10506384,739596,3532046,1051565,381429
4,NaN,Empresas de 1 a 4 pessoas ocupadas,48399,12255022,10613250,1371330,16257,163886,35264,7887
5,41,Construção de edifícios,16983,5956926,4508266,1370722,6098,22817,35264,4865
6,42,Obras de infraestrutura,3862,1175118,1144599,436,981,7657,-,437
7,43,Serviços especializados para construção,27554,5122978,4960385,172,9178,133413,-,2585
8,NaN,Empresas de 5 a 29 pessoas ocupadas,41267,44050735,40367702,2240682,197924,410073,406071,57491
9,41,Construção de edifícios,18448,25233516,22290254,2237932,167952,89749,369543,9240
10,41.1,Incorporação e empreendimentos imobiliários,681,2308653,43123,2138006,107833,-,19690,-
11,41.2,Construção de edifícios,17767,22924864,22247131,99926,60119,89749,349853,9240
12,42,Obras de infraestrutura,3857,4133537,3992100,584,4562,62500,14972,21224
13,42.1,"Construção de rodovias, ferrovias, obras u...",1392,1736283,1681864,260,3094,28881,4174,3610
14,42.2,Obras de infraestrutura para energia elé...,677,767000,757270,-,404,6997,-,579
15,42.9,Construção de outras obras de infraestrutura,1788,1630254,1552966,324,1064,26622,10798,17035
16,43,Serviços especializados para construção,18963,14683682,14085348,2166,25409,257824,21556,27027
17,43.1,Demolição e preparação do terreno,2312,2505247,2412775,37,94,17707,7099,1741
18,43.2,"Instalações elétricas, hidráulicas e o...",6026,5064989,4680389,63,22234,166904,-,7765
19,43.3,Obras de acabamento,5361,2338784,2326449,642,1352,7280,-,242
20,43.9,Outros serviços especializados para cons...,5263,4774662,4665735,1424,1729,65933,14457,17279
21,NaN,Empresas com 30 ou mais pessoas ocupadas,14671,279811547,266110838,6894372,525415,2958087,610230,316052
22,41,Construção de edifícios,7321,109743600,101607799,6717245,144514,351772,379114,112929
23,41.1,Incorporação e empreendimentos imobiliários,246,6478522,248870,6180788,13449,44,17430,11846
24,41.10,Incorporação e empreendimentos imobili...,246,6478522,248870,6180788,13449,44,17430,11846
25,41.2,Construção de edifícios,7075,103265077,101358928,536458,131066,351728,361684,101083
26,41.20,Construção de edifícios,7075,103265077,101358928,536458,131066,351728,361684,101083
27,42,Obras de infraestrutura,2748,132168884,127813731,122417,336657,2222704,129923,115941
28,42.1,"Construção de rodovias, ferrovias, obras...",1075,51957954,50718619,28301,47665,428602,82869,25209
29,42.11,Construção de rodovias e ferrovias,687,35995302,35251895,10152,24250,347457,26177,16247
30,42.12,Construção de obras de arte especiais,81,8196715,8142133,-,1380,7921,-,1217
31,42.13,"Obras de urbanização - ruas, praças e ...",307,7765937,7324590,18148,22035,73225,56692,7745
32,42.2,Obras de infraestrutura para energia elét...,774,30114656,29020164,5043,224029,181744,14210,66721
33,42.21,Obras para geração e distribuição de...,498,22068133,21389160,506,44620,96793,-,34441
34,42.22,Construção de redes de abastecimento ...,241,5498957,5386131,4538,1860,27043,14210,3620
35,42.23,Construção de redes de transportes po...,35,2547565,2244872,-,177549,57908,-,28660
36,42.9,Construção de outras obras de infraestrutura,899,50096274,48074949,89073,64963,1612357,32844,24012
37,42.91,"Obras portuárias, marítimas e fluviais",32,10807867,9844319,-,0,960271,-,-
38,42.92,Montagem de instalações industriais e ...,266,20583049,20101329,820,5045,380382,-,17332
39,42.99,Obras de engenharia civil não especifi...,601,18705358,18129300,88253,59919,271703,32844,6679
40,43,Serviços especializados para construção,4603,37899063,36689308,54710,44244,383611,101192,87182
41,43.1,Demolição e preparação do terreno,627,9179374,8957293,4173,10531,79741,33781,15237
42,43.11,Demolição e preparação de canteiros d...,71,757662,751179,70,29,878,-,4093
43,43.12,Perfurações e sondagens,71,1053844,1040161,-,10480,335,-,457
44,43.13,Obras de terraplenagem,456,7062946,6901212,4103,5,78527,33781,10687
45,43.19,Serviços de preparação do terreno nã...,29,304922,264741,-,16,-,-,-
46,43.2,"Instalações elétricas, hidráulicas e ou...",1304,11590215,11068344,2479,28541,163927,103,20328
47,43.21,Instalações elétricas,695,5741117,5534209,340,7213,74125,-,4113
48,43.22,"Instalações hidráulicas, de sistem...",429,3741861,3503804,2139,20642,36171,103,15598
49,43.29,Obras de instalações em construções ...,179,2107237,2030331,-,687,53631,-,617
50,43.3,Obras de acabamento,1013,3938068,3830462,1277,272,68509,9565,2439
51,43.30,Obras de acabamento,1013,3938068,3830462,1277,272,68509,9565,2439
52,43.9,Outros serviços especializados para cons...,1659,13191406,12833209,46781,4900,71435,57744,49177
53,43.91,Obras de fundações,279,3362249,3297882,4964,79,23130,541,2497
54,43.99,Serviços especializados para constru...,1380,9829157,9535328,41817,4821,48305,57202,46680

In [38]:
linhas = [0, 2]
for i in linhas:
    df5a = df5a.drop(i)
novas_colunas = df5a.loc[1]
df5a.columns = novas_colunas
df5a = df5a.drop(1)
#df5a.to_csv('tab5a_limpa.csv')

### df5b (limpeza)

In [39]:
df5b

,"Tabela 5 - Estrutura das receitas das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,"segundo as divisões, os grupos e as classes ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Deduções 1 000 R$,Receita\nlíquida 1 000 R$,Receita de\naluguéis e\narrendamentos 1 000 R$,Receitas\nfinanceiras 1 000 R$,Demais\nreceitas\noperacionais\n(2) 1 000 R$,Outras\nreceitas\n1 000 R$,Receitas de\nobras e/ou\nserviços da\nconstruç...
2,NaN,Total das empresas,23238637,312878667,1697292,4643549,24769007,3119262,537953
3,NaN,Empresas de 1 a 4 pessoas ocupadas,813277,11441745,79561,170318,232623,73914,-
4,41,Construção de edifícios,351906,5605020,62470,162484,204870,39029,-
5,42,Obras de infraestrutura,83022,1092095,2604,2811,5666,906,-
6,43,Serviços especializados para construção,378349,4744629,14487,5023,22087,33979,-
7,NaN,Empresas de 5 a 29 pessoas ocupadas,3110025,40940710,433332,320713,1322441,162228,122
8,41,Construção de edifícios,1555798,23677718,240234,265531,1107814,68469,121
9,41.1,Incorporação e empreendimentos imobiliários,141176,2167477,1567,56787,83516,9565,-
10,41.2,Construção de edifícios,1414622,21510241,238667,208745,1024298,58904,121
11,42,Obras de infraestrutura,310762,3822776,28633,11801,31877,16869,-
12,42.1,"Construção de rodovias, ferrovias, obras ...",121363,1614920,22081,4460,22326,4238,-
13,42.2,Obras de infraestrutura para energia elét...,62850,704150,2764,2421,4009,3713,-
14,42.9,Construção de outras obras de infraestrutura,126549,1503706,3788,4920,5541,8918,-
15,43,Serviços especializados para construção,1243465,13440217,164466,43381,182750,76890,0
16,43.1,Demolição e preparação do terreno,224120,2281128,56730,7195,21970,45806,-
17,43.2,"Instalações elétricas, hidráulicas e out...",448226,4616763,19482,5550,22528,16261,-
18,43.3,Obras de acabamento,184603,2154180,3888,1829,33771,770,-
19,43.9,Outros serviços especializados para cons...,386517,4388145,84366,28807,104481,14052,0
20,NaN,Empresas com 30 ou mais pessoas ocupadas,19315335,260496212,1184399,4152518,23213943,2883119,537832
21,41,Construção de edifícios,7258460,102485140,592207,2214624,10573275,794723,263847
22,41.1,Incorporação e empreendimentos imobiliários,394573,6083949,40898,260153,4065957,90807,0
23,41.10,Incorporação e empreendimentos imobili...,394573,6083949,40898,260153,4065957,90807,0
24,41.2,Construção de edifícios,6863887,96401191,551309,1954471,6507318,703916,263847
25,41.20,Construção de edifícios,6863887,96401191,551309,1954471,6507318,703916,263847
26,42,Obras de infraestrutura,8893656,123275228,291623,1667700,7593669,1754042,237168
27,42.1,"Construção de rodovias, ferrovias, obras u...",3422925,48535029,188414,824242,3348156,1008545,12528
28,42.11,Construção de rodovias e ferrovias,2260882,33734420,120885,646543,2736470,665578,12528
29,42.12,Construção de obras de arte especiais,554326,7642389,7616,120090,361013,61856,0
30,42.13,"Obras de urbanização - ruas, praças e ...",607717,7158219,59914,57609,250673,281111,-
31,42.2,Obras de infraestrutura para energia elétr...,2241454,27873201,39813,259980,1294658,167726,191431
32,42.21,Obras para geração e distribuição de...,1641639,20426495,8669,196604,944090,82745,188948
33,42.22,Construção de redes de abastecimento ...,362335,5136622,19912,44864,269915,32777,2483
34,42.23,Construção de redes de transportes por...,237480,2310085,11232,18512,80653,52203,-
35,42.9,Construção de outras obras de infraestrutura,3229276,46866998,63396,583478,2950855,577771,33210
36,42.91,"Obras portuárias, marítimas e fluviais",516576,10291291,217,144372,1295345,262840,-
37,42.92,Montagem de instalações industriais e...,1530641,19052408,20472,207487,647620,67951,33210
38,42.99,Obras de engenharia civil não especif...,1182059,17523299,42707,231619,1007890,246981,-
39,43,Serviços especializados para construção,3163219,34735844,300568,270194,5046999,334354,36816
40,43.1,Demolição e preparação do terreno,771652,8407722,111814,83062,387451,71514,23562
41,43.11,Demolição e preparação de canteiros d...,72351,685311,6697,2484,4904,3287,-
42,43.12,Perfurações e sondagens,97039,956805,321,16681,46504,1152,51
43,43.13,Obras de terraplenagem,582562,6480384,103291,61088,274015,45641,23511
44,43.19,Serviços de preparação do terreno nã...,19700,285222,1506,2808,62029,21435,-
45,43.2,"Instalações elétricas, hidráulicas e o...",1083660,10506555,21300,60662,4042468,45744,4853
46,43.21,Instalações elétricas,493101,5248017,6330,34255,3976102,20491,1479
47,43.22,"Instalações hidráulicas, de sistemas...",375198,3366663,5240,12378,20989,15349,0
48,43.29,Obras de instalações em construções...,215361,1891876,9730,14029,45378,9904,3373
49,43.3,Obras de acabamento,331072,3606996,39555,18672,37752,3576,0
50,43.30,Obras de acabamento,331072,3606996,39555,18672,37752,3576,0
51,43.9,Outros serviços especializados para cons...,976835,12214571,127898,107798,579327,213520,8401
52,43.91,Obras de fundações,240157,3122092,68647,33991,64328,27558,3772
53,43.99,Serviços especializados para construç...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,43.99,Serviços especializados para construç...,736678,9092479,59251,73807,514999,185962,4629

In [40]:
df5b = df5b.drop(0)
novas_colunas = df5b.loc[1]
df5b.columns = novas_colunas
df5b = df5b.drop(1)
#df5b.to_csv('tab5b_limpa.csv')

### df6a (limpeza)

In [41]:
df6a

,"Tabela 6 - Estrutura dos custos e despesas das empresas de construção, segundo as divisões,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,os grupos e as classes de atividades - Brasil ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Número\nde\nempresas\nativas,Custos e despesas Total\n(1) 1 000 R$,Custos e despesas Custos das obras e/ou serviç...,Custos e despesas Custos das obras e/ou serviç...,Custos e despesas Custos das obras e/ou serviç...,Custos e despesas Custos das obras e/ou serviç...,Custos e despesas Custos das obras e/ou serviç...,Custos e despesas Custos das obras e/ou serviç...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total das empresas,104338,278313263,118057195,69452677,6797178,30930819,7560040,3316480
6,NaN,Empresas de 1 a 4 pessoas ocupadas,48399,7349326,3048061,2073710,422962,292705,140888,117794
7,41,Construção de edifícios,16983,3496932,1369536,995264,50490,183197,25387,115198
8,42,Obras de infraestrutura,3862,870568,420429,312040,51297,25578,29167,2346
9,43,Serviços especializados para construção,27554,2981826,1258095,766406,321175,83930,86334,250
10,NaN,Empresas de 5 a 29 pessoas ocupadas,41267,30432810,13620766,9698993,834490,1613252,719088,754943
11,41,Construção de edifícios,18448,17585000,8563414,6424833,225779,915908,268801,728093
12,41.1,Incorporação e empreendimentos imobiliários,681,1420377,21649,9783,1178,7972,938,1779
13,41.2,Construção de edifícios,17767,16164623,8541765,6415050,224602,907936,267863,726314
14,42,Obras de infraestrutura,3857,2608653,1238607,946452,107632,92750,80709,11064
15,42.1,"Construção de rodovias, ferrovias, obras ...",1392,1103447,608064,438786,55301,59467,44437,10073
16,42.2,Obras de infraestrutura para energia elé...,677,503546,190230,141598,20903,11244,16448,38
17,42.9,Construção de outras obras de infraestrutura,1788,1001660,440313,366068,31428,22040,19824,953
18,43,Serviços especializados para construção,18963,10239156,3818744,2327708,501078,604594,369578,15786
19,43.1,Demolição e preparação do terreno,2312,1691247,663262,237144,220199,48361,154122,3436
20,43.2,"Instalações elétricas, hidráulicas e o...",6026,3764903,1397221,847715,99440,364236,81256,4574
21,43.3,Obras de acabamento,5361,1751124,632987,432076,65895,68949,66067,-
22,43.9,Outros serviços especializados para cons...,5263,3031882,1125275,810773,115544,123048,68134,7776
23,NaN,Empresas com 30 ou mais pessoas ocupadas,14671,240531127,101388369,57679973,5539726,29024862,6700064,2443743
24,41,Construção de edifícios,7321,91067118,43911097,28246502,922612,10935191,1626072,2180721
25,41.1,Incorporação e empreendimentos imobiliários,246,5743585,113174,93501,3085,14288,1989,310
26,41.10,Incorporação e empreendimentos imobili...,246,5743585,113174,93501,3085,14288,1989,310
27,41.2,Construção de edifícios,7075,85323532,43797923,28153000,919527,10920902,1624083,2180411
28,41.20,Construção de edifícios,7075,85323532,43797923,28153000,919527,10920902,1624083,2180411
29,42,Obras de infraestrutura,2748,119925815,47141523,23673757,3607327,15813486,3833810,213142
30,42.1,"Construção de rodovias, ferrovias, obras...",1075,46389069,20805578,10449289,2050318,6113377,2108228,84366
31,42.11,Construção de rodovias e ferrovias,687,31719262,14374971,7620668,1592067,3956337,1123661,82237
32,42.12,Construção de obras de arte especiais,81,7539390,3176097,1367485,150718,1410429,247280,186
33,42.13,"Obras de urbanização - ruas, praças e ...",307,7130417,3254510,1461135,307533,746611,737286,1943
34,42.2,Obras de infraestrutura para energia elét...,774,27336727,8196437,4161606,1007297,2504289,515024,8220
35,42.21,Obras para geração e distribuição de e...,498,20312639,5566985,2671728,780508,1759389,348171,7190
36,42.22,Construção de redes de abastecimento ...,241,4444316,1963426,1211598,187149,431552,132424,704
37,42.23,Construção de redes de transportes po...,35,2579773,666025,278280,39640,313348,34430,326
38,42.9,Construção de outras obras de infraestrutura,899,46200019,18139508,9062863,549712,7195821,1210557,120556
39,42.91,"Obras portuárias, marítimas e fluviais",32,10564065,3866010,2187496,28977,1484034,165502,-
40,42.92,Montagem de instalações industriais...,266,18765667,6804493,2884430,250996,2912467,664707,91893
41,42.99,Obras de engenharia civil não espec...,601,16870286,7469006,3990937,269739,2799319,380348,28662
42,43,Serviços especializados para construção,4603,29538195,10335749,5759714,1009787,2276185,1240182,49881
43,43.1,Demolição e preparação do terreno,627,7009849,2424113,941620,519491,351554,601490,9958
44,43.11,Demolição e preparação de canteiros d...,71,614670,136068,49648,29920,29467,24494,2539
45,43.12,Perfurações e sondagens,71,800965,242304,146472,30782,29938,34912,199
46,43.13,Obras de terraplenagem,456,5340611,1970558,711839,448945,276441,527882,5451
47,43.19,Serviços de preparação do terreno nã...,29,253604,75183,33660,9844,15708,14202,1769
48,43.2,"Instalações elétricas, hidráulicas e o...",1304,8972898,3133571,1784933,135317,976947,228188,8186
49,43.21,Instalações elétricas,695,4533109,1541054,910847,86621,428009,109662,5915
50,43.22,"Instalações hidráulicas, de sistem...",429,2748507,1035050,561794,24251,390103,57306,1595
51,43.29,Obras de instalações em construçõe...,179,1691283,557467,312292,24445,158835,61219,676
52,43.3,Obras de acabamento,1013,3002701,983668,714413,55154,158055,53003,3044
53,43.30,Obras de acabamento,1013,3002701,983668,714413,55154,158055,53003,3044
54,43.9,Outros serviços especializados para cons...,1659,10552747,3794398,2318748,299825,789629,357501,28694
55,43.91,Obras de fundações,279,2701137,949031,521666,100694,216859,109519,293
56,43.99,Serviços especializados para cons...,1380,7851609,2845367,1797082,199131,572770,247982,28401

In [42]:
linhas = [0, 2, 3, 4]
for i in linhas:
    df6a = df6a.drop(i)
novas_colunas = df6a.loc[1]
df6a.columns = novas_colunas
df6a = df6a.drop(1)
#df6a.to_csv('tab6a_limpa.csv')

### df6b (limpeza)

In [43]:
df6b

,"Tabela 6 - Estrutura dos custos e despesas das empresas de construção, segundo as divisões,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,os grupos e as classes de atividades - Brasil ...,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Custos e despesas Custos de incorporação de im...,Custos e despesas Custos de incorporação de im...,Custos e despesas Custos de incorporação de im...,Custos e despesas Custos de incorporação de im...,Custos e despesas Custos de incorporação de im...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,6029030,2981328,2322431,317603,407669
5,NaN,Empresas de 1 a 4 pessoas ocupadas,528441,285856,166012,3719,72854
6,41,Construção de edifícios,506309,270678,160349,3153,72128
7,42,Obras de infraestrutura,7503,898,5638,262,705
8,43,Serviços especializados para construção,14629,14280,25,304,20
9,NaN,Empresas de 5 a 29 pessoas ocupadas,988332,203946,651144,55030,78212
10,41,Construção de edifícios,963218,194287,640729,53626,74575
11,41.1,Incorporação e empreendimentos imobiliários,894593,159913,620595,48644,65441
12,41.2,Construção de edifícios,68625,34374,20134,4983,9134
13,42,Obras de infraestrutura,3989,3090,261,426,212
14,42.1,"Construção de rodovias, ferrovias, obras u...",379,229,68,77,5
15,42.2,Obras de infraestrutura para energia elét...,389,186,-,203,-
16,42.9,Construção de outras obras de infraestrutura,3221,2674,193,146,207
17,43,Serviços especializados para construção,21126,6570,10153,978,3424
18,43.1,Demolição e preparação do terreno,7907,2482,4763,661,-
19,43.2,"Instalações elétricas, hidráulica...",1536,1317,145,74,-
20,43.3,Obras de acabamento,5899,1285,4313,124,176
21,43.9,Outros serviços especializados para cons...,5784,1485,932,119,3248
22,NaN,Empresas com 30 ou mais pessoas ocupadas,4512257,2491526,1505275,258854,256603
23,41,Construção de edifícios,4094859,2149591,1464154,238699,242415
24,41.1,Incorporação e empreendimentos imobiliários,3200072,1628372,1196468,151399,223832
25,41.10,Incorporação e empreendimentos imobili...,3200072,1628372,1196468,151399,223832
26,41.2,Construção de edifícios,894787,521219,267686,87300,18583
27,41.20,Construção de edifícios,894787,521219,267686,87300,18583
28,42,Obras de infraestrutura,316894,269278,34004,10147,3464
29,42.1,"Construção de rodovias, ferrovias, obras ...",176592,145540,22977,4684,3390
30,42.11,Construção de rodovias e ferrovias,160124,135729,21292,2018,1085
31,42.12,Construção de obras de arte especiais,-,-,-,-,-
32,42.13,"Obras de urbanização - ruas, praças e ...",16468,9811,1686,2666,2305
33,42.2,Obras de infraestrutura para energia elét...,15373,14007,331,977,58
34,42.21,Obras para geração e distribuição de ...,14719,13661,290,768,-
35,42.22,Construção de redes de abaste...,654,346,40,209,58
36,42.23,Construção de redes de transportes po...,-,-,-,-,-
37,42.9,Construção de outras obras de infraestrutura,124930,109731,10697,4487,16
38,42.91,"Obras portuárias, marítimas e fluviais",525,525,-,-,-
39,42.92,Montagem de instalações indus...,42331,34493,3342,4480,16
40,42.99,Obras de engenharia civil não...,82074,74713,7355,6,-
41,43,Serviços especializados para construção,100503,72656,7116,10008,10724
42,43.1,Demolição e preparação do terreno,13822,4597,2190,6964,71
43,43.11,Demolição e preparação de canteiros d...,7930,2092,6,5761,71
44,43.12,Perfurações e sondagens,936,800,-,136,-
45,43.13,Obras de terraplenagem,4956,1706,2184,1067,-
46,43.19,Serviços de preparação do terreno n...,-,-,-,-,-
47,43.2,"Instalações elétricas, hidráulica...",21314,9508,1479,187,10140
48,43.21,Instalações elétricas,8883,7684,963,185,51
49,43.22,"Instalações hidráulicas, de...",11432,1033,309,1,10089
50,43.29,Obras de instalações em con...,999,791,208,-,-
51,43.3,Obras de acabamento,2838,2240,44,551,3
52,43.30,Obras de acabamento,2838,2240,44,551,3
53,43.9,Outros serviços especializados para cons...,62530,56312,3403,2306,510
54,43.91,Obras de fundações,12301,12127,-,151,23
55,43.99,Serviços especializados par...,50229,44185,3403,2155,487

In [44]:
linhas = [0,2,3]
for i in linhas:
    df6b = df6b.drop(i)
novas_colunas = df6b.loc[1]
df6b.columns = novas_colunas
df6b = df6b.drop(1)
#df6b.to_csv('tab6b_limpa.csv')

### df6c (limpeza)

In [45]:
df6c

,"Tabela 6 - Estrutura dos custos e despesas das empresas de construção, segundo as divisões,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,os grupos e as classes de atividades - Brasil ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Custos e despesas Custos e despesas Gastos\nde...,Custos e despesas Custos e despesas Outros cus...,Custos e despesas Custos e despesas Outros cus...,Custos e despesas Custos e despesas Outros cus...,Custos e despesas Custos e despesas Outros cus...,Custos e despesas Custos e despesas Outros cus...,Custos e despesas Custos e despesas Outros cus...,Custos e despesas Custos e despesas Outros cus...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,90477657,63749381,10763807,586037,4815622,1396348,1368177,2704719
5,NaN,Empresas de 1 a 4 pessoas ocupadas,2229173,1543651,181661,8932,95131,53459,21849,196196
6,41,Construção de edifícios,871223,749865,46164,573,39888,47066,5069,145157
7,42,Obras de infraestrutura,239041,203594,29125,3506,16087,3732,5036,16648
8,43,Serviços especializados para construção,1118909,590192,106372,4852,39155,2661,11744,34392
9,NaN,Empresas de 5 a 29 pessoas ocupadas,10193968,5629743,594007,101073,402874,127521,95484,375870
10,41,Construção de edifícios,4974164,3084205,207298,20970,146692,106999,36602,250041
11,41.1,Incorporação e empreendimentos imobiliários,216085,288050,19468,365,6536,18594,959,17140
12,41.2,Construção de edifícios,4758079,2796154,187831,20605,140155,88405,35643,232901
13,42,Obras de infraestrutura,902589,463468,83712,6380,52775,2749,12666,29005
14,42.1,"Construção de rodovias, ferrovias, ob...",302037,192966,32071,983,24374,1302,6711,15240
15,42.2,Obras de infraestrutura para energia ...,220058,92869,14450,1615,9070,579,1504,6534
16,42.9,Construção de outras obras de infraestrutura,380494,177632,37191,3781,19331,868,4452,7230
17,43,Serviços especializados para construção,4317215,2082071,302997,73724,203407,17773,46215,96824
18,43.1,Demolição e preparação do terreno,516331,503747,77724,13303,104763,2270,7156,23497
19,43.2,"Instalações elétricas, hidráulica...",1615039,751107,114899,17621,17979,7926,15773,29518
20,43.3,Obras de acabamento,879920,232319,35790,1697,8707,2425,11348,18872
21,43.9,Outros serviços especializados para cons...,1305925,594898,74584,41103,71957,5152,11939,24936
22,NaN,Empresas com 30 ou mais pessoas ocupadas,78054515,56575987,9988138,476032,4317618,1215368,1250844,2132653
23,41,Construção de edifícios,25024662,18036501,1804201,80053,824154,1058200,245910,881499
24,41.1,Incorporação e empreendimentos imobiliários,1138147,1292193,42991,823,49432,180382,3068,37873
25,41.10,Incorporação e empreendimentos imobili...,1138147,1292193,42991,823,49432,180382,3068,37873
26,41.2,Construção de edifícios,23886514,16744308,1761210,79230,774722,877818,242842,843626
27,41.20,Construção de edifícios,23886514,16744308,1761210,79230,774722,877818,242842,843626
28,42,Obras de infraestrutura,41134010,31333388,7065707,230525,2605731,113294,794849,949872
29,42.1,"Construção de rodovias, ferrovias, obr...",12844058,12562841,2550844,123000,1442068,36720,438556,451851
30,42.11,Construção de rodovias e ferrovias,8179900,9004267,1844534,97322,1095281,19190,334567,336258
31,42.12,Construção de obras de arte especiais,2566715,1796578,374156,7586,174068,3240,66264,45359
32,42.13,"Obras de urbanização - ruas, praças e ...",2097443,1761996,332154,18091,172718,14290,37724,70234
33,42.2,Obras de infraestrutura para energia ...,11569531,7555387,1737092,61598,561001,31125,128214,217297
34,42.21,Obras para geração e distribu...,9160581,5570354,1349794,48376,415062,26675,102433,167875
35,42.22,Construção de redes de abastec...,1399488,1080748,266096,9327,91280,1410,20873,36814
36,42.23,Construção de redes de transp...,1009463,904285,121202,3895,54658,3041,4908,12607
37,42.9,Construção de outras obras de infraestrutura,16720421,11215160,2777771,45927,602662,45449,228078,280723
38,42.91,"Obras portuárias, marítimas e fluviais",4032913,2664618,664762,11702,111147,11538,52572,71231
39,42.92,Montagem de instalações indust...,7115654,4803190,1295439,9248,264730,13862,50978,95950
40,42.99,Obras de engenharia civil não ...,5571854,3747352,817571,24977,226786,20048,124529,113542
41,43,Serviços especializados para construção,11895844,7206098,1118230,165454,887733,43874,210086,301282
42,43.1,Demolição e preparação do terreno,2236657,2335257,394608,81083,503966,5515,71021,90740
43,43.11,Demolição e preparação de canteiros d...,236499,234173,61101,4842,42947,710,7280,11599
44,43.12,Perfurações e sondagens,318464,239261,61979,2348,23588,874,11620,4608
45,43.13,Obras de terraplenagem,1600694,1764402,262888,73812,428802,3733,51237,63408
46,43.19,Serviços de preparação do t...,81000,97421,8640,81,8629,198,884,11125
47,43.2,"Instalações elétricas, hidráulica...",4060268,1757746,247087,24274,93451,11445,38317,88310
48,43.21,Instalações elétricas,2150640,832532,127989,14351,38806,6090,17023,32420
49,43.22,"Instalações hidráulicas, de...",1205170,496855,58749,6934,26080,3218,7307,25175
50,43.29,Obras de instalações em con...,704458,428359,60350,2989,28565,2138,13987,30715
51,43.3,Obras de acabamento,1473684,542512,68252,7074,22975,3562,21015,22491
52,43.30,Obras de acabamento,1473684,542512,68252,7074,22975,3562,21015,22491
53,43.9,Outros serviços especializados para cons...,4125235,2570584,408283,53023,267341,23353,79734,99742
54,43.91,Obras de fundações,1020715,719091,159286,28817,92415,4919,32554,24359
55,43.99,Serviços especializados para ...,3104520,1851493,248997,24206,174926,18434,47179,75383

In [46]:
linhas = [0,2,3]
for i in linhas:
    df6c = df6c.drop(i)
novas_colunas = df6c.loc[1]
df6c.columns = novas_colunas
df6c = df6c.drop(1)
#df6c.to_csv('tab6c_limpa.csv')

### df6d (limpeza)

In [47]:
df6d

,"Tabela 6 - Estrutura dos custos e despesas das empresas de construção, segundo as divisões,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,os grupos e as classes de atividades - Brasil ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Custos e despesas Outros custos e despesas Prê...,Custos e despesas Outros custos e despesas Var...,Custos e despesas Outros custos e despesas Des...,Custos e despesas Outros custos e despesas Cus...,Custos e despesas Outros custos e despesas Res...,Custos e despesas Outros custos e despesas Com...,Custos e despesas Outros custos e despesas Ser...,Custos e despesas Outros custos e despesas Dem...,Custos e despesas Outros custos e despesas Out...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total das empresas,611312,1654014,8160890,1294961,2085302,690871,9958336,14166977,3417859
6,NaN,Empresas de 1 a 4 pessoas ocupadas,11800,3377,106889,57869,2,36996,227749,497797,43667
7,41,Construção de edifícios,4136,2539,53819,57709,-,32339,89605,211579,14161
8,42,Obras de infraestrutura,1722,73,16580,160,-,362,38545,66708,5312
9,43,Serviços especializados para construção,5942,765,36490,-,2,4296,99600,219511,24195
10,NaN,Empresas de 5 a 29 pessoas ocupadas,61075,40162,461867,544763,47052,117556,1126367,1288213,244551
11,41,Construção de edifícios,23830,15395,239070,514866,40470,109384,638871,578615,154385
12,41.1,Incorporação e empreendimentos imobiliários,1868,171,28362,8400,39447,21258,55073,66127,4281
13,41.2,Construção de edifícios,21961,15224,210708,506465,1023,88126,583798,512489,150104
14,42,Obras de infraestrutura,6011,788,47388,1866,6400,2754,68499,127988,14456
15,42.1,"Construção de rodovias, ferrovias, ob...",2132,316,19640,244,6296,1188,21604,55711,5128
16,42.2,Obras de infraestrutura para energia ...,2131,450,10467,293,65,205,16358,26954,2193
17,42.9,Construção de outras obras de infraestrutura,1748,21,17280,1329,39,1362,30538,45323,7135
18,43,Serviços especializados para construção,31234,23979,175408,28031,182,5417,418997,581609,75710
19,43.1,Demolição e preparação do terreno,10136,991,51346,3842,181,1625,79002,110132,17641
20,43.2,"Instalações elétricas, hidráulicas...",9019,22638,45973,37,-,1490,163364,262422,42374
21,43.3,Obras de acabamento,3166,60,21307,1,1,333,41791,79858,6916
22,43.9,Outros serviços especializados para cons...,8914,290,56782,24152,-,1969,134840,129198,8780
23,NaN,Empresas com 30 ou mais pessoas ocupadas,538437,1610475,7592134,692329,2038248,536319,8604220,12380967,3129640
24,41,Construção de edifícios,151676,297828,3647927,447124,530163,458452,2783420,4169862,631043
25,41.1,Incorporação e empreendimentos imobiliários,2085,40253,340580,22836,42301,59220,168587,270433,31318
26,41.10,Incorporação e empreendimentos imobili...,2085,40253,340580,22836,42301,59220,168587,270433,31318
27,41.2,Construção de edifícios,149591,257575,3307348,424288,487862,399233,2614833,3899429,599725
28,41.20,Construção de edifícios,149591,257575,3307348,424288,487862,399233,2614833,3899429,599725
29,42,Obras de infraestrutura,301120,1250755,3211856,76285,1439826,41145,4544571,6469818,2203926
30,42.1,"Construção de rodovias, ferrovias, ob...",133800,141570,1361265,42315,694206,17024,1283887,2583008,1247795
31,42.11,Construção de rodovias e ferrovias,91933,84515,1153370,10430,354721,12197,956686,1874734,724039
32,42.12,Construção de obras de arte especiais,29112,44447,65371,32,292,321,140339,410376,435612
33,42.13,"Obras de urbanização - ruas, praças e ...",12756,12608,142524,31853,339194,4506,186861,297897,88143
34,42.2,Obras de infraestrutura para energia ...,91144,52416,698797,7681,505333,5079,795926,1913939,743749
35,42.21,Obras para geração e distribui...,68059,34483,466901,384,463070,4649,591094,1514125,312458
36,42.22,Construção de redes de abastec...,13622,10938,103705,7296,42080,417,145952,236030,94826
37,42.23,Construção de redes de transp...,9463,6994,128191,-,183,13,58880,163785,336465
38,42.9,Construção de outras obras de infraestrutura,76176,1056769,1151795,26289,240287,19042,2464759,1972871,212382
39,42.91,"Obras portuárias, marítimas e fluviais",3464,685190,244669,317,29912,5,524549,244351,8861
40,42.92,Montagem de instalações indust...,45990,45741,457061,1734,186527,2298,1084139,1138375,110423
41,42.99,Obras de engenharia civil não...,26721,325839,450065,24238,23848,16739,856071,590145,93098
42,43,Serviços especializados para construção,85641,61893,732350,168920,68259,36722,1276228,1741287,294671
43,43.1,Demolição e preparação do terreno,21675,36029,220260,10005,58268,12157,322088,413731,88919
44,43.11,Demolição e preparação de canteiros d...,1152,167,29780,-,-,216,23206,18434,32634
45,43.12,Perfurações e sondagens,2576,8885,23809,-,-,1917,38672,51671,6353
46,43.13,Obras de terraplenagem,16148,24923,158158,10005,58226,9792,253918,298622,46005
47,43.19,Serviços de preparação do te...,1799,2054,8513,-,42,232,6293,45004,3927
48,43.2,"Instalações elétricas, hidráulicas ...",26323,11855,176969,5543,333,8824,404505,538887,78668
49,43.21,Instalações elétricas,12353,770,92552,4777,140,4502,194511,254765,31073
50,43.22,"Instalações hidráulicas, de sis...",7174,2128,51344,760,36,2752,121373,158925,23859
51,43.29,Obras de instalações em con...,6796,8957,33073,5,158,1570,88622,125197,23735
52,43.3,Obras de acabamento,6852,272,32213,5199,368,1802,162852,172510,14892
53,43.30,Obras de acabamento,6852,272,32213,5199,368,1802,162852,172510,14892
54,43.9,Outros serviços especializados para cons...,30791,13737,302908,148174,9290,13939,386782,616159,112192
55,43.91,Obras de fundações,11485,2781,80286,932,891,2944,63527,161124,49152
56,43.99,Serviços especializados para...,19307,10956,222622,147241,8399,10995,323255,455034,63040

In [48]:
linhas = [0,2,3,4]
for i in linhas:
    df6d = df6d.drop(i)
novas_colunas = df6d.loc[1]
df6d.columns = novas_colunas
df6d = df6d.drop(1)
#df6d.to_csv('tab6d_limpa.csv')

### df7a (limpeza)

In [81]:
df7a

,"Tabela 7 - Estrutura do valor bruto da produção das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Número\nde\nempresas\nativas,Valor\nbruto\nda\nprodução 1 000 R$,Valor das obras e/ou serviços da construção To...,Valor das obras e/ou serviços da construção En...,Valor das obras e/ou serviços da construção En...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,104338,319844988,326084968,114082915,212002053
5,NaN,Empresas de 1 a 4 pessoas ocupadas,48399,11143070,10425662,2043321,8382342
6,41,Construção de edifícios,16983,5396094,4424195,869805,3554390
7,42,Obras de infraestrutura,3862,1094478,1147429,394560,752870
8,43,Serviços especializados para construção,27554,4652498,4854038,778956,4075082
9,NaN,Empresas de 5 a 29 pessoas ocupadas,41267,41035120,40861934,7380336,33481598
10,41,Construção de edifícios,18448,23319295,22494267,3479219,19015048
11,41.1,Incorporação e empreendimentos imobiliários,681,2100166,41466,-,41466
12,41.2,Construção de edifícios,17767,21219129,22452800,3479219,18973581
13,42,Obras de infraestrutura,3857,3794585,3946554,1834612,2111941
14,42.1,"Construção de rodovias, ferrovias, obr...",1392,1628045,1682987,1112276,570711
15,42.2,Obras de infraestrutura para energia e...,677,703167,753561,206157,547404
16,42.9,Construção de outras obras de infraestrutura,1788,1463373,1510006,516179,993826
17,43,Serviços especializados para construção,18963,13921239,14421114,2066505,12354609
18,43.1,Demolição e preparação do terreno,2312,2363582,2441936,442501,1999435
19,43.2,"Instalações elétricas, hidráulicas...",6026,4819717,4868434,680213,4188221
20,43.3,Obras de acabamento,5361,2183886,2352443,82464,2269979
21,43.9,Outros serviços especializados para cons...,5263,4554055,4758301,861326,3896975
22,NaN,Empresas com 30 ou mais pessoas ocupadas,14671,267666798,274797372,104659258,170138113
23,41,Construção de edifícios,7321,105108790,106062377,25491167,80571210
24,41.1,Incorporação e empreendimentos imobiliários,246,6045812,393977,154609,239368
25,41.10,Incorporação e empreendimentos imobili...,246,6045812,393977,154609,239368
26,41.2,Construção de edifícios,7075,99062978,105668400,25336558,80331842
27,41.20,Construção de edifícios,7075,99062978,105668400,25336558,80331842
28,42,Obras de infraestrutura,2748,127119645,131583131,70670681,60912450
29,42.1,"Construção de rodovias, ferrovias, obra...",1075,50158458,52241390,36824599,15416791
30,42.11,Construção de rodovias e ferrovias,687,34901375,36381288,25189351,11191937
31,42.12,Construção de obras de arte especiais,81,7647150,8139463,5543202,2596260
32,42.13,"Obras de urbanização - ruas, praças e ...",307,7609933,7720639,6092046,1628593
33,42.2,Obras de infraestrutura para energia ...,774,29212596,30328024,10687751,19640274
34,42.21,Obras para geração e distribui...,498,21358105,22319292,5584291,16735001
35,42.23,Construção de redes de transp...,35,2611110,2534992,987739,1547253
36,42.9,Construção de outras obras de infraestrutura,899,47748591,49013717,23158331,25855386
37,42.91,"Obras portuárias, marítimas e fluviais",32,10305478,9858290,4145083,5713207
38,42.92,Montagem de instalações indust...,266,19560644,20681002,9993608,10687394
39,42.99,Obras de engenharia civil não...,601,17882468,18474425,9019640,9454784
40,43,Serviços especializados para construção,4603,35438363,37151864,8497410,28654454
41,43.1,Demolição e preparação do terreno,627,8550479,8998264,2517334,6480929
42,43.11,Demolição e preparação de canteiros d...,71,758048,819830,138616,681214
43,43.12,Perfurações e sondagens,71,945025,1028258,62967,965292
44,43.13,Obras de terraplenagem,456,6563733,6886721,2195420,4691301
45,43.19,Serviços de preparação do t...,29,283673,263455,120331,143123
46,43.2,"Instalações elétricas, hidráulica...",1304,10555840,11114655,2408361,8706294
47,43.21,Instalações elétricas,695,5299713,5585541,1145077,4440464
48,43.22,"Instalações hidráulicas, de s...",429,3336335,3479920,501610,2978310
49,43.29,Obras de instalações em con...,179,1919793,2049194,761673,1287521
50,43.3,Obras de acabamento,1013,3691491,3878448,527186,3351262
51,43.30,Obras de acabamento,1013,3691491,3878448,527186,3351262
52,43.9,Outros serviços especializados para cons...,1659,12640553,13160497,3044530,10115968
53,43.91,Obras de fundações,279,3229352,3336811,462444,2874367
54,43.99,Serviços especializados para...,1380,9411201,9823686,2582086,7241600

In [82]:
linhas = [0,2,3]
for i in linhas:
    df7a = df7a.drop(i)
novas_colunas = df7a.loc[1]
df7a.columns = novas_colunas
df7a = df7a.drop(1)
#df7a.to_csv('tab7a_limpa.csv')

### df7b (limpeza)

In [84]:
df7b

,"Tabela 7 - Estrutura do valor bruto da produção das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades","Receita bruta Incorporação\nde imóveis,\nconst...",Receita bruta Serviços\ntécnicos de\nescritóri...,Receita bruta Venda de\nmateriais de\nconstruç...,Receita bruta Revenda\nde\nimóveis 1 000 R$,Receita bruta Locação\nde\nmão de obra 1 000 R$,Custos dos terrenos De obras\ne/ou\nserviços d...,Custos dos terrenos De\nincorporação\nde imóve...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,10506384,739596,3532046,1051565,381429,3316480,407669
5,NaN,Empresas de 1 a 4 pessoas ocupadas,1371330,16257,163886,35264,7887,117794,72854
6,41,Construção de edifícios,1370722,6098,22817,35264,4865,115198,72128
7,42,Obras de infraestrutura,436,981,7657,-,437,2346,705
8,43,Serviços especializados para construção,172,9178,133413,-,2585,250,20
9,NaN,Empresas de 5 a 29 pessoas ocupadas,2240682,197924,410073,406071,57491,754943,78212
10,41,Construção de edifícios,2237932,167952,89749,369543,9240,728093,74575
11,41.1,Incorporação e empreendimentos imobiliários,2138006,107833,-,19690,-,1779,65441
12,41.2,Construção de edifícios,99926,60119,89749,349853,9240,726314,9134
13,42,Obras de infraestrutura,584,4562,62500,14972,21224,11064,212
14,42.1,"Construção de rodovias, ferrovias, obr...",260,3094,28881,4174,3610,10073,5
15,42.2,Obras de infraestrutura para energia ...,-,404,6997,-,579,38,-
16,42.9,Construção de outras obras de infraestrutura,324,1064,26622,10798,17035,953,207
17,43,Serviços especializados para construção,2166,25409,257824,21556,27027,15786,3424
18,43.1,Demolição e preparação do terreno,37,94,17707,7099,1741,3436,-
19,43.2,"Instalações elétricas, hidráulica...",63,22234,166904,-,7765,4574,-
20,43.3,Obras de acabamento,642,1352,7280,-,242,-,176
21,43.9,Outros serviços especializados para cons...,1424,1729,65933,14457,17279,7776,3248
22,NaN,Empresas com 30 ou mais pessoas ocupadas,6894372,525415,2958087,610230,316052,2443743,256603
23,41,Construção de edifícios,6717245,144514,351772,379114,112929,2180721,242415
24,41.1,Incorporação e empreendimentos imobiliários,6180788,13449,44,17430,11846,310,223832
25,41.10,Incorporação e empreendimentos imobili...,6180788,13449,44,17430,11846,310,223832
26,41.2,Construção de edifícios,536458,131066,351728,361684,101083,2180411,18583
27,41.20,Construção de edifícios,536458,131066,351728,361684,101083,2180411,18583
28,42,Obras de infraestrutura,122417,336657,2222704,129923,115941,213142,3464
29,42.1,"Construção de rodovias, ferrovias, obr...",28301,47665,428602,82869,25209,84366,3390
30,42.11,Construção de rodovias e ferrovias,10152,24250,347457,26177,16247,82237,1085
31,42.12,Construção de obras de arte especiais,-,1380,7921,-,1217,186,-
32,42.13,"Obras de urbanização - ruas, praças e ...",18148,22035,73225,56692,7745,1943,2305
33,42.2,Obras de infraestrutura para energia ...,5043,224029,181744,14210,66721,8220,58
34,42.21,Obras para geração e distribu...,506,44620,96793,-,34441,7190,-
35,42.22,Construção de redes de abaste...,4538,1860,27043,14210,3620,704,58
36,42.23,Construção de redes de transp...,-,177549,57908,-,28660,326,-
37,42.9,Construção de outras obras de infraestrutura,89073,64963,1612357,32844,24012,120556,16
38,42.91,"Obras portuárias, marítimas e fluviais",-,0,960271,-,-,-,-
39,42.92,Montagem de instalações indus...,820,5045,380382,-,17332,91893,16
40,42.99,Obras de engenharia civil não ...,88253,59919,271703,32844,6679,28662,-
41,43,Serviços especializados para construção,54710,44244,383611,101192,87182,49881,10724
42,43.1,Demolição e preparação do terreno,4173,10531,79741,33781,15237,9958,71
43,43.11,Demolição e preparação de canteiros d...,70,29,878,-,4093,2539,71
44,43.12,Perfurações e sondagens,-,10480,335,-,457,199,-
45,43.13,Obras de terraplenagem,4103,5,78527,33781,10687,5451,-
46,43.19,Serviços de preparação do t...,-,16,-,-,-,1769,-
47,43.2,"Instalações elétricas, hidráulica...",2479,28541,163927,103,20328,8186,10140
48,43.21,Instalações elétricas,340,7213,74125,-,4113,5915,51
49,43.22,"Instalações hidráulicas, de...",2139,20642,36171,103,15598,1595,10089
50,43.29,Obras de instalações em cons...,-,687,53631,-,617,676,-
51,43.3,Obras de acabamento,1277,272,68509,9565,2439,3044,3
52,43.30,Obras de acabamento,1277,272,68509,9565,2439,3044,3
53,43.9,Outros serviços especializados para cons...,46781,4900,71435,57744,49177,28694,510
54,43.91,Obras de fundações,4964,79,23130,541,2497,293,23
55,43.99,Serviços especializados par...,41817,4821,48305,57202,46680,28401,487

In [85]:
linhas = [0,2,3]
for i in linhas:
    df7b = df7b.drop(i)
novas_colunas = df7b.loc[1]
df7b.columns = novas_colunas
df7b = df7b.drop(1)
#df7b.to_csv('tab7b_limpa.csv')

### df7c (limpeza)

In [87]:
df7c

,"Tabela 7 - Estrutura do valor bruto da produção das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Consumo intermediário Total\n(1) 1 000 R$,Consumo intermediário Custos das obras e/ou se...,Consumo intermediário Custos das obras e/ou se...,Consumo intermediário Custos das obras e/ou se...,Consumo intermediário Custos das obras e/ou se...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,160582180,6797178,69452677,30930819,7560040
5,NaN,Empresas de 1 a 4 pessoas ocupadas,4447246,422962,2073710,292705,140888
6,41,Construção de edifícios,2150480,50490,995264,183197,25387
7,42,Obras de infraestrutura,573414,51297,312040,25578,29167
8,43,Serviços especializados para construção,1723351,321175,766406,83930,86334
9,NaN,Empresas de 5 a 29 pessoas ocupadas,17715756,834490,9698993,1613252,719088
10,41,Construção de edifícios,10852730,225779,6424833,915908,268801
11,41.1,Incorporação e empreendimentos imobiliários,1019876,1178,9783,7972,938
12,41.2,Construção de edifícios,9832854,224602,6415050,907936,267863
13,42,Obras de infraestrutura,1541222,107632,946452,92750,80709
14,42.1,"Construção de rodovias, ferrovias, ob...",719149,55301,438786,59467,44437
15,42.2,Obras de infraestrutura para energia ...,254465,20903,141598,11244,16448
16,42.9,Construção de outras obras de infraestrutura,567608,31428,366068,22040,19824
17,43,Serviços especializados para construção,5321803,501078,2327708,604594,369578
18,43.1,Demolição e preparação do terreno,971435,220199,237144,48361,154122
19,43.2,"Instalações elétricas, hidráulica...",1985320,99440,847715,364236,81256
20,43.3,Obras de acabamento,814831,65895,432076,68949,66067
21,43.9,Outros serviços especializados para cons...,1550219,115544,810773,123048,68134
22,NaN,Empresas com 30 ou mais pessoas ocupadas,138419178,5539726,57679973,29024862,6700064
23,41,Construção de edifícios,56348254,922612,28246502,10935191,1626072
24,41.1,Incorporação e empreendimentos imobiliários,3780320,3085,93501,14288,1989
25,41.10,Incorporação e empreendimentos imobili...,3780320,3085,93501,14288,1989
26,41.2,Construção de edifícios,52567934,919527,28153000,10920902,1624083
27,41.20,Construção de edifícios,52567934,919527,28153000,10920902,1624083
28,42,Obras de infraestrutura,66872089,3607327,23673757,15813486,3833810
29,42.1,"Construção de rodovias, ferrovias, obr...",28101477,2050318,10449289,6113377,2108228
30,42.11,Construção de rodovias e ferrovias,19695659,1592067,7620668,3956337,1123661
31,42.12,Construção de obras de arte especiais,4207020,150718,1367485,1410429,247280
32,42.13,"Obras de urbanização - ruas, praças e ...",4198798,307533,1461135,746611,737286
33,42.2,Obras de infraestrutura para energia ...,12975246,1007297,4161606,2504289,515024
34,42.21,Obras para geração e distribui...,9280370,780508,2671728,1759389,348171
35,42.22,Construção de redes de abaste...,2664004,187149,1211598,431552,132424
36,42.23,Construção de redes de transpo...,1030872,39640,278280,313348,34430
37,42.9,Construção de outras obras de infraestrutura,25795366,549712,9062863,7195821,1210557
38,42.91,"Obras portuárias, marítimas e fluviais",5380138,28977,2187496,1484034,165502
39,42.92,Montagem de instalações indus...,10395375,250996,2884430,2912467,664707
40,42.99,Obras de engenharia civil não...,10019853,269739,3990937,2799319,380348
41,43,Serviços especializados para construção,15198835,1009787,5759714,2276185,1240182
42,43.1,Demolição e preparação do terreno,3752826,519491,941620,351554,601490
43,43.11,Demolição e preparação de canteiros d...,258218,29920,49648,29467,24494
44,43.12,Perfurações e sondagens,413143,30782,146472,29938,34912
45,43.13,Obras de terraplenagem,2945153,448945,711839,276441,527882
46,43.19,Serviços de preparação do te...,136313,9844,33660,15708,14202
47,43.2,"Instalações elétricas, hidráulica...",4435893,135317,1784933,976947,228188
48,43.21,Instalações elétricas,2176240,86621,910847,428009,109662
49,43.22,"Instalações hidráulicas, de...",1400278,24251,561794,390103,57306
50,43.29,Obras de instalações em con...,859375,24445,312292,158835,61219
51,43.3,Obras de acabamento,1430956,55154,714413,158055,53003
52,43.30,Obras de acabamento,1430956,55154,714413,158055,53003
53,43.9,Outros serviços especializados para cons...,5579160,299825,2318748,789629,357501
54,43.91,Obras de fundações,1427279,100694,521666,216859,109519
55,43.99,Serviços especializados para...,4151881,199131,1797082,572770,247982

In [88]:
linhas = [0,2,3]
for i in linhas:
    df7c = df7c.drop(i)
novas_colunas = df7c.loc[1]
df7c.columns = novas_colunas
df7c = df7c.drop(1)
#df7c.to_csv('tab7c_limpa.csv')

### df7d (limpeza)

In [90]:
df7d

,"Tabela 7 - Estrutura do valor bruto da produção das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Consumo intermediárioCustos de incorporação de...,Consumo intermediário Custos de incorporação d...,Consumo intermediário Custos de incorporação d...,Consumo intermediário Aluguéis\ne\narrenda-\nm...,Consumo intermediário Serviços\nprestados\npor...,Valor\nadicionado 1 000 R$
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,2981328,2322431,317603,10763807,9958336,159262809
5,NaN,Empresas de 1 a 4 pessoas ocupadas,285856,166012,3719,181661,227749,6695825
6,41,Construção de edifícios,270678,160349,3153,46164,89605,3245613
7,42,Obras de infraestrutura,898,5638,262,29125,38545,521064
8,43,Serviços especializados para construção,14280,25,304,106372,99600,2929147
9,NaN,Empresas de 5 a 29 pessoas ocupadas,203946,651144,55030,594007,1126367,23319364
10,41,Construção de edifícios,194287,640729,53626,207298,638871,12466565
11,41.1,Incorporação e empreendimentos imobiliários,159913,620595,48644,19468,55073,1080290
12,41.2,Construção de edifícios,34374,20134,4983,187831,583798,11386275
13,42,Obras de infraestrutura,3090,261,426,83712,68499,2253363
14,42.1,"Construção de rodovias, ferrovias, obr...",229,68,77,32071,21604,908896
15,42.2,Obras de infraestrutura para energia ...,186,-,203,14450,16358,448702
16,42.9,Construção de outras obras de infraestrutura,2674,193,146,37191,30538,895765
17,43,Serviços especializados para construção,6570,10153,978,302997,418997,8599436
18,43.1,Demolição e preparação do terreno,2482,4763,661,77724,79002,1392148
19,43.2,"Instalações elétricas, hidráulicas...",1317,145,74,114899,163364,2834397
20,43.3,Obras de acabamento,1285,4313,124,35790,41791,1369056
21,43.9,Outros serviços especializados para cons...,1485,932,119,74584,134840,3003836
22,NaN,Empresas com 30 ou mais pessoas ocupadas,2491526,1505275,258854,9988138,8604220,129247620
23,41,Construção de edifícios,2149591,1464154,238699,1804201,2783420,48760536
24,41.1,Incorporação e empreendimentos imobiliários,1628372,1196468,151399,42991,168587,2265492
25,41.10,Incorporação e empreendimentos imobili...,1628372,1196468,151399,42991,168587,2265492
26,41.2,Construção de edifícios,521219,267686,87300,1761210,2614833,46495044
27,41.20,Construção de edifícios,521219,267686,87300,1761210,2614833,46495044
28,42,Obras de infraestrutura,269278,34004,10147,7065707,4544571,60247556
29,42.1,"Construção de rodovias, ferrovias, obr...",145540,22977,4684,2550844,1283887,22056981
30,42.11,Construção de rodovias e ferrovias,135729,21292,2018,1844534,956686,15205716
31,42.12,Construção de obras de arte especiais,-,-,-,374156,140339,3440130
32,42.13,"Obras de urbanização - ruas, praças e ...",9811,1686,2666,332154,186861,3411135
33,42.2,Obras de infraestrutura para energia ...,14007,331,977,1737092,795926,16237350
34,42.21,Obras para geração e distribuiçã...,13661,290,768,1349794,591094,12077736
35,42.22,Construção de redes de abaste...,346,40,209,266096,145952,2579376
36,42.23,Construção de redes de transp...,-,-,-,121202,58880,1580238
37,42.9,Construção de outras obras de infraestrutura,109731,10697,4487,2777771,2464759,21953225
38,42.91,"Obras portuárias, marítimas e fluviais",525,-,-,664762,524549,4925340
39,42.92,Montagem de instalações indus...,34493,3342,4480,1295439,1084139,9165269
40,42.99,Obras de engenharia civil não ...,74713,7355,6,817571,856071,7862616
41,43,Serviços especializados para construção,72656,7116,10008,1118230,1276228,20239528
42,43.1,Demolição e preparação do terreno,4597,2190,6964,394608,322088,4797653
43,43.11,Demolição e preparação de canteiros d...,2092,6,5761,61101,23206,499831
44,43.12,Perfurações e sondagens,800,-,136,61979,38672,531882
45,43.13,Obras de terraplenagem,1706,2184,1067,262888,253918,3618580
46,43.19,Serviços de preparação do t...,-,-,-,8640,6293,147361
47,43.2,"Instalações elétricas, hidráulica...",9508,1479,187,247087,404505,6119947
48,43.21,Instalações elétricas,7684,963,185,127989,194511,3123473
49,43.22,"Instalações hidráulicas, de ...",1033,309,1,58749,121373,1936056
50,43.29,Obras de instalações em con...,791,208,-,60350,88622,1060418
51,43.3,Obras de acabamento,2240,44,551,68252,162852,2260534
52,43.30,Obras de acabamento,2240,44,551,68252,162852,2260534
53,43.9,Outros serviços especializados para cons...,56312,3403,2306,408283,386782,7061393
54,43.91,Obras de fundações,12127,-,151,159286,63527,1802074
55,43.99,Serviços especializados para...,44185,3403,2155,248997,323255,5259319

In [91]:
linhas = [0,2,3]
for i in linhas:
    df7d = df7d.drop(i)
novas_colunas = df7d.loc[1]
df7d.columns = novas_colunas
df7d = df7d.drop(1)
#df7d.to_csv('tab7d_limpa.csv')

### df8a (limpeza)

In [93]:
df8a

,"Tabela 8 - Estrutura dos investimentos das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Número\nde\nempresas ativas,Ativo imobilizado Aquisições de terceiros e pr...,Ativo imobilizado Aquisições de terceiros e pr...,Ativo imobilizado Aquisições de terceiros e pr...,Ativo imobilizado Aquisições de terceiros e pr...,Ativo imobilizado Aquisições de terceiros e pr...,Ativo imobilizado Aquisições de terceiros e pr...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total das empresas,104338,20203,16405838,3463138,8456457,2954893,1531350
6,NaN,Empresas de 1 a 4 pessoas ocupadas,48399,5705,885087,425011,190795,240861,28419
7,41,Construção de edifícios,16983,2798,548474,415497,23979,100346,8652
8,42,Obras de infraestrutura,3862,551,73563,4486,53389,12842,2846
9,43,Serviços especializados para construção,27554,2355,263050,5028,113426,127673,16922
10,NaN,Empresas de 5 a 29 pessoas ocupadas,41267,8322,1814681,769158,412863,270114,362546
11,41,Construção de edifícios,18448,4581,1267046,699726,127592,100479,339250
12,41.1,Incorporação e empreendimentos imobiliários,681,193,74791,71397,705,783,1906
13,41.2,Construção de edifícios,17767,4388,1192255,628328,126887,99696,337345
14,42,Obras de infraestrutura,3857,630,125354,33400,53459,32450,6046
15,42.1,"Construção de rodovias, ferrovias, obr...",1392,291,63133,8015,37293,15337,2488
16,42.2,Obras de infraestrutura para energia ...,677,150,35802,22196,6435,4746,2426
17,42.9,Construção de outras obras de infraestrutura,1788,189,26419,3189,9731,12367,1132
18,43,Serviços especializados para construção,18963,3111,422280,36033,231812,137185,17250
19,43.1,Demolição e preparação do terreno,2312,645,211857,7257,157565,45531,1504
20,43.2,"Instalações elétricas, hidráulicas...",6026,885,48064,7544,11275,25110,4134
21,43.3,Obras de acabamento,5361,489,17766,4072,6377,6690,626
22,43.9,Outros serviços especializados para cons...,5263,1092,144593,17159,56594,59854,10986
23,NaN,Empresas com 30 ou mais pessoas ocupadas,14671,6177,13706070,2268969,7852799,2443918,1140385
24,41,Construção de edifícios,7321,3097,2825531,1508516,555183,395248,366585
25,41.1,Incorporação e empreendimentos imobiliários,246,110,195941,146373,5208,5198,39162
26,41.10,Incorporação e empreendimentos imobili...,246,110,195941,146373,5208,5198,39162
27,41.2,Construção de edifícios,7075,2987,2629590,1362143,549975,390050,327423
28,41.20,Construção de edifícios,7075,2987,2629590,1362143,549975,390050,327423
29,42,Obras de infraestrutura,2748,1523,6358672,598849,3410148,1687544,662131
30,42.1,"Construção de rodovias, ferrovias, ob...",1075,661,3789107,375925,2112733,1091333,209116
31,42.11,Construção de rodovias e ferrovias,687,436,2098086,304125,1141257,564664,88040
32,42.12,Construção de obras de arte especiais,81,53,1257176,55290,790904,314463,96520
33,42.13,"Obras de urbanização - ruas, praças e ...",307,172,433845,16510,180573,212206,24556
34,42.2,Obras de infraestrutura para energia e...,774,431,988593,69145,466149,281692,171607
35,42.21,Obras para geração e distribui...,498,280,820771,38030,391972,229650,161120
36,42.22,Construção de redes de abaste...,241,129,118676,23785,53357,35440,6094
37,42.23,Construção de redes de transpo...,35,21,49146,7330,20820,16603,4394
38,42.9,Construção de outras obras de infraestrutura,899,431,1580972,153779,831266,314519,281408
39,42.91,"Obras portuárias, marítimas e fluviais",32,21,281019,31825,156863,15493,76839
40,42.92,Montagem de instalações indus...,266,111,573004,23095,301314,159016,89579
41,42.99,Obras de engenharia civil não ...,601,299,726948,98859,373089,140010,114990
42,43,Serviços especializados para construção,4603,1557,4521868,161604,3887468,361127,111669
43,43.1,Demolição e preparação do terreno,627,306,3743808,72108,3452577,183488,35635
44,43.11,Demolição e preparação de canteiros d...,71,27,84724,10987,60064,11966,1706
45,43.12,Perfurações e sondagens,71,35,56960,6750,38186,6576,5448
46,43.13,Obras de terraplenagem,456,234,3578089,52960,3345641,153355,26133
47,43.19,Serviços de preparação do t...,29,10,24035,1411,8685,11592,2348
48,43.2,"Instalações elétricas, hidráulica...",1304,503,176496,35564,59140,57891,23901
49,43.21,Instalações elétricas,695,252,68103,9576,19236,26066,13226
50,43.22,"Instalações hidráulicas, de...",429,170,41454,14165,8146,13168,5975
51,43.29,Obras de instalações em con...,179,81,66939,11823,31758,18658,4700
52,43.3,Obras de acabamento,1013,222,52756,4067,26479,16808,5402
53,43.30,Obras de acabamento,1013,222,52756,4067,26479,16808,5402
54,43.9,Outros serviços especializados para cons...,1659,526,548807,49866,349273,102939,46730
55,43.91,Obras de fundações,279,102,198093,11606,161787,18835,5865
56,43.99,Serviços especializados par...,1380,423,350714,38259,187486,84104,40865

In [94]:
linhas = [0,2,3,4]
for i in linhas:
    df8a = df8a.drop(i)
novas_colunas = df8a.loc[1]
df8a.columns = novas_colunas
df8a = df8a.drop(1)
df8a.to_csv('tab8a_limpa.csv')

### df8b (limpeza)

In [96]:
df8b

,"Tabela 8 - Estrutura dos investimentos das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Ativo imobilizado Melhorias Número\nde\ninform...,Ativo imobilizado Melhorias Total 1 000 R$,Ativo imobilizado Melhorias Terrenos\ne\nedifi...,Ativo imobilizado Melhorias Máquinas\ne\nequip...,Ativo imobilizado Melhorias Meios\nde\ntranspo...,Ativo imobilizado Melhorias Outras\naquisições...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,1043,330444,204295,47905,32413,45832
5,NaN,Empresas de 1 a 4 pessoas ocupadas,242,669,258,300,-,110
6,41,Construção de edifícios,133,352,-,288,-,64
7,42,Obras de infraestrutura,46,258,258,-,-,-
8,43,Serviços especializados para construção,62,58,-,12,-,46
9,NaN,Empresas de 5 a 29 pessoas ocupadas,456,29914,26392,2646,637,238
10,41,Construção de edifícios,244,23667,23540,79,-,48
11,41.1,Incorporação e empreendimentos imobiliários,42,13282,13200,54,-,28
12,41.2,Construção de edifícios,202,10385,10340,25,-,20
13,42,Obras de infraestrutura,93,809,416,322,55,16
14,42.1,"Construção de rodovias, ferrovias, obr...",47,586,360,165,51,9
15,42.2,Obras de infraestrutura para energia e...,3,27,9,13,3,2
16,42.9,Construção de outras obras de infraestrutura,44,197,47,144,1,5
17,43,Serviços especializados para construção,118,5438,2437,2245,582,174
18,43.1,Demolição e preparação do terreno,16,2546,1245,1135,118,47
19,43.2,"Instalações elétricas, hidráulica...",47,1875,568,1077,136,94
20,43.3,Obras de acabamento,36,378,-,33,329,17
21,43.9,Outros serviços especializados para cons...,20,639,623,-,-,15
22,NaN,Empresas com 30 ou mais pessoas ocupadas,345,299861,177644,44958,31776,45483
23,41,Construção de edifícios,149,86475,31328,11163,3888,40096
24,41.1,Incorporação e empreendimentos imobiliários,6,10705,4602,449,-,5653
25,41.10,Incorporação e empreendimentos imobili...,6,10705,4602,449,-,5653
26,41.2,Construção de edifícios,142,75771,26726,10714,3888,34443
27,41.20,Construção de edifícios,142,75771,26726,10714,3888,34443
28,42,Obras de infraestrutura,96,150768,111758,15616,20672,2722
29,42.1,"Construção de rodovias, ferrovias, ob...",41,74033,53550,9979,10108,397
30,42.11,Construção de rodovias e ferrovias,30,72362,52933,9399,9690,340
31,42.12,Construção de obras de arte especiais,1,161,161,-,-,-
32,42.13,"Obras de urbanização - ruas, praças e ...",10,1510,456,580,417,57
33,42.2,Obras de infraestrutura para energia ...,36,66356,49869,4850,9481,2157
34,42.21,Obras para geração e distribu...,21,50931,37158,2540,9094,2139
35,42.22,Construção de redes de abaste...,14,15425,12711,2310,387,18
36,42.23,Construção de redes de transp...,-,-,-,-,-,-
37,42.9,Construção de outras obras de infraestrutura,20,10378,8339,788,1083,168
38,42.91,"Obras portuárias, marítimas e fluviais",2,64,54,5,5,-
39,42.92,Montagem de instalações indus...,7,5223,3525,761,778,159
40,42.99,Obras de engenharia civil não...,11,5091,4760,22,300,9
41,43,Serviços especializados para construção,100,62618,34558,18179,7216,2666
42,43.1,Demolição e preparação do terreno,17,8946,1762,3880,3133,170
43,43.11,Demolição e preparação de canteiros d...,2,546,471,-,71,3
44,43.12,Perfurações e sondagens,4,196,54,12,20,110
45,43.13,Obras de terraplenagem,10,8070,1104,3868,3042,57
46,43.19,Serviços de preparação do te...,1,134,134,-,-,-
47,43.2,"Instalações elétricas, hidráulica...",31,8686,4564,709,1450,1963
48,43.21,Instalações elétricas,9,2839,2557,52,138,92
49,43.22,"Instalações hidráulicas, de...",13,3566,1788,4,830,945
50,43.29,Obras de instalações em con...,9,2281,218,653,483,927
51,43.3,Obras de acabamento,16,4481,461,2117,1825,79
52,43.30,Obras de acabamento,16,4481,461,2117,1825,79
53,43.9,Outros serviços especializados para cons...,36,40506,27771,11473,808,454
54,43.91,Obras de fundações,6,11841,217,11165,442,17
55,43.99,Serviços especializados par...,30,28664,27554,308,366,437

In [97]:
linhas = [0,2,3]
for i in linhas:
    df8b = df8b.drop(i)
novas_colunas = df8b.loc[1]
df8b.columns = novas_colunas
df8b = df8b.drop(1)
#df8b.to_csv('tab8b_limpa.csv')

### df8c (limpeza)

In [99]:
df8c

,"Tabela 8 - Estrutura dos investimentos das empresas de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Ativo imobilizado Baixas Número\nde\ninformantes,Ativo imobilizado Baixas Total 1 000 R$,Ativo imobilizado Baixas Terrenos\ne\nedificaç...,Ativo imobilizado Baixas Máquinas\ne\nequipame...,Ativo imobilizado Baixas Meios\nde\ntransporte...,Ativo imobilizado Baixas Outras\nbaixas 1 000 R$
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Total das empresas,7039,5725451,2342739,2038670,1045179,298863
5,NaN,Empresas de 1 a 4 pessoas ocupadas,1774,702754,124211,521176,57048,320
6,41,Construção de edifícios,1380,181156,124211,1739,55140,66
7,42,Obras de infraestrutura,167,516114,-,515007,1080,26
8,43,Serviços especializados para construção,227,5484,-,4430,827,227
9,NaN,Empresas de 5 a 29 pessoas ocupadas,2608,1372289,1189160,85814,62595,34720
10,41,Construção de edifícios,1432,1256862,1177479,27703,22723,28957
11,41.1,Incorporação e empreendimentos imobiliários,177,217008,214325,-,240,2443
12,41.2,Construção de edifícios,1254,1039854,963154,27703,22483,26514
13,42,Obras de infraestrutura,219,28068,2185,14228,10942,713
14,42.1,"Construção de rodovias, ferrovias, ob...",105,13698,2015,5908,5253,522
15,42.2,Obras de infraestrutura para energia e...,46,5296,170,2027,2911,189
16,42.9,Construção de outras obras de infraestrutura,69,9074,-,6294,2778,2
17,43,Serviços especializados para construção,957,87358,9496,43883,28929,5050
18,43.1,Demolição e preparação do terreno,255,49722,7346,33740,7468,1168
19,43.2,"Instalações elétricas, hidráulica...",340,15524,227,1309,12356,1632
20,43.3,Obras de acabamento,39,1434,-,84,1331,20
21,43.9,Outros serviços especializados para cons...,323,20678,1923,8750,7775,2231
22,NaN,Empresas com 30 ou mais pessoas ocupadas,2658,3650408,1029369,1431681,925536,263823
23,41,Construção de edifícios,1182,893438,590564,91327,128663,82884
24,41.1,Incorporação e empreendimentos imobiliários,36,17222,14180,249,2289,503
25,41.10,Incorporação e empreendimentos imobili...,36,17222,14180,249,2289,503
26,41.2,Construção de edifícios,1146,876216,576384,91078,126374,82381
27,41.20,Construção de edifícios,1146,876216,576384,91078,126374,82381
28,42,Obras de infraestrutura,824,2396446,391097,1135402,707575,162373
29,42.1,"Construção de rodovias, ferrovias, ob...",393,1752541,332734,936118,417669,66020
30,42.11,Construção de rodovias e ferrovias,285,1083456,295731,513409,231305,43012
31,42.12,Construção de obras de arte especiais,28,590682,5052,400466,171018,14145
32,42.13,"Obras de urbanização - ruas, praças e ...",80,78403,31951,22244,15346,8863
33,42.2,Obras de infraestrutura para energia ...,237,225326,10683,90378,103132,21133
34,42.21,Obras para geração e distribu...,148,144632,7264,52064,69532,15772
35,42.22,Construção de redes de abaste...,78,34795,3201,20965,9045,1584
36,42.23,Construção de redes de transp...,11,45898,218,17349,24555,3776
37,42.9,Construção de outras obras de infraestrutura,194,418579,47680,108906,186773,75220
38,42.91,"Obras portuárias, marítimas e fluviais",8,84968,5842,54051,6758,18316
39,42.92,Montagem de instalações indus...,53,195449,3364,18022,158300,15763
40,42.99,Obras de engenharia civil não...,132,138162,38474,36832,21716,41140
41,43,Serviços especializados para construção,652,360524,47708,204952,89298,18566
42,43.1,Demolição e preparação do terreno,163,204233,5576,134736,57833,6086
43,43.11,Demolição e preparação de canteiros d...,9,5925,2036,3054,800,35
44,43.12,Perfurações e sondagens,16,13481,164,8720,3282,1316
45,43.13,Obras de terraplenagem,131,184064,3146,122560,53654,4704
46,43.19,Serviços de preparação do te...,7,762,230,403,97,32
47,43.2,"Instalações elétricas, hidráulica...",200,23033,4070,3189,12671,3103
48,43.21,Instalações elétricas,99,13047,2338,1503,7555,1651
49,43.22,"Instalações hidráulicas, de ...",69,5741,1706,775,2235,1025
50,43.29,Obras de instalações em con...,31,4245,26,911,2881,427
51,43.3,Obras de acabamento,78,5692,1111,1292,2375,914
52,43.30,Obras de acabamento,78,5692,1111,1292,2375,914
53,43.9,Outros serviços especializados para cons...,211,127567,36951,65735,16419,8462
54,43.91,Obras de fundações,49,39968,2829,31596,3585,1958
55,43.99,Serviços especializados par...,162,87599,34122,34139,12834,6505

In [100]:
linhas = [0,2,3]
for i in linhas:
    df8c = df8c.drop(i)
novas_colunas = df8c.loc[1]
df8c.columns = novas_colunas
df8c = df8c.drop(1)
#df8c.to_csv('tab8c_limpa.csv')

### df9 (limpeza)

In [102]:
df9

,"Tabela 9 - Consumo total e dos principais tipos de materiais de construção,",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"segundo as divisões, os grupos e as classes de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Códigos\nda \nCNAE\n2.0,"Divisões, grupos \ne\nclasses de atividades",Número\n de\n empresas ativas,Total 1 000 R$,Consumo de materiais de construção Tipos selec...,Consumo de materiais de construção Tipos selec...,Consumo de materiais de construção Tipos selec...,Consumo de materiais de construção Tipos selec...,Consumo de materiais de construção Tipos selec...,Consumo de materiais de construção Tipos selec...
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Total das empresas,104338,69452677,23658514,3118125,6263541,6393237,3187078,4696533
8,NaN,Empresas de 1 a 4 pessoas ocupadas,48399,2073710,655709,34721,239446,139648,137228,104666
9,41,Construção de edifícios,16983,995264,432282,2626,162000,115855,79172,72630
10,42,Obras de infraestrutura,3862,312040,58736,11402,13371,5966,9748,18248
11,43,Serviços especializados para construção,27554,766406,164692,20694,64075,17827,48308,13788
12,NaN,Empresas de 5 a 29 pessoas ocupadas,41267,9698993,2935574,167645,986492,720808,543704,516924
13,41,Construção de edifícios,18448,6424833,2244371,38309,751544,572201,455723,426593
14,41.1,Incorporação e empreendimentos imobiliários,681,9783,9206,2370,1675,1187,585,3389
15,41.2,Construção de edifícios,17767,6415050,2235165,35939,749870,571014,455138,423204
16,42,Obras de infraestrutura,3857,946452,370334,104999,103186,87594,39835,34720
17,42.1,"Construção de rodovias, ferrovias, ob...",1392,438786,220235,92497,59592,41533,12942,13671
18,42.2,Obras de infraestrutura para energia elétr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,42.2,Obras de infraestrutura para energia ...,677,141598,33183,8303,8561,10120,2353,3845
20,42.9,Construção de outras obras de infraestrutura,1788,366068,116917,4199,35033,35940,24540,17204
21,43,Serviços especializados para construção,18963,2327708,320869,24337,131761,61013,48146,55611
22,43.1,Demolição e preparação do terreno,2312,237144,62543,13004,21967,11865,3963,11744
23,43.2,"Instalações elétricas, hidráulicas...",6026,847715,18285,-,7374,3085,3727,4100
24,43.3,Obras de acabamento,5361,432076,17747,4813,8639,1255,2143,897
25,43.9,Outros serviços especializados para cons...,5263,810773,222294,6521,93781,44808,38313,38870
26,NaN,Empresas com 30 ou mais pessoas ocupadas,14671,57679973,20067231,2915758,5037603,5532781,2506146,4074943
27,41,Construção de edifícios,7321,28246502,11764947,502828,2981811,3738648,2099559,2442102
28,41.1,Incorporação e empreendimentos imobiliários,246,93501,40459,547,8392,15909,6942,8669
29,41.10,Incorporação e empreendimentos imobili...,246,93501,40459,547,8392,15909,6942,8669
30,41.2,Construção de edifícios,7075,28153000,11724488,502281,2973419,3722738,2092617,2433433
31,41.20,Construção de edifícios,7075,28153000,11724488,502281,2973419,3722738,2092617,2433433
32,42,Obras de infraestrutura,2748,23673757,7342407,2325535,1692111,1532555,304375,1487831
33,42.1,"Construção de rodovias, ferrovias, ob...",1075,10449289,4398275,2001618,781611,775746,180267,659033
34,42.11,Construção de rodovias e ferrovias,687,7620668,3097027,1627193,573650,423811,102515,369857
35,42.12,Construção de obras de arte especiais,81,1367485,730470,98708,109689,249111,37333,235629
36,42.13,"Obras de urbanização - ruas, praças e ...",307,1461135,570778,275717,98272,102823,40419,53547
37,42.2,Obras de infraestrutura para energia ...,774,4161606,749439,110556,168321,217263,38390,214909
38,42.21,Obras para geração e distribuiç...,498,2671728,241279,19417,60326,72484,13100,75952
39,42.22,Construção de redes de abasteciment...,241,1211598,478484,89239,104430,135289,24995,124532
40,42.23,Construção de redes de transp...,35,278280,29676,1900,3565,9489,296,14426
41,42.9,Construção de outras obras de infraestrutura,899,9062863,2194693,213361,742179,539547,85718,613888
42,42.91,"Obras portuárias, marítimas e fluviais",32,2187496,510274,6230,182428,138492,800,182325
43,42.92,Montagem de instalações indust...,266,2884430,776923,81505,130799,224347,24819,315453
44,42.99,Obras de engenharia civil não ...,601,3990937,907496,125627,428951,176708,60099,116111
45,43,Serviços especializados para construção,4603,5759714,959877,87395,363681,261578,102212,145011
46,43.1,Demolição e preparação do terreno,627,941620,177679,47338,62256,40938,7489,19659
47,43.11,Demolição e preparação de canteiros d...,71,49648,5215,362,1414,2883,241,315
48,43.12,Perfurações e sondagens,71,146472,3096,-,737,486,235,1638
49,43.13,Obras de terraplenagem,456,711839,167303,46754,59174,37205,6890,17280
50,43.19,Serviços de preparação do te...,29,33660,2065,222,930,364,123,426
51,43.2,"Instalações elétricas, hidráulica...",1304,1784933,88633,2576,27248,25646,20030,13133
52,43.21,Instalações elétricas,695,910847,42330,1921,12110,10292,10826,7182
53,43.22,"Instalações hidráulicas, de...",429,561794,25695,208,7603,10806,4105,2973
54,43.29,Obras de instalações em con...,179,312292,20608,447,7535,4548,5100,2977
55,43.3,Obras de acabamento,1013,714413,79108,10992,31839,18901,8519,8857
56,43.30,Obras de acabamento,1013,714413,79108,10992,31839,18901,8519,8857
57,43.9,Outros serviços especializados para cons...,1659,2318748,614457,26490,242338,176092,66175,103362
58,43.91,Obras de fundações,279,521666,111834,5135,40905,26989,9584,29222
59,43.99,Serviços especializados par...,1380,1797082,502623,21355,201433,149104,56591,74140

In [103]:
linhas = [0,1,2,4,5,6]
for i in linhas:
    df9 = df9.drop(i)
novas_colunas = df9.loc[3]
df9.columns = novas_colunas
df9 = df9.drop(3)
#df9.to_csv('tab9_limpa.csv')

### df10a (limpeza)

In [104]:
df10a

,"Tabela 10 - Valor das incorporações, obras e/ou serviços da construção das empresas de construção com 30 ou mais",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"pessoas ocupadas, segundo as classes de ativid...",NaN,NaN,NaN,NaN,NaN,NaN
1,Código\nPRODLIST\nConstrução,Classes de atividades ...,"Valor das incorporações,\n obras e/ou\nserviço...",Como contratante\núnica ou principal Número\nd...,Como contratante\núnica ou principal Valor\n(1...,Como subcontratada Número\nde\ninformantes,Como subcontratada Valor\n(1 000 R$)
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total,281691744,15772,259686695,2797,22005049
4,4110,Incorporação de empreendimentos imobiliários,6894372,471,6894372,-,-
5,4110.2010,Incorporação de empreendimentos imobiliári...,6894372,471,6894372,-,-
6,4120,Construção de edifícios,110750928,7372,103866986,862,6883942
7,4120.2010,"Edifícios comerciais (shoppings, supermercado...",10697985,621,9382317,105,1315669
8,4120.2020,"Edifícios industriais (fábricas, oficinas, ga...",9702819,278,8372026,31,1330793
9,4120.2030,Edifícios não residenciais não especificados ...,10625667,753,10158976,69,466691
10,4120.2040,Edifícios residenciais,57187657,3523,55059651,341,2128006
11,4120.2050,Estações de embarque e desembarque (rodoviári...,1348534,23,1343843,1,4690
12,4120.9010,Serviços de montagem de edifícios não residen...,505503,22,477518,5,27986
13,4120.9020,Serviços de montagem de edifícios residenc...,353865,33,347876,3,5989
14,4120.9030,Serviços de reforma ou manutenção de edifício...,8030643,808,7552341,78,478302
15,4120.9040,Serviços de reforma ou manutenção de edifício...,12298254,1313,11172437,227,1125817
16,4211,Construção de rodovias e ferrovias,34559930,817,32957727,118,1602203
17,4211.2010,Instalação de sinalização não elétrica em rod...,646724,38,585313,9,61411
18,4211.2020,"Pavimentação de rodovias, autoestradas e outr...",13214178,399,12237040,65,977138
19,4211.2030,Pistas de aeroportos,113991,5,107056,1,6935
20,4211.2040,"Rodovias, autoestradas e outras vias não urbanas",8742880,135,8494625,11,248255
21,4211.2050,Vias férreas e metropolitanos,3564940,45,3451462,2,113478
22,4211.9010,Serviços de recuperação ou reforma de ferrovias,342507,17,324346,5,18160
23,4211.9020,Serviços de recuperação ou reforma de pistas ...,20654,1,20654,-,-
24,4211.9030,Serviços de recuperação ou reforma de rodovias,7914056,178,7737231,25,176825
25,4212,Construção de obras de arte especiais,5626138,138,5512324,25,113814
26,NaN,túneis e outras obras de arte especiais,1511806,34,1487074,10,24732
27,4213,"Obras de urbanização - ruas, praças e calçadas",7323166,507,6984092,59,339073
28,4213.2010,Instalação de sinalização não elétrica em via...,67610,13,51554,8,16057
29,4213.2020,"Ruas, praças, calçadas e outras obras de urba...",4747820,305,4570048,27,177772
30,4213.9010,"Serviços de recuperação de ruas, praças, calç...",2507736,189,2362491,24,145245
31,4221,Obras para geração e distribuição de energia e...,22698359,470,18765113,104,3933246
32,4221.2010,Barragens ou represas para geração de energia...,2293112,21,2018623,5,274489
33,4221.2020,Redes de transmissão e distribuição de energi...,2924355,119,2434757,24,489597
34,NaN,outras obras para geração de energia elétrica,121069,12,87272,2,33798
35,4221.9020,Serviços de manutenção de redes e torres de t...,2912587,75,2555336,17,357251
36,4221.9030,Serviços de manutenção de redes de transmissã...,3992326,171,3484022,38,508304

In [105]:
linhas = [0,2]
for i in linhas:
    df10a = df10a.drop(i)
novas_colunas = df10a.loc[1]
df10a.columns = novas_colunas
df10a = df10a.drop(1)
#df10a.to_csv('tab10a_limpa.csv')

### df10b (limpeza)

In [107]:
df10b

,"Tabela 10 - Valor das incorporações, obras e/ou serviços da construção das empresas de construção com 30 ou mais",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"pessoas ocupadas, segundo as classes de ativid...",NaN,NaN,NaN,NaN,NaN,NaN
1,Código\nPRODLIST\nConstrução,Classes de atividades ...,"Valor das incorporações,\n obras e/ou\nserviço...",Como contratante\núnica ou principal Número\nd...,Como contratante\núnica ou principal Valor\n(1...,Como subcontratada Número\nde\ninformantes,Como subcontratada Valor\n(1 000 R$)
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4222,"Construção de redes de abastecimento de água, ...",6637832,399,6386318,53,251515
4,4222.2010,"Obras de irrigação (barragens, canais, etc.)",283272,15,276245,4,7028
5,4222.2020,Redes de distribuição de água,1256951,82,1158630,12,98321
6,4222.2030,"Redes de esgotos, interceptores, estações de ...",3659840,205,3553219,23,106621
7,4222.9010,Serviços de manutenção de redes de distribuiç...,276496,25,276101,2,395
8,4222.9020,"Serviços de manutenção de redes de esgotos, ...",1161272,73,1122122,11,39150
9,4223,"Construção de redes de transportes por duto, e...",3232924,41,3059219,8,173704
10,4223.2010,"Dutos (oleodutos, gasodutos, minerodutos, etc.)",2132456,28,2033625,6,98832
11,4223.9010,"Serviços de manutenção de dutos (oleodutos, ...",1100467,14,1025595,2,74872
12,4291,"Obras portuárias, marítimas e fluviais",5371841,70,5135187,15,236653
13,4291.2010,Dragagem e aterro hidráulico,580107,24,451027,4,129080
14,4291.2020,Instalação de cabos submarinos,16361,-,-,1,16361
15,4291.2030,"Obras marítimas e fluviais (portos, marinas, ...",4560920,34,4475335,9,85585
16,4291.9010,Serviço de manutenção de obras marítimas e ...,214453,12,208825,1,5627
17,4292,Montagem de instalações industriais e de estru...,19213811,245,18472292,62,741519
18,4292.2010,Montagem de estruturas metálicas permanentes,2892606,147,2549737,43,342869
19,4292.2020,Plantas de mineração,1397153,12,1397153,-,-
20,4292.2030,Plantas e instalações industriais (tubulações...,14924052,86,14525401,19,398650
21,4299,Obras de engenharia civil não especificadas an...,17490694,676,16257944,109,1232750
22,4299.2010,"Quadras, piscinas, pistas de competição e out...",875894,52,855185,2,20709
23,4299.2020,Obras de engenharia civil não especificadas a...,12563610,503,11651748,88,911862
24,4299.9010,Serviços de recuperação de obras de engenhari...,4051190,121,3751011,19,300179
25,4311,Demolição e preparação de canteiros de obras,1512161,118,1456412,37,55749
26,4311.2010,Demolição de edifícios e outras estruturas,1097555,61,1066722,21,30832
27,4311.2020,Preparação de canteiros de obras,155123,40,139577,11,15546
28,4311.9010,Serviços de aluguel e operação de equipamento...,259484,16,250113,5,9371
29,4312,Perfurações e sondagens,1379828,84,1354858,16,24970
30,4312.2010,Perfurações e sondagens,1379828,84,1354858,16,24970
31,4313,Obras de terraplenagem,8858196,573,7904348,113,953848
32,4313.2010,Derrocamentos,486234,10,475786,1,10448
33,4313.2020,Escavação e movimentação de terras - terraple...,7693786,481,6888732,92,805055
34,4313.9010,Serviços de aluguel e operação de equipamento...,678176,82,539831,20,138345
35,4319,Serviços de preparação do terreno não especif...,520571,87,475086,19,45486
36,4319.2010,Drenagem,367401,64,339812,9,27589
37,4319.2020,Rebaixamento de lençol freático,9054,5,6910,2,2144
38,4319.2030,Outros tipos de preparações de terreno não ...,144116,18,128364,7,15753

In [108]:
linhas = [0,2]
for i in linhas:
    df10b = df10b.drop(i)
novas_colunas = df10b.loc[1]
df10b.columns = novas_colunas
df10b = df10b.drop(1)
#df10b.to_csv('tab10b_limpa.csv')

### df10c (limpeza)

In [110]:
df10c

,"Tabela 10 - Valor das incorporações, obras e/ou serviços da construção das empresas de construção com 30 ou mais",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"pessoas ocupadas, segundo as classes de ativid...",NaN,NaN,NaN,NaN,NaN,NaN
1,Código\nPRODLIST\nConstrução,Classes de atividades ...,"Valor das incorporações,\n obras e/ou\nserviço...",Como contratante\n única ou principal Número\n...,Como contratante\n única ou principal Valor\n(...,Como subcontratada Número\nde\ninformantes,Como subcontratada Valor\n(1 000 R$)
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4321,Instalações elétricas,6013581,662,4938179,171,1075402
4,4321.2010,Instalações elétricas,3410407,315,2735911,86,674496
5,4321.2020,Instalações de telecomunicações,629424,90,504818,21,124606
6,4321.9010,Serviços de manutenção e reparação de instala...,1624436,198,1386276,53,238160
7,4321.9020,Serviços de manutenção e reparação de instala...,349314,59,311174,11,38140
8,4322,"Instalações hidráulicas, de sistemas de venti...",3714180,416,3245519,106,468661
9,4322.2010,"Instalações de sistemas de ar condicionado, v...",1358848,113,1195234,31,163614
10,4322.2020,"Instalações hidráulicas, sanitárias ou de gás",787741,115,612674,50,175068
11,4322.9010,Serviços de manutenção e reparação de siste...,1567591,187,1437612,25,129979
12,4329,Obras de instalações em construções não espec...,2268510,177,2053984,36,214527
13,4329.2010,"Instalação de elevadores, escadas ou de estei...",177595,39,165648,6,11946
14,4329.2020,Instalação de isolamentos térmicos e acústicos,856358,35,829444,7,26915
15,4329.2030,Instalação de sistema de iluminação ou de sin...,429363,23,413076,7,16287
16,4329.2040,"Instalações em construções, não especificadas...",805194,79,645816,16,159379
17,4330,Obras de acabamento,3916430,862,2889544,365,1026886
18,4330.2010,Acabamento em gesso ou estuque,329830,119,254088,57,75742
19,4330.2020,"Impermeabilização em paredes, caixas d'água, ...",469303,86,322890,34,146413
20,4330.2030,Instalação de cozinhas e outros mobiliários ...,11861,4,9262,1,2599
21,4330.2040,"Instalação de esquadrias de metal, madeira ...",96961,29,72165,10,24797
22,4330.2050,Pintura (interna ou externa),991892,185,594173,81,397718
23,4330.2060,"Revestimento de pisos e paredes, exceto pintura",220301,77,154926,33,65375
24,4330.2070,Trabalhos de madeira em interiores,96824,37,61400,23,35424
25,4330.2080,Outros serviços de acabamento não especifi...,1699459,324,1420640,125,278819
26,4391,Obras de fundações,3468345,279,2448415,96,1019930
27,4391.2010,Fundações,3233228,253,2287242,90,945987
28,4391.9010,Serviços de aluguel e operação de equipamento...,235117,26,161173,5,73944
29,4399,Serviços especializados para construção não e...,10239946,1308,8628776,424,1611170
30,4399.2010,Administração de obras,3559636,398,3337287,71,222349
31,4399.2020,Alvenaria,1813924,384,1311107,209,502817
32,4399.2030,Poços de água,383141,34,382071,1,1071
33,4399.2040,"Montagem e desmontagem de escoramentos, andai...",622611,77,511292,36,111319
34,4399.2050,"Telhados, coberturas, caixas d'água, churrasq...",194865,64,183836,10,11029
35,4399.2060,Outros serviços especializados de construção ...,2656035,266,2126842,74,529193
36,4399.9010,Serviços de aluguel e operação de equipamento...,1009733,85,776341,24,233392

In [111]:
linhas = [0,2]
for i in linhas:
    df10c = df10c.drop(i)
novas_colunas = df10c.loc[1]
df10c.columns = novas_colunas
df10c = df10c.drop(1)
#df10c.to_csv('tab10c_limpa.csv')

### df11 (limpeza)

In [113]:
df11

,"Tabela 11 - Pessoal ocupado, salários, retiradas e outras remunerações, custos e valor das incorporações, obras",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"e/ou serviços da construção, segundo as Grande...",NaN,NaN,NaN,NaN,NaN,NaN
1,empresas com 5 ou mais pessoas ocupadas - Bras...,NaN,NaN,NaN,NaN,NaN,NaN
2,Grandes Regiões\ne\nUnidades da Federação \nde...,Empresas Unidades\nda\nFederação\nde origem\n(...,Empresas Atuantes\nnas\nUnidades\nda\nFederação,Pessoal\nocupado\nem\n31.12,"Salários,\nretiradas\ne outras\nremunerações 1...",Custos de ...,Valor das ...
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Brasil,55939,60047,2673865,58558285,120509724,324794360
5,Norte,2184,2667,189999,4258576,8186193,22091886
6,Rondônia,332,392,32726,1000800,1179652,3538473
7,Acre,147,166,8027,127338,337567,861661
8,Amazonas,505,583,34196,915664,1546653,4020103
9,Roraima,71,96,5156,84584,417502,1120372
10,Pará,776,962,89645,1719995,3945011,10468384
11,Amapá,110,134,7427,174282,248358,783094
12,Tocantins,241,334,12822,235913,511451,1299800
13,Nordeste,8108,9221,617177,11913774,22751366,63400144
14,Maranhão,546,688,67511,1242431,2264904,6819104
15,Piauí,372,436,29837,355500,718729,1964772
16,Ceará,1252,1365,73482,1338596,2833718,8078624
17,Rio Grande do Norte,812,912,42738,730852,1387817,4036213
18,Paraíba,945,1000,37192,503336,1418657,3507992
19,Pernambuco,1399,1566,137768,3408668,5697091,16263027
20,Alagoas,402,475,32014,467466,1289960,2971568
21,Sergipe,308,393,30106,712023,1310981,3481119
22,Bahia,2073,2387,166528,3154902,5829509,16277725
23,Sudeste,27500,28845,1282482,30701007,62048097,168444612
24,Minas Gerais,6944,7317,301453,6377894,12074741,34675201
25,Espírito Santo,1445,1620,59368,1152622,2471678,7309889
26,Rio de Janeiro,4035,4487,284760,7285710,13503600,36839840
27,São Paulo,15076,15422,636901,15884782,33998078,89619682
28,Sul,13523,14051,362126,7138633,16726635,43238878
29,Paraná,4629,4802,131378,2703118,5913434,15382110
30,Santa Catarina,3888,4075,94316,1676397,4581975,11319432
31,Rio Grande do Sul,5007,5174,136432,2759118,6231226,16537336
32,Centro-Oeste,4623,5263,222082,4546296,10797432,27618840
33,Mato Grosso do Sul,661,780,31437,621889,1489568,3950108
34,Mato Grosso,948,1074,42804,936503,1824225,4908886
35,Goiás,1773,1946,83398,1624493,3523709,9279705
36,Distrito Federal,1241,1462,64443,1363410,3959930,9480141

In [114]:
linhas = [0,1,3]
for i in linhas:
    df11 = df11.drop(i)
novas_colunas = df11.loc[2]
df11.columns = novas_colunas
df11 = df11.drop(2)
#df11.to_csv('tab11_limpa.csv')